<form name="frmConceptocontratacion" id="frmConceptocontratacion" method="post" action="/catalogos/conceptodecontratacion/guardar"> 
    <div  class="row-fluid contenedorFormulario">
        <div  class="row-fluid">
            <div  class="row-fluid filaFormulario">
                <div class="span4"><label>CONCEPTO DE CONTRATACIÓN</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="Concepto de contratacion" class="required" value="<?php echo $this->registro->nombre?>" /></div>
            </div>
        </div> 
    </div>
    <input type="hidden" name="id" id="id" value="<?php echo $this->registro->id?>" />
</form>