<div id="errorcontatacion" name="errorcontatacion" class="displayNone" style="color:#D8000C; background-color: #FFBABA;">
    <img src="/images/png/cancelar.png"/>Error favor de verificar un campo vacio.
</div>

<form name="frmContratacion" id="frmContratacion" method="post" action="/catalogos/conceptodecontratacion/guardarcncepto">     
    <div class="row-fluid contenedorFormulario">
        <div class="row-fluid">
            <input type="hidden" name="concepto_de_contratacion_id" id="concepto_de_contratacion_id" value="<?php echo $this->registro->id?>"/>
            <div class="row-fluid filaFormulario">
                             
                <div id="tabs" style="width:920px;">
                    <ul>
                    <?php foreach($this->EstadosPlazas as $estado){ ?>
                        <li><a href="#tabs<?php echo $estado->estado_id?>" ><?php echo $estado->Estado->nombre?></a></li><?php
                    }?>        
                    </ul><?php 
    
                    foreach($this->EstadosPlazas as $estado){ ?>
                        <div id="tabs<?php echo $estado->estado_id?>" style="min-height: 400px;">
                            
                        <!-- -->                  
                    <?php 
                    foreach($this->e[$estado->estado_id] as $plaza){ ?> 
                        <div class="plazaTarifa" style="width: 430px;">
                            <div id="resizable" class="ui-widget-content">
                                <h5 class="ui-widget-header"><?php echo $plaza->nombre?></h5><br>
                                
                                <input type="hidden" id="plaza_id<?php echo $plaza->id?>" name="plaza_id[<?php echo $plaza->id?>]" value="<?php echo $plaza->id?>">
                                
                                <div class="cc-form-row" style="clear: both;">
                                    <div id="tarifa" style="float: left;">Tarifa:
                                        <input type="text" id="tarifa<?php echo $plaza->id?>" name="tarifa[<?php echo $plaza->id?>]" rel="periodo<?php echo $plaza->id?>" value="<?php echo $this->t['tarifa'][$plaza->id]?>" class="formato number">
                                    </div>
                                    
                                    <div id="periodo" style="float: left;">&nbsp;&nbsp;Periodos:
                                        <input type="text" id="periodo<?php echo $plaza->id?>" name="periodo[<?php echo $plaza->id?>]" rel="tarifa<?php echo $plaza->id?>" value="<?php echo $this->t['periodo'][$plaza->id]?>" class="formato digits">
                                    </div>
           
           							<div id="periodo" style="float: left;">&nbsp;&nbsp;Televisores:         
                                       	<select class="formato" id="tv<?php echo $plaza->id?>" name="tv[<?php echo $plaza->id?>]" style="width:60px;">
          									<option value="0" <?php echo ($this->t['tv'][$plaza->id]==0)?"selected":""?>>0</option>
          									<option value="1" <?php echo ($this->t['tv'][$plaza->id]==1)?"selected":""?>>1</option>
          									<option value="2" <?php echo ($this->t['tv'][$plaza->id]==2)?"selected":""?>>2</option>
          									<option value="3" <?php echo ($this->t['tv'][$plaza->id]==3)?"selected":""?>>3</option>
                                           	<option value="4" <?php echo ($this->t['tv'][$plaza->id]==4)?"selected":""?>>4</option>
                                            <option value="4" <?php echo ($this->t['tv'][$plaza->id]==5)?"selected":""?>>5</option>
        								</select> 
                                    </div>
                                </div>
                                <table class="table-bordered">
                                    <thead>
                                        <tr>
                                            <th>&nbsp;</th>                                            
                                            <th>1 a 5</th>
                                            <th>6 a 10</th>
                                            <th>11 o mas</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Mes 1:</td>
                                            <td><input type="text" id="mes1_1_a_5<?php echo $plaza->id?>" name="mes1_1_a_5[<?php echo $plaza->id?>]" rel="mes1_1_a_5<?php echo $plaza->id?>" value="<?php echo $this->t['mes1_1_a_5'][$plaza->id]?>" class="formato number"></td>
                                            <td><input type="text" id="mes1_6_a_10<?php echo $plaza->id?>" name="mes1_6_a_10[<?php echo $plaza->id?>]" rel="mes1_6_a_10<?php echo $plaza->id?>" value="<?php echo $this->t['mes1_6_a_10'][$plaza->id]?>" class="formato number"></td>
                                            <td><input type="text" id="mes1_11<?php echo $plaza->id?>" name="mes1_11[<?php echo $plaza->id?>]" rel="mes1_11<?php echo $plaza->id?>" value="<?php echo $this->t['mes1_11'][$plaza->id]?>" class="formato number"></td>
                                        </tr>
                                        <tr>
                                            <td>Mes 2:</td>
                                            <td><input type="text" id="mes2_1_a_5<?php echo $plaza->id?>" name="mes2_1_a_5[<?php echo $plaza->id?>]" rel="mes2_1_a_5<?php echo $plaza->id?>" value="<?php echo $this->t['mes2_1_a_5'][$plaza->id]?>" class="formato number"></td>
                                            <td><input type="text" id="mes2_6_a_10<?php echo $plaza->id?>" name="mes2_6_a_10[<?php echo $plaza->id?>]" rel="mes2_6_a_10<?php echo $plaza->id?>" value="<?php echo $this->t['mes2_6_a_10'][$plaza->id]?>" class="formato number"></td>
                                            <td><input type="text" id="mes2_11<?php echo $plaza->id?>" name="mes2_11[<?php echo $plaza->id?>]" rel="mes2_11<?php echo $plaza->id?>" value="<?php echo $this->t['mes2_11'][$plaza->id]?>" class="formato number"></td>
                                        </tr>
                                        <tr>
                                            <td>Mes 3:</td>
                                            <td><input type="text" id="mes3_1_a_5<?php echo $plaza->id?>" name="mes3_1_a_5[<?php echo $plaza->id?>]" rel="mes3_1_a_5<?php echo $plaza->id?>" value="<?php echo $this->t['mes3_1_a_5'][$plaza->id]?>" class="formato number"></td>
                                            <td><input type="text" id="mes3_6_a_10<?php echo $plaza->id?>" name="mes3_6_a_10[<?php echo $plaza->id?>]" rel="mes3_6_a_10<?php echo $plaza->id?>" value="<?php echo $this->t['mes3_6_a_10'][$plaza->id]?>" class="formato number"></td>
                                            <td><input type="text" id="mes3_11<?php echo $plaza->id?>" name="mes3_11[<?php echo $plaza->id?>]" rel="mes3_11<?php echo $plaza->id?>" value="<?php echo $this->t['mes3_11'][$plaza->id]?>" class="formato number"></td>
                                        </tr>
                                        <tr>
                                            <td>Mes 4:</td>
                                            <td><input type="text" id="mes4_1_a_5<?php echo $plaza->id?>" name="mes4_1_a_5[<?php echo $plaza->id?>]" rel="mes4_1_a_5<?php echo $plaza->id?>" value="<?php echo $this->t['mes4_1_a_5'][$plaza->id]?>" class="formato number"></td>
                                            <td><input type="text" id="mes4_6_a_10<?php echo $plaza->id?>" name="mes4_6_a_10[<?php echo $plaza->id?>]" rel="mes4_6_a_10<?php echo $plaza->id?>" value="<?php echo $this->t['mes4_6_a_10'][$plaza->id]?>" class="formato number"></td>
                                            <td><input type="text" id="mes4_11<?php echo $plaza->id?>" name="mes4_11[<?php echo $plaza->id?>]" rel="mes4_11<?php echo $plaza->id?>" value="<?php echo $this->t['mes4_11'][$plaza->id]?>" class="formato number"></td>
                                        </tr>
                                        <tr>
                                            <td>Mes 5:</td>
                                            <td><input type="text" id="mes5_1_a_5<?php echo $plaza->id?>" name="mes5_1_a_5[<?php echo $plaza->id?>]" rel="mes5_1_a_5<?php echo $plaza->id?>" value="<?php echo $this->t['mes5_1_a_5'][$plaza->id]?>" class="formato number"></td>
                                            <td><input type="text" id="mes5_6_a_10<?php echo $plaza->id?>" name="mes5_6_a_10[<?php echo $plaza->id?>]" rel="mes5_6_a_10<?php echo $plaza->id?>" value="<?php echo $this->t['mes5_6_a_10'][$plaza->id]?>" class="formato number"></td>
                                            <td><input type="text" id="mes5_11<?php echo $plaza->id?>" name="mes5_11[<?php echo $plaza->id?>]" rel="mes5_11<?php echo $plaza->id?>" value="<?php echo $this->t['mes5_11'][$plaza->id]?>" class="formato number"></td>
                                        </tr>
                                        <tr>
                                            <td>Mes 6:</td>
                                            <td><input type="text" id="mes6_1_a_5<?php echo $plaza->id?>" name="mes6_1_a_5[<?php echo $plaza->id?>]" rel="mes6_1_a_5<?php echo $plaza->id?>" value="<?php echo $this->t['mes6_1_a_5'][$plaza->id]?>" class="formato number"></td>
                                            <td><input type="text" id="mes6_6_a_10<?php echo $plaza->id?>" name="mes6_6_a_10[<?php echo $plaza->id?>]" rel="mes6_6_a_10<?php echo $plaza->id?>" value="<?php echo $this->t['mes6_6_a_10'][$plaza->id]?>" class="formato number"></td>
                                            <td><input type="text" id="mes6_11<?php echo $plaza->id?>" name="mes6_11[<?php echo $plaza->id?>]" rel="mes6_11<?php echo $plaza->id?>" value="<?php echo $this->t['mes6_11'][$plaza->id]?>" class="formato number"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div style="clear: both;"></div>
       
       
       
                                <input type="hidden" id="id<?php echo $this->t['plaza_id'][$plaza->id]?>" name="id[<?php echo $plaza->id?>]" value="<?php echo $this->t['plaza_id'][$plaza->id]?>">
                                
                            </div>
                        </div><?php  
                    } ?>
                <!-- -->   
                            
                         
                        
                      
                        </div> <?php   
                    }?>
    
                </div>      
                
                
                
                
                

            </div>
        </div> 
    </div>
</form>