<div  class="row-fluid contenedorFiltro">
  <div class="span12 tituloFiltro">
    <div class="span9">CATÁLOGO DE CONCEPTOS DE CONTRATACIÓN</div>
    <div class="span3">
        <div class="span2">
            <a class="btn btn-success" href="/catalogos/conceptodecontratacion/imprimir" id="btnImprimir" target="blank"><i class="icon-print icon-white"></i></a>
        </div>
        <div class="span2 offset1">
            <a class="btn btn-success" href="/catalogos/conceptodecontratacion/exportar" id="btnExportar" target="blank"><i class="icon-th-list icon-white"></i></a>
        </div>
        <div class="span6 offset1">
        <? if(My_Permisos::tienePermiso('AGREGAR_CONCEPTODECONTRATACION')){?><a class="btn btn-success" onclick="agregarConceptosdecontratacion(0);">Agregar&nbsp; &nbsp;<i class="icon-plus icon-white"></i></a><? }?>
        </div>
    </div>

  </div>
  
  
  <div  class="row-fluid filaFiltro">
    <div class="span3"><label>CONCEPTO DE CONTRATACIÓN</label></div>
    <div class="span3"><input type="text" name="fnombre" id="fnombre" /></div>
    <div class="span2"></div>
    <div class="span2"><a class="btn btn-primary" onclick="filtrarConceptosdecontratacion();">Filtrar&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;<i class="icon-search icon-white"></i></a></div> 
    <div class="span2"><a class="btn btn-primary" onclick="limpiarConceptosdecontratacion();">Limpiar&nbsp; &nbsp;&nbsp;&nbsp;<i class="icon-plus icon-white"></i></a></div> 
  </div>  
  

</div>

<div  class="row-fluid contenedorGrid"><div id="flexgrid"></div></div>