<div  class="row-fluid contenedorFiltro">
	<div class="span12 tituloFiltro">
        <div class="span10">FALLAS REPORTADAS</div>
        <div class="span2">
            <div class="span3 offset4"><a class="btn btn-success" onclick="filtrarFallas();" target="_blank" id="btnImprimir"><i class="icon-print icon-white"></i></a></div>
            <div class="span3 offset1"><a class="btn btn-success" onclick="filtrarFallas();" target="_blank" id="btnExportar"><i class="icon-list icon-white"></i></a></div>
        </div>
    </div>  
  
  	<div  class="row-fluid filaFiltro">
        <div class="span1"><label>CLIENTE</label></div>
        <div class="span2"><input type="text" name="fnombre" id="fnombre" class="span12"/></div>
        <div class="span1"><label>FOLIO</label></div>
        <div class="span2"><input type="text"  name="ffolio" id="ffolio" class="span12"/></div>
        <div class="span1"><label>DESDE</label></div>
        <div class="span2"><input type="text" name="fdesde" id="fdesde" class="span12"/></div>
        <div class="span1"><label>HASTA</label></div>
        <div class="span2"><input type="text" name="fhasta" id="fhasta" class="span12"/></div>
  	</div> 
  
  	<div  class="row-fluid filaFiltro">
            <div class="span1"><label> FALLAS</label></div>
            <div class="span2">         
                <select  id="ffalla" name="ffalla" class="span12">
                    <option value="0" selected="selected">Todas las fallas</option>
                    <?php foreach($this->estatusDeFallas as $estatus){?>
                    <option value="<?php echo $estatus->id?>"><?php echo $estatus->nombre?></option>
                    <?php }?>
                </select>  
            </div>
            <div class="span1"><label>PLAZA</label></div>
            <div class="span2">
                <select name="fplaza" id="fplaza" class="span12">
                    <option value="0">Todas las plazas</option>
                    <?php foreach($this->plazas as $plaza){?>
                    <option value="<?php echo $plaza->id?>"><?php echo $plaza->nombre?></option>
                    <?php }?>
                </select>
            </div>

            <div class="span1"><label>SUCURSAL</label></div>
            <div class="span2">
                <select name="fsucursal" id="fsucursal" class="span12">
                    <option value="0">Todas las sucursales</option>
                    <?php foreach($this->sucursales as $sucursal){?>
                    <option value="<?php echo $sucursal->id?>"><?php echo $sucursal->nombre?></option>
                    <?php }?>
                </select>
            </div> 
            
       
            <div class="span2"><a class="btn btn-primary span8" onclick="filtrarFallas();">Filtrar</a></div>
	</div>      
  
</div>

<div class="row-fluid contenedorGrid"><div id="flexgrid"></div></div>