<div  class="row-fluid contenedorFiltro">
  <div class="span12 tituloFiltro">BITÁCORA</div>  
  
  <div  class="row-fluid filaFiltro">
    <div class="span1"><label>USUARIO</label></div>
    <div class="span3"><input type="text" name="fusuario" id="fusuario" /></div>
    <div class="span1"><label>ACCIÓN</label></div>
    <div class="span3"><input type="text" name="faccion" id="faccion" /></div>
    <div class="span2"><a class="btn btn-primary" onclick="filtrarBitacora();">Filtrar&nbsp; &nbsp;<i class="icon-search icon-white"></i></a></div> 
  </div>
  <div  class="row-fluid filaFiltro">
    <div class="span1"><label>PLAZA</label></div>
    <div class="span3">
        <select mame="fplaza" id="fplaza">
            <option value="0">Todas las plazas</option>
            <?php foreach($this->plazas as $plaza){?>
            <option value="<?php echo $plaza->id?>"><?php echo $plaza->nombre?></option>
            <?php }?>
        </select>
    </div>
    <div class="span1"><label>DESDE</label></div>
    <div class="span3"><input type="text" name="fdesde" id="fdesde" /></div>
  </div>
  <div  class="row-fluid filaFiltro">
    <div class="span1"><label>HASTA</label></div>
    <div class="span3"><input type="text" name="fhasta" id="fhasta" /></div>
  </div>
</div>

<div  class="row-fluid contenedorGrid">
  <div id="flexgrid"></div>
</div>
