<form name="frmPlaza" id="frmPlaza" method="post" action="/catalogos/plaza/guardar">
    <div  class="row-fluid contenedorFormulario">
        <div  class="row-fluid">
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>NOMBRE</label></div>
                <div class="span4"><input type="text" name="nombre" id="nombre" placeholder="Nombre" class="required" value="<?php echo $this->registro->nombre?>" /></div>
                <div class="span2"><label>DESCRIPCIÓN</label></div>
                <div class="span4">
                <textarea rows="4" cols="50"></textarea>    
              	</div>
            </div>           
        </div>
    </div>
    <input type="hidden" name="id" id="id" value="<?php echo $this->registro->id?>" />
</form>