<form name="frmTarifas" id="frmTarifas" action="/catalogos/tarifasrecuperacion/index" method="post">
		<div class="botoneraTarifas">
        	<div class="nombreServicioTarifas">UBICACIÓN DEL TÉCNICO</div>
        	<?php  foreach($this->EstadosPlazas as $estado){ ?>
            	<input type="button" name="estado_<?php echo $estado->Estado->id?>" id="estado_<?php echo $estado->Estado->id?>" class="btn btn-primary" value="<?php echo $estado->Estado->nombre?>" />
            <? }?>
        </div>

		<?php  foreach($this->EstadosPlazas as $estado){ ?>
            
                <?php foreach($this->Servicios as $servicio){?> 
                <div class="contenedorComisionesTarifas divEstado_<?php echo $estado->Estado->id?>"  style="display:none">
                
                	<div class="nombreServicioTarifas tituloFiltro"><?php //echo $servicio->nombre; ?></div>
                    <div class="contenedorPlazasTarifas">
                    	
                    	<div class="contenedorPlazaTarifas" id="divPlaza_<?php echo $plaza->id?>_<?php echo $servicio->id; ?>">
                        	<table class="table table-bordered">
                                <tbody>
                                	<?php //foreach($this->e[$estado->estado_id] as $plaza){ ?>
                                    <tr>
                                        <td class="etiqueta">        
                                        	<select name="fplaza" id="fplaza">
            								<option value="0">Todos los técnico</option>
            								<?php foreach($this->plazas as $plaza){?>
            								<option value="<?php echo $plaza->id?>" <? if($_POST['fplaza']==$plaza->id) {echo "selected"; $plazaActual=$plaza->nombre;} ?>>Juan Pérez</option>
            								<?php }?>
        									</select>
 </td>
                                        
                                        <td class="etiqueta"><input type="text" name="fecha" id="fecha" style="width:80px"/></td>
                                        
                                        <td class="etiqueta"> Horario de <input type="text"  name="de" id="de" style="width:80px"/> a 
                                        								 <input type="text" name="a" id="a" style="width:80px"/>
                                        </td>
                                         <td class="etiqueta" style="width:100px; text-align:center" ><input type="button" class="btn btn-success" value="Buscar"/></td>
                                    </tr>
                                    <? //}?>
                                    <tr><td  colspan="4" align="right"><img src="/images/mapa.png"/></td></tr>
                                </tbody>
                            </table>
                            <br/>
                            
       
                        </div><!--PLAZA TARIFAS-->
                        
                    </div><!--PLAZAS TARIFAS-->
                 </div><!--contenedorServicioTarifas-->
                <? }?>
                
    <? }?>
    
</form>