<form name="frmComisiones" id="frmComisiones" method="post" action="/catalogos/comisiones/guardar"> 
    <div  class="row-fluid contenedorFormulario">
        <div  class="row-fluid">
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>NOMBRE</label></div>
                <div class="span4"><input type="text" name="nombre" id="nombre" placeholder="Nombre" class="required" value="<?php echo $this->registro->nombre?>"/>
                </div>
                
             	<div class="span2"><label>MONTO</label></div>
                <div class="span3"><input type="text" name="monto" id="monto" placeholder="Monto" class="required" value="<?php echo $this->registro->monto?>"/>
                </div>
                
            </div>
        </div> 
    </div>
    <input type="hidden" name="id" id="id" value="<?php echo $this->registro->id?>" />
</form>