<form name="frmTarifas" id="frmTarifas" action="/catalogos/comisiones/index" method="post">
		<div class="botoneraTarifas">
        	<div class="nombreServicioTarifas">DEFINICION DE COMISIONES POR PLAZA</div>
        	<?php  foreach($this->EstadosPlazas as $estado){ ?>
            	<input type="button" name="estado_<?php echo $estado->Estado->id?>" id="estado_<?php echo $estado->Estado->id?>" class="btn btn-primary" value="<?php echo $estado->Estado->nombre?>" />
            <? }?>
        </div>

		<?php  foreach($this->EstadosPlazas as $estado){ ?>
            
                <?php foreach($this->Servicios as $servicio){?> 
                <div class="contenedorComisionesTarifas divEstado_<?php echo $estado->Estado->id?>"  style="display:none">
                
                	<div class="nombreServicioTarifas tituloFiltro"><?php echo $servicio->nombre; ?></div>
                    <div class="contenedorPlazasTarifas">
                    	
                    	<div class="contenedorPlazaTarifas" id="divPlaza_<?php echo $plaza->id?>_<?php echo $servicio->id; ?>">
                        	<table class="table table-bordered">
                                <tbody>
                                	<?php foreach($this->e[$estado->estado_id] as $plaza){ ?>
                                    <tr>
                                        <td class="etiqueta"><strong><?php echo $plaza->nombre?></strong></td>
                                        <td class="etiqueta"><input type="text" name="comision[<?php echo $plaza->id?>][<?php echo $servicio->id; ?>]" value="<?=$this->comisionplaza[$plaza->id][$servicio->id]?>" class="number" /></td>
                                    </tr>
                                    <? }?>
                                    <tr>
                                        <td  colspan="2" align="right"><input type="button" class="btn btn-success" value="Guardar" onclick="validarMatriz();" /></td>
                                    </tr>
                                </tbody>
                            </table>
                            <br/>
                            
       
                        </div><!--PLAZA TARIFAS-->
                        
                    </div><!--PLAZAS TARIFAS-->
                 </div><!--contenedorServicioTarifas-->
                <? }?>
                
    <? }?>
    
</form>