<div  class="row-fluid contenedorFormulario">    
    <!--<div  class="row-fluid tituloFormulario"><div class="span12">&nbsp;&nbsp;ACTUALIZAR FALLA</div></div>-->
        
    <div  class="row-fluid">
        <!--<legend>DATOS DEL CLIENTE</legend>-->
        <div  class="row-fluid filaFormulario">
            <div class="span2"><label>PLAZA</label></div>
            <div class="span4"><input type="text" name="plaza_id" id="nombre" placeholder="1403925-0001" readonly="readonly" value="<?php echo $this->registro->id?>"/></div>
            <div class="span2"><label>SERVICIO</label></div>
            <div class="span4"><input type="text" name="nombre" id="nombre" placeholder="Juan Pérez" readonly="readonly" value="<?php echo $this->registro->id?>"/></div>
        </div>
        
        <div class="row-fluid filaFormulario">
            <div class="span2"><label>PRECIO BASE</label></div>
            <div class="span4"><input type="text" name="nombre" id="nombre" placeholder="AV. ZAPATA" readonly="readonly" value="<?php echo $this->registro->id?>"/></div>
            <div class="span2"><label>1 A 5</label></div>
            <div class="span4"><input type="text" name="nombre" id="nombre" placeholder="980" readonly="readonly" value="<?php echo $this->registro->id?>"/></div>
        </div>
        
        <div class="row-fluid filaFormulario">
            <div class="span2"><label>6 A 10</label></div>
            <div class="span4"><input type="text" name="nombre" id="nombre" placeholder="A" readonly="readonly" value="<?php echo $this->registro->id?>"/></div>
            <div class="span2"><label>11</label></div>
            <div class="span4"><input type="text" name="nombre" id="nombre" placeholder="Pinares" readonly="readonly" value="<?php echo $this->registro->id?>"/></div>
        </div>
        
        <div class="row-fluid filaFormulario">
            <div class="span2"><label>RECONEXIÓN</label></div>
            <div class="span4"><input type="text" name="nombre" id="nombre" placeholder="01 33 3343434" readonly="readonly" value="<?php echo $this->registro->id?>"/></div>
            <div class="span2"><label>3 MESES</label></div>
            <div class="span4"><input type="text" name="nombre" id="nombre" placeholder="ACTIVO" readonly="readonly" value="<?php echo $this->registro->id?>"/></div>
        </div>
    </div>
        
    <div  class="row-fluid">
        <!--<legend>INFORMACIÓN DE LA FALLA</legend>-->
        <div class="row-fluid filaFormulario">
                <div class="span2"><label>6 MESES</label></div>
                <div class="span4"><input type="text" name="nombre" id="nombre" placeholder="8890" readonly="readonly" value="<?php echo $this->registro->id?>"/></div>
                <div class="span2"><label>12 MESES</label></div>
                <div class="span4"><input type="text" name="nombre" id="nombre" placeholder="25" readonly="readonly" value="<?php echo $this->registro->id?>"/></div>
            </div>
           
            <div  class="row-fluid filaFormulario">
                 <div class="span2"><label>POSTE</label></div>
                <div class="span4"><input type="text" name="nombre" id="nombre" placeholder="60" readonly="readonly" value="<?php echo $this->registro->id?>"/></div>
                <div class="span2"><label>FECHA DE LA FALLA</label></div>
                <div class="span4"><input type="text" name="nombre" id="nombre" placeholder="08/09/2012" readonly="readonly" value="<?php echo $this->registro->id?>"/></div>
            </div>
           
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>TIPO DE FALLA</label></div>
                <div class="span4"><select readonly="readonly"><option>No hay señal</option></select></div>
                <div class="span2"><label>ESTATUS FALLA</label></div>
                <div class="span4"><select><option>Estatus de la falla</option></select></div>
            </div>
           
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>FECHA SOLUCIÓN</label></div>
                <div class="span4"><input type="text" name="nombre" id="nombre" placeholder="DD/MM/AAAA" value="<?php echo $this->registro->id?>"/></div>
                <div class="span2"><label>TÉCNICO</label></div>
                <div class="span4"><select readonly="readonly"><option>Pedro Cervantes</option></select></div>
            </div><br/>
            
        </div><br/>
        
    </div>