<form name="frmTarifas" id="frmTarifas" action="/transacciones/servicioplaza/index" method="post">
		<input type="hidden" id="servicio_id" name="servicio_id" value="<?php echo $_POST["servicios"] ?>">
    <input type="hidden" id="plaza" name="plaza" value="<?php echo $_POST["plaza"] ?>">
    <div class="botoneraTarifas">
          <div class="span12 tituloFiltro">
              <div class="span9">DEFINICION DE TARIFAS POR PLAZA</div>
          </div>
        	
          <div  class="row-fluid filaFiltro">
          </div>
          <div  class="row-fluid filaFiltro">
              <div class="span1"><label>PLAZA</label></div>
              <div class="span3">
                    <select class="col-xs-3" name="fplaza" id="fplaza" >
                        <option value="0">Selecciones una plaza</option>
                        <?php foreach($this->plazas as $plaza){
                                if($_POST["plaza"]==$plaza->id){
                                   echo '<option value="'.$plaza->id.'" selected="selected">'.$plaza->nombre.'</option>';
                                }else{
                                   echo '<option value="'.$plaza->id.'">'.$plaza->nombre.'</option>';
                                }
                                   
                                
                            }
                          ?>
                    </select>
              </div>
              <div class="span1"><label>SERVICIOS</label></div>
              <div class="span3">
                    <select class="col-xs-3" name="fservicio" id="fservicio" multiple='multiple'>
                        <?php foreach($this->serviciosPlaza as $servicio){
                              echo '<option value="'.$servicio->id.'">'.$servicio->nombre.'</option>';
                        }
                          ?>
                    </select>
              </div>

                    
                    
              
              <div class="span4">
                  <div class="span6">
                      <a class="btn btn-primary span10" onclick="filtrarServicios();">Filtrar&nbsp; &nbsp;<i class="icon-filter icon-white"></i></a>
                  </div>
                  <div class="span6">
                      <a class="btn btn-primary span10" onclick="limpiarServicios();">Limpiar&nbsp; &nbsp;</a>
                  </div>
              </div>
            </div>
    </div>
    <div class="row-fluid filaFiltro contenedorServicioTarifas" id="contendorServicio">
      
    </div>	 
</form>