<form name="frmTarifas" id="frmTarifas" action="/transacciones/servicioplaza/index" method="post">
		<input type="text" value="<? echo $this->estado_actual; ?>" style="display:none;" name="estado_actual"> 
    <div class="botoneraTarifas">
        	<div class="nombreServicioTarifas">DEFINICION DE TARIFAS POR PLAZA</div>
        	<?php  foreach($this->EstadosPlazas as $estado){ ?>
              <input type="button" name="estado_<?php echo $estado->Estado->id?>" id="estado_<?php echo $estado->Estado->id?>" class="btn <?php echo ($estado->Estado->id==$this->estado_actual)?'btn-success':'btn-primary'; ?>" value="<?php echo $estado->Estado->nombre?>" onclick="window.location = 'http://sistema.supertv.com.mx/transacciones/servicioplaza/index/estado/<?php echo $estado->Estado->id?>'"/>
            <? }?>
        </div>

		<?php  foreach($this->EstadosPlazas as $estado){ if($estado->estado_id == $this->estado_actual){?>
        	   <!-- <h1><?php echo $estado->Estado->nombre?></h1>-->
            
                <?php foreach($this->Servicios as $servicio){?> 
                <div class="contenedorServicioTarifas divEstado_<?php echo $estado->Estado->id?>"  >
                
                	<div class="nombreServicioTarifas tituloFiltro"><?php echo $servicio->nombre; ?></div>
                    <div class="contenedorPlazasTarifas">
                    	<?php foreach($this->e[$estado->estado_id] as $plaza){ ?>
                    	<div class="contenedorPlazaTarifas" id="divPlaza_<?php echo $plaza->id?>_<?php echo $servicio->id; ?>">
                       	  <h3><?php echo $plaza->nombre?></h3>
                        	<table class="table table-bordered">
                                <thead><tr><th colspan="4" align="center">Pagando 1 mes</th>
                                  <th align="center"><input type="button" class="btn btn-success" onclick="validarMatriz();" value="Guardar" /></th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="etiqueta"><strong>Tarifa</strong></td>
                                        <td class="etiqueta"><strong>1 al 5</strong></td>
                                        <td class="etiqueta"><strong>6 al 10</strong></td>
                                        <td class="etiqueta"><strong>A partir del 11</strong></td>
                                        <td class="etiqueta"><strong>Reconexión</strong></td>
                                        <td class="etiqueta"><strong>Activa</strong></td>
                                    </tr>
                                    
                                    <tr id="base_<?php echo $plaza->id?>_<?php echo $servicio->id; ?>">
                                        <td class="etiqueta"><strong>Base</strong></td>
                                        <td align="center"><input type="text" class="formato base" value="<?php echo $this->servicioplaza[$plaza->id][$servicio->id]['1a5']?>" name="tarifas[<?php echo $plaza->id?>][servicio][<?php echo $servicio->id?>][1a5]"></td>
                                        <td align="center"><input type="text" class="formato base" value="<?php echo $this->servicioplaza[$plaza->id][$servicio->id]['6a10']?>" name="tarifas[<?php echo $plaza->id?>][servicio][<?php echo $servicio->id?>][6a10]"></td>
                                        <td align="center"><input type="text" class="formato base" value="<?php echo $this->servicioplaza[$plaza->id][$servicio->id]['11']?>" name="tarifas[<?php echo $plaza->id?>][servicio][<?php echo $servicio->id?>][11]"></td>
                                        <td align="center"><input type="text" class="formato base" value="<?php echo $this->servicioplaza[$plaza->id][$servicio->id]['reconexion']?>" name="tarifas[<?php echo $plaza->id?>][servicio][<?php echo $servicio->id?>][reconexion]"></td>
                                        <td></td>
                                    </tr>
                                   <? foreach($this->tarifasespeciales as $tarifasespeciales){?> 
                                    <tr class="especial1mes" id="especial1mes_<?php echo $plaza->id?>_<?php echo $servicio->id; ?>_<?php echo $tarifasespeciales->id?>">
                                        <td class="etiqueta"><strong><?php echo $tarifasespeciales->nombre?></strong></td>
                                        <td align="center"><input type="text" class="formato especial" value="<?php echo $this->servicioplazatarifaespecial[$plaza->id][$servicio->id][$tarifasespeciales->id]['1a5']?>" name="tarifas[<?php echo $plaza->id?>][especiales][<?php echo $tarifasespeciales->id?>][servicio][<?php echo $servicio->id?>][1a5]"></td>
                                        <td align="center"><input type="text" class="formato especial" value="<?php echo $this->servicioplazatarifaespecial[$plaza->id][$servicio->id][$tarifasespeciales->id]['6a10']?>" name="tarifas[<?php echo $plaza->id?>][especiales][<?php echo $tarifasespeciales->id?>][servicio][<?php echo $servicio->id?>][6a10]"></td>
                                        <td align="center"><input type="text" class="formato especial" value="<?php echo $this->servicioplazatarifaespecial[$plaza->id][$servicio->id][$tarifasespeciales->id]['11']?>" name="tarifas[<?php echo $plaza->id?>][especiales][<?php echo $tarifasespeciales->id?>][servicio][<?php echo $servicio->id?>][11]"></td>
                                        <td align="center"><input type="text" class="formato especial" value="<?php echo $this->servicioplazatarifaespecial[$plaza->id][$servicio->id][$tarifasespeciales->id]['reconexion']?>" name="tarifas[<?php echo $plaza->id?>][especiales][<?php echo $tarifasespeciales->id?>][servicio][<?php echo $servicio->id?>][reconexion]"></td>
                                        <td align="center"><input type="checkbox" class="formato"<?php if($this->servicioplazatarifaespecial[$plaza->id][$servicio->id][$tarifasespeciales->id]['status']==1) echo "checked";?> value="1" name="tarifas[<?php echo $plaza->id?>][especiales][<?php echo $tarifasespeciales->id?>][servicio][<?php echo $servicio->id?>][status]"></td>
                                    </tr>
                                    <? }?>
                                </tbody>
                            </table>
                            <br/>
                            
                            <table class="table table-bordered" >
                              <thead><tr><th colspan="2" align="center">Pagando </th></tr></thead>
                              <tbody>
                                <tr>
                                  <td class="etiqueta"><strong>Tarifa</strong></td>
                                  <td class="etiqueta"><strong>2 meses</strong></td>
                                  <td class="etiqueta"><strong>3 meses</strong></td>
                                  <td class="etiqueta"><strong>4 meses</strong></td>
                                  <td class="etiqueta"><strong>6 meses</strong></td>
                                  <td class="etiqueta"><strong>8 meses</strong></td>
                                  <td class="etiqueta"><strong>10 meses</strong></td>
                                  <td class="etiqueta"><strong>12 meses</strong></td>
                                </tr>
                                <tr id="adicional_<?php echo $plaza->id?>_<?php echo $servicio->id; ?>">
                                  <td class="etiqueta"><strong>Base</strong></td>
                                  <td align="center">
                                      <div id="precio_1a">
                                            <input type="text" class="formato base" value="<?php echo $this->servicioplaza[$plaza->id][$servicio->id]['2meses']?>" name="tarifas[<?php echo $plaza->id?>][servicio][<?php echo $servicio->id?>][2meses]" id="precio_1a5_<?php echo $plaza->id?>2" />
                                      </div>
                                  </td>
                                  <td align="center">
                                      <div id="precio_1a">
                                            <input type="text" class="formato base" value="<?php echo $this->servicioplaza[$plaza->id][$servicio->id]['3meses']?>" name="tarifas[<?php echo $plaza->id?>][servicio][<?php echo $servicio->id?>][3meses]" id="precio_1a5_<?php echo $plaza->id?>2" />
                                      </div>
                                  </td>
                                  <td align="center">
                                      <div id="precio_1a">
                                            <input type="text" class="formato base" value="<?php echo $this->servicioplaza[$plaza->id][$servicio->id]['4meses']?>" name="tarifas[<?php echo $plaza->id?>][servicio][<?php echo $servicio->id?>][4meses]" id="precio_1a5_<?php echo $plaza->id?>2" />
                                      </div>
                                  </td>
                                  <td align="center">
                                      <div id="precio_1a">
                                            <input type="text" class="formato base" value="<?php echo $this->servicioplaza[$plaza->id][$servicio->id]['6meses']?>" name="tarifas[<?php echo $plaza->id?>][servicio][<?php echo $servicio->id?>][6meses]" id="precio_1a5_<?php echo $plaza->id?>2" />
                                      </div>
                                  </td>
                                  <td align="center">
                                      <div id="precio_1a">
                                            <input type="text" class="formato base" value="<?php echo $this->servicioplaza[$plaza->id][$servicio->id]['8meses']?>" name="tarifas[<?php echo $plaza->id?>][servicio][<?php echo $servicio->id?>][8meses]" id="precio_1a5_<?php echo $plaza->id?>2" />
                                      </div>
                                  </td>
                                  <td align="center">
                                      <div id="precio_1a">
                                            <input type="text" class="formato base" value="<?php echo $this->servicioplaza[$plaza->id][$servicio->id]['10meses']?>" name="tarifas[<?php echo $plaza->id?>][servicio][<?php echo $servicio->id?>][10meses]" id="precio_1a5_<?php echo $plaza->id?>2" />
                                      </div>
                                  </td>
                                  <td align="center">
                                      <div id="precio_1a">
                                            <input type="text" class="formato base" value="<?php echo $this->servicioplaza[$plaza->id][$servicio->id]['12meses']?>" name="tarifas[<?php echo $plaza->id?>][servicio][<?php echo $servicio->id?>][12meses]" id="precio_1a5_<?php echo $plaza->id?>2" />
                                      </div>
                                  </td>
                                </tr>
                                <? foreach($this->tarifasespeciales as $tarifasespeciales){?>
                                <tr class="especialAdcional" id="especialAdcional_<?php echo $plaza->id?>_<?php echo $servicio->id; ?>_<?php echo $tarifasespeciales->id?>">
                                  <td class="etiqueta"><strong><?php echo $tarifasespeciales->nombre?></strong></td>
                                  <td align="center"><input type="text" class="formato especial" value="<?php echo $this->servicioplazatarifaespecial[$plaza->id][$servicio->id][$tarifasespeciales->id]['2meses']?>" name="tarifas[<?php echo $plaza->id?>][especiales][<?php echo $tarifasespeciales->id?>][servicio][<?php echo $servicio->id?>][2meses]"   /></td>
                                  <td align="center"><input type="text" class="formato especial" value="<?php echo $this->servicioplazatarifaespecial[$plaza->id][$servicio->id][$tarifasespeciales->id]['3meses']?>" name="tarifas[<?php echo $plaza->id?>][especiales][<?php echo $tarifasespeciales->id?>][servicio][<?php echo $servicio->id?>][3meses]"   /></td>
                                  <td align="center"><input type="text" class="formato especial" value="<?php echo $this->servicioplazatarifaespecial[$plaza->id][$servicio->id][$tarifasespeciales->id]['4meses']?>" name="tarifas[<?php echo $plaza->id?>][especiales][<?php echo $tarifasespeciales->id?>][servicio][<?php echo $servicio->id?>][4meses]"   /></td>
                                  <td align="center"><input type="text" class="formato especial" value="<?php echo $this->servicioplazatarifaespecial[$plaza->id][$servicio->id][$tarifasespeciales->id]['6meses']?>" name="tarifas[<?php echo $plaza->id?>][especiales][<?php echo $tarifasespeciales->id?>][servicio][<?php echo $servicio->id?>][6meses]" /></td>
                                  <td align="center"><input type="text" class="formato especial" value="<?php echo $this->servicioplazatarifaespecial[$plaza->id][$servicio->id][$tarifasespeciales->id]['8meses']?>" name="tarifas[<?php echo $plaza->id?>][especiales][<?php echo $tarifasespeciales->id?>][servicio][<?php echo $servicio->id?>][8meses]"   /></td>
                                  <td align="center"><input type="text" class="formato especial" value="<?php echo $this->servicioplazatarifaespecial[$plaza->id][$servicio->id][$tarifasespeciales->id]['10meses']?>" name="tarifas[<?php echo $plaza->id?>][especiales][<?php echo $tarifasespeciales->id?>][servicio][<?php echo $servicio->id?>][10meses]"   /></td>
                                  <td align="center"><input type="text" class="formato especial" value="<?php echo $this->servicioplazatarifaespecial[$plaza->id][$servicio->id][$tarifasespeciales->id]['12meses']?>" name="tarifas[<?php echo $plaza->id?>][especiales][<?php echo $tarifasespeciales->id?>][servicio][<?php echo $servicio->id?>][12meses]" /></td>
                                </tr>
                                <? }?>

                              </tbody>
                            </table>
                        </div><!--PLAZA TARIFAS-->
                        <? }?>
                    </div><!--PLAZAS TARIFAS-->
                 </div><!--contenedorServicioTarifas-->
                <? }?>
                
    <? }}?>
    
</form>