    
    <div  class="row-fluid contenedorFormulario">
    
        <div  class="row-fluid tituloFormulario">
          <div class="span12">&nbsp;&nbsp;REGISTRAR NUEVA FALLA</div> 
        </div>
        
        <div  class="row-fluid">
        	<legend>DATOS DEL CLIENTE</legend>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>CONTRATO</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="Contrato"  /></div>
                <div class="span2"><label>NOMBRE</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="Nombre" readonly="readonly" /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                 <div class="span2"><label>CALLE</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="Calle" readonly="readonly" /></div>
                <div class="span2"><label>NUMERO EXTERIOR</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="Número exterior" readonly="readonly" /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>NÚMERO INTERIOR</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="Número interior" readonly="readonly" /></div>
                <div class="span2"><label>COLONIA</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="Colonia" readonly="readonly" /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>TELÉFONO</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="Teléfono" readonly="readonly" /></div>
                 <div class="span2"><label>ESTATUS</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="Estatus" readonly="readonly" /></div>
            </div>

        </div>
        
        
        <div  class="row-fluid">
           <legend>INFORMACIÓN DE LA FALLA</legend>
           <div  class="row-fluid filaFormulario">
                <div class="span2"><label>ETIQUETA</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="Etiqueta" readonly="readonly" /></div>
                <div class="span2"><label>NODO</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="Nodo" readonly="readonly" /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                 <div class="span2"><label>POSTE</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="Poste" readonly="readonly" /></div>
                <div class="span2"><label>FECHA DE LA FALLA</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="DD/MM/AAAA" /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>TIPO DE FALLA</label></div>
                <div class="span3"><select><option>Tipo de falla</option></select></div>
                <div class="span2"><label>ESTATUS FALLA</label></div>
                <div class="span3"><select><option>Estatus de la falla</option></select></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>FECHA SOLUCIÓN</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="DD/MM/AAAA" readonly="readonly" /></div>
                <div class="span2"><label>TÉCNICO</label></div>
                <div class="span3"><select><option>Elija un técnico</option></select></div>
            </div>
			<br />
           <div  class="row-fluid filaFormulario">
            	<div class="span2"></div>
                <div class="span2"><a class="btn btn-primary" href="#">Aplicar&nbsp; &nbsp;</a></div>
                <div class="span2"><a class="btn btn-primary" href="#">Aceptar&nbsp; &nbsp;</a></div>
                <div class="span3"><a class="btn btn-primary" href="#">Cancelar&nbsp; &nbsp;</a></div>
            </div>
        </div>
		<br />		
    </div>