<form name="frmCiudad" id="frmCiudad" method="post" action="/catalogos/ciudades/guardar">     
    <div  class="row-fluid contenedorFormulario">

        
        <div  class="row-fluid">
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>MUNICIPIO</label></div>
                <div class="span4"><input type="text" name="nombre" id="nombre" placeholder="Municipio" class="required" value="<?php echo $this->registro->nombre?>" /></div>
                <div class="span2"><label>ESTADO</label></div>
                <div class="span4">
                    <select name="estado_id" id="estado_id">
                        <option value="0">Seleccione un estado</option>
                        <?php foreach($this->estados as $estado){?>
                        <option value="<?php echo $estado->id?>" <?php echo ($this->registro->estado_id==$estado->id)?"selected":""?>><?php echo $estado->nombre?></option>
                        <?php }?>
                    </select>
                </div>
            </div>

        </div>        
    </div>
    <input type="hidden" name="id" id="id" value="<?php echo $this->registro->id?>" />
</form>    