<div  class="row-fluid contenedorFiltro">
  <div class="span12 tituloFiltro">CATÁLOGO DE MUNICIPIOS</div>  
  
  <div  class="row-fluid filaFiltro">
    <div class="span1">&nbsp;</div>
    <div class="span3"></div>
    <div class="span1"></div>
    <div class="span3"></div>
    <div class="span2"></div>
    <div class="span2"><? if(My_Permisos::tienePermiso('AGREGAR_CIUDADES')){?><a class="btn btn-primary" onclick="agregarCiudad(0);">Agregar&nbsp; &nbsp;&nbsp;<i class="icon-plus icon-white"></i></a><? }?></div>
  </div>
  
  <div  class="row-fluid filaFiltro">
    <div class="span1"><label>MUNICIPIO</label></div>
    <div class="span3"><input type="text" name="fnombre" id="fnombre" /></div>
    <div class="span1"><label>ESTADO</label></div>
    <div class="span3">
        <select name="festado" id="festado">
            <option value="0">Todos los estados</option>
            <?php foreach($this->estados as $estado){?>
            <option value="<?php echo $estado->id?>"><?php echo $estado->nombre?></option>
            <? }?>
        </select>
    </div>
    <div class="span2"><a class="btn btn-primary"  onclick="filtrarCiudades();">Filtrar&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-search icon-white"></i></a></div> 
    <div class="span2"><a class="btn btn-primary" onclick="limpiarCiudades();">Limpiar&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></div> 
  </div> 
  
  <div  class="row-fluid filaFiltro">
    <div class="span1"></div>
    <div class="span3"></div>
    <div class="span1"></div>
    <div class="span3"></div>
    <div class="span2"><a class="btn btn-primary" href="/catalogos/ciudades/imprimir" id="btnImprimir" target="blank">Imprimir&nbsp; &nbsp;&nbsp;<i class="icon-print icon-white"></i></a></div> 
    <div class="span2"><a class="btn btn-primary" href="/catalogos/ciudades/exportar" id="btnExportar" target="blank">Exportar&nbsp; &nbsp;&nbsp;<i class="icon-th-list icon-white"></i></a></div> 
  </div>
  
</div>

<div  class="row-fluid contenedorGrid">
    <div id="flexgrid"></div> 
</div>
