<form name="frmPromotor" id="frmPromotor" method="post" action="/catalogos/promotores/guardar">     
    <div class="row-fluid contenedorFormulario">
        <div class="row-fluid">
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>PLAZA</label></div>
                <div class="span4">
                    <select name="plaza_id" id="plaza_id">
                        <option value="0" <?php echo (is_null($this->registro->plaza_id))?"selected":""?>>Elija una plaza</option>
                        <?php foreach($this->plazas as $plaza){?>
                        <option value="<?php echo $plaza->id?>" <?php echo ($this->registro->plaza_id==$plaza->id)?"selected":""?>><?php echo $plaza->nombre?></option>
                        <?php }?>
                    </select>
                </div>
                                
                <div class="span2"><label>SUCURSAL</label></div>
                <div class="span4">
                    <select name="sucursal_id" id="sucursal_id" >
                        <option value="0" >Elija una sucursal</option>
                        <?php foreach($this->sucursales as $sucursal){?>
                        <option value="<?php echo $sucursal->id?>" <?php echo ($this->registro->sucursal_id==$sucursal->id)?"selected":""?>><?php echo $sucursal->nombre?></option>
                        <?php }?>
                    </select>
                </div>                                  
            </div>

            <div class="row-fluid filaFormulario"> 
                <div class="span2"><label>NOMBRE</label></div>
                <div class="span4"><input type="text" name="nombre" id="nombre" placeholder="Nombre" class="required" value="<?php echo $this->registro->nombre?>"/></div>
                <div class="span2"><label>EMAIL</label></div>
                <div class="span4"><input type="text" name="email" id="email" placeholder="Email" class="email" value="<?php echo $this->registro->email?>" /></div>                
            </div>
               
            <div class="row-fluid filaFormulario">
                <div class="span2"><label>CELULAR</label></div>
                <div class="span4"><input type="text" name="celular" id="celular" placeholder="Celular" class="required" value="<?php echo $this->registro->celular?>" /></div>
            </div>
            
        </div>    
    </div>
    <input type="hidden" name="id" id="id" value="<?php echo $this->registro->id?>" />
</form>    