<div  class="row-fluid contenedorFiltro">
  <div class="span12 tituloFiltro">CATÁLOGO DE PROMOTORES</div>  
  
  <div  class="row-fluid filaFiltro">
    <div class="span1">&nbsp;</div>
    <div class="span3"></div>
    <div class="span1"></div>
    <div class="span3"></div>
    <div class="span2"></div>
    <div class="span2"><? if(My_Permisos::tienePermiso('AGREGAR_PROMOTORES')){?><a class="btn btn-primary" onclick="agregarPromotor(0);">Agregar&nbsp; &nbsp;&nbsp;<i class="icon-plus icon-white"></i></a><? }?></div>
  </div>
  
  <div  class="row-fluid filaFiltro">
    <div class="span1"><label>NOMBRE</label></div>
    <div class="span3"><input type="text" name="fnombre" id="fnombre" /></div>
    
    <div class="span1"><? if(Usuario::tipo()==0){?><label>PLAZA</label><? }?></div>
    	<div class="span3">
            <? if(Usuario::tipo()==0){?>
                <select name="fplaza" id="fplaza">
                    <option value="0">Todas las plazas</option>
                    <?php foreach($this->plazas as $plaza){?>
                    <option value="<?php echo $plaza->id?>"><?php echo $plaza->nombre?></option>
                    <?php }?>
                </select>
            <? }?> 
    	</div>
    
    <div class="span2"><a class="btn btn-primary"  onclick="filtrarPromotores();">Filtrar&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;<i class="icon-search icon-white"></i></a></div> 
    <div class="span2"><a class="btn btn-primary" onclick="limpiarPromotores();">Limpiar&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></div>   
  </div>  
  
  <div  class="row-fluid filaFiltro">
        <div class="span1"><? if(Usuario::tipo()==0){?><label>SUCURSAL</label><? }?></div>
        <div class="span3">
            <? if(Usuario::tipo()==0){?>
                <select name="fsucursal" id="fsucursal">
                    <option value="0">Todas las sucursales</option>
                    <?php foreach($this->sucursales as $sucursal){?>
                    <option value="<?php echo $sucursal->id?>"><?php echo $sucursal->nombre?></option>
                    <?php }?>
                </select>
            <? }?> 
            </div>
    
    <div class="span1"></div>
    <div class="span3"></div>
    <div class="span2"><a class="btn btn-primary" href="/catalogos/promotores/imprimir" id="btnImprimir" target="blank">Imprimir&nbsp; &nbsp;&nbsp;<i class="icon-print icon-white"></i></a></div> 
    <div class="span2"><a class="btn btn-primary" href="/catalogos/promotores/exportar" id="btnExportar" target="blank">Exportar&nbsp; &nbsp;&nbsp;<i class="icon-th-list icon-white"></i></a></div> 
  </div> 
  
</div>

<div  class="row-fluid contenedorGrid">
    <div id="flexgrid"></div>
</div>
