<form name="frmTarifas" id="frmTarifas" action="/transacciones/metas/index" method="post">
	<div class="botoneraTarifas">
        <div class="nombreServicioTarifas">DEFINICION DE METAS DEL MES</div>
        <?php  foreach($this->EstadosPlazas as $estado){ ?>
        <input type="button" name="estado_<?php echo $estado->Estado->id?>" id="estado_<?php echo $estado->Estado->id?>" class="btn btn-primary" value="<?php echo $estado->Estado->nombre?>" />
        <? }?>
        <? if(!$this->puedeguardar){?>
          <br>
          <br>
          <div class="alert alert-danger">
            <strong>Aviso</strong>
            Las metas solo pueden ser definidas el primer día del mes.
          </div>
        <? }?>
    </div> 
    <?php foreach($this->EstadosPlazas as $estado){ ?> 
    	<div class="contenedorComisionesTarifas divEstado_<?php echo $estado->Estado->id?>" style="display:none">                    
        	<div class="contenedorPlazasTarifas">
                    	
            	<div class="contenedorPlazaTarifas" id="divPlaza_<?php echo $plaza->id?>_<?php echo $servicio->id; ?>">
                	<table class="table table-bordered">
                    	<tbody> 
                                   
                        	<tr>
                            	<td class="etiqueta"><strong></strong></td>
                              <td class="etiqueta"><strong>Recuperaciones</strong></td>
                              <td class="etiqueta"><strong>Ventas</strong></td>
                              <td class="etiqueta"><strong>Clientes pagados</strong></td>
                              <td class="etiqueta"><strong>Mensualidades cobradas</strong></td>
                         	</tr>                           
                                    
                            <?php foreach($this->e[$estado->estado_id] as $plaza){ ?>  

                          	<tr>
                            	<td class="etiqueta"><strong><?php echo $plaza->nombre?></strong></td>       

                              <td class="etiqueta">
                                <table class="table table-bordered">
                                  <tr>
                                    <td colspan="6">Total: <input type="text" name="metas[<?php echo $plaza->id?>][recuperaciones]" value="<?=$this->metasplaza[$plaza->id]->recuperaciones?>" class="required digits" /></td>
                                  <tr>
                                  <tr>
                                    <td>1-5</td>
                                    <td>6-10</td>
                                    <td>11-15</td>
                                    <td>16-20</td>
                                    <td>21-25</td>
                                    <td>26+</td>
                                  </tr>
                                  <tr>
                                    <td><input type="text" name="metas[<?php echo $plaza->id?>][r1_5]" value="<?=$this->metasplaza[$plaza->id]->r1_5?>" class="digits required"/></td>
                                    <td><input type="text" name="metas[<?php echo $plaza->id?>][r6_10]" value="<?=$this->metasplaza[$plaza->id]->r6_10?>" class="digits required"/></td>
                                    <td><input type="text" name="metas[<?php echo $plaza->id?>][r11_15]" value="<?=$this->metasplaza[$plaza->id]->r11_15?>" class="digits required"/></td>
                                    <td><input type="text" name="metas[<?php echo $plaza->id?>][r16_20]" value="<?=$this->metasplaza[$plaza->id]->r16_20?>" class="digits required"/></td>
                                    <td><input type="text" name="metas[<?php echo $plaza->id?>][r21_25]" value="<?=$this->metasplaza[$plaza->id]->r21_25?>" class="digits required"/></td>
                                    <td><input type="text" name="metas[<?php echo $plaza->id?>][r26_30]" value="<?=$this->metasplaza[$plaza->id]->r26_30?>" class="digits required"/></td>
                                  </tr>
                                </table>
                              </td>
                              <td class="etiqueta">
                                <table class="table table-bordered">
                                  <tr>
                                    <td colspan="6">Total: <input type="text" name="metas[<?php echo $plaza->id?>][ventas]" value="<?=$this->metasplaza[$plaza->id]->ventas?>" class="required" /></td>
                                  <tr>
                                  <tr>
                                    <td>1-5</td>
                                    <td>6-10</td>
                                    <td>11-15</td>
                                    <td>16-20</td>
                                    <td>21-25</td>
                                    <td>26+</td>
                                  </tr>
                                  <tr>
                                    <td><input type="text" name="metas[<?php echo $plaza->id?>][v1_5]" value="<?=$this->metasplaza[$plaza->id]->v1_5?>" class="digits required"/></td>
                                    <td><input type="text" name="metas[<?php echo $plaza->id?>][v6_10]" value="<?=$this->metasplaza[$plaza->id]->v6_10?>" class="digits required"/></td>
                                    <td><input type="text" name="metas[<?php echo $plaza->id?>][v11_15]" value="<?=$this->metasplaza[$plaza->id]->v11_15?>" class="digits required"/></td>
                                    <td><input type="text" name="metas[<?php echo $plaza->id?>][v16_20]" value="<?=$this->metasplaza[$plaza->id]->v16_20?>" class="digits required"/></td>
                                    <td><input type="text" name="metas[<?php echo $plaza->id?>][v21_25]" value="<?=$this->metasplaza[$plaza->id]->v21_25?>" class="digits required"/></td>
                                    <td><input type="text" name="metas[<?php echo $plaza->id?>][v26_30]" value="<?=$this->metasplaza[$plaza->id]->v26_30?>" class="digits required"/></td>
                                  </tr>
                                </table>
                                
                              <td class="etiqueta">
                                <table class="table table-bordered">
                                  <tr>
                                    <td colspan="6">Total: <input type="text" name="metas[<?php echo $plaza->id?>][clientes]" value="<?=$this->metasplaza[$plaza->id]->clientes?>" class="required" /></td>
                                  <tr>
                                  <tr>
                                    <td>1-5</td>
                                    <td>6-10</td>
                                    <td>11-15</td>
                                    <td>16-20</td>
                                    <td>21-25</td>
                                    <td>26+</td>
                                  </tr>
                                  <tr>
                                    <td><input type="text" name="metas[<?php echo $plaza->id?>][c1_5]" value="<?=$this->metasplaza[$plaza->id]->c1_5?>" class="digits required"/></td>
                                    <td><input type="text" name="metas[<?php echo $plaza->id?>][c6_10]" value="<?=$this->metasplaza[$plaza->id]->c6_10?>" class="digits required"/></td>
                                    <td><input type="text" name="metas[<?php echo $plaza->id?>][c11_15]" value="<?=$this->metasplaza[$plaza->id]->c11_15?>" class="digits required"/></td>
                                    <td><input type="text" name="metas[<?php echo $plaza->id?>][c16_20]" value="<?=$this->metasplaza[$plaza->id]->c16_20?>" class="digits  required"/></td>
                                    <td><input type="text" name="metas[<?php echo $plaza->id?>][c21_25]" value="<?=$this->metasplaza[$plaza->id]->c21_25?>" class="digits required"/></td>
                                    <td><input type="text" name="metas[<?php echo $plaza->id?>][c26_30]" value="<?=$this->metasplaza[$plaza->id]->c26_30?>" class="digits required"/></td>
                                  </tr>
                                </table>
                              </td>
                              <td class="etiqueta">
                                <table class="table table-bordered">
                                  <tr>
                                    <td colspan="6">Total: <input type="text" name="metas[<?php echo $plaza->id?>][mensualidades]" value="<?=$this->metasplaza[$plaza->id]->mensualidades?>" class="required" /></td>
                                  <tr>
                                  <tr>
                                    <td>1-5</td>
                                    <td>6-10</td>
                                    <td>11-15</td>
                                    <td>16-20</td>
                                    <td>21-25</td>
                                    <td>26+</td>
                                  </tr>
                                  <tr>
                                    <td><input type="text" name="metas[<?php echo $plaza->id?>][m1_5]" value="<?=$this->metasplaza[$plaza->id]->m1_5?>" class="digits required"/></td>
                                    <td><input type="text" name="metas[<?php echo $plaza->id?>][m6_10]" value="<?=$this->metasplaza[$plaza->id]->m6_10?>" class="digits required"/></td>
                                    <td><input type="text" name="metas[<?php echo $plaza->id?>][m11_15]" value="<?=$this->metasplaza[$plaza->id]->m11_15?>" class="digits required"/></td>
                                    <td><input type="text" name="metas[<?php echo $plaza->id?>][m16_20]" value="<?=$this->metasplaza[$plaza->id]->m16_20?>" class="digits required"/></td>
                                    <td><input type="text" name="metas[<?php echo $plaza->id?>][m21_25]" value="<?=$this->metasplaza[$plaza->id]->m21_25?>" class="digits required"/></td>
                                    <td><input type="text" name="metas[<?php echo $plaza->id?>][m26_30]" value="<?=$this->metasplaza[$plaza->id]->m26_30?>" class="digits required"/></td>
                                  </tr>
                                </table>
                             	</td>
                                      
                        	</tr>
                         	<? }?>
                            <tr>
                            	<td  colspan="5" align="right">
                                  <? if($this->puedeguardar){?>
                                	<input type="button" class="btn btn-success" value="Guardar" onclick="validarMatriz();" />
                                  <? }?>
                              </td>
                         	</tr>
                     	</tbody>
                	</table><br/>       
             	</div><!--PLAZA TARIFAS-->                        
          	</div><!--PLAZAS TARIFAS-->
      	</div><!--contenedorServicioTarifas-->               
    <? } ?>
</form>