
<div class="alert alert-error">
	<h4>Atención:</h4>
	La meta de este mes ya ha sido generada y es muy importante que confirmes<br/>
	que estás enterado(a) de los objetivos.
</div>
<table class="table table-bordered">
	<tr>
		<td></td>
		<td><b>1 al 5</b></td>
		<td><b>6 al 10</b></td>
		<td><b>11 al 15</b></td>
		<td><b>16 al 20</b></td>
		<td><b>21 al 25</b></td>
		<td><b>A partir del 26</b></td>
	</tr>
	<tr>
		<td><b>Recuperaciones</b></td>
		<td><?=($this->meta->r1_5/100)*$this->meta->recuperaciones?></td>
		<td><?=($this->meta->r6_10/100)*$this->meta->recuperaciones?></td>
		<td><?=($this->meta->r11_15/100)*$this->meta->recuperaciones?></td>
		<td><?=($this->meta->r16_20/100)*$this->meta->recuperaciones?></td>
		<td><?=($this->meta->r21_25/100)*$this->meta->recuperaciones?></td>
		<td><?=($this->meta->r26_30/100)*$this->meta->recuperaciones?></td>
	</tr>
	<tr>
		<td><b>Ventas</b></td>
		<td><?=($this->meta->v1_5/100)*$this->meta->ventas?></td>
		<td><?=($this->meta->v6_10/100)*$this->meta->ventas?></td>
		<td><?=($this->meta->v11_15/100)*$this->meta->ventas?></td>
		<td><?=($this->meta->v16_20/100)*$this->meta->ventas?></td>
		<td><?=($this->meta->v21_25/100)*$this->meta->ventas?></td>
		<td><?=($this->meta->v26_30/100)*$this->meta->ventas?></td>
	</tr>
	<tr>
		<td><b>Nuevos clientes</b></td>
		<td><?=($this->meta->c1_5/100)*$this->meta->clientes?></td>
		<td><?=($this->meta->c6_10/100)*$this->meta->clientes?></td>
		<td><?=($this->meta->c11_15/100)*$this->meta->clientes?></td>
		<td><?=($this->meta->c16_20/100)*$this->meta->clientes?></td>
		<td><?=($this->meta->c21_25/100)*$this->meta->clientes?></td>
		<td><?=($this->meta->c26_30/100)*$this->meta->clientes?></td>
	</tr>
	<tr>
		<td><b>Mensualidades</b></td>
		<td><?=($this->meta->m1_5/100)*$this->meta->mensualidades?></td>
		<td><?=($this->meta->m6_10/100)*$this->meta->mensualidades?></td>
		<td><?=($this->meta->m11_15/100)*$this->meta->mensualidades?></td>
		<td><?=($this->meta->m16_20/100)*$this->meta->mensualidades?></td>
		<td><?=($this->meta->m21_25/100)*$this->meta->mensualidades?></td>
		<td><?=($this->meta->m26_30/100)*$this->meta->mensualidades?></td>
	</tr>
</table>