
<div class="alert alert-error">
<h4>Atención:</h4>
Algunas de tus metas están retrasadas:<br/>
</div>
<a href="/transacciones/metas/plazasretrasadas/plaza/<?php echo Usuario::plaza();?>" target="_blank" class="btn btn-info">Descargar reporte</a>


