
<div class="alert alert-error">
<h4>Atención:</h4>
La meta de este mes no ha sido confirmada por ningun administrador.<br/><br>
Recuerda que la meta solo puede ser confirmada el día de hoy;<br>de lo contrario se tomará la del
mes anterior y no será posible modificarla.
</div>


