
<div id="btnFixed" style="display:none; background-color: #ccc; position: fixed; top: 50%; left: 0; height: 30px; margin-top: -15px;">
	<a href="/transacciones/metas/plazasretrasadas" target="_blank" class="btn btn-info">Hay metas retrasadas</a>
</div>





