<div  class="row-fluid contenedorFiltro">
  <div class="span12 tituloFiltro">PARAMETROS</div>  
  <form name="frmParametros" id="frmParametros" method="post" action="/catalogos/parametros/guardar"> 
    <div  class="row-fluid contenedorFormulario">
        <div  class="row-fluid">
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>CAMBIO DE DOMICILIO</label></div>
                <div class="span3">
                	<input type="text" name="cambio_domicilio" id="cambio_domicilio" class="required" value="<?php echo $this->registro->cambio_domicilio?>"/>
             	</div>
                <div class="span2"><label>EXTENSIÓN ADICIONAL</label></div>
                <div class="span3">
                	<input type="text" name="extensiones" id="extensiones" class="required" value="<?php echo $this->registro->extensiones?>"/>
             	</div>
                
            </div>
            
           <div  class="row-fluid filaFormulario">
           		<div class="span8"></div>
                <div class="span2"><button type="button" class="btn btn-success" onclick="editarRegistro()">Guardar</button></div>   
            </div>
        </div> 
        
        
    </div>
    <input type="hidden" name="id" id="id" value="<?php echo $this->registro->id?>" />
</form>
  
  
</div>
