        <div  class="row-fluid">

                <div class="span6">
                	<label>SERVICIO</label>
					<select name="servicio_id" id="servicio_id">
                    	<? foreach($this->servicioAContratar as $servicio){?>
                    	<option value="<?php echo $servicio->servicioadicional_id?>"><?php echo $servicio->Servicio->nombre?></option>
                        <? }?>
                    </select>
                </div>
        </div>
