<form name="frmAplicarpago" id="frmAplicarpago" action="/transacciones/cobranza/guardarpago"  method="post" >
    <div  class="row-fluid contenedorFormulario">
        
        <div  class="row-fluid">
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>NÚMERO DE CONTRATO</label></div>
                <div class="span3"><?=$this->cliente->contrato?></div>
                <div class="span2"><label>CLIENTE</label></div>
                <div class="span3"><?=$this->cliente->nombre?></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>CALLE</label></div>
                <div class="span3"><?=$this->cliente->calle?> </div>
                <div class="span2"><label>NUMERO EXTERIOR</label></div>
                <div class="span3"><?=$this->cliente->no_exterior?></div>
            </div>
            <div  class="row-fluid filaFormulario">
                 <div class="span2"><label>NUMERO INTERIOR</label></div>
                <div class="span3"><?=$this->cliente->no_interior?></div>
                <div class="span2"><label>COLONIA</label></div>
                <div class="span3"><?=Colonia::obtenerColonia($this->cliente->colonia_id)?></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>ESTATUS</label></div>
                <div class="span3" style="background-color:#FF9F9F"><?=$this->cliente->estatus?></div>
                <div class="span2"><label>ULTIMO MES CUBIERTO</label></div>
                <div class="span3" style="background-color:#FF9F9F"><?=$this->cliente->ultimomescubierto?></div>
            </div>
            <input type="hidden" name="cliente_id" id="cliente_id" value="<?=$this->cliente->id?>"  /><br />
            
            
            <div  class="row-fluid filaFormulario">
            	<?
				### Si hay al menos un mes con adeudo es porque el cliente al menos debe el mes actual
				 if($this->cliente->estatus=="DESCONECTAR"){?>
            	<table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Cantidad</th>
                      <th>Tipo</th>
                      <th>Concepto</th>
                      <th>Monto</th>
                      <th>Subtotal</th>
                      <th>Recargo</th>
                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody>
                  	<?
					 $total=0;
					 foreach($this->servicios as $servicio){?>
                    <tr>
                      <td><? echo $this->meses?></td>
                      <td>Servicio contratado</td>
                      <td><?=$servicio['nombre']?></td>
                      <td>$<?=sprintf("%0.2f",$servicio['tarifa'])?></td>
                      <td>$<?=sprintf("%0.2f",$servicio['tarifa']*$this->meses)?></td>
                      <td>$<?=sprintf("%0.2f",$servicio['recargo'])?></td>
                      <td class="divMonto">$<? echo sprintf("%0.2f",$servicio['recargo']+($servicio['tarifa']*$this->meses))?></td>
                    </tr>
                    <? $total+=($servicio['recargo']+($servicio['tarifa']*$this->meses));}?>
                    <?php if($servicio['favor'] > 0){ ?>
                      <tr >
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><b>Descuento por saldo a favor</b></td>
                        <td class="divMonto"><?php if($servicio['favor']>= ($servicio['recargo']+($servicio['tarifa']*$this->meses))) echo "$-".sprintf("%0.2f",$servicio['recargo']+($servicio['tarifa']*$this->meses)); else echo "$-".$servicio['favor']; ?></td>
                      </tr>
                    <?php } ?>
                    <tr >
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><b>Descuento</b></td>
                        <td><input type="text" name="descuento" id="descuento" onkeyup="calculatotalamostrar2(<?php echo $total;?>);" style="width:100px" /></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><b>Total a  pagar</b></td>
                      <?php 
                      if($servicio['favor'] > 0){
                        if($servicio['favor'] >= ($servicio['recargo']+($servicio['tarifa']*$this->meses))) 
                            echo "<td id='divTotal' ><b>$0.00</b></td>";
                        else 
                        {
                          $pre = $total-$servicio['favor'];
                          echo "<td id='divTotal' ><b>$".$pre."</b></td>";
                        }
                      }
                      else{?>
                        <td id="divTotal" ><b>$<? echo sprintf("%0.2f",$total)?></b></td>
                      <?php } ?>
                    </tr>
                  </tbody>
                </table>
                <? }
				### Si hay al menos un mes con adeudo es porque el cliente al menos debe el mes actual
				 else if($this->cliente->estatus=="DESCONECTAR" ){?>
            	<div id="divPagoadelantado">
                  	<table class="table table-bordered">
                      <thead>
                        <tr>
                          <th colspan="2">Pagar mes en curso o meses por adelantado.</th>
                          <th colspan="3">
                          	<select name="selectPagarMesesAdelantado" id="selectPagarMesesAdelantado" onchange="calculaMesesPorAdelantadoDesconectar(<?=$this->cliente->id?>,this.value);">
                            	<option value="0">Ninguno</option>
                                <option value="1">1 mes por adelantado</option>
                                <option value="2">2 meses poradelantado</option>
                                <option value="3">3 meses por adelantado</option>
                                <option value="4">4 meses por adelantado</option>
                                <option value="6">6 meses por adelantado</option>
                                <option value="8">8 meses por adelantado</option>
                                <option value="10">10 meses por adelantado</option>
                                <option value="12">12 meses por adelantado</option>
                            </select>
                          </th>
                        </tr>
                      </thead>
                      <tbody id="bodyTablaPagoAdelantado">

                      </tbody>
                    </table>
                    
                    
                  	
                  </div>
                  <? }
				  ### En otro caso el cliente está al corriente; 
				  else if($this->cliente->estatus=="ACTIVO"){?>
                  <div id="divPagoadelantado">
                  	<table class="table table-bordered">
                      <thead>
                        <tr>
                          <th colspan="2">Pagar meses por adelantado</th>
                          <th colspan="3">
                          	<select name="selectPagarMesesAdelantado" id="selectPagarMesesAdelantado" onchange="calculaMesesPorAdelantado(<?=$this->cliente->id?>,this.value);">
                            	<option value="0">Ninguno</option>
                                <option value="1">1 mes por adelantado</option>
                                <option value="2">2 meses poradelantado</option>
                                <option value="3">3 meses por adelantado</option>
                                <option value="4">4 meses por adelantado</option>
                                <option value="6">6 meses por adelantado</option>
                                <option value="8">8 meses por adelantado</option>
                                <option value="10">10 meses por adelantado</option>
                                <option value="12">12 meses por adelantado</option>
                            </select>
                          </th>
                        </tr>
                      </thead>
                      <tbody id="bodyTablaPagoAdelantado">

                      </tbody>
                    </table>
                    
                    
                  	
                  </div>
				  <? }else if($this->cliente->estatus=="CORTAR"  || $this->cliente->estatus=="RETIRAR" || $this->cliente->estatus=="RETIRADO" || $this->cliente->estatus=="BAJA" || $this->cliente->estatus=="BAJA VOLUNTARIA"){?>
                  <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Cantidad</th>
                      <th>Tipo</th>
                      <th>Concepto</th>
                      <th>Tarifa de recuperacion</th>
                    </tr>
                  </thead>
                  <tbody>
                  	<?
					 $total=0;
					 foreach($this->servicios as $servicio){?>
                    <tr>
                      <td>1</td>
                      <td>Servicio contratado</td>
                      <td><?=$servicio['nombre']?></td>
                      <td>$<?=sprintf("%0.2f",$servicio['recuperacion'])?></td>
                    </tr>
                    <? $total+=$servicio['recuperacion'];}?>
                    <tr>
                      <td></td>
                      <td></td>
                      <td><b>Total a  pagar</b></td>
                      <td><b>$<? echo sprintf("%0.2f",$total)?></b></td>
                    </tr>
                  </tbody>
                </table>
                  <? }?>
                  
                  <? if($this->cliente->estatus=="CORTAR" || $this->cliente->estatus=="ACTIVO" || $this->cliente->estatus=="DESCONECTAR"){?>
                  

                  
                  <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th colspan="2">Servicios adicionales</th>
                          <th colspan="3" align="right"><input type="button" class="btn btn-primary" value="Añadair servicios adicionales" id="btnAnadirServiciosAdicionales" /></th>
                        </tr>
                      </thead>
                      <tbody id="bodyTablaPagoAdelantadoAdicionales">
                      	<tr id="trEncabezadoAdicionales">
                          <td width="20%"><b>Cantidad</b></td>
                          <td width="20%"><b>Concepto</b></td>
                          <td width="20%"><b>Tarifa</b></td>
                          <td width="20%"><b>Monto</b></td>
                          <td width="20%"><b>Total</b></td>
                        </tr>
                      </tbody>
                   </table>
            		<? }?>
                    <br />
                    <? if($this->cliente->estatus=="CORTAR" || $this->cliente->estatus=="ACTIVO"){?>
                    <table class="table table-bordered">
                      <thead>
                        <tr bgcolor="#BFBFFF" id="trDescuento" style="display:none">
                          <th align="right" width="20%">&nbsp;</th>
                          <th width="20%">&nbsp;</th>
                          <th width="20%">&nbsp;</th>
                          <th style="text-align:right;" width="20%">Descuento</th>
                          <th width="20%"><input type="text" name="descuento" id="descuento" onkeyup="calculatotalamostrar();" style="width:100px" /></th>
                        </tr>
                        <tr bgcolor="#BFBFFF">
                          <th align="right" width="20%">&nbsp;</th>
                          <th width="20%">&nbsp;</th>
                          <th width="20%">&nbsp;</th>
                          <th style="text-align:right;" width="20%">Total</th>
                          <th id="divTotal"  width="20%"></th>
                        </tr>
                      </thead>
                   </table>
                    <? }?>
            </div>
          

        </div>        
    </div>
    </form>