<form name="frmAplicarpago" id="frmAplicarpago" action="/transacciones/cobranza/guardarpagoadicional"  method="post" >
    <div  class="row-fluid contenedorFormulario">
        
        <div  class="row-fluid">
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>NÚMERO DE CONTRATO</label></div>
                <div class="span3"><?=$this->cliente->contrato?></div>
                <div class="span2"><label>CLIENTE</label></div>
                <div class="span3"><?=$this->cliente->nombre?></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>CALLE</label></div>
                <div class="span3"><?=$this->cliente->calle?> </div>
                <div class="span2"><label>NUMERO EXTERIOR</label></div>
                <div class="span3"><?=$this->cliente->no_exterior?></div>
            </div>
            <div  class="row-fluid filaFormulario">
                 <div class="span2"><label>NUMERO INTERIOR</label></div>
                <div class="span3"><?=$this->cliente->no_interior?></div>
                <div class="span2"><label>COLONIA</label></div>
                <div class="span3"><?=Colonia::obtenerColonia($this->cliente->colonia_id)?></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>ESTATUS</label></div>
                <div class="span3" style="background-color:#FF9F9F"><?=$this->cliente->estatus?></div>
                <div class="span2"><label>ULTIMO MES CUBIERTO</label></div>
                <div class="span3" style="background-color:#FF9F9F"><?=$this->cliente->ultimomescubierto?></div>
            </div>
            <input type="hidden" name="cliente_id" id="cliente_id" value="<?=$this->cliente->id?>"  /><br />
            
            
            <div  class="row-fluid filaFormulario">
            	<?
				### Si hay al menos un mes con adeudo es porque el cliente al menos debe el mes actual
				?>
            	<table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Cantidad</th>
                      <th>Tipo</th>
                      <th>Concepto</th>
                      <th>Monto</th>
                      <th>Subtotal</th>
                      <th>Recargo</th>
                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody>
                  	<?
					 $total=0;
					 foreach($this->cobranza->CobranzaDetalle as $cobro){?>
                    <tr>
                      <td><? echo $cobro->cantidad?></td>
                      <td>Otros conceptos</td>
                      <td><? echo $cobro->otro_concepto?></td>
                      <td>$<?=sprintf("%0.2f",$cobro->monto)?></td>
                      <td>$<?=sprintf("%0.2f",$cobro->monto*$cobro->cantidad)?></td>
                      <td>$<?=sprintf("%0.2f",$cobro->recargo)?></td>
                      <td>$<? echo sprintf("%0.2f",($cobro->monto*$cobro->cantidad))?></td>
                    </tr>
                    <? }?>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><b>Total a  pagar</b></td>
                      <td><b>$<? echo sprintf("%0.2f",$this->cobranza->total)?></b></td>
                    </tr>
                  </tbody>
                </table>
                    
                  	
                  </div>
                  
            </div>
          

        </div>        
    </div>
    <input type="hidden" name="id" id="id" value="<?=$this->cobranza->id?>" />
    </form>