<? if($this->periodos>0){?>
<tr>
  <td width="20%"><b>Cantidad</b></td>
  <td width="20%"><b>Concepto</b></td>
  <td width="20%"><b>Tarifa normal</b></td>
  <td width="20%"><b>Tarifa <?=$this->periodos?> meses</b></td>
  <td width="20%"><b>A pagar</b></td>
</tr>

<? $total=0; foreach($this->servicios as $servicio){?>
<tr>
  <td width="20%"><?=$this->periodos?></td>
  <td width="20%"><?=$servicio['nombre']?></td>
  <td width="20%">$<?=sprintf("%0.2f",$servicio['tarifa_normal'])?></td>
  <td width="20%">$<?=sprintf("%0.2f",$servicio['tarifa_adelantado'])?></td>
  <td width="20%" class="divMonto">$<? echo sprintf("%0.2f",($servicio['tarifa_adelantado']*$this->periodos))?></td>
</tr>
<? $total+=$servicio['tarifa_adelantado']*$this->periodos;}?>
<?php if($this->saldo_a_favor > 0){
  if($this->saldo_a_favor >= $total)
    $saldo_a_favor=$total;
  else
    $saldo_a_favor = $this->saldo_a_favor;
?>
<tr>
  <td width="20%">1</td>
  <td width="20%">Descuento por saldo a favor</td>
  <td width="20%">$<?=sprintf("%0.2f",$saldo_a_favor*-1)?></td>
  <td width="20%">$<?=sprintf("%0.2f",$saldo_a_favor*-1)?></td>
  <td width="20%" class="divMonto">$<? echo sprintf("%0.2f",($saldo_a_favor*-1))?></td>
</tr>
<?php $total=$total-$saldo_a_favor;}?>

<input type="hidden" name="descuento_saldo_a_favor" id="descuento_saldo_a_favor" value="<?=$saldo_a_favor?>" />
<input type="hidden" name="totalApagar" id="totalApagar" value="<?=$total?>" />
<? }?>
		
        
        
