<? if($this->periodos>0){?>
<tr>
  <td width="16%"><b>Cantidad</b></td>
  <td width="20%"><b>Concepto</b></td>
  <td width="16%"><b>Tarifa normal</b></td>
  <td width="16%"><b>Tarifa <?=$this->periodos?> meses</b></td>
  <td width="16%"><b>Recargo</b></td>
  <td width="16%"><b>A pagar</b></td>
</tr>

<? $total=0; foreach($this->servicios as $servicio){?>
<tr>
  <td width="16%"><?=$this->periodos?></td>
  <td width="20%"><?=$servicio['nombre']?></td>
  <td width="16%">$<?=sprintf("%0.2f",$servicio['tarifa_normal'])?></td>
  <td width="16%">$<?=sprintf("%0.2f",$servicio['tarifa_adelantado'])?></td>
  <td width="16%">$<?=sprintf("%0.2f",$servicio['ajuste'])?></td>
  <td width="16%" class="divMonto">$<? echo sprintf("%0.2f",($servicio['tarifa_adelantado']*$this->periodos)+$servicio['ajuste'])?></td>
</tr>
<? $total+=$servicio['tarifa_adelantado']*$this->periodos;}?>
<input type="hidden" name="totalApagar" id="totalApagar" value="<?=$total?>" />
<? }?>
		
        
        
