<form name="frmCancelarpago" id="frmCancelarpago" method="post" action="/transacciones/cobranza/cancelarpago">
    <div  class="row-fluid contenedorFormulario">
    	<div  class="row-fluid">
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>CONTRATO</label></div>
                <div class="span4"><input type="text" value="<?php echo $this->registro->Cliente->contrato?>" disabled="disabled" /></div>
                <div class="span2"><label>CLIENTE</label></div>
                <div class="span4"><input type="text" value="<?php echo $this->registro->Cliente->nombre?>" disabled="disabled" /></div>
            </div>
        </div>
        
        <div  class="row-fluid">
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>FOLIO</label></div>
                <div class="span4"><input type="text" value="<?php echo $this->registro->id?>" disabled="disabled" /></div>
                <div class="span2"><label>FECHA DE PAGO</label></div>
                <div class="span4"><input type="text" value="<?php echo $this->registro->created_at?>" disabled="disabled" /></div>
            </div>
        </div>
        
        <div  class="row-fluid">
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>ULTIMO MES CUBIERTO</label></div>
                <div class="span4"><input type="text" value="<?php echo $this->registro->fecha_fin?>" disabled="disabled" /></div>
                <div class="span2"><label>CAJERO</label></div>
                <div class="span4"><input type="text" value="<?php echo $this->registro->Usuario->nombre?>" disabled="disabled" /></div>
            </div>
        </div>
        <div  class="row-fluid">
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>MONTO PAGADO</label></div>
                <div class="span4"><input type="text" value="<?php echo $this->registro->total?>" disabled="disabled" /></div>
            </div>
        </div>
        
        <div  class="row-fluid">
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>MOTIVO DE CANCELACION</label></div>
                <div class="span8"><textarea name="motivo_cancelacion" id="motivo_cancelacion"  class="required span12"  /></div>
            </div>
        </div>
    </div>
    <input type="hidden" name="id" id="id" value="<?php echo $this->registro->id?>" />
</form>