<tr id="filaAdicional_<?=$this->servicio->Servicio->id?>">
  <td width="20%">1</td>
  <td width="20%">Servicio adicional <?=$this->servicio->Servicio->nombre?></td>
  <td width="20%">Base</td>
  <td width="20%" class="divMonto">$<?=sprintf("%0.2f",$this->servicio->tarifa)?></td>
  <td width="20%">$<?=sprintf("%0.2f",$this->servicio->tarifa)?><input type="hidden" class="hdnservicioadicional" name="servicioadicional[]" id="servicioadicional_<?=$this->servicio->Servicio->id?>" value="<?=$this->servicio->Servicio->id?>" /><img src="/images/png/cancelar.png" onclick="eliminarFilaAdicional('filaAdicional_<?=$this->servicio->Servicio->id?>');" /></td>
</tr>
		
        
        
