<div  class="row-fluid contenedorFiltro">
  <div class="span12 tituloFiltro">COBRANZA</div>  
  
  <div  class="row-fluid filaFiltro">
    <div class="span1"><label>CONTRATO</label></div>
    <div class="span3"><input type="text" name="fcontrato" id="fcontrato" /></div>
    <div class="span1"><label>CLIENTE</label></div>
    <div class="span3"><input type="text" name="fnombre" id="fnombre" /></div>
    <div class="span2"></div>
    <div class="span2"></div>
  </div> 
  
  <div  class="row-fluid filaFiltro">
    <div class="span1"><label>TELÉFONO</label></div>
    <div class="span3"><input type="text" name="ftelefono" id="ftelefono" /></div>
    <div class="span1"></div>
    <div class="span3"><a class="btn btn-primary span10" href="#" onclick="filtrarCobranza();">Buscar&nbsp; &nbsp;<i class="icon-search icon-white"></i></a></div>
    <div class="span2"></div>
    <div class="span2"></div>
  </div> 
  
 
       
</div>

<div  class="row-fluid contenedorGrid">
<div id="flexgrid"></div>
</div>
