body {
	margin: 0px;
	background:#9AC146;
	font-family: Arial, Helvetica, sans-serif;
}




#login {
	width: 365px;
	height:365px;
	margin:60px auto;
	background:url(../images/fondo_form_login.png);
}

#login  label{
	color:#1471B3;
	font-size:17px;
	margin-left:27px;
	margin-bottom:5px;
}

#login  input[type=text], #login  input[type=password]{
	margin-left:27px;
	margin-top:7px;
    margin-bottom:7px;
}

#loginBienvenido
{
	margin:auto;
	width:365px;
	min-height:32px;	
	color:#1471B3;
	font-size:32px;
	font-weight:bold;
	text-align:center;
}

#loginPorfavor
{
	margin: 10px auto;
	width:365px;
	height:20px;	
	color:#1471B3;
	font-size:17px;
	font-weight:bold;
	text-align:center;
	position:relative;
}

#hrLogin
{
	width:320px;
	height:4px;
	background-color:#666;
	border:0px;
	margin-top:5px;
	margin-left:22px;
	margin-bottom:7px;
}



.error {
	color:#F00;
	font-size:12px;
	clear:both	
}


.boton_verde
{
	background: transparent url(/images/boton_verde.png) no-repeat;
	background-position:center;	
	background-repeat:no-repeat;
	width:152px;
	height:40px;
	border:none;
	cursor:pointer;
	color:white;
	font-size:18px;
	padding-right:50px;
}

.botoneraCentral
{
	width:100%;
	text-align:center;
	height:40px;
}