body {
	margin: 0px;
	background:#9AC146;
	font-family: Arial, Helvetica, sans-serif;
}

#contenedorMenu
{
	background-image:url(/images/barraMenu.png);
	background-repeat:repeat-x;
	background-position:center;
}

#menu
{
	width:1024px;
	height:64px;
	margin:auto;
	font-size:14px;
	font-weight:bold;	
}

#menu a
{
    text-decoration: none;
}

#menu div.opcion
{
	margin-top:40px;
	color:#1471B3;
	font-size:14px;
}

.submenu
{
  -webkit-background-clip:padding-box;
  -webkit-box-shadow:rgba(0, 0, 0, 0.2) 0 5px 10px;
  background-clip:padding-box;
  background-color:#FFFFFF;
  border:1px solid rgba(0, 0, 0, 0.2);
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  box-shadow:rgba(0, 0, 0, 0.2) 0 5px 10px;
  list-style:none;
  margin:2px 0 0;
  min-width:160px;
  position:absolute;
  z-index:1000;
  visibility:hidden;

}

.submenu li
{
    width: 200px;
}

.submenu li a:link, .submenu li a:visited
{
    color: #1471B3;
    text-decoration: none;
    display:block;
    padding-left: 5px;
}

.submenu li > a:hover
{
    background-color: #006dcc;
    color:#fff;
}

#contenedorPrincipal
{
	width:1120px;
	margin:auto;
	min-height:550px;
	margin-top:30px;
}


.contenedorFiltro
{
	background-color:#F2F2F2;
	min-height:100px;
	padding:2px 2px 0px 2px;
}

.tituloFiltro
{
	height:36px;
	line-height:33px;
	background-color: #246393;
	color:white;
	font-size:16px;
	font-weight:bold;
	padding-left:10px;
	clear:both;
	margin-bottom:20px;
}

.filaFiltro
{
	margin-left:0px;
	margin-bottom:7px;
}

.filaFiltro label
{
	padding-top:5px;
}

.contenedorGrid
{
	background-color:#fff;
	min-height:480px;
	padding:2px 2px 0px 2px;
	margin-top:20px;
        margin-bottom: 20px;
}

.tituloGrid
{
	height:30px;
	line-height:30px;
	background-image:url(/images/barraTituloFiltro.png);
	color:white;
	font-size:13px;
	font-weight:bold;
	clear:both;
	margin-bottom:3px;
}

.encabezadoGrid
{
	color:#FFF;
	background-color:#808080;
	height:30px;
	line-height:30px;
	font-weight:bold;
	text-align:center;
}

.filaGrid
{
	color:#808080;
	background-color:#fff;
	height:35px;
	line-height:35px;
	font-weight:bold;
	clear:both;
	text-align:center;
}

.filaGrid:hover
{
	color:#fff;
	background-color:#8CBC43;
	height:35px;
	line-height:35px;
	font-weight:bold;
	clear:both;
}



.contenedorFormulario
{
	background-color:#fff;
	min-height:150px;
	padding:2px 2px 0px 2px;
	margin-top:20px;
	margin-bottom:20px;
    width: 980px;
}

.tituloFormulario
{
	height:30px;
	line-height:30px;
	background-image:url(/images/barraTituloFiltro.png);
	color:white;
	font-size:16px;
	font-weight:bold;
	clear:both;
	margin-bottom:20px;
}




.filaFormulario label
{
	padding-top:5px;
}


.boton_verde
{
	background: transparent url(/images/boton_verde.png) no-repeat;
	background-position:center;	
	background-repeat:no-repeat;
	width:152px !important;
	height:40px;
	border:none;
	cursor:pointer;
	color:white;
	font-size:18px;
	padding-right:50px;
}

.botoneraCentral
{
	width:100%;
	text-align:center;
	height:40px;
}

.displayNone
{
    display: none;
}

div.error
{  
  background-color:#F2DEDE;
  border:1px solid #EED3D7;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  color:#B94A48;
  margin-bottom:6px;
  padding:2px;
  width: 220px;
  font-size: 11px;
}

.divTituloPermisos
{
    width: 400px;
    clear:both;
}

.tituloPermisos
{
    display: block;
    width: 200px;
    float: left;
}

#resizable {min-height: 160px; padding: 0.5em;}
#resizable h5{text-align: center; margin: 0;}
.formato {width: 50px;}
.plazaTarifa{ width: 190px; margin-left: 15px; float:left; }/**180*/    
.defincionTarifa{ width: 490px; margin-left: 15px; float:left; }/**180*/
.etiqueta{font-size: 0.8em; padding: 1px !important; }

/*********COMISIONES*********/
.contenedorComisionesTarifas
{
	min-width:1000px;
	min-height:150px;
	margin-bottom:10px;
	clear:both;
	background-color:#FFF;
	padding:20px;
	overflow:auto;
}

/***********DEFINICIÓN DE TARIFAS*****************/
.contenedorServicioTarifas
{
	min-width:1000px;
	min-height:800px;
	margin-bottom:10px;
	clear:both;
	background-color:#FFF;
	padding:20px;
	overflow:auto;
}

.nombreServicioTarifas
{
	height:30px;
	line-height:30px;
	background-image:url(/images/barraTituloFiltro.png);
	color:white;
	font-size:16px;
	font-weight:bold;
	clear:both;
	margin-bottom:10px;
	
}

.contenedorPlazasTarifas
{
	float:left;

}

.contenedorPlazaTarifas
{
	float:left;
	width:680px;
	margin-right:15px;
}

.botoneraTarifas
{
	width:1020px;
	background:#FFF;
	margin-bottom:10px;
	min-height:40px;
	padding:10px;	
}

/***********DEFINICIÓN DE TARIFAS*****************/

.contenedor{
    width: 818px;
    min-height: 50px;
}

.contenedor1{
    width:261px;
    height:30px;
    float:left;
    margin-left: 10px;
}

.contenedor3{
    width:205px;
	float:left;
}

.contenedor4{
    width: auto;
	float:left;
}



/*********CONTENDOR CONTRATACION*********/

.contenderoContratacion
{
	width:960px;
}

.contenderoContratacion div.encabezado
{
	font-size:13px;
	font-weight:bold;
	clear:both;
}

.contenderoContratacion div.cuerpo
{
	font-size:12px;
	clear:both;
	height:auto;
}

.contenderoContratacion div.encabezado div
{
	float:left;
	background-color:#E0E0E0;
	width:183px;
	border: 1px solid #FFF;
	text-align:center;
	height:35px;
	line-height:35px;
}

.contenderoContratacion div.cuerpo div
{
	float:left;
	width:183px;
	border: 1px solid #FFF;
	text-align:center;
	height:auto;
}

.contenderoContratacion div.cuerpo div.eliminar
{
	float:left;
	width:30px !important;
	border: 1px solid #FFF;
	text-align:center;
}


.requiereautorizacion div
{
	background-color:#FFCACA;
}
.digits
{
	width: 20px !important;
	font-size: 11px !important;
}

