<form name="frmSucursal" id="frmSucursal" method="post" action="/catalogos/sucursal/guardar"> 
    <div  class="row-fluid contenedorFormulario">
        <div  class="row-fluid">
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>SUCURSAL</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="Sucursal" class="required" value="<?php echo $this->registro->nombre;?>" /></div>
                <div class="span2"><label>PLAZA</label></div>
                <div class="span3">
                <select name="plaza_id" id="plaza_id" class="required">
                	<option value="">Elija una plaza</option>
                    <? foreach($this->plazas as $plaza){?>
                    <option value="<?=$plaza->id?>" <? if($plaza->id==$this->registro->plaza_id) echo "selected";?>><?=$plaza->nombre?></option>
                    <? }?>
                </select>
                </div>
            </div>
        </div> 
    </div>
    <input type="hidden" name="id" id="id" value="<?php echo $this->registro->id?>" />
</form>