<?php if($this->view->tipo != 3){
    if($this->reporte=="clientesPagados"){?>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Contrato</th>
            <th>Cliente</th>
            <th>Plaza</th>
            <th>Monto</th>
            <th>Mes cubierto</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach($this->resultado as $resultado){?>
        <tr>
            <td><?php echo $resultado->created_at?></td>
            <td><?php echo $resultado->Cliente->contrato?></td>
            <td><?php echo $resultado->Cliente->nombre?></td>
            <td><?php echo $resultado->Plaza->nombre?></td>
            <td><?php echo $resultado->total?></td>
            <td><?php echo $resultado->fecha_fin?></td>
        </tr>
        <?php }?>
    </tbody>
</table>
<?php }?>

<?php if($this->reporte=="mensualidadesCobradas"){?>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Contrato</th>
            <th>Cliente</th>
            <th>Plaza</th>
            <th>Monto</th>
            <th>Periodos</th>
            <th>Mes cubierto</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach($this->resultado as $resultado){?>
        <tr>
            <td><?php echo $resultado->created_at?></td>
            <td><?php echo $resultado->Cliente->contrato?></td>
            <td><?php echo $resultado->Cliente->nombre?></td>
            <td><?php echo $resultado->Plaza->nombre?></td>
            <td><?php echo $resultado->total?></td>
            <td><?php echo My_Comun::numero_de_meses1($resultado->fecha_fin, $resultado->fecha_inicio);?></td>
            <td><?php echo $resultado->fecha_fin?></td>
        </tr>
        <?php }?>
    </tbody>
</table>
<?php }?>

<?php if($this->reporte=="recuperaciones"){?>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Contrato</th>
            <th>Cliente</th>
            <th>Plaza</th>
            <th>Monto</th>
            <th>Mes cubierto</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach($this->resultado as $resultado){?>
        <tr>
            <td><?php echo $resultado->created_at?></td>
            <td><?php echo $resultado->Cliente->contrato?></td>
            <td><?php echo $resultado->Cliente->nombre?></td>
            <td><?php echo $resultado->Plaza->nombre?></td>
            <td><?php echo $resultado->total?></td>
            <td><?php echo $resultado->fecha_fin?></td>
        </tr>
        <?php }?>
    </tbody>
</table>
<?php }?>

<?php if($this->reporte=="ventas"){?>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Vendedor</th>
            <th>Contrato</th>
            <th>Cliente</th>
            <th>Plaza</th>
            <th>Concepto</th>
            <th>Monto</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach($this->resultado as $resultado){?>
        <tr>
            <td><?php echo $resultado['fecha_contratacion']?></td>
            <?php if($resultado['vendedor_id']>0){?>
            <td><?php echo Usuario::obtenerNombreUsuario($resultado['vendedor_id'])?></td>
            <?php }else if($resultado['promotor']>0){?>
            <td><?php echo Usuario::obtenerNombreUsuario($resultado['promotor'])?></td>
            <?php }else if($resultado['53']>0){?>
            <td><?php echo Usuario::obtenerNombreUsuario($resultado['53'])?></td>
            <?php }else if($resultado['50']>0){?>
            <td><?php echo Usuario::obtenerNombreUsuario($resultado['50'])?></td>
            <?php }else {?>
            <td><?php echo "N/A";?></td>
            <?php }?>
            <td><?php echo $resultado['contrato']?></td>
            <td><?php echo $resultado['nombre']?></td>
            <td><?php echo Plaza::obtenerNombrePlaza($resultado['49'])?></td>
            <td><?php echo ConceptoDeContratacion::obtenerNombreConcepto(CobranzaDetalle::obtenerDetalle($resultado['0'])->concepto_contratacion_id)?></td>
            <td><?php echo $resultado['total']?></td>
        </tr>
        <?php }?>
    </tbody>
</table>
<?php }?>

<?php if($this->reporte=="instalaciones"){?>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Fecha instalación</th>
            <th>Contrato</th>
            <th>Cliente</th>
            <th>Plaza</th>
            <th>Técnico</th>
            <th>Cable</th>
            <th>Conector</th>
            <th>Divisor2</th>
            <th>Divisor3</th>
            <th>Divisor4</th>
            <th>Grapas</th>
            <th>Cable excedente</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach($this->resultado as $resultado){?>
        <tr>
            <td><?php echo $resultado['fecha_instalacion']?></td>
            <td><?php echo Cliente::obtenerCliente("id = ".$resultado['cliente_id'])->contrato?></td>
            <td><?php echo Cliente::obtenerCliente("id = ".$resultado['cliente_id'])->nombre?></td>
            <td><?php echo Cliente::obtenerCliente("id = ".$resultado['cliente_id'])->Plaza->nombre?></td>
            <td><?php echo (Usuario::obtenerNombreUsuario($resultado['tecnico_id']) == null || Usuario::obtenerNombreUsuario($resultado['tecnico_id']) == '')? "No definido":Usuario::obtenerNombreUsuario($resultado['tecnico_id']);?></td>
            <td><?php echo $resultado['cable']?></td>
            <td><?php echo $resultado['conector']?></td>
            <td><?php echo $resultado['divisor2']?></td>
            <td><?php echo $resultado['divisor3']?></td>
            <td><?php echo $resultado['divisor4']?></td>
            <td><?php echo $resultado['grapas']?></td>
            <td><?php echo $resultado['cable_excedente']?></td>
        </tr>
        <?php }?>
    </tbody>
</table>
<?php }?>

<?php if($this->reporte=="desconexiones"){?>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Fecha desconexion</th>
            <th>Contrato</th>
            <th>Cliente</th>
            <th>Plaza</th>
            <th>Técnico</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach($this->resultado as $resultado){?>
        <tr>
            <td><?php echo $resultado['fecha_desconexion']?></td>
            <td><?php echo Cliente::obtenerCliente("id = ".$resultado['cliente_id'])->contrato?></td>
            <td><?php echo Cliente::obtenerCliente("id = ".$resultado['cliente_id'])->nombre?></td>
            <td><?php echo Cliente::obtenerCliente("id = ".$resultado['cliente_id'])->Plaza->nombre?></td>
            <td><?php echo (Usuario::obtenerNombreUsuario($resultado['tecnico_id']) == null || Usuario::obtenerNombreUsuario($resultado['tecnico_id']) == '')? "No definido":Usuario::obtenerNombreUsuario($resultado['tecnico_id']);?></td>
        </tr>
        <?php }?>
    </tbody>
</table>
<?php }?>

<?php if($this->reporte=="reconexiones"){?>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Fecha reconexion</th>
            <th>Contrato</th>
            <th>Cliente</th>
            <th>Plaza</th>
            <th>Técnico</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach($this->resultado as $resultado){?>
        <tr>
            <td><?php echo $resultado['fecha_reconexion']?></td>
            <td><?php echo Cliente::obtenerCliente("id = ".$resultado['cliente_id'])->contrato?></td>
            <td><?php echo Cliente::obtenerCliente("id = ".$resultado['cliente_id'])->nombre?></td>
            <td><?php echo Cliente::obtenerCliente("id = ".$resultado['cliente_id'])->Plaza->nombre?></td>
            <td><?php echo (Usuario::obtenerNombreUsuario($resultado['tecnico_id']) == null || Usuario::obtenerNombreUsuario($resultado['tecnico_id']) == '')? "No definido":Usuario::obtenerNombreUsuario($resultado['tecnico_id']);?></td>
        </tr>
        <?php }?>
    </tbody>
</table>
<?php }?>

<?php if($this->reporte=="cambioDomicilio"){?>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Contrato</th>
            <th>Cliente</th>
            <th>Plaza</th>
            <th>Estatus</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach($this->resultado as $resultado){?>
        <tr>
            <td><?php echo $resultado['created_at']?></td>
            <td><?php echo Cliente::obtenerCliente("id = ".$resultado['cliente_id'])->contrato?></td>
            <td><?php echo Cliente::obtenerCliente("id = ".$resultado['cliente_id'])->nombre?></td>
            <td><?php echo Cliente::obtenerCliente("id = ".$resultado['cliente_id'])->Plaza->nombre?></td>
            <td>
                <?php 
                    switch($resultado['status'])
                    {
                        case "-1": echo "Cancelada"; break;
                        case "0": echo "Sin atender"; break;
                        case "1": echo "Atendida"; break;
                    }
                ?>
            </td>
        </tr>
        <?php }?>
    </tbody>
</table>
<?php }?>

<?php if($this->reporte=="extensionesAdicionales"){?>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Contrato</th>
            <th>Cliente</th>
            <th>Plaza</th>
            <th>Estatus</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach($this->resultado as $resultado){?>
        <tr>
            <td><?php echo $resultado['created_at']?></td>
            <td><?php echo Cliente::obtenerCliente("id = ".$resultado['cliente_id'])->contrato?></td>
            <td><?php echo Cliente::obtenerCliente("id = ".$resultado['cliente_id'])->nombre?></td>
            <td><?php echo Cliente::obtenerCliente("id = ".$resultado['cliente_id'])->Plaza->nombre?></td>
            <td>
                <?php 
                    switch($resultado['status'])
                    {
                        case "-1": echo "Cancelada"; break;
                        case "0": echo "Sin atender"; break;
                        case "1": echo "Atendida"; break;
                    }
                ?>
            </td>
        </tr>
        <?php }?>
    </tbody>
</table>
<?php }?>

<?php if($this->reporte=="retiros"){?>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Fecha retiro</th>
            <th>Contrato</th>
            <th>Cliente</th>
            <th>Plaza</th>
            <th>Técnico</th>
            <th>Cable</th>
            <th>Conector</th>
            <th>Divisor2</th>
            <th>Divisor3</th>
            <th>Divisor4</th>
            <th>Grapas</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach($this->resultado as $resultado){?>
        <tr>
            <td><?php echo $resultado['fecha_retiro']?></td>
            <td><?php echo Cliente::obtenerCliente("id = ".$resultado['cliente_id'])->contrato?></td>
            <td><?php echo Cliente::obtenerCliente("id = ".$resultado['cliente_id'])->nombre?></td>
            <td><?php echo Cliente::obtenerCliente("id = ".$resultado['cliente_id'])->Plaza->nombre?></td>
            <td><?php echo (Usuario::obtenerNombreUsuario($resultado['tecnico_id']) == null || Usuario::obtenerNombreUsuario($resultado['tecnico_id']) == '')? "No definido":Usuario::obtenerNombreUsuario($resultado['tecnico_id']);?></td>
            <td><?php echo $resultado['cable']?></td>
            <td><?php echo $resultado['conector']?></td>
            <td><?php echo $resultado['divisor2']?></td>
            <td><?php echo $resultado['divisor3']?></td>
            <td><?php echo $resultado['divisor4']?></td>
            <td><?php echo $resultado['grapas']?></td>
        </tr>
        <?php }?>
    </tbody>
</table>
<?php }?>
<?php }
else{
    if($this->reporte=="clientesPagados"){?>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Contrato</th>
            <th>Cliente</th>
            <th>Plaza</th>
            <th>Monto</th>
            <th>Mes cubierto</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach($this->resultado as $resultado){?>
        <tr>
            <td><?php echo $resultado->created_at?></td>
            <td><?php echo $resultado->Cliente->contrato?></td>
            <td><?php echo $resultado->Cliente->nombre?></td>
            <td><?php echo $resultado->Plaza->nombre?></td>
            <td><?php echo $resultado->total?></td>
            <td><?php echo $resultado->fecha_fin?></td>
        </tr>
        <?php }?>
    </tbody>
</table>
<?php }?>

<?php if($this->reporte=="mensualidadesCobradas"){?>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Contrato</th>
            <th>Cliente</th>
            <th>Plaza</th>
            <th>Monto</th>
            <th>Periodos</th>
            <th>Mes cubierto</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach($this->resultado as $resultado){?>
        <tr>
            <td><?php echo $resultado->created_at?></td>
            <td><?php echo $resultado->Cliente->contrato?></td>
            <td><?php echo $resultado->Cliente->nombre?></td>
            <td><?php echo $resultado->Plaza->nombre?></td>
            <td><?php echo $resultado->total?></td>
            <td><?php echo My_Comun::numero_de_meses1($resultado->fecha_fin, $resultado->fecha_inicio);?></td>
            <td><?php echo $resultado->fecha_fin?></td>
        </tr>
        <?php }?>
    </tbody>
</table>
<?php }?>

<?php if($this->reporte=="recuperaciones"){?>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Contrato</th>
            <th>Cliente</th>
            <th>Plaza</th>
            <th>Monto</th>
            <th>Mes cubierto</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach($this->resultado as $resultado){?>
        <tr>
            <td><?php echo $resultado->created_at?></td>
            <td><?php echo $resultado->Cliente->contrato?></td>
            <td><?php echo $resultado->Cliente->nombre?></td>
            <td><?php echo $resultado->Plaza->nombre?></td>
            <td><?php echo $resultado->total?></td>
            <td><?php echo $resultado->fecha_fin?></td>
        </tr>
        <?php }?>
    </tbody>
</table>
<?php }?>

<?php if($this->reporte=="ventas"){?>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Vendedor</th>
            <th>Contrato</th>
            <th>Cliente</th>
            <th>Plaza</th>
            <th>Concepto</th>
            <th>Monto</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach($this->resultado as $resultado){?>
        <tr>
            <td><?php echo $resultado->created_at?></td>
            <?php if($resultado->Cliente->vendedor_id>0){?>
            <td><?php echo $resultado->Cliente->Vendedor->nombre?></td>
            <?php }else{?>
            <td><?php echo $resultado->Cliente->Usuario->nombre?></td>
            <?php }?>
            <td><?php echo $resultado->Cliente->contrato?></td>
            <td><?php echo $resultado->Cliente->nombre?></td>
            <td><?php echo $resultado->Plaza->nombre?></td>
            <td><?php echo $resultado->CobranzaDetalle[0]->ConceptoDeContratacion->nombre?></td>
            <td><?php echo $resultado->total?></td>
        </tr>
        <?php }?>
    </tbody>
</table>
<?php }?>

<?php if($this->reporte=="instalaciones"){?>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Fecha instalación</th>
            <th>Contrato</th>
            <th>Cliente</th>
            <th>Plaza</th>
            <th>Técnico</th>
            <th>Cable</th>
            <th>Conector</th>
            <th>Divisor2</th>
            <th>Divisor3</th>
            <th>Divisor4</th>
            <th>Grapas</th>
            <th>Cable excedente</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach($this->resultado as $resultado){?>
        <tr>
            <td><?php echo $resultado->fecha_instalacion?></td>
            <td><?php echo $resultado->Cliente->contrato?></td>
            <td><?php echo $resultado->Cliente->nombre?></td>
            <td><?php echo $resultado->Cliente->Plaza->nombre?></td>
            <td><?php echo ($resultado->Tecnico->nombre == null || $resultado->Tecnico->nombre == '')? "No definido":$resultado->Tecnico->nombre;?></td>
            <td><?php echo $resultado->cable?></td>
            <td><?php echo $resultado->conector?></td>
            <td><?php echo $resultado->divisor2?></td>
            <td><?php echo $resultado->divisor3?></td>
            <td><?php echo $resultado->divisor4?></td>
            <td><?php echo $resultado->grapas?></td>
            <td><?php echo $resultado->cable_excedente?></td>
        </tr>
        <?php }?>
    </tbody>
</table>
<?php }?>

<?php if($this->reporte=="desconexiones"){?>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Fecha desconexion</th>
            <th>Contrato</th>
            <th>Cliente</th>
            <th>Plaza</th>
            <th>Técnico</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach($this->resultado as $resultado){?>
        <tr>
            <td><?php echo $resultado->fecha_desconexion?></td>
            <td><?php echo $resultado->Cliente->contrato?></td>
            <td><?php echo $resultado->Cliente->nombre?></td>
            <td><?php echo $resultado->Cliente->Plaza->nombre?></td>
            <td><?php echo ($resultado->Tecnico->nombre == null || $resultado->Tecnico->nombre == '')? "No definido":$resultado->Tecnico->nombre;?></td>
        </tr>
        <?php }?>
    </tbody>
</table>
<?php }?>

<?php if($this->reporte=="reconexiones"){?>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Fecha reconexion</th>
            <th>Contrato</th>
            <th>Cliente</th>
            <th>Plaza</th>
            <th>Técnico</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach($this->resultado as $resultado){?>
        <tr>
            <td><?php echo $resultado->fecha_reconexion?></td>
            <td><?php echo $resultado->Cliente->contrato?></td>
            <td><?php echo $resultado->Cliente->nombre?></td>
            <td><?php echo $resultado->Cliente->Plaza->nombre?></td>
            <td><?php echo ($resultado->Tecnico->nombre == null || $resultado->Tecnico->nombre == '')? "No definido":$resultado->Tecnico->nombre;?></td>
        </tr>
        <?php }?>
    </tbody>
</table>
<?php }?>

<?php if($this->reporte=="cambioDomicilio"){?>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Contrato</th>
            <th>Cliente</th>
            <th>Plaza</th>
            <th>Estatus</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach($this->resultado as $resultado){?>
        <tr>
            <td><?php echo $resultado->created_at?></td>
            <td><?php echo $resultado->Cliente->contrato?></td>
            <td><?php echo $resultado->Cliente->nombre?></td>
            <td><?php echo $resultado->Cliente->Plaza->nombre?></td>
            <td>
                <?php 
                    switch($resultado->status)
                    {
                        case "-1": echo "Cancelada"; break;
                        case "0": echo "Sin atender"; break;
                        case "1": echo "Atendida"; break;
                    }
                ?>
            </td>
        </tr>
        <?php }?>
    </tbody>
</table>
<?php }?>

<?php if($this->reporte=="extensionesAdicionales"){?>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Contrato</th>
            <th>Cliente</th>
            <th>Plaza</th>
            <th>Estatus</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach($this->resultado as $resultado){?>
        <tr>
            <td><?php echo $resultado->created_at?></td>
            <td><?php echo $resultado->Cliente->contrato?></td>
            <td><?php echo $resultado->Cliente->nombre?></td>
            <td><?php echo $resultado->Cliente->Plaza->nombre?></td>
            <td>
                <?php 
                    switch($resultado->status)
                    {
                        case "-1": echo "Cancelada"; break;
                        case "0": echo "Sin atender"; break;
                        case "1": echo "Atendida"; break;
                    }
                ?>
            </td>
        </tr>
        <?php }?>
    </tbody>
</table>
<?php }?>

<?php if($this->reporte=="retiros"){?>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Fecha retiro</th>
            <th>Contrato</th>
            <th>Cliente</th>
            <th>Plaza</th>
            <th>Técnico</th>
            <th>Cable</th>
            <th>Conector</th>
            <th>Divisor2</th>
            <th>Divisor3</th>
            <th>Divisor4</th>
            <th>Grapas</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach($this->resultado as $resultado){?>
        <tr>
            <td><?php echo $resultado->fecha_retiro?></td>
            <td><?php echo $resultado->Cliente->contrato?></td>
            <td><?php echo $resultado->Cliente->nombre?></td>
            <td><?php echo $resultado->Cliente->Plaza->nombre?></td>
            <td><?php echo ($resultado->Tecnico->nombre == null || $resultado->Tecnico->nombre == '')? "No definido":$resultado->Tecnico->nombre;?></td>
            <td><?php echo $resultado->cable?></td>
            <td><?php echo $resultado->conector?></td>
            <td><?php echo $resultado->divisor2?></td>
            <td><?php echo $resultado->divisor3?></td>
            <td><?php echo $resultado->divisor4?></td>
            <td><?php echo $resultado->grapas?></td>
        </tr>
        <?php }?>
    </tbody>
</table>
<?php }}?>