<?php $idPlazaActual=0?>
<div  class="row-fluid contenedorFiltro">

  <div class="span12 tituloFiltro">
    <div class="span10">REPORTE CUANTITATIVO DE OPERACIONES</div>
    <div class="span2">
        <div class="span12"><a class="btn btn-success" onclick="filtrarReporte();" target="_blank" id="btnExportar">Exportar&nbsp;<i class="icon-list icon-white"></i></a></div> 
    </div>
  </div>   
  
  <form name="frmMetas" id="frmMetas" action="/transacciones/reportecuantitativo/index" method="post">
     
    <div  class="row-fluid filaFiltro">
        <div class="span1"><label>DESDE</label></div>
        <div class="span2"><input class="span12" type="text" name="fdesde" id="fdesde" value="<?=$_POST['fdesde']?>"/></div>
        <div class="span1"><label>HASTA</label></div>
        <div class="span2"><input class="span12" type="text" name="fhasta" id="fhasta" value="<?=$_POST['fhasta']?>"/></div>
        <div class="span1"><? if(Usuario::tipo()==0 || Usuario::tipo()==2){?><label>PLAZA</label> <? }?> </div>
        <div class="span2">
            <? if(Usuario::tipo()==0 || Usuario::tipo()==2){?>
            <select name="fplaza" id="fplaza" class="span12">
                <option value="0">Todas las plazas</option>
                <?php foreach($this->plazas as $plaza){?>
                <option value="<?php echo $plaza->id?>" <? if($_POST['fplaza']==$plaza->id) {echo "selected"; $plazaActual=$plaza->nombre; $idPlazaActual=$plaza->id;} ?>><?php echo $plaza->nombre?></option>
                <?php }?>
            </select>
            <? }?> 
        </div>
        <div class="span1"><a class="btn btn-primary"  onclick="filtrarReporte();">Filtrar</a></div> 
        <div class="span1"><a class="btn btn-primary" onclick="enviarFiltro();">Limpiar</a></div> 
    </div> 
  
    <div class="row-fluid filaFiltro">
        <div class="span1"><? if(Usuario::tipo()==0 || Usuario::tipo()==2){?><label>SUCURSAL</label> <? }?> </div>
        <div class="span2">
            <? if(Usuario::tipo()==0 || Usuario::tipo()==2){?>
            <select name="fsucursal" id="fsucursal" class="span12">
                <option value="0">Todas las sucursales</option>
                <?php foreach($this->sucursales as $sucursal){?>
                <option value="<?php echo $sucursal->id?>" ><?php echo $sucursal->nombre?></option>
                <?php }?>
            </select>
            <? }?> 
        </div>  
    </div>
    </form>    
   
  <!------------------------------------------------------------------>
    <?php                         
            $mes=0;                        
            $hasta =$this->hasta;
            echo $mes."<br>";
            while($this->meses > $mes ){ 
                //$dias = date("d",mktime(0,0,0,(date("m")-$mes)+1,0,date("Y")));
                $dias = date("d", mktime( 0, 0, 0,    date("m", strtotime($hasta))+1  , 0 ,  date("Y", strtotime($hasta))  ));
                
            ?>             
            <table class="table table-bordered" style="font-size:11px" width="100%">    
                <thead><tr>
                <th colspan="30" align="center" style="text-align:center">
				REPORTE CUANTITATIVO DE OPERACIONES: <?=$plazaActual?><br />
				<?php echo $this->mes[date("n", strtotime($hasta))]." de ".date('Y', strtotime($hasta)); 

                $mesanio=date('Y', strtotime($hasta))."-".date("n", strtotime($hasta));
                ?> 
                </th>
                <tbody>
                    <tr>
                        <td class="etiqueta"><strong></strong></td><?php                                                 
                        $i=1;                           
                           
                        while($dias >= $i ){                            
                            if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8){     
                                ?><td class="etiqueta" align="center" width="50"><strong><?php echo $i?></strong></td><?php                            
                            }                            
                            $i++;
                        }  ?>
                        <td>TOTAL</td>
                    </tr>
                    
                    <tr>
                        <td class="etiqueta"><strong></strong></td>     
                        <?php                         
                        $i=1;         
                        
                        while($dias >= $i ){
                            if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8){ ?>
                                <td class="etiqueta" align="center"><strong><?php echo $this->dia[date("N",mktime(0,0,0, date("m", strtotime($hasta))  ,$i,  date("Y", strtotime($hasta))   ))]; ?></strong></td><?php    
                            }
                            $i++;
                        }  ?>
                        <td>&nbsp;</td>
                    </tr> 
                                    
                    <tr>
                        <td class="etiqueta"><strong>CLIENTES PAGADOS</strong></td><?php                        
                        $i=1;           
                        $totalPagados=0;
                        while($dias >= $i )
                        { 
                            if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8){?>     
                                <td align="center" style="cursor:pointer;" onclick="verDetalle('clientesPagados','<?php echo $mesanio."-".$i?>','<?php echo $idPlazaActual?>');"> <?php echo $this->clientes_pagados[date("n",strtotime($hasta))][$i]; ?>  </td><?php   
                                $totalPagados+=$this->clientes_pagados[date("n",strtotime($hasta))][$i];                     
                            }
                            
                            $i++;
                        }  
                        
                        ?> 
                        <td style="cursor:pointer;" onclick="verDetalle('clientesPagados','<?php echo $mesanio?>','<?php echo $idPlazaActual?>');"><?php echo $totalPagados?></td>       
                    </tr>
                       
                    <tr>
                        <td class="etiqueta"><strong>MENS. COBRADA</strong></td>
                        <?php                        
                        $i=1;
                        $totalMensualidades=0;
                        
                        while($dias >= $i ){ 
                            if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8){ ?>     
                            <td align="center" style="cursor:pointer;" onclick="verDetalle('mensualidadesCobradas','<?php echo $mesanio."-".$i?>','<?php echo $idPlazaActual?>');"><?php echo $this->mens_cobradas[date("n",strtotime($hasta))][$i]; ?></td><?php  
                            $totalMensualidades+=$this->mens_cobradas[date("n",strtotime($hasta))][$i];                      
                           
                            }
                             $i++;
                        }  
                        ?>  
                        <td  style="cursor:pointer;" onclick="verDetalle('mensualidadesCobradas','<?php echo $mesanio?>','<?php echo $idPlazaActual?>');"><?php echo $totalMensualidades?></td>
                    </tr> 
                       
                    <tr>
                        <td class="etiqueta"><strong>RECUPERACIONES</strong></td>
                        <?php                        
                        $i=1;
                        $totalRecuperaciones=0;
                        
                        while($dias >= $i ){
                            if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8){ ?>     
                            <td align="center" style="cursor:pointer;" onclick="verDetalle('recuperaciones','<?php echo $mesanio."-".$i?>','<?php echo $idPlazaActual?>');"><?php echo $this->recuperaciones[date("n",strtotime($hasta))][$i]; ?></td><?php 
                            $totalRecuperaciones+=$this->recuperaciones[date("n",strtotime($hasta))][$i];                       
                            }
                            $i++;
                        }  ?> 
                        <td style="cursor:pointer;" onclick="verDetalle('recuperaciones','<?php echo $mesanio?>','<?php echo $idPlazaActual?>');"><?php echo $totalRecuperaciones?></td> 
                    </tr>
                                           
                    <tr >
                        <td class="etiqueta"><strong>VENTAS NUEVAS</strong></td>
                        <?php                        
                        $i=1;
                        $totalVentas=0;
                        
                        while($dias >= $i ){
                            if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8){?>     
                            <td align="center" style="cursor:pointer;" onclick="verDetalle('ventas','<?php echo $mesanio."-".$i?>','<?php echo $idPlazaActual?>');"><?php echo $this->ventas_nuevas[date("n",strtotime($hasta))][$i]; ?></td><?php  
                            $totalVentas+=$this->ventas_nuevas[date("n",strtotime($hasta))][$i];                      
                            }
                            $i++;
                        }  ?> 
                        <td  style="cursor:pointer;" onclick="verDetalle('ventas','<?php echo $mesanio?>','<?php echo $idPlazaActual?>');"><?php echo $totalVentas?></td>  
                    </tr>
                                          
                    <tr>
                        <td class="etiqueta"><strong>INSTALACIONES</strong></td>
                        <?php                        
                        $i=1;
                        $totalInstalaciones=0;
                        while($dias >= $i ){
                            if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8){ ?>     
                            <td align="center" style="cursor:pointer;" onclick="verDetalle('instalaciones','<?php echo $mesanio."-".$i?>','<?php echo $idPlazaActual?>');"><?php echo $this->instalaciones[date("n",strtotime($hasta))][$i]; ?></td><?php
                            $totalInstalaciones+=$this->instalaciones[date("n",strtotime($hasta))][$i];                        
                            }
                            $i++;
                        }  ?>  
                        <td style="cursor:pointer;" onclick="verDetalle('instalaciones','<?php echo $mesanio?>','<?php echo $idPlazaActual?>');"><?php echo $totalInstalaciones?></td>  
                    </tr>
                                           
                    <tr>
                        <td class="etiqueta"><strong>DESCONEXIONES</strong></td>
                        <?php                        
                        $i=1;
                        $totalDesconexiones=0;
                        
                        while($dias >= $i ){
                            if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8){ ?>     
                            <td align="center" style="cursor:pointer;" onclick="verDetalle('desconexiones','<?php echo $mesanio."-".$i?>','<?php echo $idPlazaActual?>');"><?php echo $this->desconexiones[date("n",strtotime($hasta))][$i]; ?></td><?php  
                            $totalDesconexiones+=$this->desconexiones[date("n",strtotime($hasta))][$i];                      
                            }
                            $i++;
                        }  ?> 
                        <td  style="cursor:pointer;" onclick="verDetalle('desconexiones','<?php echo $mesanio?>','<?php echo $idPlazaActual?>');"><?php echo $totalDesconexiones?></td>  
                    </tr>                    
                       
                    <tr>
                        <td class="etiqueta"><strong>RECONEXIONES</strong></td>
                        <?php                        
                        $i=1;
                        $totalReconexiones=0;
                        
                        while($dias >= $i ){
                            if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8){ ?>     
                            <td align="center" style="cursor:pointer;" onclick="verDetalle('reconexiones','<?php echo $mesanio."-".$i?>','<?php echo $idPlazaActual?>');"><?php echo $this->reconexiones[date("n",strtotime($hasta))][$i]; ?></td><?php
                            $totalReconexiones+=$this->reconexiones[date("n",strtotime($hasta))][$i];                       
                            }
                            $i++;
                        }  ?>  
                        <td  style="cursor:pointer;" onclick="verDetalle('reconexiones','<?php echo $mesanio?>','<?php echo $idPlazaActual?>');"><?php echo $totalReconexiones?></td> 
                    </tr>
                                          
                    <tr>
                        <td class="etiqueta"><strong>AUDITORIA ACOM</strong></td>
                        <?php                        
                        $i=1;
                        
                        while($dias >= $i ){ 
                            if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8){?>     
                            <td align="center"><?php echo $this->auditoria_acom[date("n",strtotime($hasta))][$i]; ?></td><?php                        
                            }
                            $i++;
                        }  ?>  
                    </tr>
                                          
                    <tr>
                        <td class="etiqueta"><strong>CAMBIO DOMICILIO</strong></td>
                        <?php                        
                        $i=1;
                        $totalCambio=0;
                        
                        while($dias >= $i ){ 
                            if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8){ ?>     
                            <td align="center" style="cursor:pointer;" onclick="verDetalle('cambioDomicilio','<?php echo $mesanio."-".$i?>','<?php echo $idPlazaActual?>');"><?php echo $this->cambio_domicilio[date("n",strtotime($hasta))][$i]; ?></td><?php 
                            $totalCambio+=$this->cambio_domicilio[date("n",strtotime($hasta))][$i];                       
                            }
                            $i++;
                        }  ?>  
                        <td  style="cursor:pointer;" onclick="verDetalle('cambioDomicilio','<?php echo $mesanio?>','<?php echo $idPlazaActual?>');"><?php echo $totalCambio?></td> 
                    </tr>
                                     
                    <tr>
                        <td class="etiqueta"><strong>EXTENSION ADIC</strong></td>
                        <?php                        
                        $i=1;
                        $totalExtension=0;
                        
                        while($dias >= $i ){
                            if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8){ ?>     
                            <td align="center" style="cursor:pointer;" onclick="verDetalle('extensionesAdicionales','<?php echo $mesanio."-".$i?>','<?php echo $idPlazaActual?>');"><?php echo $this->extencion_adic[date("n",strtotime($hasta))][$i]; ?></td><?php                        
                            $totalExtension+=$this->extencion_adic[date("n",strtotime($hasta))][$i];
                            }
                            $i++;
                        }  ?>  
                        <td style="cursor:pointer;" onclick="verDetalle('extensionesAdicionales','<?php echo $mesanio?>','<?php echo $idPlazaActual?>');"><?php echo $totalExtension?></td> 
                    </tr>

                    <tr>
                        <td class="etiqueta"><strong>RETIROS</strong></td>
                        <?php                        
                        $i=1;
                        $totalRetiros=0;
                        
                        while($dias >= $i )
                        {
                            if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8){ ?>     
                            <td align="center" style="cursor:pointer;" onclick="verDetalle('retiros','<?php echo $mesanio."-".$i?>','<?php echo $idPlazaActual?>');"><?php echo $this->retiros[date("n",strtotime($hasta))][$i]; ?></td><?php    
                            $totalRetiros+=$this->retiros[date("n",strtotime($hasta))][$i];                    
                            }
                            $i++;
                        }  ?>  
                        <td style="cursor:pointer;" onclick="verDetalle('retiros','<?php echo $mesanio?>','<?php echo $idPlazaActual?>');"><?php echo $totalRetiros?></td>
                    </tr>                   
                       
                    <!--<tr>
                        <td class="etiqueta"><strong>NOTIFI COBRANZA</strong></td>
                        <?php                        
                        //$i=1;
                        
                        /*while($dias >= $i ){
                            if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8){ ?>     
                            <td align="center"><?php echo $this->notifi_cobranza[date("n",strtotime($hasta))][$i]; ?></td><?php                        
                            }
                            $i++;
                        }  */?>  
                    </tr>-->
                       
                    <tr>
                        <td class="etiqueta"><strong> PRODUCT TECNICA</strong></td>
                        <?php                        
                        $i=1;
                        $totalProductividad=0;
                        
                        while($dias >= $i ){ 
                            if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8){ ?>     
                            <td align="center">
                                <?php $resultado =  ($this->instalaciones[date("n",strtotime($hasta))][$i] * $this->puntos[1] );
                                      $resultado += ($this->desconexiones[date("n",strtotime($hasta))][$i] );
                                      $resultado += ($this->reconexiones[date("n",strtotime($hasta))][$i] * $this->puntos[2]);
                                      $resultado += ($this->auditoria_acom[date("n",strtotime($hasta))][$i] * $this->puntos[7]);
                                      $resultado +=($this->cambio_domicilio[date("n",strtotime($hasta))][$i] * $this->puntos[3]);
                                      $resultado +=($this->extencion_adic[date("n",strtotime($hasta))][$i] * $this->puntos[5]);
                                      $resultado +=($this->notifi_cobranza[date("n",strtotime($hasta))][$i]); 
                                      echo $resultado;

                                      ?></td><?php                        
                                      $totalProductividad+=$resultado;
                            }
                            $i++;
                        }  ?>  
                        <td><?php echo $totalProductividad?></td>
                    </tr>
                   
                </tbody>
            </table> 
            <br /><br />
            <?php
            if( strtotime($hasta) == strtotime(date("Y-m-".$dias)) ){  ?>
            <table class="table table-bordered" style="width:300px">
                <thead><tr><th colspan="2" align="center"><?php echo $this->mes[date("n", strtotime($hasta))]; ?></th></tr></thead>
                <tbody>
                    <tr>
                        <td class="etiqueta"><strong>ACTIVOS</strong></td>
                        <td class="etiqueta"><strong><?php echo $this->activos->total; ?></strong></td>                        
                    </tr>
                   	<tr>
                        <td class="etiqueta"><strong>DESCONECTAR</strong></td>
                        <td class="etiqueta"><strong><?php echo $this->desconectar->total; ?></strong></td>                        
                    </tr>
                    
                    <tr>
                        <td class="etiqueta"><strong>DESCONECTADOS</strong></td>
                        <td class="etiqueta"><strong><?php echo $this->desconectados->total; ?></strong></td>                        
                    </tr>
                    <tr>
                        <td class="etiqueta"><strong>CORTAR</strong></td>
                        <td class="etiqueta"><strong><?php echo $this->cortar->total; ?></strong></td>                        
                    </tr>                    
                    <tr>
                        <td class="etiqueta"><strong>BAJAS</strong></td>
                        <td class="etiqueta"><strong><?php echo $this->bajas->total; ?></strong></td>                        
                    </tr>        
                    <tr>
                        <td class="etiqueta"><strong>RETIRAR</strong></td>
                        <td class="etiqueta"><strong><?php echo $this->retirar->total; ?></strong></td>                        
                    </tr> 
                    <tr>
                        <td class="etiqueta"><strong>RETIRADO</strong></td>
                        <td class="etiqueta"><strong><?php echo $this->retirado->total; ?></strong></td>                        
                    </tr> 
                    <tr>
                        <td class="etiqueta"><strong>POR INSTALAR</strong></td>
                        <td class="etiqueta"><strong><?php echo $this->instalar->total; ?></strong></td>                        
                    </tr>                     
                    <tr>
                        <td class="etiqueta"><strong>POR REINSTALAR</strong></td>
                        <td class="etiqueta"><strong><?php echo $this->reinstalar->total; ?></strong></td>                        
                    </tr>
                    <tr>
                        <td class="etiqueta"><strong>POR RECONECTAR</strong></td>
                        <td class="etiqueta"><strong><?php echo $this->reconectar->total; ?></strong></td>                        
                    </tr>                                                             
                </tbody>
            </table>
        </br>
        <!--PLAZA TARIFAS--> <?php }    
        $hasta=date("Y/m/d", strtotime($hasta." -1 month"));                    
        $mes++; echo $mes."incremento<br>";
        }         
        ?>