<div  class="row-fluid contenedorFiltro">
	<div class="span12 tituloFiltro">CORTE DE CAJA DEL DÍA <?php echo date("d-m-Y"); ?></div>  
  
    <div  class="row-fluid filaFiltro">
    	<div class="span1"><label>DESDE</label></div>
    	<div class="span3"><input type="text" name="ffecha" id="ffecha" /></div>
     
     	 <div class="span1"><label>HASTA</label></div>
    	 <div class="span3"><input type="text" name="fhasta" id="fhasta" /></div>
     
    	<div class="span2"><a class="btn btn-primary span10" onclick="filtrar();">Filtrar&nbsp; &nbsp;<i class="icon-filter icon-white"></i></a></div>
    	<div class="span2"><a class="btn btn-primary span10" onclick="limpiar();">Limpiar&nbsp; &nbsp;</a></div>
  	</div> 
  
  	<div  class="row-fluid filaFiltro">
            <div class="span1"><? if(Usuario::tipo()==0 || Usuario::tipo()==2){?><label>PLAZA</label><? }?></div>
            <div class="span3">
            <? if(Usuario::tipo()==0  || Usuario::tipo()==2){ $cadena='';?>
                <select name="fplaza" id="fplaza" multiple="multiple">
                    <?php foreach($this->plazas as $plaza){?>
                    <option value="<?php echo $plaza->id;?>"><?php echo $plaza->nombre;?></option>
                    <?php if($cadena==''){$cadena=$plaza->id;}else{$cadena.='_'.$plaza->id;}?>
                    <?php }}else{$cadena=$this->plaza;}?>
                </select>
                <input type="hidden" name="plazas" id="plazas" value="<?php echo $cadena;?>" />
                <input type="hidden" name="fplazas" id="fplazas" class="span12" value="<?php echo $cadena;?>" />
            </div> 
            
    	    <div class="span1"><? if(Usuario::tipo()==0 || Usuario::tipo()==2){?><label>SUCURSAL</label><? }?></div>
            <div class="span3">
            <? if(Usuario::tipo()==0 || Usuario::tipo()==2){?>
                <select name="fsucursal" id="fsucursal">
                    <option value="0">Todas las sucursales</option>
                    <?php foreach($this->sucursales as $sucursal){?>
                    <option value="<?php echo $sucursal->id?>"><?php echo $sucursal->nombre?></option>
                    <?php }?>
                </select>
            <? }?> 
            </div>
             
   	<div class="span2">
            <a class="btn btn-primary span10" onclick="servicios();" id="btnImprimir" target="_blank">Imprimir&nbsp;&nbsp;
                <i class="icon-print icon-white"></i>
            </a>
   	</div>
            
    	<div class="span2">
            <a class="btn btn-primary span10" onclick="servicios();" target="_blank" id="btnExportar">Exportar&nbsp;&nbsp;
                <i class="icon-list icon-white"></i>
            </a>
    	</div>
	</div> 
        
        
    <div  class="row-fluid filaFiltro">
    	<div class="span1">DEPOSITAR</div>
    	<div class="span3"><input type="text" name="fdepositar" id="fdepositar" disabled="disabled" readonly="readonly"/></div>         		
		<div class="span1">TIPO</div>
        <div class="span3">
            <select name="ftipo" id="ftipo">
                <option value="0">Todos los tipos</option>
                <option value="1">Cable</option>
                <option value="2">Internet</option>
            </select>
        </div>         		
    </div> 

    <div  class="row-fluid filaFiltro">
        <div class="span1">PROVIENE</div>
        <div class="span3">
            <select name="fproviene" id="fproviene">
                <option value="0">Todos</option>
                <option value="3">Pago en linea</option>
                <option value="1">Pago en caja</option>
                <option value="2">Gastos</option>
            </select>
        </div>              
    </div> 
</div>

<div class="row-fluid contenedorGrid"><div id="flexgrid"></div></div>