<div  class="row-fluid contenedorFiltro">
  <div class="span12 tituloFiltro">REPORTE DE ENVIOS DE SMS</div>  
   
  <div  class="row-fluid filaFiltro">
    <div class="span1"><label>CLIENTE</label></div>
    <div class="span3"><input type="text" name="fnombre" id="fnombre"/></div>

    <div class="span1"><label>ESTATUS</label></div>
    <div class="span3">
        <select name="festatus" id="festatus">
            <option value="0">Todos los estatus</option>
            <option value="1">Pendiente</option>
            <option value="2">Enviando</option>
            <option value="3">Enviado</option>
            <option value="4">Destinatario invalido</option>
            <option value="5">Lista negra</option>
            <option value="6">Créditos insuficientes</option>
            <option value="7">Error en red</option>
            <option value="8">Error en servicio</option>
            <option value="9">Falta de datos para el envió</option>
        </select>
    </div>  
    
    <div class="span2"><a class="btn btn-primary span10" onclick="filtrar();">Filtrar&nbsp; &nbsp;<i class="icon-filter icon-white"></i></a></div>
    <div class="span2"><a class="btn btn-primary span10" onclick="limpiar();">Limpiar&nbsp; &nbsp;</a></div>
  </div> 
  
  <div  class="row-fluid filaFiltro">
     
    <div class="span1"><label>NOTIFICACIÓN</label></div>
    <div class="span3">
        <select name="fnotificacion" id="fnotificacion">
            <option value="0">Todas las notificaciones</option>
            <?php foreach ($this->notificaciones as $notificacion) 
                  {
                    echo "<option value='".$notificacion->id."'>".$notificacion->nombre."</option>";
                  }
            ?>
        </select>
    </div> 

    <div class="span1"><label>PLAZA</label></div>
    <div class="span3">
        <select name="fplaza" id="fplaza">
            <option value="0">Todas las plazas</option>
            <?php foreach ($this->plazas as $plaza) 
                  {
                    echo "<option value='".$plaza->id."'>".$plaza->nombre."</option>";
                  }
            ?>
        </select>
    </div> 
      
    <div class="span2"><a class="btn btn-primary span10" onclick="servicios();" id="btnImprimir" target="_blank">Imprimir&nbsp; &nbsp;<i class="icon-print icon-white"></i></a></div>
    <div class="span2"><a class="btn btn-primary span10" onclick="servicios();" target="_blank" id="btnExportar">Exportar&nbsp; &nbsp;<i class="icon-list icon-white"></i></a></div>

  </div>

  <div  class="row-fluid filaFiltro">
      <div class="span1"><label>DESDE</label></div>
      <div class="span3"><input type="text" name="ffecha" class="span11" id="ffecha"/></div>
          
      <div class="span1"><label>HASTA</label></div>
      <div class="span3"><input type="text" name="fhasta" class="span11" id="fhasta"/></div>
  </div> 

  <?php if(Usuario::tipo() == 0 && $this->actualizaciones>0){ ?>
    <div  class="row-fluid filaFiltro">
      <div class="span12">
        <div style="background-color:#FE642E;" class="span10">
          <label>Se han detectado <?php echo $this->actualizaciones; ?> SMS que tienen su estatus para actualizar, de clic en el botón Actualizar para obtener su ultimo estatus. [Esto podrá demorar un par de minutos]</label>
        </div>
        <div class="span2">
          <a class="btn btn-primary" onclick="actualizar();" id="btnActualizar">Actualizar&nbsp; &nbsp;<i class="icon-list icon-white"></i></a>
        </div>
      </div>
    </div>
  <?php } ?>
       
</div>

<div class="row-fluid contenedorGrid"><div id="flexgrid"></div></div>