<script language="javascript" type="text/javascript">

var map;
var latitud = 21.289374637098234;
var longitud = -102.08496081249996;

<?php

	$datos = $this->datos;
	$renglones = explode("¬", $datos);
	$resultado = ""; 
	$inicio = true;
	$contador = 0;
	$usuario_id = 0;
	
	if(count($renglones)-1>0)
	{
	
		$renglon = explode("|", $renglones[0]);
		$resultado .= " var mexico = new google.maps.LatLng(".$renglon[2].", ".$renglon[3]."); ";	
		$resultado .= " var opciones = {
						zoom: 14,
						mapTypeId: google.maps.MapTypeId.ROADMAP,
						center: mexico
					};";
	}
	else
	{
		
		$resultado .= " var mexico = new google.maps.LatLng(latitud, longitud); ";	
		$resultado .= " var opciones = {
						zoom: 6,
						mapTypeId: google.maps.MapTypeId.ROADMAP,
						center: mexico
					};";
					
		$resultado .= " alert('No se encontraron resultados.'); ";
	}
	
	
	$resultado .= " map = new google.maps.Map(document.getElementById('mapa'), opciones); ";
	

	for($i=0; $i<count($renglones)-1;$i++)
	{
		
		$renglon = explode("|", $renglones[$i]);
		
		if($usuario_id != $renglon[0])
		{
			
			if($inicio == false)
			{
			
				$resultado .= "var seguimiento_".$contador." = new google.maps.Polyline({
									path: ruta_".$contador.",    
									strokeColor: dame_color_aleatorio(),    
									strokeOpacity: 1.0,    
									strokeWeight: 2  });
									
								seguimiento_".$contador.".setMap(map);";
								
				$contador++;
			}
		
			$resultado .= " var ruta_".$contador." = []; ";
			$usuario_id = $renglon[0];
			
			$inicio = false;
			
			$resultado .= " punto_".$i." = new google.maps.Marker({
							position: new google.maps.LatLng(".$renglon[2].", ".$renglon[3]."),
							map: map,
							icon:'".$this->baseUrl('images/inicio.gif')."'
						}); ";
		}
		else
		{
			
			$resultado .= " punto_".$i." = new google.maps.Marker({
							position: new google.maps.LatLng(".$renglon[2].", ".$renglon[3]."),
							map: map
						}); ";
		}
		
		$resultado .= " ruta_".$contador.".push(new google.maps.LatLng(".$renglon[2].", ".$renglon[3].")); ";
		
		$resultado .= " contenido_".$i." = '<table style=\"min-width:200px; height:130px;\"><tr><td style=\"height:40px; font-weight:bold; font-size:14px;\" align=\"left\" valign=\"middle\">".$renglon[1]."</td></tr><tr><td style=\"height:30px; font-weight:bold; font-size:12px;\" align=\"left\" valign=\"middle\">".$renglon[4]."</td></tr><tr><td style=\"height:30px; font-size:12px;\" align=\"left\" valign=\"middle\">Lat: ".$renglon[2]."</td></tr><tr><td style=\"height:30px; font-size:12px;\" align=\"left\" valign=\"middle\">Lon: ".$renglon[3]."</td></tr></table>'; ";
		$resultado .= " informacion_".$i." = new google.maps.InfoWindow({content: contenido_".$i."}); ";
		$resultado .= " google.maps.event.addListener(punto_".$i.", \"click\", function(){informacion_".$i.".open(map,punto_".$i.");}); ";
	}
	
	if(count($renglones)-1>0)
	{
	
		$resultado .= "var seguimiento_".$contador." = new google.maps.Polyline({
							path: ruta_".$contador.",    
							strokeColor: dame_color_aleatorio(),    
							strokeOpacity: 1.0,    
							strokeWeight: 2  });
							
						seguimiento_".$contador.".setMap(map);";
	}
	
	echo $resultado;
?>

function aleatorio(inferior,superior){
    numPosibilidades = superior - inferior
    aleat = Math.random() * numPosibilidades
    aleat = Math.floor(aleat)
    return parseInt(inferior) + aleat
} 

function dame_color_aleatorio(){
	hexadecimal = new Array("0","1","2","3","4","5","6","7","8","9","A","B","C","D","E","F")
	color_aleatorio = "#";
	for (i=0;i<6;i++){
		pos = aleatorio(0,hexadecimal.length)
		color_aleatorio += hexadecimal[pos]
	}
	return color_aleatorio
}

</script>
<div id="mapa" name="mapa" style="width:1124px; height:600px; margin:0 auto;"></div>