<div  class="row-fluid contenedorFiltro">
  <div class="span12 tituloFiltro">
    <div class="span9">REPORTE DE DETALLE DE PRODUCTIVIDAD TÉCNICA</div>  
    <div class="span3">
      <div class="span6">&nbsp;</div>
      <div class="span3"><a class="btn btn-success" onclick="servicios();" id="btnImprimir" target="_blank"><i class="icon-print icon-white"></i></a></div>
      <div class="span3"><a class="btn btn-success" onclick="servicios();" target="_blank" id="btnExportar"><i class="icon-list icon-white"></i></a></div>
    </div>
  </div>
  
 <div  class="row-fluid filaFiltro">
  	<div class="span1"><label>DESDE</label></div>
    <div class="span3"><input type="text" name="fdesde" id="fdesde"/></div>
    <div class="span1"><label>HASTA</label></div>
    <div class="span3"><input type="text" name="fhasta" id="fhasta"/></div>
    
    <div class="span2"><a class="btn btn-primary span10" onclick="filtrar();">Filtrar&nbsp; &nbsp;<i class="icon-filter icon-white"></i></a></div>
    <div class="span2"><a class="btn btn-primary span10" onclick="limpiar();">Limpiar&nbsp; &nbsp;</a></div>
  </div> 
  
  <div  class="row-fluid filaFiltro">
    <div class="span1"><? if(Usuario::tipo()==0){?><label>PLAZA</label><? }?></div>
    <div class="span3">
   	 <? if(Usuario::tipo()==0){ $cadena='';?>
        <select name="fplaza" id="fplaza" multiple="multiple">
            <?php foreach($this->plazas as $plaza){?>
            <option value="<?php echo $plaza->id;?>"><?php echo $plaza->nombre;?></option>
            <?php if($cadena==''){$cadena=$plaza->id;}else{$cadena.='_'.$plaza->id;}?>
            <?php }?>            
        </select>
        <input type="hidden" name="plazas" id="plazas" value="<?php echo $cadena;?>" />
       <? }?> 
       <input type="hidden" name="fplazas" id="fplazas" class="span12" />
    </div>

    <div class="span1"><? if(Usuario::tipo()==0){?><label>TÉCNICO</label><? }?></div>
    <div class="span3">
     <? if(Usuario::tipo()==0){ $cadena='';?>
        <select name="ftecnico" id="ftecnico" multiple="multiple">
            <?php foreach($this->tecnicos as $tecnico){?>
            <option value="<?php echo $tecnico->id;?>"><?php echo $tecnico->nombre;?></option>
            <?php if($cadena==''){$cadena=$tecnico->id;}else{$cadena.='_'.$tecnico->id;}?>
            <?php }?>            
        </select>
        <input type="hidden" name="tecnicos" id="tecnicos" value="<?php echo $cadena;?>" />
       <? }?> 
       <input type="hidden" name="ftecnicos" id="ftecnicos" class="span12" />
    </div>
  </div>
  
</div>

<div class="row-fluid contenedorGrid"><div id="flexgrid"></div></div>