<div  class="row-fluid contenedorFiltro">
  <div class="span12 tituloFiltro">REPORTE DE UBICACIÓN</div> 
   <div  class="row-fluid filaFiltro">
    <div class="span1"><label>DESDE</label></div>
    <div class="span3"><input type="text" name="fdesde" id="fdesde"/></div>
    <div class="span1"><label>HASTA</label></div>
    <div class="span3"><input type="text" name="fhasta" id="fhasta"/></div>
    
    <div class="span2"><a class="btn btn-primary span10" onclick="filtrar();">Filtrar&nbsp; &nbsp;<i class="icon-filter icon-white"></i></a></div>
    <div class="span2"><a class="btn btn-primary span10" onclick="limpiar();">Limpiar&nbsp; &nbsp;</a></div>
  </div>
  <div  class="row-fluid filaFiltro">   
        <div class="span1"><? if(Usuario::tipo()==0){?><label>PLAZA</label><? }?></div>
    <div class="span3">
   	 <? if(Usuario::tipo()==0){ $cadena='';?>
        <select name="fplaza" id="fplaza" multiple="multiple">
            <?php foreach($this->plazas as $plaza){?>
            <option value="<?php echo $plaza->id?>"><?php echo $plaza->nombre?></option>
            <?php if($cadena==''){$cadena=$plaza->id;}else{$cadena.='_'.$plaza->id;}?>
            <?php }?>
        </select>
        <input type="hidden" name="plazas" id="plazas" value="<?php echo $cadena;?>" />
       <? }?> 
       <input type="hidden" name="fplazas" id="fplazas" class="span12" />
    </div>    
      
    <div class="span1"><label>SUCURSAL</label></div> 
    <div class="span3">
        <select name="fsucursal" id="fsucursal" <? if(Usuario::tipo()==1){ echo "disabled";}?>>
            <option value="0">Todas las sucursales</option>
            <?php foreach($this->sucursales as $sucursal){?>
            <option value="<?php echo $sucursal->id?>"><?php echo $sucursal->nombre?></option>
            <?php }?>
        </select>
    </div>
    <div class="span2"></div>
    <div class="span2"></div>
  </div>   
  <div  class="row-fluid filaFiltro">             
        <div class="span1"><label>TÉCNICO</label></div>
        <div class="span3">
            <select name="ftecnico" id="ftecnico" multiple="multiple"><option value="0">Todos los técnicos</option></select>
        </div> 
        <div class="span1"><label>PROMOTORES</label></div>
        <div class="span3">
            <select name="fpromotor" id="fpromotor" multiple="multiple"><option value="0">Todos los promotores</option></select>
        </div>  
        <div class="span1" id="resultados" name="resultados" style="display:none; "><label>RESULTADOS</label></div>
    	<div class="span3" id="contador" name="contador" style="display:none">0</div> 
    </div>
</div>
<br />
<div class="row-fluid">
	<div id="contenedor" name="contenedor" style="width:1124px; height:600px; margin:0 auto;"></div>
</div>
<input type="hidden" name="htecnico" id="htecnico" value="" />
<input type="hidden" name="hpromotor" id="hpromotor" value="" />
<br />