<!--<div  class="row-fluid contenedorFormulario">
    <div  class="row-fluid tituloFormulario">
      <div class="span12">&nbsp;&nbsp;DESCARGAR ORDEN DE RECONEXIÓN PARA EL CONTRATO 140391-00001</div> 
    </div>

    <div  class="row-fluid">
        <div  class="row-fluid filaFormulario">
            <div class="span2"><label>NÚMERO DE CONTRATO</label></div>
            <div class="span3"><input type="text" value="140391-00001" readonly="readonly" /></div>
            <div class="span2"><label>CLIENTE</label></div>
            <div class="span3"><input type="text" value="JUAN PÉREZ" readonly="readonly" /></div>
        </div>
        <div  class="row-fluid filaFormulario">
            <div class="span2"><label>CALLE</label></div>
            <div class="span3"><input type="text" value="AV. JUAN MANUEL" readonly="readonly" /> </div>
            <div class="span2"><label>NUMERO EXTERIOR</label></div>
            <div class="span3"><input type="text" value="85" readonly="readonly" /></div>
        </div>
        <div  class="row-fluid filaFormulario">
             <div class="span2"><label>NUMERO INTERIOR</label></div>
            <div class="span3"><input type="text" value="A" readonly="readonly" /></div>
            <div class="span2"><label>COLONIA</label></div>
            <div class="span3"><input type="text" value="SAN PEDRO" readonly="readonly" /></div>
        </div>
        <div  class="row-fluid filaFormulario">
            <div class="span2"><label>ESTATUS</label></div>
            <div class="span3"><input type="text" value="ACTIVO" readonly="readonly" /></div>
            <div class="span2"><label>ULTIMO MES CUBIERTO</label></div>
            <div class="span3"><input type="text" value="SEPTIEMBRE DE 2012" readonly="readonly" /></div>
        </div>
        <div  class="row-fluid filaFormulario">
            <div class="span2"><label>TÉCNICO</label></div>
            <div class="span3"><select><option>Técnico que reconectó</option></select></div>
             <div class="span2"><label>FECHA DE RECONEXIÓN</label></div>
            <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="DD/MM/AAA" /></div>
        </div>

                    <br />

        <div  class="row-fluid filaFormulario">
            <div class="span2"></div>
            <div class="span2"></div>
            <div class="span2"><a class="btn btn-primary" href="#">Aceptar&nbsp; &nbsp;</a></div>
            <div class="span3"><a class="btn btn-primary" href="#">Cancelar&nbsp; &nbsp;</a></div>
        </div>
    </div><br />   
</div>!-->


<form name="frmDescargar" id="frmDescargar" method="post" action="/transacciones/ordenesreconexion/guardar">
<div  class="row-fluid contenedorFormulario">

    <div  class="row-fluid">
        <div  class="row-fluid filaFormulario">
            <div class="span2"><label>NÚMERO DE CONTRATO</label></div>
            <div class="span3"><input type="text" value="<?=$this->registro->Cliente->contrato?>" readonly="readonly" /></div>
            <div class="span2"><label>CLIENTE</label></div>
            <div class="span3"><input type="text" value="<?=$this->registro->Cliente->nombre?>" readonly="readonly" /></div>
        </div>
        <div  class="row-fluid filaFormulario">
            <div class="span2"><label>CALLE</label></div>
            <div class="span3"><input type="text" value="<?=$this->registro->Cliente->calle?>" readonly="readonly" /> </div>
            <div class="span2"><label>NUMERO EXTERIOR</label></div>
            <div class="span3"><input type="text" value="<?=$this->registro->Cliente->no_exterior?>" readonly="readonly" /></div>
        </div>
        <div  class="row-fluid filaFormulario">
             <div class="span2"><label>NUMERO INTERIOR</label></div>
            <div class="span3"><input type="text" value="<?=$this->registro->Cliente->no_interior?>" readonly="readonly" /></div>
            <div class="span2"><label>COLONIA</label></div>
            <div class="span3"><input type="text" value="<?=Colonia::obtenerColonia($this->registro->Cliente->colonia_id)?>" readonly="readonly" /></div>
        </div>
        <div  class="row-fluid filaFormulario">
            <div class="span2"><label>ESTATUS</label></div>
            <div class="span3"><input type="text" value="<?=$this->registro->Cliente->estatus?>" readonly="readonly" /></div>
            <div class="span2"><label>ULTIMO MES CUBIERTO</label></div>
            <div class="span3"><input type="text" value="<?=$this->registro->Cliente->ultimomescubierto?>" readonly="readonly" /></div>
        </div>
        <div  class="row-fluid filaFormulario">
            <div class="span2"><label>TÉCNICO</label></div>
            <div class="span3">
            <select name="tecnico_id" id="tecnico_id">
            	<option value="0">Técnico que desconectó</option>
                <? foreach($this->tecnicos as $tecnico){?>
                	<option value="<?=$tecnico->id?>"><?=$tecnico->nombre?></option>
                <? }?>
            </select>
            
            </div>
             <div class="span2"><label>FECHA DE DESCONEXIÓN</label></div>
            <div class="span3"><input type="text" name="fecha_desconexion" id="fecha_desconexion" placeholder="DD/MM/AAA" /></div>
        </div>


    </div><br />   
</div>
<input type="hidden" name="id" id="id" value="<?=$this->registro->id?>" />
</form>