    
    <div  class="row-fluid contenedorFormulario">
    
        <div  class="row-fluid tituloFormulario">
          <div class="span12">&nbsp;&nbsp;ACTUALIZAR FALLA</div> 
        </div>
        
        <div  class="row-fluid">
        	<legend>DATOS DEL CLIENTE</legend>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>CONTRATO</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="1403925-0001" readonly="readonly"  /></div>
                <div class="span2"><label>NOMBRE</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="Juan Pérez" readonly="readonly" /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                 <div class="span2"><label>CALLE</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="AV. ZAPATA" readonly="readonly" /></div>
                <div class="span2"><label>NUMERO EXTERIOR</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="980" readonly="readonly" /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>NÚMERO INTERIOR</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="A" readonly="readonly" /></div>
                <div class="span2"><label>COLONIA</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="Pinares" readonly="readonly" /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>TELÉFONO</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="01 33 3343434" readonly="readonly" /></div>
                 <div class="span2"><label>ESTATUS</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="ACTIVO" readonly="readonly" /></div>
            </div>

        </div>
        
        
        <div  class="row-fluid">
           <legend>INFORMACIÓN DE LA FALLA</legend>
           <div  class="row-fluid filaFormulario">
                <div class="span2"><label>ETIQUETA</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="8890" readonly="readonly" /></div>
                <div class="span2"><label>NODO</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="25" readonly="readonly" /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                 <div class="span2"><label>POSTE</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="60" readonly="readonly" /></div>
                <div class="span2"><label>FECHA DE LA FALLA</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="08/09/2012" readonly="readonly" /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>TIPO DE FALLA</label></div>
                <div class="span3"><select readonly="readonly"><option>No hay señal</option></select></div>
                <div class="span2"><label>ESTATUS FALLA</label></div>
                <div class="span3"><select><option>Estatus de la falla</option></select></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>FECHA SOLUCIÓN</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="DD/MM/AAAA" /></div>
                <div class="span2"><label>TÉCNICO</label></div>
                <div class="span3"><select readonly="readonly"><option>Pedro Cervantes</option></select></div>
            </div>
			<br />
           <div  class="row-fluid filaFormulario">
            	<div class="span6"></div>
                <div class="span2"><a class="btn btn-primary" href="#">Aceptar&nbsp; &nbsp;</a></div>
                <div class="span3"><a class="btn btn-primary" href="#">Cancelar&nbsp; &nbsp;</a></div>
            </div>
        </div>
		<br />		
    </div>