<div  class="row-fluid contenedorFiltro">
  <div class="span12 tituloFiltro">FALLAS REPORTADAS</div>  
  
  <div  class="row-fluid filaFiltro">
    <div class="span1"><label>CLIENTE</label></div>
    <div class="span3"><input type="text" name="nombre" id="nombre" /></div>
    <div class="span1"><label>CONTRATO</label></div>
    <div class="span3"><input type="text" name="nombre" id="nombre" /></div>
    <div class="span2"><a class="btn btn-primary span10" href="#">Filtrar&nbsp; &nbsp;<i class="icon-filter icon-white"></i></a></div>
    <div class="span2"><a class="btn btn-primary span10" href="#">Limpiar&nbsp; &nbsp;</a></div>
  </div> 
  
  <div  class="row-fluid filaFiltro">
    <div class="span1"><label>TELEFONO</label></div>
    <div class="span3"><input type="text" name="nombre" id="nombre" /></div>
    <div class="span1"><label>ESTATUS </label></div>
    <div class="span3"><select><option>Todos los estatus</option></select></div>
    <div class="span2"><a class="btn btn-primary span10" href="#">Imprimir&nbsp; &nbsp;<i class="icon-print icon-white"></i></a></div>
    <div class="span2"><a class="btn btn-primary span10" href="#">Exportar&nbsp; &nbsp;<i class="icon-list icon-white"></i></a></div>
  </div>
  
  <div  class="row-fluid filaFiltro">
    <div class="span1"><label>TIPO</label></div>
    <div class="span3"><select><option>Todos los tipos</option></select></div>
    <div class="span1"></div>
    <div class="span3"></div>
    <div class="span2"><a class="btn btn-primary span10" href="#">Agregar&nbsp; &nbsp;<i class="icon-plus icon-white"></i></a></div>
  </div> 
  

</div>

<div  class="row-fluid contenedorGrid">

    <div  class="row-fluid tituloGrid">
      <div class="span10">&nbsp;&nbsp;<img src="/images/paging/primeraPagina.png" /><img src="/images/paging/paginaAnterior.png" />&nbsp;&nbsp;Página 1 de 1&nbsp;&nbsp;<img src="/images/paging/paginaSiguiente.png" /><img src="/images/paging/ultimaPagina.png" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mostrando 1 a 5 registros de 5 totales</div> 
      <div class="span2"></div>
	</div>
  
  <div  class="row-fluid encabezadoGrid">
    <div class="span2">CLIENTE</div>
    <div class="span4">TIPO DE FALLA</div>
    <div class="span2">ESTATUS</div>
    <div class="span2">FECHA DE REGISTRO</div>
    <div class="span2">MODIFICAR</div>

  </div>
  
  <? for($i=0; $i<7; $i++){ ?>
  <div  class="row-fluid filaGrid">
  	<div class="span2">Juan Pérez</div>
    <div class="span4">No se ven algunos canales</div>
    <div class="span2">No atendida</div>
    <div class="span2">2/09/2012</div>
    <div class="span2"><img src="/images/png/editar.png" /></div>
  </div>     
  <? }?> 
</div>
