        <div  class="row-fluid">
                <div class="span6">
                	<label>TIPO DE SERVICIO</label>
                    <select name="tipo_servicio" id="tipo_servicio">
                    	<option value="1">Servicio</option>
                        <option value="2">Servicio adicional</option>
                    </select>
                </div>
                <div class="span6">
                	<label>SERVICIO</label>
					<select name="servicio_id" id="servicio_id">
                    	<? foreach($this->servicioAContratar as $servicio){?>
                    	<option value="<?php echo $servicio->servicio_id?>"><?php echo $servicio->Servicio->nombre?></option>
                        <? }?>
                    </select>
                </div>
        </div>
