<form name="frmCliente" id="frmCliente" method="post" action="/transacciones/clientes/guardaranadirtv" class="form-horizontal">    
    <div  class="row-fluid contenedorFormulario">
    

        <div  class="row-fluid">
        
        	<h5>Datos generales</h5>
            
            <div  class="row-fluid filaFormulario">
                <div class="span3">
                	<label>CONTRATO</label>
                    <input type="text" name="contrato" id="contrato" placeholder="Contrato" class="required number span10" <?php if(is_numeric($this->registro->id) && $this->registro->id>0 ) echo "disabled";?> value="<?php echo $this->registro->contrato?>"  />
                </div>
                <div class="span3">
                	<label>FECHA  CONTRATACIÓN</label>
                	<input type="text" name="fecha_contratacion" id="fecha_contratacion" placeholder="DD/MM/AAAA" readonly="readonly" class="required span10" value="<?php echo $this->registro->fecha_contratacion?>" />
                </div>
                <div class="span3">
                	<label>NOMBRE DEL CLIENTE</label>
                	<input type="text" name="nombre" id="nombre" placeholder="Nombre" class="required span10" readonly="readonly" value="<?php echo $this->registro->nombre?>" />
                </div>                
                <div class="span3">
                	<label>TELÉFONO</label>
                    <input type="text" name="telefono" id="telefono" placeholder="Teléfono" class="span10" readonly="readonly" value="<?php echo $this->registro->telefono?>" /> 
                </div>
            </div>
            
            <div  class="row-fluid filaFormulario">
                <div class="span3">
                	<label>CELULAR 1</label>
                    <input type="text" name="celular1" id="celular1" placeholder="Celular 1" class="span10" readonly="readonly" value="<?php echo $this->registro->celular1?>" />
                </div>
                <div class="span3">
                	<label>CELULAR 2</label>
                    <input type="text" name="celular2" id="celular2" placeholder="Celular 2" class="span10" readonly="readonly" value="<?php echo $this->registro->celular2?>" />
                </div>
                <div class="span3">
                	<label>E-MAIL</label>
                    <input type="text" name="email" id="email" class="email span10" placeholder="E-mail" readonly="readonly"  value="<?php echo $this->registro->email?>" />
                </div>
            </div>
            
            <h5>Televisiones</h5>
            
            <div  class="row-fluid filaFormulario">
            	<div class="span3">
                	<label>ACTUALES</label>
                    <input type="text" name="televisiones" id="televisiones" class="span10" readonly="readonly" value="<?php echo $this->registro->televisores?>" />
                </div>
                <div class="span3">
                	<label>AÑADIR</label>
                    <input type="text" name="televisores" id="televisores"  class="required number span10" value="" />
                </div>
            </div>
            
            
            

            <br />
            
            <div  class="row-fluid filaFormulario"></div>
        </div>
    </div>
    <input type="hidden" name="id" id="id" value="<?php echo $this->registro->id;?>" />
    <input type="hidden" name="plaza_id" id="plaza_id" value="<?php echo Usuario::plaza();?>" />
</form>