<form name="frmCliente" id="frmCliente" method="post" action="/transacciones/clientes/guardarbaja" class="form-horizontal">    
    <div  class="row-fluid contenedorFormulario">
    

        <div  class="row-fluid">        
            <div  class="row-fluid filaFormulario">
                <table class="table table-bordered">
                    <tr>
                      <td width="70%">1. ¿Cuál es la razón por la que quiere dar de baja nuestro servicio?</td>
                      <td>
                      <select name="p1">
                      	<option value=""></option>
                      	<option value="1">Situación económica</option>
                        <option value="2">Mala calidad de la señal</option>
                        <option value="3">Mala atención del personal</option>
                        <option value="4">Fallas del servicio</option>
                        <option value="5">No gustó la barra de canales</option>
                        <option value="6">Cambio continuo de canales</option>
                        <option value="7">Cambio de compañía</option>
                      </select>
                      </td>
                    </tr>
                    <tr>
                      <td width="70%">2. ¿Cómo califica la atención de la secretaria?</td>
                      <td>
                      <select name="p2">
                        <option value=""></option>
                      	<option value="1">Buena</option>
                        <option value="2">Regular</option>
                        <option value="3">Mala</option>
                      </select>
                      </td>
                    </tr>
                    <tr>
                      <td width="70%">3. ¿Cómo califica la atención del personal técnico?</td>
                      <td>
                      <select name="p3">
                      	<option value=""></option>
                      	<option value="1">Buena</option>
                        <option value="2">Regular</option>
                        <option value="3">Mala</option>
                      </select>
                      </td>
                    </tr>
                    <tr>
                      <td width="70%">4. ¿Cómo califica la calidad de la señal que usted recibió?</td>
                      <td>
                      <select name="p4">
                         <option value=""></option>
                      	<option value="1">Buena</option>
                        <option value="2">Regular</option>
                        <option value="3">Mala</option>
                      </select>
                      </td>
                    </tr>
                    <tr>
                      <td width="70%">5. ¿La barra de canales que ofrecimos le agradó?</td>
                      <td>
                      <select name="p5">
                        <option value=""></option>
                      	<option value="1">Si agradó</option>
                        <option value="2">Regular</option>
                        <option value="3">No agradó</option>
                      </select>
                      </td>
                    </tr>
                    <tr>
                      <td width="70%">6. Cuando usted manifestaba algun problema técnico ¿Nuestro personal lo apoyó oportunamente?</td>
                      <td>
                      <select name="p6">
                        <option value=""></option>
                      	<option value="1">Si</option>
                        <option value="2">Algunas veces</option>
                        <option value="3">No</option>
                      </select>
                      </td>
                    </tr>
                    <tr>
                      <td width="70%">7. Cuando usted manifestaba algun problema técnico ¿Nuestro personal le resolvió adecuadamente el problema?</td>
                      <td>
                      <select name="p7">
                        <option value=""></option>
                      	<option value="1">Si</option>
                        <option value="2">Algunas veces</option>
                        <option value="3">No</option>
                      </select>
                      </td>
                    </tr>
                    <tr>
                      <td width="70%">8. ¿Qué nos sugiere para mejorar nuestro servicio?</td>
                      <td>
                      <textarea name="p8"></textarea>
                      </td>
                    </tr>

                </table>
            </div>
            
        </div>
    </div>
    <input type="hidden" name="id" id="id" value="<?php echo $this->registro->id;?>" />
    <input type="hidden" name="plaza_id" id="plaza_id" value="<?php echo Usuario::plaza();?>" />
</form>