<form name="frmCliente" id="frmCliente" method="post" action="/transacciones/clientes/guardarcambioservicio" class="form-horizontal">    
    <div  class="row-fluid contenedorFormulario">
    

        <div  class="row-fluid">
        
        	<h5>Datos generales</h5>
            
            <div  class="row-fluid filaFormulario">
                <div class="span3">
                	<label>CONTRATO</label>
                    <input type="text" name="contrato" id="contrato" placeholder="Contrato" class="required number span10" <?php if(is_numeric($this->registro->id) && $this->registro->id>0 ) echo "disabled";?> value="<?php echo $this->registro->contrato?>"  />
                </div>
                <div class="span3">
                	<label>FECHA  CONTRATACIÓN</label>
                	<input type="text" name="fecha_contratacion" id="fecha_contratacion" placeholder="DD/MM/AAAA" readonly="readonly" class="span10" value="<?php echo $this->registro->fecha_contratacion?>" />
                </div>
                <div class="span3">
                	<label>NOMBRE DEL CLIENTE</label>
                	<input type="text" name="nombre" id="nombre" placeholder="Nombre" class="span10" readonly="readonly" value="<?php echo $this->registro->nombre?>" />
                </div>                
                <div class="span3">
                	<label>TELÉFONO</label>
                    <input type="text" name="telefono" id="telefono" placeholder="Teléfono" class="span10" readonly="readonly" value="<?php echo $this->registro->telefono?>" />
                </div>
            </div>
            
            <div  class="row-fluid filaFormulario">
                <div class="span3">
                	<label>CELULAR 1</label>
                    <input type="text" name="celular1" id="celular1" placeholder="Celular 1" readonly="readonly" class="span10" value="<?php echo $this->registro->celular1?>" />
                </div>
                <div class="span3">
                	<label>CELULAR 2</label>
                    <input type="text" name="celular2" id="celular2" placeholder="Celular 2" readonly="readonly" class="span10" value="<?php echo $this->registro->celular2?>" />
                </div>
                <div class="span3">
                	<label>E-MAIL</label>
                    <input type="text" name="email" id="email" class="span10" readonly="readonly" placeholder="E-mail"  value="<?php echo $this->registro->email?>" />
                </div>
            </div>
            
            <div  class="row-fluid filaFormulario">
                <div class="span3">
                    <label>SERVICIO ACTUAL</label>
                    <select name="servicio_actual_id" id="servicio_actual_id" clas="required" readonly="readonly">
                        <option value="<?php echo $this->servicios[0]?>" ><?php echo Servicio::obtenerServicioPorId($this->servicios[0])?></option>
                    </select>
                </div>
                <div class="span3">
                    <label>NUEVO SERVICIO</label>
                    <select name="nuevo_servicio_id" id="nuevo_servicio_id" clas="required">
                        <option value="">Seleccione un servicio</option>
                        <?php foreach($this->l_servicios as $l_servicio){
                            if($l_servicio->id != $this->servicios[0] && TarifascambioservicioPlaza::obtenerExisteTarifacambioservicioPlaza($l_servicio->id, $this->registro->plaza_id)){?>
                                <option value="<?php echo $l_servicio->id?>"><?php echo $l_servicio->nombre?>--$<?php echo TarifascambioservicioPlaza::obtenerTarifacambioservicioPlaza($this->registro->plaza_id, $l_servicio->id);?></option>
                        <?php }}?>
                    </select>
                </div>
                <div class="span3">
                    <label>CONCEPTO DE CONTRATACIÓN ACTUAL</label>
                    <select name="concepto_contratacion_id" id="concepto_contratacion_id" disabled="disabled">
                        <option value="<?php echo $this->concepto_contratacion_actual->id?>" ><?php echo  $this->concepto_contratacion_actual->nombre; ?></option>
                    </select>
                </div>
                <div class="span3">
                    <label>NUEVO CONCEPTO DE CONTRATACIÓN</label>
                    <select name="nuevo_concepto_contratacion_id" id="nuevo_concepto_contratacion_id">
                        <option value="">Seleccione un concepto de contratación</option>
                        <?php foreach($this->conceptos_contratacion as $concepto_contratacion){
                            if($concepto_contratacion["id"] != $this->concepto_contratacion_actual->id){?>
                                <option value="<?php echo $concepto_contratacion["id"]?>"><?php echo $concepto_contratacion["nombre"]?></option>
                        <?php }}?>
                    </select>
                </div>
            </div>

            <br />
            
            <div  class="row-fluid filaFormulario"></div>
        </div>
    </div>
    <input type="hidden" name="id" id="id" value="<?php echo $this->registro->id;?>" />
    <input type="hidden" name="plaza_id" id="plaza_id" value="<?php echo Usuario::plaza();?>" />
</form>