<form name="frmCliente" id="frmCliente" method="post" action="/transacciones/clientes/guardarcambiodomicilio" class="form-horizontal">    
    <div  class="row-fluid contenedorFormulario">
    

        <div  class="row-fluid">
        
        	<h5>Datos generales</h5>
            
            <div  class="row-fluid filaFormulario">
                <div class="span3">
                	<label>CONTRATO</label>
                    <input type="text" name="contrato" id="contrato" placeholder="Contrato" class="required number span10" <?php if(is_numeric($this->registro->id) && $this->registro->id>0 ) echo "disabled";?> value="<?php echo $this->registro->contrato?>"  />
                </div>
                <div class="span3">
                	<label>FECHA  CONTRATACIÓN</label>
                	<input type="text" name="fecha_contratacion" id="fecha_contratacion" placeholder="DD/MM/AAAA" readonly="readonly" class="span10" value="<?php echo $this->registro->fecha_contratacion?>" />
                </div>
                <div class="span3">
                	<label>NOMBRE DEL CLIENTE</label>
                	<input type="text" name="nombre" id="nombre" placeholder="Nombre" class="span10" readonly="readonly" value="<?php echo $this->registro->nombre?>" />
                </div>                
                <div class="span3">
                	<label>TELÉFONO</label>
                    <input type="text" name="telefono" id="telefono" placeholder="Teléfono" class="span10" readonly="readonly" value="<?php echo $this->registro->telefono?>" />
                </div>
            </div>
            
            <div  class="row-fluid filaFormulario">
                <div class="span3">
                	<label>CELULAR 1</label>
                    <input type="text" name="celular1" id="celular1" placeholder="Celular 1" readonly="readonly" class="span10" value="<?php echo $this->registro->celular1?>" />
                </div>
                <div class="span3">
                	<label>CELULAR 2</label>
                    <input type="text" name="celular2" id="celular2" placeholder="Celular 2" readonly="readonly" class="span10" value="<?php echo $this->registro->celular2?>" />
                </div>
                <div class="span3">
                	<label>E-MAIL</label>
                    <input type="text" name="email" id="email" class="span10" readonly="readonly" placeholder="E-mail"  value="<?php echo $this->registro->email?>" />
                </div>
            </div>
            
            <h5>Domicilio actual</h5>
            
            <div  class="row-fluid filaFormulario">
            	<div class="span3">
                	<label>CALLE</label>
                    <input type="text" name="calle" id="calle" placeholder="Calle" class="span10" readonly="readonly" value="<?php echo $this->registro->calle?>" />
                </div>
                <div class="span3">
                	<label>NÚMERO EXTERIOR</label>
                    <input type="text" name="no_exterior" id="no_exterior" placeholder="Número exterior" readonly="readonly" class="span10" value="<?php echo $this->registro->no_exterior?>" />
                </div>
                <div class="span3">
                	<label>NÚMERO INTERIOR</label>
                    <input type="text" name="no_interior" id="no_interior" placeholder="Número interior" readonly="readonly" value="<?php echo $this->registro->no_interior?>" class="span10"  />
                </div>
                <div class="span3">
                	<label>COLONIA</label>
                    <input type="text" name="colonia" id="colonia" placeholder="Colonia" class=" span10" readonly="readonly" value="<?php echo Colonia::obtenerColonia($this->registro->colonia_id)?>" />
                </div>
            </div>
            
            <h5>Nuevo domicilio</h5>
            <div  class="row-fluid filaFormulario">
            	<div class="span3">
                	<label>CALLE</label>
                    <input type="text" name="nueva_calle" id="nueva_calle" placeholder="Calle" class="required span10"  />
                </div>
                <div class="span3">
                	<label>NÚMERO EXTERIOR</label>
                    <input type="text" name="nuevo_no_exterior" id="nuevo_no_exterior" placeholder="Número exterior" class="required span10"  />
                </div>
                <div class="span3">
                	<label>NÚMERO INTERIOR</label>
                    <input type="text" name="nuevo_no_interior" id="nuevo_no_interior" placeholder="Número interior"  class="span10"  />
                </div>
                <div class="span3">
                    <label>COLONIA</label>
                    <select name="nueva_colonia" id="nueva_colonia" class="required span10">
                        <option value="">Elija una colonia</option>
                        <?php foreach($this->colonias as $colonia){?>
                        <option value="<?php echo $colonia->id?>"><?php echo $colonia->nombre?></option>
                        <?php }?>
                    </select>
                </div>
            </div>
            
            

            <br />
            
            <div  class="row-fluid filaFormulario"></div>
        </div>
    </div>
    <input type="hidden" name="id" id="id" value="<?php echo $this->registro->id;?>" />
    <input type="hidden" name="plaza_id" id="plaza_id" value="<?php echo Usuario::plaza();?>" />
</form>