<form name="frmCliente" id="frmCliente" method="post" action="/transacciones/clientes/guardar" class="form-horizontal">    
    <div  class="row-fluid contenedorFormulario">
    

        <div  class="row-fluid">
        
            <div  class="row-fluid filaFormulario">
                <div class="span3">
                	<label>CONTRATO</label>
                    <input type="text" name="contrato" id="contrato" placeholder="Contrato" class="required number span10" <?php if(Usuario::tipo()==1) echo "disabled";?> value="<?php echo $this->registro->contrato?>"  />
                </div>
                <div class="span3">
                	<label>FECHA ACCIÓN</label>
                	<input type="text" name="created_at" id="created_at" class="span10" placeholder="DD/MM/AAAA" readonly="readonly" value="<? if($this->registro->created_at!='') echo substr($this->registro->created_at,0,10); else echo date('Y-m-d')?>"  />
                </div>
                <div class="span3">
                	<label>FECHA  CONTRATACIÓN</label>
            		
					<?php if(Usuario::tipo()==1 && !is_null(Usuario::plaza())){ ?>    
                    	<input type="text" readonly="readonly" value="<?php echo $this->registro->fecha_contratacion ?>"/><?php 					
					}
					
					else { ?>    
                    	<input type="text" name="fecha_contratacion" id="fecha_contratacion" readonly="readonly" class="required span10" value="<?php echo $this->registro->fecha_contratacion ?>"/><?php						
					} ?>
                    
                </div>
                <div class="span3">
                	<label>NOMBRE DEL CLIENTE</label>
                	<input type="text" name="nombre" id="nombre" placeholder="Nombre" class="required span10" value="<?php echo $this->registro->nombre?>"/>
                </div>
            </div>
            
            <div  class="row-fluid filaFormulario">
                <div class="span3">
                	<label>CALLE</label>
                    <?php if(Usuario::tipo()==1 && !is_null(Usuario::plaza())){ ?> 
                    	<input type="text" placeholder="Calle" disabled class="span10" value="<?php echo $this->registro->calle?>" /> <?php 
					}    
					else{ ?>    
                   		<input type="text" name="calle" id="calle" placeholder="Calle" class="required span10" value="<?php echo $this->registro->calle?>"/> <?php						
					} ?>
                    
                </div>
                <div class="span3">
                	<label>NÚMERO EXTERIOR</label>      
              		
					<?php if(Usuario::tipo()==1 && !is_null(Usuario::plaza())){ ?> 
                    	<input type="text"  placeholder="Número exterior" disabled class="span10" value="<?php echo $this->registro->no_exterior?>"/>
                     <?php 
					}    
					else{ ?>    
                   	<input type="text" name="no_exterior" id="no_exterior" placeholder="Número exterior" class="required span10" value="<?php echo $this->registro->no_exterior?>"/>
                     <?php						
					} ?>     
                </div>
                <div class="span3">
                	<label>NÚMERO INTERIOR</label>
                      
					<?php if(Usuario::tipo()==1 && !is_null(Usuario::plaza())){ ?> 
                    	<input type="text" disabled placeholder="Número interior" value="<?php echo $this->registro->no_interior?>" class="span10"/>   
                     <?php 
					}    
					else{ ?>    
                   	<input type="text" name="no_interior" id="no_interior" placeholder="Número interior" value="<?php echo $this->registro->no_interior?>" class="span10"/>
                     <?php						
					} ?>
                    
                </div>
                <div class="span3">
                	<label>COLONIA</label>  
                    <select name="colonia_id" id="colonia_id" clas="required">
                        <option value="">Elija una colonia</option>
                        <?php foreach($this->colonias as $colonia){?>
                        <option value="<?php echo $colonia->id?>" <?php if($colonia->id==$this->registro->colonia_id) echo "selected";?>><?php echo $colonia->nombre?></option>
                        <?php }?>
                    </select>
                </div>
            </div>
            
            <div  class="row-fluid filaFormulario">
                <div class="span3">
                	<label>COMUNIDAD</label>

                    
                   	<?php if(Usuario::tipo()==1 && !is_null(Usuario::plaza())){ ?> 
                 	<select disabled class="span10">
                        <option value="">Elija una comunidad</option>
                        <?php foreach($this->comunidades as $comunidad){?>
                        <option value="<?php echo $comunidad->id?>"  <? if($comunidad->id==$this->registro->comunidad_id) echo "selected";?>><?php echo $comunidad->nombre?></option>
                        <?php  }?>
                    </select>
                    
                     <?php 
					}    
					else{ ?>    
                   	<select name="comunidad_id" id="comunidad_id" class="required span10">
                        <option value="">Elija una comunidad</option>
                        <?php foreach($this->comunidades as $comunidad){?>
                        <option value="<?php echo $comunidad->id?>"  <? if($comunidad->id==$this->registro->comunidad_id) echo "selected";?>><?php echo $comunidad->nombre?></option>
                        <?php  }?>
                    </select>
                     <?php						
					} ?>             
                    
                    
                </div>
                <div class="span3">
                	<label>REFERENCIA DEL DOMICILIO</label>
                    <textarea name="referencia" id="referencia" class="span10"><?php echo $this->registro->referencia?></textarea>
                </div>
                <div class="span3">
                	<label>TELÉFONO</label>
                    
                   	<?php if(Usuario::tipo()==1 && !is_null(Usuario::plaza())){ ?> 
                    <input type="text" placeholder="Teléfono" disabled class="span10" value="<?php echo $this->registro->telefono?>" />
                     <?php 
					}    
					else{ ?>    
                   	<input type="text" name="telefono" id="telefono" placeholder="Teléfono" class="span10" value="<?php echo $this->registro->telefono?>" />
                     <?php						
					} ?>                
                    
                </div>
                <div class="span3">
                	<label>CELULAR 1</label>
                                       
                   	<?php if(Usuario::tipo()==1 && !is_null(Usuario::plaza())){ ?> 
                    <input type="text" placeholder="Celular 1" disabled class="span10" value="<?php echo $this->registro->celular1?>"/> <?php 
					}    
					else{ ?>    
                   	<input type="text" name="celular1" id="celular1" placeholder="Celular 1" class="span10" value="<?php echo $this->registro->celular1?>"/>
                     <?php						
					} ?>                
                    
                </div>
            </div>
            
            <div  class="row-fluid filaFormulario">
                <div class="span3">
                	<label>CELULAR 2</label>
                    
                   	<?php if(Usuario::tipo()==1 && !is_null(Usuario::plaza())){ ?> 
                    <input type="text" placeholder="Celular 2" disabled class="span10" value="<?php echo $this->registro->celular2?>"/>
                     <?php 
					}    
					else{ ?>    
                   	<input type="text" name="celular2" id="celular2" placeholder="Celular 2" class="span10" value="<?php echo $this->registro->celular2?>"/>
                     <?php						
					} ?>                
                    
                </div>
                <div class="span3">
                	<label>E-MAIL</label>
                    <input type="text" name="email" id="email" class="email span10" placeholder="E-mail"  value="<?php echo $this->registro->email?>" />
                </div>
                
             	<div class="span3">
                	<label>ETIQUETA </label>
                           
                   	<?php if(Usuario::tipo()==1 && !is_null(Usuario::plaza())){ ?> 
                    <input type="text" disabled placeholder="Etiqueta" class="span10" value="<?php echo $this->registro->etiqueta?>"/>
                     <?php 
					}    
					else{ ?>    
                   	<input type="text" name="etiqueta" id="etiqueta" placeholder="Etiqueta" class="span10" value="<?php echo $this->registro->etiqueta?>"/>
                     <?php						
					} ?>                                    
                </div>
                
                
                <div class="span3">
                	<label>NODO</label>
                    
                   	<?php if(Usuario::tipo()==1 && !is_null(Usuario::plaza())){ ?> 
                    <input type="text" disabled class="span10" placeholder="Nodo" value="<?php echo $this->registro->nodo?>"/>
                	
                     <?php 
					}    
					else{ ?>    
                   	<input type="text" name="nodo" id="nodo" class="span10" placeholder="Nodo" value="<?php echo $this->registro->nodo?>"/>
                     <?php						
					} ?>                
                
                </div>                
            </div>
                    
            <div  class="row-fluid filaFormulario">

                <div class="span3">
                	<label>POSTE</label>
                   
                   	<?php if(Usuario::tipo()==1 && !is_null(Usuario::plaza())){ ?> 
                    <input type="text" disabled class="span10" placeholder="Poste" value="<?php echo $this->registro->poste?>"/>
                     <?php 
					}    
					else{ ?>    
                  <input type="text" name="poste" id="poste" class="span10" placeholder="Poste" value="<?php echo $this->registro->poste?>"/>
                     <?php						
					} ?>                
                       
                </div>
                <div class="span3">
                    <label>COLONIA ANTERIOR</label>
                   
                    <input type="text" disabled class="span10" placeholder="Colonia" value="<?php echo Colonia::obtenerColonia($this->registro->colonia_id)?>"/>
                                   
                       
                </div>
            </div>
            
            <div  class="row-fluid filaFormulario">
                <div class="span12">
                <label>COMENTARIOS</label>
                 
                 	<?php if(Usuario::tipo()==1 && !is_null(Usuario::plaza())){ ?>
                    	<textarea class="span11" disabled><?php echo $this->registro->comentarios?></textarea>
                     <?php 
					}    
					else{ ?>    
                  		<textarea class="span11"  name="comentarios" id="comentarios"><?php echo $this->registro->comentarios?></textarea>
                       <?php						
					} ?>                                
                </div>
            </div>
            <br/>
            <?php if(count($this->registro->ClienteVoucherCloudtrax)>0){?>
            <div  class="row-fluid filaFormulario">
                <div class="span12">
                <h5>Vouchers asignados</h5>
                 
                   <table class="table table-bordered">
                        <tr>
                            <td>Celular</td>
                            <td>Voucher</td>
                            <td>Reenviar SMS</td>
                            <td>Reasignar</td>
                        </tr>
                        <?php foreach($this->registro->ClienteVoucherCloudtrax as $voucher){?>
                        <tr>
                            <td><?php echo $voucher->celular;?></td>
                            <td id="tdVoucher<?php echo $voucher->id;?>"><?php echo $voucher->VouchersCloudtrax->voucher;?></td>
                            <td><?php if(Usuario::tipo()==0){?><input type="button" id="btnEnviarSms" name="btnEnviarSms" class="btn btn-warning" value="Reenviar SMS" onclick="enviarSms(<?php echo $voucher->id;?>);"/><?php }?></td>
                            <td><?php if(Usuario::tipo()==0){?><input type="button" id="btnReasignarVoucher" name="btnReasignarVoucher" class="btn btn-warning" value="Reasignar Voucher" onclick="reasignarVoucher(<?php echo $voucher->id;?>);"/><?php }?></td>
                        </tr>
                        <?php }?>
                   </table>
                </div>
            </div>
            <?php }?>
            
        </div>
    </div>
    <input type="hidden" name="id" id="id" value="<?php echo $this->registro->id;?>" />
    <input type="hidden" name="plaza_id" id="plaza_id" value="<?php echo $this->registro->plaza_id;?>" />
</form>