<div  class="row-fluid contenedorFiltro">
  <div class="span12 tituloFiltro">
    <div class="span9">CLIENTES</div>
    <div class="span3">
        <? if(Usuario::tipo()==0 || !My_Permisos::tienePermiso('AGREGAR_CLIENTES')){?><div class="span6">&nbsp;</div><? }?>
        <div class="span3">
            <a class="btn btn-success" href="/transacciones/clientes/imprimir" id="btnImprimir" target="_blank"><i class="icon-print icon-white"></i></a>
        </div>
        <div class="span3">
            <a class="btn btn-success" href="/transacciones/clientes/exportar" target="_blank" id="btnExportar"><i class="icon-list icon-white"></i></a>
        </div>
        <? if(Usuario::tipo()!=0){if(My_Permisos::tienePermiso('AGREGAR_CLIENTES')){?><div class="span6"><a class="btn btn-success" onclick="agregarCliente(0);">Agregar&nbsp; &nbsp;<i class="icon-plus icon-white"></i></a></div><? }}?>
    </div>
  </div>
  
  <div  class="row-fluid filaFiltro">
    <div class="span1"><label>CLIENTE</label></div>
    <div class="span3"><input type="text" name="fnombre" id="fnombre" /></div>
    <div class="span1"><label>ESTATUS</label></div>
    <div class="span3">
		<select name="festatus" id="festatus" multiple="multiple">
            <option value="1">Activo</option>
            <option value="2">Desconectar</option>
            <option value="3">Cortar</option>
            <option value="4">Retirar</option>
            <option value="5">Baja</option>
            <option value="6">Por instalar</option>
            <option value="8">Desconectado</option>
            <option value="9">Retirado</option>
            <option value="10">Por reinstalar</option>
            <option value="11">Por reconectar</option>
            <option value="12">Baja voluntaria</option>
        </select>
        <input type="hidden" name="festatus__" id="festatus__" value="1_2_3_4_5_6_8_9_10_11" />
        <input type="hidden" name="festatus_" id="festatus_"/>
    </div>
    <div class="span2"><a class="btn btn-primary span10" onclick="filtrarClientes();">Filtrar&nbsp; &nbsp;<i class="icon-filter icon-white"></i></a></div>
    <div class="span2"><a class="btn btn-primary span10" onclick="limpiarClientes();">Limpiar&nbsp; &nbsp;</a></div>
  </div>   
  <div  class="row-fluid filaFiltro">
    <div class="span1"><? if(Usuario::tipo()==0){?><label>PLAZA</label><? }?></div>
    <div class="span3">
	  <? if(Usuario::tipo()==0){ $cadena='';?>
            <select name="fplaza" id="fplaza" multiple="multiple">
                <?php foreach($this->plazas as $plaza){?>
                <option value="<?php echo $plaza->id;?>"><?php echo $plaza->nombre;?></option>
                <?php if($cadena==''){$cadena=$plaza->id;}else{$cadena.='_'.$plaza->id;}?>
                <?php }?>
            </select>
            <input type="hidden" name="plazas" id="plazas" value="<?php echo $cadena;?>" />
        <? }?>
        <input type="hidden" name="fplazas" id="fplazas" class="span12" />  
    </div>
	<? if(Usuario::tipo()==0){ ?>
	<div class="span1"><label>COLONIA</label></div>
    <div class="span3">
		<select name="fcolonia" id="fcolonia" multiple="multiple">
		</select>
		<input type="hidden" name="colonias" id="colonias" >
	</div>
	<? }?>
	<input type="hidden" name="fcolonias" id="fcolonias" class="span12"/>
    <div class="span1"><label>ETIQUETA</label></div>
    <div class="span3"><input type="text" name="fetiqueta" id="fetiqueta" /></div>
  </div> 
  
  <div  class="row-fluid filaFiltro">
    <div class="span1"><label>NODO</label></div>
    <div class="span3"><input type="text" name="fnodo" id="fnodo" /></div>
   	<div class="span1"><label>POSTE</label></div>
    <div class="span3"><input type="text" name="fposte" id="fposte" /></div>
    <div class="span2"></div>
  </div> 
       
</div>

<div  class="row-fluid contenedorGrid">
    <div id="flexgrid"></div>
</div>
