<?php if($this->servicio->num_equipos_moviles>0){?>
    <h3 class="alert alert-success">Defina los números de celular a los cuales deben ser enviadas las claves para conectarse a la red inalámbrica</h3>
    <?php for($i=0; $i<$this->servicio->num_equipos_moviles; $i++){?>
    <div  class="row-fluid">
        
        <div class="span6">
        	<label>NÚMERO  DE CELULAR</label>
            <input class="numero_de_celular_movil" type="text" name="numero_celular[]" id="numero_celular_<?php echo $i?>" value="" />
        </div>
        
    </div>
    <?php }?>
<?php }?>
