

<form name="frm" id="frm" method="post" action="/catalogos/notificacion/guardar">    
    <div  class="row-fluid contenedorFormulario">
   
        
        <div  class="row-fluid">
            <div  class="row-fluid filaFormulario">
                <div class="span12"><p class="alert alert-danger"><b>Importante:</b> Actualmente restan <b><?php echo My_Comun::obtenerCreditosSmsRestantes();?></b> mensajes SMS</p></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span6"><label>INDICA EL TÍTULO DE MENSAJE:</label><input class="span12" type="text" name="nombre" id="nombre" placeholder="Titulo" class="required" value="<?php echo $this->registro->nombre;?>" /></div>
                <div class="span6">
                    <label>INDICA A QUE PLAZAS VA DIRIGIDO TU MENSAJE:</label>
                    <select class="span4" name="plaza_id[]" multiple="multple" id="plaza_id" class="required">
                        <?php foreach($this->plazas as $plaza){?>
                                <option value="<?php echo $plaza->id?>" <?php echo (in_array($plaza->id, $this->mis_plazas))?"selected":""?>><?php echo $plaza->nombre?></option>
                        <?php }?>
                    </select>
                </div>
            </div><br />
            <div  class="row-fluid filaFormulario">
                <label>INDICA LOS ESTATUS DE LOS CLIENTES A LOS QUE QUIERES DIRIGIR TU MENSAJE:</label>
                <table class="table table-bordered">
                    <tr>
                        <td><input type="checkbox" id="estatus0" name="estatus[0]" value="1" <?php  if($this->e1 != 0) echo "checked"; ?>>&nbsp;Activo</td>
                        <td><input type="checkbox" id="estatus1" name="estatus[1]" value="2" <?php if($this->e2 != 0) echo "checked"; ?>>&nbsp;Desconectar</td>
                        <td><input type="checkbox" id="estatus2" name="estatus[2]" value="3" <?php if($this->e3 != 0) echo "checked"; ?>>&nbsp;Cortar</td>
                        <td><input type="checkbox" id="estatus3" name="estatus[3]" value="4" <?php if($this->e4 != 0) echo "checked"; ?>>&nbsp;Retirar</td>
                        <td><input type="checkbox" id="estatus4" name="estatus[4]" value="5" <?php if($this->e5 != 0) echo "checked"; ?>>&nbsp;Baja</td>
                        <td><input type="checkbox" id="estatus5" name="estatus[5]" value="6" <?php if($this->e6 != 0) echo "checked"; ?>>&nbsp;Por Instalar</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="estatus6" name="estatus[6]" value="7" <?php if($this->e7 != 0) echo "checked"; ?>>&nbsp;Cortado</td>
                        <td><input type="checkbox" id="estatus7" name="estatus[7]" value="8" <?php if($this->e8 != 0) echo "checked"; ?>>&nbsp;Desconectado</td>
                        <td><input type="checkbox" id="estatus8" name="estatus[8]" value="9" <?php if($this->e9 != 0) echo "checked"; ?>>&nbsp;Retirado</td>
                        <td><input type="checkbox" id="estatus9" name="estatus[9]" value="10" <?php if($this->e10 != 0) echo "checked"; ?>>&nbsp;Por Reinstalar</td>
                        <td><input type="checkbox" id="estatus10" name="estatus[10]" value="11" <?php if($this->e11 != 0) echo "checked"; ?>>&nbsp;Por Reconectar</td>
                        <td><input type="checkbox" id="estatus11" name="estatus[11]" value="12" <?php if($this->e12 != 0) echo "checked"; ?>>&nbsp;Baja Voluntaria</td>
                    </tr>
                </table>
            </div>
            
            <div  class="row-fluid filaFormulario">
                <div class="span12">
                    <label>CONTENIDO DEL MENSAJE:</label>
                    
                    <div class="alert alert-info">
                        <b>Importante:</b> 
                        <br />* Haz click en el botón <input class="btn btn-info btn-mini" type="button" value="NOMBRE" onClick="etiqueta(1);"/> para incluir el nombre del cliente en el mensaje
                        <br />* Haz click en el botón <input class="btn btn-info btn-mini" type="button" value="PAGO" onClick="etiqueta(2);"/> para incluir el adeudo del cliente en el mensaje
                    </div>
                    <div id="caracteres" class="caracteres" <?php if($this->registro!=null){ if($this->registro->metodo==2) echo "style='display: none;'"; } else echo "style='display: none;'"; ?>>
                        <label>No. CARACTERES: 0</label>
                    </div>
                    <textarea id="descripcion" name="descripcion" class="required span12" onKeyDown="cambioTXT();" onKeyUp="cambioTXT();"><?php echo $this->registro->descripcion;?></textarea>
                    <br>
                    
                </div>
                <!--<div class="span2"><label>FECHAS:</label></div>
                <div class="span4">
                </div>-->
            </div> 
            
            <div  class="row-fluid filaFormulario">
                
                <div class="span12" id="ifechas" name="ifechas">
                    <label>INDICA LA O LAS FECHAS EN LAS QUE QUIERES ENVIAR TU MENSAJE</label>
                    <table id="tablaFechas" class="table table-bordered">
                        <tr>
                            <th>Fecha</th>
                            <th>
                                Programación periódica
                                <p class="alert alert-success"><i class="icon-question-sign"></i> Si activas esta opción, el sistema enviara este mensaje cada mes en la fecha y horas programadas.</p>
                            </th>
                            <th>Agregar / Eliminar</th>
                        </tr>
                        <tr>
                            <td><input type='text' name='fechas[0]' id='fechas_0' placeholder='DD/MM/AAA' class='required' readonly='readonly' value="<?php echo $this->fechas[0]->fecha; ?>"/> </td>
                            <td><input type="checkbox" name="cfechas[0]" id='cfechas_0' value="<?php echo $this->fechas[0]->periodico; ?>" <?php if($this->fechas[0]->periodico == 1) echo " checked"; ?> onClick="$(this).val(this.checked ? 1 : 0)"/></td>
                            <td><input class="btn btn-success" type="button" value="Agregar fecha" onClick="addInput('tablaFechas');"></td>
                        </tr>
                        <?php 
                        if($this->editando == 1)
                        {
                            $count = 0;
                            foreach ($this->fechas as $fecha) {
                                if($count != 0)
                                {
                                    $del = "div_f_".$count;
                                    $delete = "fechas_".$count;
                        ?>
                                <tr id="<?php echo $del;?>">
                                    <td><input type='text' name='fechas[<?php echo $count?>]' id='fechas_<?php echo $count?>' placeholder='DD/MM/AAA' class='required' readonly='readonly' value="<?php echo $fecha->fecha; ?>"/> </td>
                                    <td><input type="checkbox" name="cfechas[<?php echo $count?>]" id="cfechas_<?php echo $count?>" value="<?php ecHo $fecha->periodico?>" <?php if($fecha->periodico == 1) echo "checked";?> onClick="$(this).val(this.checked ? 1 : 0)"/></td>
                                    <td>
                                        <input class="btn btn-danger" type="button" value="X" onClick="deleteInput('<?php echo $delete?>');"/>
                                        <script language="javascript">
                                                 $("#fechas_<?php echo $count?>").datetimepicker({controlType: "select", changeYear:true,dateFormat:"yy-mm-dd", maxDate:"+0", timeFormat: "HH:00:00"});                                          
                                        </script>
                                    </td>
                                </tr>
                        <?
                                }
                                $count++;
                            }
                        }
                    ?>
                        
                    </table>
                    
                    
                    
                    
                    
                </div>
            </div> 
            <br />
            <div  class="row-fluid filaFormulario">
                <div class="span12">
                    <label>INDICA EL MÉTODO QUE QUIERES USAR PARA ENVIAR ESTE MENSAJE:</label>
                    <select class="span12" name="metodo" id="metodo" class="required">
                        <option value="">Seleccione un tipo</option>
                        <option value="1" <?php echo ($this->registro->metodo==1)?"selected":""?>>SMS</option>
                        <option value="2" <?php echo ($this->registro->metodo==2)?"selected":""?>>PUSH</option>
                        <option value="3" <?php echo ($this->registro->metodo==3)?"selected":""?>>AMBOS</option>
                    </select>
                </div>
            </div>
        </div>      
    </div>
    <input type="hidden" name="id" id="id" value="<?php echo $this->registro->id?>" />
</form> 