<div  class="row-fluid contenedorFiltro">
  <div class="span12 tituloFiltro">
    <div class="span9">PROGRAMACIÓN DE NOTIFICACIONES</div>
    <div class="span3">
        <? if(My_Permisos::tienePermiso('AGREGAR_NOTIFICACION')){?><div class="span6"><a class="btn btn-success" onclick="agregar(0);">Agregar&nbsp;&nbsp;<i class="icon-plus icon-white"></i></a></div><? }?>
    </div>
  </div>

  
  <div  class="row-fluid filaFiltro">
    <div class="span1"><label>TITULO</label></div>
    <div class="span3"><input type="text" name="nombre" id="nombre" /></div>
    <div class="span1"><label>ESTATUS</label></div>
    <div class="span3">
        <select name="estatus" id="estatus">
            <option value="0">Todos los estatus</option>
            <option value="1">Activo</option>
            <option value="2">Desconectar</option>
            <option value="3">Cortar</option>
            <option value="4">Retirar</option>
            <option value="5">Baja</option>
            <option value="6">Por Instalar</option>
            <option value="7">Cortado</option>
            <option value="8">Desconectado</option>
            <option value="9">Retirado</option>
            <option value="10">Por Reinstalar</option>
            <option value="11">Por Reconectar</option>
            <option value="12">Baja Voluntaria</option>
        </select>
    </div>
    <div class="span2"><a class="btn btn-primary"  onclick="filtrar();">Filtrar&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-search icon-white"></i></a></div> 
    <div class="span2"><a class="btn btn-primary" onclick="limpiar();">Limpiar&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></div> 
  </div> 
  
 <div  class="row-fluid filaFiltro">
    <div class="span1"><label>DESDE</label></div>
    <div class="span3"><input type="text" name="desde" class="span11" id="desde"/></div>
    <div class="span1"><label>HASTA</label></div>
    <div class="span3"><input type="text" name="hasta" class="span11" id="hasta"/></div>
  </div> 
  
  <div  class="row-fluid filaFiltro">
    <div class="span6 offset6"><p class="alert alert-danger"><b>Importante:</b> Actualmente restan <b><?php echo My_Comun::obtenerCreditosSmsRestantes();?></b> mensajes SMS</p></div>
  </div>
  
</div>

<div  class="row-fluid contenedorGrid">
    <div id="flexgrid"></div>
</div>
