<form name="frmPaqueteServicio" id="frmPaqueteServicio" method="post" action="/catalogos/paquetes/guardarpaqueteservicio">
    <div  class="row-fluid contenedorFormulario">
    	<div  class="row-fluid">
        	<div  class="row-fluid filaFormulario">
				<div class="contenedor" >
             		<?php foreach($this->servicios as $servicio){ ?>
		
					<div class="contenedor1">
                    	<div class="contenedor3"><label><?php echo $servicio->nombre?></label></div>
                        
                		<div class="contenedor4">
						<input type="checkbox" value="<?php echo $servicio->id?>" name="servicio[]" id="servicio[<?php echo $servicio->id?>]" <? if(isset($this->serviciosElegidos[$servicio->id])) echo "checked";?> />
                        </div>
                        
                	<input type="hidden" name="paquete_id" id="paquete_id" value="<?php echo $this->paquete_id?>"/>
						
                    </div>
            <?php } ?>
            </div>
        </div>
        </div>
    </div>
</form>