<div  class="row-fluid contenedorFiltro">
  <div class="span12 tituloFiltro">CATÁLOGO DE PAQUETES</div>  
  
  <div  class="row-fluid filaFiltro">
    <div class="span1">&nbsp;</div>
    <div class="span3"></div>
    <div class="span1"></div>
    <div class="span3"></div>
    <div class="span2"></div>
    <div class="span2"><? if(My_Permisos::tienePermiso('AGREGAR_PRODUCTOS')){?><a class="btn btn-primary" onclick="agregarPaquete(0);">Agregar&nbsp; &nbsp;<i class="icon-plus icon-white"></i></a><? }?></div>
  </div>
  
  <div  class="row-fluid filaFiltro">
    <div class="span1"><label>NOMBRE</label></div>
    <div class="span3"><input type="text" name="fnombre" id="fnombre" /></div>
    <div class="span1"><label></label></div>
    <div class="span3"></div>
    <div class="span2"><a class="btn btn-primary"  onclick="filtrarServicios();">Filtrar&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-search icon-white"></i></a></div> 
    <div class="span2"><a class="btn btn-primary" onclick="limpiarPaquete();">Limpiar&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></div> 
  </div>   
  
  <div  class="row-fluid filaFiltro">
    <div class="span1"></div>
    <div class="span3"></div>
    <div class="span1"></div>
    <div class="span3"></div>
    <div class="span2"><a class="btn btn-primary" href="/catalogos/paquetes/imprimir" id="btnImprimir" target="blank">Imprimir&nbsp; &nbsp;&nbsp;<i class="icon-print icon-white"></i></a></div> 
    <div class="span2"><a class="btn btn-primary" href="/catalogos/paquetes/exportar" id="btnExportar" target="blank">Exportar&nbsp; &nbsp;&nbsp;<i class="icon-th-list icon-white"></i></a></div> 
  </div>
</div>

<div  class="row-fluid contenedorGrid"><div id="flexgrid"></div></div>
