<form name="frmUsuario" id="frmUsuario" method="post" action="/catalogos/index/guardar">
    <div  class="row-fluid contenedorFormulario">
   
        <div  class="row-fluid">
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>TIPO</label></div>
                <div class="span4">
                    <select name="tipo" id="tipo">
                        <option value="0" <?php echo ($this->registro->tipo==0)?"selected":""?>>Administrador</option>
                        <option value="1" <?php echo ($this->registro->tipo==1)?"selected":""?>>Usuario de plaza</option>
                        <option value="2" <?php echo ($this->registro->tipo==2)?"selected":""?>>Socio</option>
                        <option value="3" <?php echo ($this->registro->tipo==3)?"selected":""?>>Vendedor con acceso</option>
                        <option value="4" <?php echo ($this->registro->tipo==4)?"selected":""?>>Técnico con acceso</option>
                        <option value="5" <?php echo ($this->registro->tipo==5)?"selected":""?>>Vendedor sin acceso</option>
                        <option value="6" <?php echo ($this->registro->tipo==6)?"selected":""?>>Técnico sin acceso</option>
                    </select>
                </div>
                
                <div class="span2"><label>NOMBRE</label></div>
                <div class="span4"><input type="text" name="nombre" id="nombre" placeholder="Nombre" class="required" value="<?php echo $this->registro->nombre?>" /></div>
                
            </div>
            
            <div class="row-fluid filaFormulario">
                
                <div class="span2"><label>PLAZA</label></div>
                <div class="span4">
                    <select name="plaza_id" <? if($this->registro->tipo==2){?>multiple="multple"<? }?> id="plaza_id" <? if(!isset($this->registro) || $this->registro->tipo==0){?>disabled="disabled"<? }?>>
                        <option value="0">Elija una plaza</option>
                        <?php foreach($this->plazas as $plaza){?>
                            <? if($this->registro->tipo==2){?>
                                <option value="<?php echo $plaza->id?>" <?php echo (Permiso::tieneEstaPlaza($plaza->id,$this->registro->id))?"selected":""?>><?php echo $plaza->nombre?></option>
                            <? }else{?>
                                <option value="<?php echo $plaza->id?>" <?php echo ($this->registro->plaza_id==$plaza->id)?"selected":""?>><?php echo $plaza->nombre?></option>
                            <? }?>
                        <?php }?>
                    </select>
                    <?php foreach($this->plazas as $plaza){?>
                        <input type="hidden" name="idsplaza[]" id="plaza_<?=$plaza->id?>" value="<?php echo (Permiso::tieneEstaPlaza($plaza->id,$this->registro->id))?$plaza->id:0?>" />
                    <? }?>
                </div>
                
                <div class="span2"><label>SUCURSAL</label></div>
                <div class="span4">
                    <select name="sucursal_id" id="sucursal_id" <? if(!isset($this->registro) || $this->registro->tipo==0){?>disabled="disabled"<? }?>>
                        <option value="0" >Elija una sucursal</option>
                        <?php foreach($this->sucursales as $sucursal){?>
                        <option value="<?php echo $sucursal->id?>" <?php echo ($this->registro->sucursal_id==$sucursal->id)?"selected":""?>><?php echo $sucursal->nombre?></option>
                        <?php }?>
                    </select>
                </div>  
                
               
            </div>
            
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>USUARIO</label></div>
                <div class="span4"><input type="text" name="usuario" id="usuario" placeholder="Usuario" class="required" value="<?php echo $this->registro->usuario?>" /></div>
                <div class="span2"><label>CONTRASEÑA</label></div>
                <div class="span4"><input type="text" name="password" id="password" placeholder="Contraseña" class="required" value="<?php echo $this->registro->password?>" /></div>
                
            </div>
            
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>EMAIL</label></div>
                <div class="span4"><input type="text" name="email" id="email" placeholder="Email" class="email" value="<?php echo $this->registro->email?>" /></div>
                <div class="span2"><label>CELULAR</label></div>
                <div class="span4"><input type="text" name="celular" id="celular" placeholder="Celular"  value="<?php echo $this->registro->celular?>" /></div>
            </div>
            
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>INGRESO</label></div>
                <div class="span4"><input type="text" name="fecha_ingreso" id="fecha_ingreso" placeholder="Fecha de ingreso" readonly="readonly"  value="<?php echo $this->registro->fecha_ingreso?>" /></div>
                <div class="span2 inputViaja" style="display:none"><label>¿VIAJA?</label></div>
                <div class="span4 inputViaja" style="display:none"><input type="checkbox" name="viaja" id="viaja" <?php if($this->registro->promotor==1){?>checked="checked"<? }?> value="1" /></div>
           </div>

            <div class="row-fluid filaFormulario">
                <div class="span2"><label>¿ES PROMOTOR?</label></div>
                <div class="span4"><input type="checkbox" name="promotor" id="promotor" value="1"<?php if($this->registro->promotor){ echo ' checked="checked"'; } if(!isset($this->registro)){ echo ' disabled="disabled"'; } else { if($this->registro->tipo == 0 || $this->registro->tipo == 2){ echo ' disabled="disabled"'; } } ?> /></div>
            </div>
            
            
        </div>      
    </div>
    <input type="hidden" name="id" id="id" value="<?php echo $this->registro->id?>" />
</form>
<? if($this->registro->tipo==2){?>
<script>
$(document).ready(function(){
    $("#plaza_id").multiselect({
        noneSelectedText: "",
        click: function(event, ui)
        {
            if(ui.checked)
            {
                $("#plaza_"+ui.value).attr("value",ui.value);
            }
            else
            {
                $("#plaza_"+ui.value).attr("value","0");   
            }
        }
    });
});
</script>
<? }?>