<div  class="row-fluid contenedorFiltro">
  <div class="span12 tituloFiltro">
    <div class="span9">CATÁLOGO DE USUARIOS</div>
    <div class="span3">
        <? if(!My_Permisos::tienePermiso('AGREGAR_INDEX')){?><div class="span6">&nbsp;</div><? }?>
        <div class="span3">
            <a class="btn btn-success" href="/catalogos/index/imprimir" id="btnImprimir" target="blank"><i class="icon-print icon-white"></i></a>
        </div> 
        <div class="span3">
            <a class="btn btn-success" href="/catalogos/index/exportar" id="btnExportar" target="blank"><i class="icon-th-list icon-white"></i></a>
        </div>
        <? if(My_Permisos::tienePermiso('AGREGAR_INDEX')){?><div class="span6"><a class="btn btn-success" onclick="agregarUsuario(0);">Agregar&nbsp; &nbsp;<i class="icon-plus icon-white"></i></a></div><? }?>
    </div>
  </div>  
  
  <div  class="row-fluid filaFiltro">
    <div class="span1"><label>NOMBRE</label></div>
    <div class="span2"><input class="span12" type="text" name="fnombre" id="fnombre"/></div>
    
    <div class="span1"><? if(Usuario::tipo()==0){?><label>PLAZA</label><? }?></div>
    <div class="span2">
        <? if(Usuario::tipo()==0){?>
            <select name="fplaza" id="fplaza" class="span12">
                <option value="0">Todas las plazas</option>
                <?php foreach($this->plazas as $plaza){?>
                <option value="<?php echo $plaza->id?>"><?php echo $plaza->nombre?></option>
                <?php }?>
            </select>
        <? }?> 
    </div>
    <div class="span1"><? if(Usuario::tipo()==0){?><label>SUCURSAL</label><? }?></div>
    <div class="span2">
        <? if(Usuario::tipo()==0){?>
            <select name="fsucursal" id="fsucursal" class="span12">
                <option value="0">Todas las sucursales</option>
                <?php foreach($this->sucursales as $sucursal){?>
                <option value="<?php echo $sucursal->id?>"><?php echo $sucursal->nombre?></option>
                <?php }?>
            </select>
        <? }?> 
    </div>
    <div class="span1"><a class="btn btn-primary"  onclick="filtrarUsuarios();">Filtrar</a></div> 
    <div class="span1"><a class="btn btn-primary" onclick="limpiarUsuarios();">Limpiar</a></div> 
  </div>
 
</div>

<div  class="row-fluid contenedorGrid"><div id="flexgrid"></div></div>