<form name="frmUsuario" id="frmPermisos" method="post" action="/catalogos/index/guardarpermisos">
    <div  class="row-fluid contenedorFormulario">
     
        <div class="row-fluid">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Catálogo</th>
                        <th>Ver</th>
                        <th>Agregar</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                        <? if($this->registro->tipo==0){?> <th>Permisos</th> <? }?>
                    </tr>
                </thead>
                
                <tbody>
                    <? if($this->registro->tipo==0){?> 
                    
                    <tr>
                        <td>Usuarios</td>
                        <td><input type="checkbox" name="permisos[]" value="VER_INDEX" <?php echo (in_array("VER_INDEX",$this->permisos))?"checked":""?> /></td>
                        <td><input type="checkbox" name="permisos[]" value="AGREGAR_INDEX" <?php echo (in_array("AGREGAR_INDEX",$this->permisos))?"checked":""?> /></td>
                        <td><input type="checkbox" name="permisos[]" value="EDITAR_INDEX" <?php echo (in_array("EDITAR_INDEX",$this->permisos))?"checked":""?> /></td>
                        <td><input type="checkbox" name="permisos[]" value="ELIMINAR_INDEX" <?php echo (in_array("ELIMINAR_INDEX",$this->permisos))?"checked":""?>/></td>
                        <td><input type="checkbox" name="permisos[]" value="PERMISOS_INDEX" <?php echo (in_array("PERMISOS_INDEX",$this->permisos))?"checked":""?>/></td>
                    </tr>                    
                    <tr>
                        <td>Bitácora</td>
                        <td colspan="5"><input type="checkbox" name="permisos[]" value="VER_BITACORA" <?php echo (in_array("VER_BITACORA",$this->permisos))?"checked":""?> /></td>
                    </tr>                           
                    <tr>
                        <td>Parámetros de productividad</td>
                        <td colspan="5"><input type="checkbox" name="permisos[]" value="VER_PARAMETROSDEPRODUCTIVIDAD" <?php echo (in_array("VER_PARAMETROSDEPRODUCTIVIDAD",$this->permisos))?"checked":""?> /></td>
                    </tr>
                    <tr>
                        <td>Sucursales</td>
                        <td><input type="checkbox" name="permisos[]" value="VER_SUCURSAL" <?php echo (in_array("VER_SUCURSAL",$this->permisos))?"checked":""?> /></td>
                        <td><input type="checkbox" name="permisos[]" value="AGREGAR_SUCURSAL" <?php echo (in_array("AGREGAR_SUCURSAL",$this->permisos))?"checked":""?> /></td>
                        <td><input type="checkbox" name="permisos[]" value="EDITAR_SUCURSAL" <?php echo (in_array("EDITAR_SUCURSAL",$this->permisos))?"checked":""?> /></td>
                        <td colspan="2"><input type="checkbox" name="permisos[]" value="ELIMINAR_SUCURSAL" <?php echo (in_array("ELIMINAR_SUCURSAL",$this->permisos))?"checked":""?>/></td>
                    </tr>      
                    <tr>
                        <td>Plazas</td>
                        <td><input type="checkbox" name="permisos[]" value="VER_PLAZA" <?php echo (in_array("VER_PLAZA",$this->permisos))?"checked":""?> /></td>
                        <td><input type="checkbox" name="permisos[]" value="AGREGAR_PLAZA" <?php echo (in_array("AGREGAR_PLAZA",$this->permisos))?"checked":""?> /></td>
                        <td><input type="checkbox" name="permisos[]" value="EDITAR_PLAZA" <?php echo (in_array("EDITAR_PLAZA",$this->permisos))?"checked":""?> /></td>
                        <td colspan="2"><input type="checkbox" name="permisos[]" value="ELIMINAR_PLAZA" <?php echo (in_array("ELIMINAR_PLAZA",$this->permisos))?"checked":""?>/></td>
                    </tr>
                    <tr>
                        <td>Tipos de fallas</td>
                        <td><input type="checkbox" name="permisos[]" value="VER_TIPODEFALLA" <?php echo (in_array("VER_TIPODEFALLA",$this->permisos))?"checked":""?>/></td>
                        <td><input type="checkbox" name="permisos[]" value="AGREGAR_TIPODEFALLA" <?php echo (in_array("AGREGAR_TIPODEFALLA",$this->permisos))?"checked":""?>/></td>
                        <td><input type="checkbox" name="permisos[]" value="EDITAR_TIPODEFALLA" <?php echo (in_array("EDITAR_TIPODEFALLA",$this->permisos))?"checked":""?>/></td>
                        <td colspan="2"><input type="checkbox" name="permisos[]" value="ELIMINAR_TIPODEFALLA" <?php echo (in_array("ELIMINAR_TIPODEFALLA",$this->permisos))?"checked":""?>/></td>
                    </tr>
                    <tr>
                        <td>Estatus de fallas</td>
                        <td><input type="checkbox" name="permisos[]" value="VER_ESTATUSDEFALLAS" <?php echo (in_array("VER_ESTATUSDEFALLAS",$this->permisos))?"checked":""?>/></td>
                        <td><input type="checkbox" name="permisos[]" value="AGREGAR_ESTATUSDEFALLAS" <?php echo (in_array("AGREGAR_ESTATUSDEFALLAS",$this->permisos))?"checked":""?>/></td>
                        <td><input type="checkbox" name="permisos[]" value="EDITAR_ESTATUSDEFALLAS" <?php echo (in_array("EDITAR_ESTATUSDEFALLAS",$this->permisos))?"checked":""?>/></td>
                        <td colspan="2"><input type="checkbox" name="permisos[]" value="ELIMINAR_ESTATUSDEFALLAS" <?php echo (in_array("ELIMINAR_ESTATUSDEFALLAS",$this->permisos))?"checked":""?>/></td>
                    </tr>
                    <tr>
                        <td>Municipios</td>
                        <td><input type="checkbox" name="permisos[]" value="VER_CIUDADES" <?php echo (in_array("VER_CIUDADES",$this->permisos))?"checked":""?>/></td>
                        <td><input type="checkbox" name="permisos[]" value="AGREGAR_CIUDADES" <?php echo (in_array("AGREGAR_CIUDADES",$this->permisos))?"checked":""?>/></td>
                        <td><input type="checkbox" name="permisos[]" value="EDITAR_CIUDADES" <?php echo (in_array("EDITAR_CIUDADES",$this->permisos))?"checked":""?>/></td>
                        <td colspan="2"><input type="checkbox" name="permisos[]" value="ELIMINAR_CIUDADES" <?php echo (in_array("ELIMINAR_CIUDADES",$this->permisos))?"checked":""?>/></td>
                    </tr>
                    <tr>
                        <td>Comunidades</td>
                        <td><input type="checkbox" name="permisos[]" value="VER_COMUNIDADES" <?php echo (in_array("VER_COMUNIDADES",$this->permisos))?"checked":""?>/></td>
                        <td><input type="checkbox" name="permisos[]" value="AGREGAR_COMUNIDADES" <?php echo (in_array("AGREGAR_COMUNIDADES",$this->permisos))?"checked":""?>/></td>
                        <td><input type="checkbox" name="permisos[]" value="EDITAR_COMUNIDADES" <?php echo (in_array("EDITAR_COMUNIDADES",$this->permisos))?"checked":""?>/></td>
                        <td colspan="2"><input type="checkbox" name="permisos[]" value="ELIMINAR_COMUNIDADES" <?php echo (in_array("ELIMINAR_COMUNIDADES",$this->permisos))?"checked":""?>/></td>
                    </tr>
                    <tr>
                        <td>Servicios</td>
                        <td><input type="checkbox" name="permisos[]" value="VER_PRODUCTOS" <?php echo (in_array("VER_PRODUCTOS",$this->permisos))?"checked":""?>/></td>
                        <td><input type="checkbox" name="permisos[]" value="AGREGAR_PRODUCTOS" <?php echo (in_array("AGREGAR_PRODUCTOS",$this->permisos))?"checked":""?>/></td>
                        <td><input type="checkbox" name="permisos[]" value="EDITAR_PRODUCTOS" <?php echo (in_array("EDITAR_PRODUCTOS",$this->permisos))?"checked":""?>/></td>
                        <td colspan="2"><input type="checkbox" name="permisos[]" value="ELIMINAR_PRODUCTOS" <?php echo (in_array("ELIMINAR_PRODUCTOS",$this->permisos))?"checked":""?>/></td>
                    </tr>
                    <tr>
                        <td>Notificaciones</td>
                        <td><input type="checkbox" name="permisos[]" value="VER_NOTIFICACION" <?php echo (in_array("VER_NOTIFICACION",$this->permisos))?"checked":""?>/></td>
                        <td><input type="checkbox" name="permisos[]" value="AGREGAR_NOTIFICACION" <?php echo (in_array("AGREGAR_NOTIFICACION",$this->permisos))?"checked":""?>/></td>
                        <td><input type="checkbox" name="permisos[]" value="EDITAR_NOTIFICACION" <?php echo (in_array("EDITAR_NOTIFICACION",$this->permisos))?"checked":""?>/></td>
                        <td colspan="2"><input type="checkbox" name="permisos[]" value="ELIMINAR_NOTIFICACION" <?php echo (in_array("ELIMINAR_NOTIFICACION",$this->permisos))?"checked":""?>/></td>
                    </tr>
                    <tr>
                        <td>Conceptos de contratación</td>
                        <td><input type="checkbox" name="permisos[]" value="VER_CONCEPTODECONTRATACION" <?php echo (in_array("VER_CONCEPTODECONTRATACION",$this->permisos))?"checked":""?>/></td>
                        <td><input type="checkbox" name="permisos[]" value="AGREGAR_CONCEPTODECONTRATACION" <?php echo (in_array("AGREGAR_CONCEPTODECONTRATACION",$this->permisos))?"checked":""?>/></td>
                        <td><input type="checkbox" name="permisos[]" value="EDITAR_CONCEPTODECONTRATACION" <?php echo (in_array("EDITAR_CONCEPTODECONTRATACION",$this->permisos))?"checked":""?>/></td>
                        <td colspan="2"><input type="checkbox" name="permisos[]" value="ELIMINAR_CONCEPTODECONTRATACION" <?php echo (in_array("ELIMINAR_CONCEPTODECONTRATACION",$this->permisos))?"checked":""?>/></td>
                    </tr>
                    <tr>
                        <td>Tarifas especiales</td>
                        <td><input type="checkbox" name="permisos[]" value="VER_TARIFASESPECIALES" <?php echo (in_array("VER_TARIFASESPECIALES",$this->permisos))?"checked":""?>/></td>
                        <td><input type="checkbox" name="permisos[]" value="AGREGAR_TARIFASESPECIALES" <?php echo (in_array("AGREGAR_TARIFASESPECIALES",$this->permisos))?"checked":""?>/></td>
                        <td><input type="checkbox" name="permisos[]" value="EDITAR_TARIFASESPECIALES" <?php echo (in_array("EDITAR_TARIFASESPECIALES",$this->permisos))?"checked":""?>/></td>
                        <td colspan="2"><input type="checkbox" name="permisos[]" value="ELIMINAR_TARIFASESPECIALES" <?php echo (in_array("ELIMINAR_TARIFASESPECIALES",$this->permisos))?"checked":""?>/></td>
                    </tr>
                    <tr>
                        <td>Paquetes</td>
                        <td><input type="checkbox" name="permisos[]" value="VER_PAQUETES" <?php echo (in_array("VER_PAQUETES",$this->permisos))?"checked":""?>/></td>
                        <td><input type="checkbox" name="permisos[]" value="AGREGAR_PAQUETES" <?php echo (in_array("AGREGAR_PAQUETES",$this->permisos))?"checked":""?>/></td>
                        <td><input type="checkbox" name="permisos[]" value="EDITAR_PAQUETES" <?php echo (in_array("EDITAR_PAQUETES",$this->permisos))?"checked":""?>/></td>
                        <td colspan="2"><input type="checkbox" name="permisos[]" value="ELIMINAR_PAQUETES" <?php echo (in_array("ELIMINAR_PAQUETES",$this->permisos))?"checked":""?>/></td>
                    </tr>                           
                    <tr>
                        <td>Comisiones</td>
                        <td><input type="checkbox" name="permisos[]" value="VER_COMISIONES" <?php echo (in_array("VER_COMISIONES",$this->permisos))?"checked":""?>/></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Tarifas de recuperacion</td>
                        <td><input type="checkbox" name="permisos[]" value="VER_TARIFASRECUPERACION" <?php echo (in_array("VER_TARIFASRECUPERACION",$this->permisos))?"checked":""?>/></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Tarifas de cambio de servicio</td>
                        <td><input type="checkbox" name="permisos[]" value="VER_TARIFASCAMBIOSERVICIO" <?php echo (in_array("VER_TARIFASCAMBIOSERVICIO",$this->permisos))?"checked":""?>/></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Tarifas de promoción de recuperación</td>
                        <td><input type="checkbox" name="permisos[]" value="VER_TARIFASPROMOCIONRECUPERACION" <?php echo (in_array("VER_TARIFASPROMOCIONRECUPERACION",$this->permisos))?"checked":""?>/></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Promociones</td>
                        <td><input type="checkbox" name="permisos[]" value="VER_PROMOCION" <?php echo (in_array("VER_PROMOCION",$this->permisos))?"checked":""?>/></td>
                        <td><input type="checkbox" name="permisos[]" value="AGREGAR_PROMOCION" <?php echo (in_array("AGREGAR_PROMOCION",$this->permisos))?"checked":""?>/></td>
                        <td><input type="checkbox" name="permisos[]" value="EDITAR_PROMOCION" <?php echo (in_array("EDITAR_PROMOCION",$this->permisos))?"checked":""?>/></td>
                        <td colspan="2"><input type="checkbox" name="permisos[]" value="ELIMINAR_PROMOCION" <?php echo (in_array("ELIMINAR_PROMOCION",$this->permisos))?"checked":""?>/></td>
                    </tr>
                    <tr>
                        <td>Zonas</td>
                        <td><input type="checkbox" name="permisos[]" value="VER_ZONA" <?php echo (in_array("VER_ZONA",$this->permisos))?"checked":""?>/></td>
                        <td><input type="checkbox" name="permisos[]" value="AGREGAR_ZONA" <?php echo (in_array("AGREGAR_ZONA",$this->permisos))?"checked":""?>/></td>
                        <td><input type="checkbox" name="permisos[]" value="EDITAR_ZONA" <?php echo (in_array("EDITAR_ZONA",$this->permisos))?"checked":""?>/></td>
                        <td colspan="2"><input type="checkbox" name="permisos[]" value="ELIMINAR_ZONA" <?php echo (in_array("ELIMINAR_ZONA",$this->permisos))?"checked":""?>/></td>
                    </tr>
                    <tr>
                        <td>Colonias</td>
                        <td><input type="checkbox" name="permisos[]" value="VER_COLONIA" <?php echo (in_array("VER_COLONIA",$this->permisos))?"checked":""?>/></td>
                        <td><input type="checkbox" name="permisos[]" value="AGREGAR_COLONIA" <?php echo (in_array("AGREGAR_COLONIA",$this->permisos))?"checked":""?>/></td>
                        <td><input type="checkbox" name="permisos[]" value="EDITAR_COLONIA" <?php echo (in_array("EDITAR_COLONIA",$this->permisos))?"checked":""?>/></td>
                        <td colspan="2"><input type="checkbox" name="permisos[]" value="ELIMINAR_COLONIA" <?php echo (in_array("ELIMINAR_COLONIA",$this->permisos))?"checked":""?>/></td>
                    </tr>
                    <? }?>       
                    
                    <tr>
                        <td>Técnicos</td>
                        <td><input type="checkbox" name="permisos[]" value="VER_TECNICOS" <?php echo (in_array("VER_TECNICOS",$this->permisos))?"checked":""?>/></td>
                        <td><input type="checkbox" name="permisos[]" value="AGREGAR_TECNICOS" <?php echo (in_array("AGREGAR_TECNICOS",$this->permisos))?"checked":""?>/></td>
                        <td><input type="checkbox" name="permisos[]" value="EDITAR_TECNICOS" <?php echo (in_array("EDITAR_TECNICOS",$this->permisos))?"checked":""?>/></td>
                        <td><input type="checkbox" name="permisos[]" value="ELIMINAR_TECNICOS" <?php echo (in_array("ELIMINAR_TECNICOS",$this->permisos))?"checked":""?>/></td>
                        <? if($this->registro->tipo==0){?> <td></td> <? }?>
                    </tr>    
                    <tr>
                        <td>Promotores</td>
                        <td><input type="checkbox" name="permisos[]" value="VER_PROMOTORES" <?php echo (in_array("VER_PROMOTORES",$this->permisos))?"checked":""?>/></td>
                        <td><input type="checkbox" name="permisos[]" value="AGREGAR_PROMOTORES" <?php echo (in_array("AGREGAR_PROMOTORES",$this->permisos))?"checked":""?>/></td>
                        <td><input type="checkbox" name="permisos[]" value="EDITAR_PROMOTORES" <?php echo (in_array("EDITAR_PROMOTORES",$this->permisos))?"checked":""?>/></td>
                        <td><input type="checkbox" name="permisos[]" value="ELIMINAR_PROMOTORES" <?php echo (in_array("ELIMINAR_PROMOTORES",$this->permisos))?"checked":""?>/></td>
                        <? if($this->registro->tipo==0){?> <td></td> <? }?>
                    </tr>
                </tbody>
            </table>
           
            <!---------------------------------------------------------->
            <? if($this->registro->tipo==1){?>
            
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Transacción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr>
                        <td>Clientes</td>
                        <td>
                            <table class="table table-bordered">
                                <tr>
                                    <td>Ver</td>
                                    <td><input type="checkbox" name="permisos[]" id="chClientelAta" value="VER_CLIENTES|PLAZASRETRASADAS_METAS" <?php echo (in_array("VER_CLIENTES",$this->permisos))?"checked":""?>/></td>
                                </tr>
                                <tr>
                                    <td>Dar de alta</td>
                                    <td><input type="checkbox" name="permisos[]" id="chClientelAta" value="AGREGAR_CLIENTES" <?php echo (in_array("AGREGAR_CLIENTES",$this->permisos))?"checked":""?>/></td>
                                </tr>
                                <tr>
                                    <td>Editar</td>
                                    <td><input type="checkbox" name="permisos[]" id="chClientelAta" value="EDITAR_CLIENTES" <?php echo (in_array("EDITAR_CLIENTES",$this->permisos))?"checked":""?>/></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>Órdenes de instalación</td>
                        <td><table class="table table-bordered">
                          <tr>
                            <td>Ver</td>
                            <td><input type="checkbox" name="permisos[]" id="chClientelAta2" value="VER_ORDENESINSTALACION" <?php echo (in_array("VER_ORDENESINSTALACION",$this->permisos))?"checked":""?>/></td>
                          </tr>
                          <tr>
                            <td>Descargar</td>
                            <td><input type="checkbox" name="permisos[]" id="chClientelAta2" value="EDITAR_ORDENESINSTALACION" <?php echo (in_array("EDITAR_ORDENESINSTALACION",$this->permisos))?"checked":""?>/></td>
                          </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td>Órdenes de corte</td>
                        <td><table width="84" class="table table-bordered">
                          <tr>
                            <td width="52">Operar</td>
                            <td width="20"><input type="checkbox" name="permisos[]" id="chClientelAta4" value="VER_ORDENESCORTE" <?php echo (in_array("VER_ORDENESCORTE",$this->permisos))?"checked":""?>/></td>
                          </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td>Órdenes de desconexión</td>
                        <td><table width="84" class="table table-bordered">
                          <tr>
                            <td width="52">Operar</td>
                            <td width="20"><input type="checkbox" name="permisos[]" id="chClientelAta5" value="VER_ORDENESDESCONEXION" <?php echo (in_array("VER_ORDENESDESCONEXION",$this->permisos))?"checked":""?>/></td>
                          </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td>Órdenes de retiro</td>
                        <td><table width="84" class="table table-bordered">
                          <tr>
                            <td width="52">Operar</td>
                            <td width="20"><input type="checkbox" name="permisos[]" id="chClientelAta6" value="VER_ORDENESRETIRO" <?php echo (in_array("VER_ORDENESRETIRO",$this->permisos))?"checked":""?>/></td>
                          </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td>Órdenes de cambio de domicilio</td>
                        <td><table width="84" class="table table-bordered">
                          <tr>
                            <td width="52">Operar</td>
                            <td width="20"><input type="checkbox" name="permisos[]"  value="VER_ORDENESCAMBIODOMICILIO" <?php echo (in_array("VER_ORDENESCAMBIODOMICILIO",$this->permisos))?"checked":""?>/></td>
                          </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td>Órdenes de cambio de servicio (Retirar)</td>
                        <td><table width="84" class="table table-bordered">
                          <tr>
                            <td width="52">Operar</td>
                            <td width="20"><input type="checkbox" name="permisos[]"  value="VER_ORDENESCAMBIOSERVICIORETIRA" <?php echo (in_array("VER_ORDENESCAMBIOSERVICIORETIRA",$this->permisos))?"checked":""?>/></td>
                          </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td>Órdenes de cambio de servicio (Instalar)</td>
                        <td><table width="84" class="table table-bordered">
                          <tr>
                            <td width="52">Operar</td>
                            <td width="20"><input type="checkbox" name="permisos[]"  value="VER_ORDENESCAMBIOSERVICIOINSTALA" <?php echo (in_array("VER_ORDENESCAMBIOSERVICIOINSTALA",$this->permisos))?"checked":""?>/></td>
                          </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td>Órdenes de extenesiones adicionales</td>
                        <td><table width="84" class="table table-bordered">
                          <tr>
                            <td width="52">Operar</td>
                            <td width="20"><input type="checkbox" name="permisos[]"  value="VER_ORDENESEXTENSIONESADICIONALES" <?php echo (in_array("VER_ORDENESEXTENSIONESADICIONALES",$this->permisos))?"checked":""?>/></td>
                          </tr>
                        </table></td>
                      </tr>
                      
                      <tr>
                        <td>Órdenes de bajas voluntarias</td>
                        <td><table width="84" class="table table-bordered">
                          <tr>
                            <td width="52">Operar</td>
                            <td width="20"><input type="checkbox" name="permisos[]"  value="VER_BAJAVOLUNTARIA" <?php echo (in_array("VER_BAJAVOLUNTARIA",$this->permisos))?"checked":""?>/></td>
                          </tr>
                        </table></td>
                      </tr>
                      
                      <!--<tr>
                        <td>Órdenes de baja</td>
                        <td><table width="84" class="table table-bordered">
                          <tr>
                            <td width="52">Operar</td>
                            <td width="20"><input type="checkbox" name="permisos[]"  value="VER_ORDENESBAJA" <?php echo (in_array("VER_ORDENESBAJA",$this->permisos))?"checked":""?>/></td>
                          </tr>
                        </table></td>
                      </tr>-->
                      
                      <tr>
                        <td>Órdenes reinstalación</td>
                        <td><table width="84" class="table table-bordered">
                          <tr>
                            <td width="52">Operar</td>
                            <td width="20"><input type="checkbox" name="permisos[]"  value="VER_ORDENREINSTALACION" <?php echo (in_array("VER_ORDENREINSTALACION",$this->permisos))?"checked":""?>/></td>
                          </tr>
                        </table></td>
                      </tr>
                      
                      <tr>
                        <td>Reportar fallas</td>
                        <td><table width="84" class="table table-bordered">
                          <tr>
                            <td width="52">Operar</td>
                            <td width="20"><input type="checkbox" name="permisos[]"  value="VER_REPORTARFALLAS" <?php echo (in_array("VER_REPORTARFALLAS",$this->permisos))?"checked":""?>/></td>
                          </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td>Fallas reportadas</td>
                        <td><table width="84" class="table table-bordered">
                          <tr>
                            <td width="52">Operar</td>
                            <td width="20"><input type="checkbox" name="permisos[]"  value="VER_FALLASREPORTADAS" <?php echo (in_array("VER_FALLASREPORTADAS",$this->permisos))?"checked":""?>/></td>
                          </tr>
                        </table></td>
                      </tr>
                      
                      <tr>
                        <td>Gastos</td>
                        <td><table width="84" class="table table-bordered">
                          <tr>
                            <td width="52">Operar</td>
                            <td width="20"><input type="checkbox" name="permisos[]"  value="VER_GASTOS" <?php echo (in_array("VER_GASTOS",$this->permisos))?"checked":""?>/></td>
                          </tr>
                        </table></td>
                      </tr>

                      <tr>
                        <td>Comisiones por pagar </td>
                        <td><table width="84" class="table table-bordered">
                          <tr>
                            <td width="52">Operar</td>
                            <td width="20"><input type="checkbox" name="permisos[]"  value="VER_COMISIONESPORPAGAR" <?php echo (in_array("VER_COMISIONESPORPAGAR",$this->permisos))?"checked":""?>/></td>
                          </tr>
                        </table></td>
                      </tr>      
                      
                      <tr>
                      	<td>Cobranza</td>
                            <td><table width="84" class="table table-bordered">
                              <tr>
                                <td width="52">Operar</td>
                                <td width="20"><input type="checkbox" name="permisos[]" id="chClientelAta3" value="VER_COBRANZA" <?php echo (in_array("VER_COBRANZA",$this->permisos))?"checked":""?>/></td>
                              </tr>
                            </table></td>
                      </tr>
                      
                      <tr>
                            <td>Órdenes reconexión</td>
                            <td><table width="84" class="table table-bordered">
                              <tr>
                                <td width="52">Operar</td>
                                <td width="20"><input type="checkbox" name="permisos[]" value="VER_ORDENESRECONEXION" <?php echo (in_array("VER_ORDENESRECONEXION",$this->permisos))?"checked":""?>/></td>
                              </tr>
                            </table></td>
                      </tr>
                      
                      <tr>
                            <td>Reasignaciones</td>
                            <td><table width="84" class="table table-bordered">
                              <tr>
                                <td width="52">Ver</td>
                                <td width="20"><input type="checkbox" name="permisos[]" value="VER_REASIGNACIONES" <?php echo (in_array("VER_REASIGNACIONES",$this->permisos))?"checked":""?>/></td>
                              </tr>
                            </table></td>
                      </tr>
                      
                  </tbody>
            </table>
            <? }else{?>
                 
             <table class="table table-bordered">
                    <thead>
                            <tr>
                              <th>Transacciones</th>
                              <th>Ver</th>
                            </tr>
                      </thead>
                      <tbody>
                           <tr>
                              <td>Clientes</td>
                              <td><input type="checkbox" name="permisos[]" value="VER_CLIENTES|AGREGAR_CLIENTES" <?php echo (in_array("VER_CLIENTES",$this->permisos))?"checked":""?> /></td>
                           </tr>
                           
                            <tr>
                              <td>Definicion de metas</td>
                              <td><input type="checkbox" name="permisos[]" value="VER_METAS" <?php echo (in_array("VER_METAS",$this->permisos))?"checked":""?> /></td>
                           </tr>
                           
                            <tr>
                              <td>Reporte cuantitativo</td>
                              <td><input type="checkbox" name="permisos[]" value="VER_REPORTECUANTITATIVO|VER_REPORTECUANTITATIVO2" <?php echo (in_array("VER_REPORTECUANTITATIVO",$this->permisos))?"checked":""?> /></td>
                           </tr>
                           
                           <tr>
                             <td>Cancelar pagos</td>
                             <td><input type="checkbox" name="permisos[]" value="CANCELAR_PAGOS" <?php echo (in_array("CANCELAR_PAGOS",$this->permisos))?"checked":""?> /></td>
                           </tr>
                           <tr>
                             <td>Definición de tarifas</td>
                             <td><input type="checkbox" name="permisos[]" value="VER_SERVICIOPLAZA" <?php echo (in_array("VER_SERVICIOPLAZA",$this->permisos))?"checked":""?> /></td>
                           </tr>
                           <tr>
                              <td>Ordenes de instalacion</td>
                              <td><input type="checkbox" name="permisos[]" value="VER_ORDENESINSTALACION" <?php echo (in_array("VER_ORDENESINSTALACION",$this->permisos))?"checked":""?> /></td>
                           </tr>
                           <tr>
                             <td>Órdenes de cambio de domicilio</td>
                             <td><input type="checkbox" name="permisos[]"  value="VER_ORDENESCAMBIODOMICILIO" <?php echo (in_array("VER_ORDENESCAMBIODOMICILIO",$this->permisos))?"checked":""?>/></td>
                           </tr>

                           <tr>
                             <td>Órdenes de cambio de servicio (Retirar)</td>
                             <td><input type="checkbox" name="permisos[]"  value="VER_ORDENESCAMBIOSERVICIORETIRA" <?php echo (in_array("VER_ORDENESCAMBIOSERVICIORETIRA",$this->permisos))?"checked":""?>/></td>
                           </tr>

                           <tr>
                             <td>Órdenes de cambio de servicio (Instalar)</td>
                             <td><input type="checkbox" name="permisos[]"  value="VER_ORDENESCAMBIOSERVICIOINSTALA" <?php echo (in_array("VER_ORDENESCAMBIOSERVICIOINSTALA",$this->permisos))?"checked":""?>/></td>
                           </tr>

                           <tr>
                             <td>Órdenes de retiro</td>
                             <td><input type="checkbox" name="permisos[]"  value="VER_ORDENESRETIRO" <?php echo (in_array("VER_ORDENESRETIRO",$this->permisos))?"checked":""?>/></td>
                           </tr> 
                            <tr>
                             <td>Órdenes de desconexión</td>
                             <td><input type="checkbox" name="permisos[]"  value="VER_ORDENESDESCONEXION" <?php echo (in_array("VER_ORDENESDESCONEXION",$this->permisos))?"checked":""?>/></td>
                           </tr>  
                            <tr>
                             <td>Órdenes de extenesiones adicionale</td>
                             <td><input type="checkbox" name="permisos[]"  value="VER_ORDENESEXTENSIONESADICIONALES" <?php echo (in_array("VER_ORDENESEXTENSIONESADICIONALES",$this->permisos))?"checked":""?>/></td>
                           </tr>
                           
                           <!--<tr>
                             <td>Órdenes de baja</td>
                             <td><input type="checkbox" name="permisos[]"  value="VER_ORDENESBAJA" <?php echo (in_array("VER_ORDENESBAJA",$this->permisos))?"checked":""?>/></td>
                           </tr>-->
                           
                            <tr>
                            <td>Órdenes reinstalación</td>
                            <td width="20"><input type="checkbox" name="permisos[]"  value="VER_ORDENREINSTALACION" <?php echo (in_array("VER_ORDENREINSTALACION",$this->permisos))?"checked":""?>/></td> 
                            </tr>
                            
                            <tr>
                            <td>Órdenes de corte</td>
                            <td width="20"><input type="checkbox" name="permisos[]"  value="VER_ORDENESCORTE" <?php echo (in_array("VER_ORDENESCORTE",$this->permisos))?"checked":""?>/></td> 
                            </tr>
                            
                            <tr>
                            <td>Órdenes de bajas voluntarias</td>
                                <td width="20">
                                    <input type="checkbox" name="permisos[]"  value="VER_BAJAVOLUNTARIA" <?php echo (in_array("VER_BAJAVOLUNTARIA",$this->permisos))?"checked":""?>/>
                                
                                </td>
                            </tr>
                      
                           <tr>
                             <td>Fallas reportadas</td>
                             <td><input type="checkbox" name="permisos[]"  value="VER_FALLASREPORTADAS" <?php echo (in_array("VER_FALLASREPORTADAS",$this->permisos))?"checked":""?>/></td>
                           </tr>
                           <tr>
                             <td>Gastos</td>
                             <td><input type="checkbox" name="permisos[]"  value="VER_GASTOS" <?php echo (in_array("VER_GASTOS",$this->permisos))?"checked":""?>/></td>
                           </tr>
                           
                           <tr>
                                <td>Comisiones por pagar </td>
                                <td width="20"><input type="checkbox" name="permisos[]"  value="VER_COMISIONESPORPAGAR" <?php echo (in_array("VER_COMISIONESPORPAGAR",$this->permisos))?"checked":""?>/></td>
                            </tr>
                      
                           <tr>
                              <td>Autorizaciones</td>
                              <td><input type="checkbox" name="permisos[]" value="VER_AUTORIZACIONES" <?php echo (in_array("VER_AUTORIZACIONES",$this->permisos))?"checked":""?> /></td>
                           </tr>
                           
                           <tr>
                              <td>Órdenes reconexión</td>
                              <td><input type="checkbox" name="permisos[]" value="VER_ORDENESRECONEXION" <?php echo (in_array("VER_ORDENESRECONEXION",$this->permisos))?"checked":""?> /></td>
                           </tr>
                           
                          <tr>
                              <td>Reasignaciones</td>
                              <td><input type="checkbox" name="permisos[]" value="VER_REASIGNACIONES" <?php echo (in_array("VER_REASIGNACIONES",$this->permisos))?"checked":""?> /></td>
                           </tr>
                           
                      </tbody>
                </table>
            
            <? } ?>
            
          <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Reportes</th>
                        <th>Ver</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Corte de caja</td>
                        <td><input type="checkbox" name="permisos[]" value="CORTEDECAJA_REPORTES" <?php echo (in_array("CORTEDECAJA_REPORTES",$this->permisos))?"checked":""?> /></td>
                    </tr>
                    <tr>
                        <td>Reporte de cobranza</td>
                        <td><input type="checkbox" name="permisos[]" value="COBRANZA_REPORTES|VER_RECIBO|IMPRIMIRCOBRANZA_REPORTES|EXPORTARCOBRANZA_REPORTES" <?php echo (in_array("COBRANZA_REPORTES",$this->permisos))?"checked":""?> /></td>
                    </tr>
                    <tr>
                        <td>Reporte de llamadas de cobranza</td>
                        <td><input type="checkbox" name="permisos[]" value="LLAMADASDECOBRANZA_REPORTES|IMPRIMIRLLAMADASDECOBRANZA_REPORTES|EXPORTARLLAMADASDECOBRANZA_REPORTES" <?php echo (in_array("LLAMADASDECOBRANZA_REPORTES",$this->permisos))?"checked":""?> /></td>
                    </tr>
                    <tr>
                        <td>Reporte de cambio de domicilio</td>
                        <td><input type="checkbox" name="permisos[]"  value="ORDENCAMBIODOMICILIO_REPORTES|EXPORTARORDENCAMBIODOMICILIO_REPORTES|IMPRIMIRORDENCAMBIODOMICILIO_REPORTES" <?php echo (in_array("ORDENCAMBIODOMICILIO_REPORTES",$this->permisos))?"checked":""?>/></td>
                    </tr>
                    <tr>
                        <td>Reporte de Órdenes de desconexión</td>
                        <td><input type="checkbox" name="permisos[]"  value="ORDENESDEDESCONEXION_REPORTES|IMPRIMIRORDENESDEDESCONEXION_REPORTES|EXPORTARORDENESDEDESCONEXION_REPORTES" <?php echo (in_array("ORDENESDEDESCONEXION_REPORTES",$this->permisos))?"checked":""?>/></td>
                    </tr>
                    <tr>
                        <td>Reporte de Órdenes de instalación</td>
                        <td><input type="checkbox" name="permisos[]"  value="ORDENESDEINSTALACION_REPORTES|EXPORTARORDENESDEINSTALACION_REPORTES|IMPRIMIRORDENESDEINSTALACION_REPORTES" <?php echo (in_array("ORDENESDEINSTALACION_REPORTES",$this->permisos))?"checked":""?>/></td>
                    </tr>
                    <tr>
                        <td>Reporte de Órdenes de retiro</td>
                        <td><input type="checkbox" name="permisos[]"  value="ORDENESDERETIRO_REPORTES|EXPORTARORDENESDERETIRO_REPORTES|IMPRIMIRORDENESDERETIRO_REPORTES" <?php echo (in_array("ORDENESDERETIRO_REPORTES",$this->permisos))?"checked":""?>/></td>
                    </tr>
                    <tr>
                        <td>Reporte de Recuperaciones</td>
                        <td><input type="checkbox" name="permisos[]" value="RECUPERACIONES_REPORTES|IMPRIMIRRECUPERACIONES_REPORTES|EXPORTARRECUPERACIONES_REPORTES" <?php echo (in_array("RECUPERACIONES_REPORTES",$this->permisos))?"checked":""?> /></td>
                    </tr>
                    <tr>
                        <td>Reporte de Productividad</td>
                        <td><input type="checkbox" name="permisos[]" value="PRODUCTIVIDAD_REPORTES|IMPRIMIRPRODUCTIVIDAD_REPORTES|EXPORTARPRODUCTIVIDAD_REPORTES" <?php echo (in_array("PRODUCTIVIDAD_REPORTES",$this->permisos))?"checked":""?> /></td>
                    </tr>
                    <tr>
                        <td>Reporte de Existencias</td>
                        <td><input type="checkbox" name="permisos[]" value="EXISTENCIAS_REPORTES|IMPRIMIREXISTENCIAS_REPORTES|EXPORTAREXISTENCIAS_REPORTES" <?php echo (in_array("EXISTENCIAS_REPORTES",$this->permisos))?"checked":""?> /></td>
                    </tr>
                    <tr>
                        <td>Reporte de Ubicación</td>
                        <td><input type="checkbox" name="permisos[]" value="UBICACION_REPORTES|IMPRIMIRUBICACION_REPORTES|EXPORTARUBICACION_REPORTES" <?php echo (in_array("UBICACION_REPORTES",$this->permisos))?"checked":""?> /></td>
                    </tr>
                    <tr>
                        <td>Reporte de Productividad Técnica</td>
                        <td><input type="checkbox" name="permisos[]" value="PRODUCTIVIDADTECNICA_REPORTES|IMPRIMIRPRODUCTIVIDADTECNICA_REPORTES|EXPORTARPRODUCTIVIDADTECNICA_REPORTES" <?php echo (in_array("PRODUCTIVIDADTECNICA_REPORTES",$this->permisos))?"checked":""?> /></td>
                    </tr>                     
                    <tr>
                        <td>Reporte de Confirmación de metas</td>
                        <td><input type="checkbox" name="permisos[]" value="VER_REPORTECONFIRMACIONMETAS" <?php echo (in_array("VER_REPORTECONFIRMACIONMETAS",$this->permisos))?"checked":""?> /></td>
                    </tr> 
                    <tr>
                        <td>Reporte de Envios de SMS</td>
                        <td><input type="checkbox" name="permisos[]" value="ENVIOSMS_REPORTES|IMPRIMIRENVIOSMS_REPORTES|EXPORTARENVIOSMS_REPORTES|ACTUALIZAENVIOSMS_REPORTES" <?php echo (in_array("ENVIOSMS_REPORTES",$this->permisos))?"checked":""?> /></td>
                    </tr> 
                    <tr>
                        <td>Reporte de celulares erroneos</td>
                        <td><input type="checkbox" name="permisos[]" value="SMSINVALIDO_REPORTES|IMPRIMIRSMSINVALIDO_REPORTES|EXPORTARSMSINVALIDO_REPORTES|ACTUALIZAENVIOSMS2_REPORTES" <?php echo (in_array("SMSINVALIDO_REPORTES",$this->permisos))?"checked":""?> /></td>
                    </tr> 
                    
                     <tr>
                        <td>Reporte de ventas</td>
                        <td><input type="checkbox" name="permisos[]" value="VER_REPORTESERVICIO" <?php echo (in_array("VER_REPORTESERVICIO",$this->permisos))?"checked":""?> /></td>
                    </tr> 
                    
                </tbody>
            </table>
             <? //} ?>
        </div>      
    </div>
    <input type="hidden" name="id" id="id" value="<?php echo $this->registro->id?>" />
</form>
<!----485---->