<form name="frmFallasyAcometidas" id="frmGastos" method="post" action="/transacciones/fallasyacometidas/guardar" >    
    <div class="row-fluid contenedorFormulario">
        <div class="row-fluid">
            
            <div  class="row-fluid filaFormulario">
                
                <div class="span3">
                    <label>FECHA</label>
                    <input type="text" name="fecha" id="fecha" placeholder="DD/MM/AAAA" class="required" value="<?php echo $this->registro->fecha?>"/>
                </div> 
                    
                <div class="span3">
                    <label>NODO</label>
                    <input type="text" name="nodo" id="nodo" class="required" placeholder="NODO" value="<?php echo $this->registro->nodo?>"/>
                </div>
                    
                <div class="span3">
                    <label>POSTE</label>
                    <input type="text" name="poste" id="poste" class="required" placeholder="POSTE" value="<?php echo $this->registro->poste?>"/>
                </div>

                <div class="span3">
                    <label>TÉCNICO</label>
                    <select name="tecnico_id" id="tecnico_id" class="required">
                        <option value="0">Todos los técnico</option>
                        <? foreach($this->tecnicos as $tecnico){?>
                            <option value="<?=$tecnico->id?>"><?=$tecnico->nombre?></option>
                        <? }?>
                    </select>
                </div>
                
            </div>
                        
            <div class="row-fluid filaFormulario">
                <div class="span6">
                    <label>DESCRIPCIÓN</label>
                    <textarea class="span12 required"  name="descripcion" id="descripcion"><?php echo $this->registro->descripcion?></textarea>
                </div>
                
                <div class="span6">
                    <label>COMENTARIOS</label>
                    <textarea class="span12 required"  name="comentarios" id="comentarios"><?php echo $this->registro->comentarios?></textarea>
                </div>
                
            </div>
            
        </div>
    </div>     
    
    <input type="hidden" name="id" id="id" value="<?php echo $this->registro->id;?>" />
    <input type="hidden" name="plaza_id" id="plaza_id" value="<?php echo Usuario::plaza();?>" />
</form>