<div  class="row-fluid contenedorFiltro">
  <div class="span12 tituloFiltro">AUDITORÍAS DE ACOMETIDAS</div>  
  
  <div  class="row-fluid filaFiltro">
    <div class="span1"><label>DESDE</label></div>
    <div class="span3"><input type="text" name="fdesde" id="fdesde" /></div>
    <div class="span1"><label>HASTA</label></div>
    <div class="span3"><input type="text" name="fhasta" id="fhasta" /></div>
    <div class="span2"><a class="btn btn-primary span10" onclick="filtrarGastos()">Filtrar&nbsp; &nbsp;<i class="icon-filter icon-white"></i></a></div>
    <div class="span2"><a class="btn btn-primary span10" onclick="limpiarGastos()">Limpiar&nbsp; &nbsp;</a></div>
  </div> 
  
  <div  class="row-fluid filaFiltro">
    <div class="span1"><? if(Usuario::tipo()==0){?><label>SUCURSAL</label> <? }?> </div>
    <div class="span3">
            <? if(Usuario::tipo()==0){?>
            <select name="fsucursal" id="fsucursal">
                <option value="0">Todas las sucursales</option>
                <?php foreach($this->sucursales as $sucursal){?>
                <option value="<?php echo $sucursal->id?>"><?php echo $sucursal->nombre?></option>
                <?php }?>
            </select>
            <? }?> 
    </div>  
      
  
    <div class="span1"><? if(Usuario::tipo()==0){?><label>PLAZA</label> <? }?> </div>
    <div class="span3">
   		<? if(Usuario::tipo()==0){?>
        <select name="fplaza" id="fplaza">
            <option value="0">Todas las plazas</option>
            <?php foreach($this->plazas as $plaza){?>
            <option value="<?php echo $plaza->id?>"><?php echo $plaza->nombre?></option>
            <?php }?>
        </select>
       <? }?> 
  	</div>
   
    <div class="span2"><? if(My_Permisos::tienePermiso('VER_FALLASYACOMETIDAS')){?><a class="btn btn-primary span10" onclick="agregarGasto(0);">Agregar&nbsp; &nbsp;<i class="icon-plus icon-white"></i></a><? }?></div>
        
    	<div class="span2">
        	<a class="btn btn-primary span10" onclick="filtrarGastos();" target="_blank" id="btnExportar">
            	Exportar&nbsp; &nbsp;<i class="icon-list icon-white"></i>
          	</a>
       	</div>
  </div> 
  
  <div  class="row-fluid filaFiltro">
    <div class="span1"><label>TÉCNICO</label></div>
    <div class="span3">
        <select name="ftecnico" id="ftecnico">
            <option value="0">Todos los técnico</option>
            <? foreach($this->tecnicos as $tecnico){?>
                <option value="<?=$tecnico->id?>"><?=$tecnico->nombre?></option>
            <? }?>
        </select>
            
    </div>

    <div class="span1"></div>
    <div class="span3"></div>
    
    
  </div> 
       
</div>

<div class="row-fluid contenedorGrid"><div id="flexgrid"></div></div>