
<h2>Número de órdenes: <?php echo $this->total;?></h2>
<form name="frmReasignacion" id="frmReasignacion" action="/transacciones/reasignaciones/guardar" method="post">
    <input type="hidden" name="tipoasignacion" id="tipoasignacion" value="" />
<?php foreach($this->grupo['data'] as $key=>$grupo){?>
<table class="table table-bordered">
    <tr class="success" style="font-weight: bold; font-size:20px">
        <td colspan="3">
            <?php 
                switch($this->agrupar)
                {
                    case 1: echo "Colonia"; break;
                    case 2: echo "Calle"; break;
                    case 3: echo "Etiqueta"; break;
                    case 4: echo "Nodo"; break;
                    case 5: echo "Poste"; break;
                }



            ?>
            : 
            <?php echo ($grupo['colonia'] != null && $grupo['colonia'] != '')?$grupo['colonia']:'No definido'; ?>
        </td>
        <td>
            Asignar a: 
            <select name="tecnico[<?php echo $key;?>]">
                <option value="0">Elija un técnico</option>
                <?php foreach($this->tecnicos as $tecnico){?>
                <option value="<?php echo $tecnico->id?>"><?php echo $tecnico->nombre?></option>
                <?php }?>
            </select>
        </td>
    </tr>
    <tr style="font-weight: bold;">
        <td>Contrato</td>
        <td>Cliente</td>
        <td>Plaza</td>
        <td>Tecnico asignado</td>
    </tr>
    <?php foreach($grupo['ordenes'] as $id=>$orden){?>
    <tr>
        <td class="span2"><?php echo $orden[0]?></td>
        <td class="span3"><?php echo $orden[1]?></td>
        <td class="span3"><?php echo $orden[2]?></td>
        <td class="span4">
            <select name="tecnico_<?php echo $id?>" id="tecnico_<?php echo $id?>">
                <option value="0">Elija un técnico</option>
                <?php foreach($this->tecnicos as $tecnico){?>
                <option value="<?php echo $tecnico->id?>" <?php if($orden[4]==$tecnico->id) echo "selected";?>><?php echo $tecnico->nombre?></option>
                <?php }?>
            </select>
            <input type="button" class="btn btn-success" value="Asignar" onclick="asignarIndividual(<?php echo $id?>,<?php echo $this->tipo?>);" />
            <input type="hidden" name="orden[<?php echo $key;?>][]" value="<?php echo $id?>" />
        </td>
    </tr>
    <?php }?>
</table>
<hr />
<?php }?>

<input type="hidden" name="tipo" value="<?php echo $this->tipo?>" />
</form>
