<div  class="row-fluid contenedorFiltro">
    <div class="span12 tituloFiltro">
        REASIGNACIONES
    </div>  
    <div  class="row-fluid filaFiltro">
        <div class="span1"><label>TIPO</label></div>
        <div class="span3">
            <select name="ftipo" id="ftipo">
                <option value="0">Selecciones un tipo</option>
                <option value="1">Instalaciones</option>
                <option value="2">Desconexiones</option>
                <option value="3">Retiros</option>
                <!--<option value="4">Bajas</option>-->
                <option value="5">Reinstalación</option>
                <option value="6">Reconexiones</option>
                <option value="7">Cambios de domicilio (retirar)</option>
                <option value="10">Cambios de domicilio (instalar)</option>
                <option value="8">Extensiones adicionales</option>
                <option value="9">Órdenes de corte</option>
                <option value="11">Fallas</option>
                /**/<option value="12">Cambios de servicio (retirar)</option>
                /**/<option value="13">Cambios de servicio (instalar)</option>
            </select> 
        </div>

        
     
        <div class="span2 offset4"><a class="btn btn-primary span10" onclick="filtrar();">Filtrar&nbsp; &nbsp;<i class="icon-filter icon-white"></i></a></div>
        <div class="span2"><a class="btn btn-primary span10" onclick="limpiar();">Limpiar&nbsp; &nbsp;</a></div>
    </div>
    <div  class="row-fluid filaFiltro">
    	<? if(Usuario::tipo()==0){?> 
                <div class="span1"><label>PLAZA</label></div>
                <div class="span3">
                    <select name="fplaza" id="fplaza">
                        <option value="0">Seleccion una plaza</option>
                        <?php foreach($this->plazas as $plaza){?>
                        <option value="<?php echo $plaza->id?>"><?php echo $plaza->nombre?></option>
                        <?php }?>
                    </select>
                </div>
        <? }else{?>
        		<div class="span1"></div>
                <div class="span3"></div>
        <? }?>
		
        <div class="span1"></div>
        <div class="span3">
			<? if(Usuario::tipo()==0){?> 
            	<input type="hidden" value="0" name="ftusuario" id="ftusuario" /> 
			<? }else{?>
            	<input type="hidden" value="1" name="ftusuario" id="ftusuario" />
			<? }?>
        </div>
        <div class="span2"><a class="btn btn-primary span10" onclick="guardar(1);">Asignar todos&nbsp; &nbsp;</a></div>
        <div class="span2"><a class="btn btn-primary span10" onclick="guardar(-1);">Asignar solo los no asignados&nbsp; &nbsp;</a></div>
    </div>
    <div  class="row-fluid filaFiltro">
        <div class="span1"><label>AGRUPAR</label></div>
        <div class="span2">
            <select name="fagrupar" id="fagrupar" class="span11">
                <option value="0">Seleccion un grupo</option>
                <option value="1">Colonia</option>
                <option value="2">Calle</option>
                <option value="3">Etiqueta</option>
                <option value="4">Nodo</option>
                <option value="5">Poste</option>
                <!--<option value="2">Zona</option>-->
            </select>
        </div>
        <div class="span1"><label>ORDERNAR</label></div>
        <div class="span2">
            <select name="fordenar1" id="fordenar1" class="span11">
                <option value="0">Seleccion un parámetro</option>
                <option value="1">Colonia</option>
                <option value="2">Calle</option>
                <option value="3">Número</option>
                <option value="4">Etiqueta</option>
                <option value="5">Nodo</option>
                <option value="6">Poste</option>
            </select>
        </div>
        <div class="span2">
            <select name="fordenar2" id="fordenar2" class="span11">
                <option value="0">Seleccion un parámetro</option>
                <option value="1">Colonia</option>
                <option value="2">Calle</option>
                <option value="3">Número</option>
                <option value="4">Etiqueta</option>
                <option value="5">Nodo</option>
                <option value="6">Poste</option>
            </select>
        </div>
        <div class="span2">
            <select name="fordenar3" id="fordenar3" class="span11">
                <option value="0">Seleccion un parámetro</option>
                <option value="1">Colonia</option>
                <option value="2">Calle</option>
                <option value="3">Número</option>
                <option value="4">Etiqueta</option>
                <option value="5">Nodo</option>
                <option value="6">Poste</option>
            </select>
        </div>
    </div>
</div>

<div  class="row-fluid contenedorGrid">
    <div id="flexgrid">
        
    </div>
</div>