<form name="frmProducto" id="frmProducto" method="post" action="/catalogos/productos/guardar">
    <div  class="row-fluid contenedorFormulario">
        <div  class="row-fluid">
            <div class="row-fluid filaFormulario">
                <div class="span2"><label>TIPO DE SERVICIO</label></div>
                <div class="span4">
                    <select name="tipo" id="tipo">
                        <option value="1" <?php echo ($this->registro->tipo==1)?"selected":""?>>Servicio</option>
                        <option value="2" <?php echo ($this->registro->tipo==2)?"selected":""?>>Servicio adicional</option>
                    </select>    
                </div>
                <div class="span2"><label>SERVICIO</label></div>
                <div class="span4"><input type="text" name="nombre" id="nombre" placeholder="Servicio" class="required" value="<?php echo $this->registro->nombre?>"/></div>
            </div>
            <div class="row-fluid filaFormulario">
                <div class="span2"><label>¿INCLUYE INTERNET RESIDENCIAL?</label></div>
                <div class="span10">
                    <select name="incluye_internet" id="incluye_internet">
                        <option value="1" <?php echo ($this->registro->incluye_internet == 1)?"selected":""?>>Si</option>
                        <option value="0" <?php echo ($this->registro->incluye_internet == 0)?"selected":""?>>No</option>
                    </select> 
                </div>
            </div>
            <div class="row-fluid filaFormulario">
                <div class="span2"><label>¿INCLUYE INTERNET MÓVIL?</label></div>
                <div class="span4">
                    <select name="incluye_internet" id="incluye_internet">
                        <option value="1" <?php echo ($this->registro->incluye_internet_movil == 1)?"selected":""?>>Si</option>
                        <option value="0" <?php echo ($this->registro->incluye_internet_movil == 0)?"selected":""?>>No</option>
                    </select> 
                </div>
                <div class="span2"><label>NÚMERO DE EQUIPOS</label></div>
                <div class="span4"><input type="text" name="num_equipos_moviles" id="num_equipos_moviles" placeholder="Número de equipos" class="required number" value="<?php echo $this->registro->num_equipos_moviles?>"/></div>
            </div>
            <div class="row-fluid filaFormulario">
                <div class="span2"><label>¿INCLUYE TV?</label></div>
                <div class="span10">
                    <select name="incluye_internet" id="incluye_internet">
                        <option value="1" <?php echo ($this->registro->incluye_cable == 1)?"selected":""?>>Si</option>
                        <option value="0" <?php echo ($this->registro->incluye_cable == 0)?"selected":""?>>No</option>
                    </select> 
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="id" id="id" value="<?php echo $this->registro->id?>" />
    <input type="hidden" name="incluye_cable" id="incluye_cable" value="1" />
</form>