<div id="errorcontatacion" name="errorcontatacion" class="displayNone" style="color:#D8000C; background-color: #FFBABA;">
    <img src="/images/png/cancelar.png"/>Error favor de verificar un campo vacio.
</div>

<form name="frmContratacion" id="frmContratacion" method="post" action="/catalogos/productos/guardartarifasadicionales">     
    <div class="row-fluid contenedorFormulario">
        <div class="row-fluid">
            <input type="hidden" name="servicio_id" id="servicio_id" value="<?php echo $this->registro->id?>"/>
            <div class="row-fluid filaFormulario">
                             
                <div id="tabs" style="width:920px;">
                    <ul>
                    <?php foreach($this->EstadosPlazas as $estado){ ?>
                        <li><a href="#tabs<?php echo $estado->estado_id?>" ><?php echo $estado->Estado->nombre?></a></li><?php
                    }?>        
                    </ul><?php 
    
                    foreach($this->EstadosPlazas as $estado){ ?>
                        <div id="tabs<?php echo $estado->estado_id?>" style="height: 200px;">
                            
                        <!----------------------------->                  
                    <?php 
                    foreach($this->e[$estado->estado_id] as $plaza){ ?> 
                        <div class="plazaTarifa">
                            <div id="resizable" class="ui-widget-content">
                                <h5 class="ui-widget-header"><?php echo $plaza->nombre?></h5><br>
                                
                                <input type="hidden" id="plaza_id<?php echo $plaza->id?>" name="plaza_id[<?php echo $plaza->id?>]" value="<?php echo $plaza->id?>">
                                
                                <div id="tarifa">Tarifa:&nbsp;&nbsp;&nbsp;
                                    <input type="text" id="tarifa<?php echo $plaza->id?>" name="tarifa[<?php echo $plaza->id?>]" rel="periodo<?php echo $plaza->id?>" value="<?php echo $this->t['tarifa'][$plaza->id]?>" class="formato number">
                                </div><br>
                                
                                
       
                                <input type="hidden" id="id<?php echo $this->t['plaza_id'][$plaza->id]?>" name="id[<?php echo $plaza->id?>]" value="<?php echo $this->t['plaza_id'][$plaza->id]?>">
                                
                            </div>
                        </div><?php  
                    } ?>
                <!----------------------------->   
                            
                         
                        
                      
                        </div> <?php   
                    }?>
    
                </div>      
                
                
                
                
                

            </div>
        </div> 
    </div>
</form>