<form name="frmCliente" id="frmCliente" method="post" action="/transacciones/clientes/guardar" class="form-horizontal">    
    <div  class="row-fluid contenedorFormulario">
    

        <div  class="row-fluid">
            <div  class="row-fluid filaFormulario">
                <div class="span3">
                	<label>CONTRATO</label>
                    <input type="text" name="contrato" id="contrato" placeholder="Contrato" class="required number span10" <?php if(is_numeric($this->registro->id) && $this->registro->id>0 ) echo "disabled";?> value="<?php echo $this->registro->contrato?>"  />
                </div>
                <div class="span3">
                	<label>FECHA  ACCIÓN</label>
                	<input type="text" name="created_at" id="created_at" class="span10" placeholder="DD/MM/AAAA" readonly="readonly" value="<? if($this->registro->created_at!='') echo substr($this->registro->created_at,0,10); else echo date('Y-m-d')?>"  />
                </div>
                <div class="span3">
                	<label>FECHA  CONTRATACIÓN</label>
                	<input type="text" name="fecha_contratacion" id="fecha_contratacion" placeholder="DD/MM/AAAA" readonly="readonly" class="required span10" value="<?php echo $this->registro->fecha_contratacion?>" />
                </div>
                <div class="span3">
                	<label>NOMBRE DEL CLIENTE</label>
                	<input type="text" name="nombre" id="nombre" placeholder="Nombre" class="required span10" value="<?php echo $this->registro->nombre?>" />
                </div>
            </div>
            
            <div  class="row-fluid filaFormulario">
                <div class="span3">
                	<label>CALLE</label>
                    <input type="text" name="calle" id="calle" placeholder="Calle" class="required span10" value="<?php echo $this->registro->calle?>" />
                </div>
                <div class="span3">
                	<label>NÚMERO EXTERIOR</label>
                    <input type="text" name="no_exterior" id="no_exterior" placeholder="Número exterior" class="required span10" value="<?php echo $this->registro->no_exterior?>" />
                </div>
                <div class="span3">
                	<label>NÚMERO INTERIOR</label>
                    <input type="text" name="no_interior" id="no_interior" placeholder="Número interior" value="<?php echo $this->registro->no_interior?>" class="span10"  />
                </div>
                <div class="span3">
                	<label>COLONIA</label>
                    <input type="text" name="colonia" id="colonia" placeholder="Colonia" class="required span10" value="<?php echo Colonia::obtenerColonia($this->registro->colonia_id)?>" />
                </div>
            </div>
            
            <div  class="row-fluid filaFormulario">
                <div class="span3">
                	<label>COMUNIDAD</label>
                    <select name="comunidad_id" id="comunidad_id" class="required span10">
                        <option value="">Elija una comunidad</option>
                        <?php foreach($this->comunidades as $comunidad){?>
                        <option value="<?php echo $comunidad->id?>"  <? if($comunidad->id==$this->registro->comunidad_id) echo "selected";?>><?php echo $comunidad->nombre?></option>
                        <?php  }?>
                    </select>
                </div>
                <div class="span3">
                	<label>REFERENCIA DEL DOMICILIO</label>
                    <textarea name="referencia" id="referencia" class="span10"><?php echo $this->registro->referencia?></textarea>
                </div>
                <div class="span3">
                	<label>TELÉFONO</label>
                    <input type="text" name="telefono" id="telefono" placeholder="Teléfono" class="span10" value="<?php echo $this->registro->telefono?>" />
                </div>
                <div class="span3">
                	<label>CELULAR 1</label>
                    <input type="text" name="celular1" id="celular1" placeholder="Celular 1" class="span10" value="<?php echo $this->registro->celular1?>" />
                </div>
            </div>
            
            <div  class="row-fluid filaFormulario">
                <div class="span3">
                	<label>CELULAR 2</label>
                    <input type="text" name="celular2" id="celular2" placeholder="Celular 2" class="span10" value="<?php echo $this->registro->celular2?>" />
                </div>
                <div class="span3">
                	<label>E-MAIL</label>
                    <input type="text" name="email" id="email" class="email span10" placeholder="E-mail"  value="<?php echo $this->registro->email?>" />
                </div>
                <div class="span3">
                	<label>PROMOTOR</label>
                    <select name="promotor" id="promotor" class="span10">
                        <option value="0">Ninguno</option>
                        <?php foreach($this->promotores as $promotor){?>
                        <option value="<?php echo $promotor['tipo']."_".$promotor['id']?>"><?php echo $promotor['nombre']?></option>
                        <?php  }?>
                    </select>
                </div>
                <div class="span3">
                	<label>COMISIÓN</label>
                    <input type="text" name="comision" id="comision" readonly="readonly" value="0.00" class="span10" />
                 </div>
            </div>
            
            <div  class="row-fluid filaFormulario">
                <div class="span12">
                <label>COMENTARIOS</label>
                <textarea class="span11"  name="comentarios" id="comentarios"><?php echo $this->registro->comentarios?></textarea>
                </div>
            </div>
            <br />
            
            <div  class="row-fluid filaFormulario">
            	<table class="table table-bordered">
                  <tbody>
                  	<tr>
                      <td>CONCEPTO DE CONTRATACIÓN</td>
                      <td>
                      <select name="tarifa_concepto_de_contratacion_id" id="tarifa_concepto_contratacion_id">
                      	<option value="0">Elija un concepto de contratación</option>
                        <?php foreach($this->conceptoContratacion as $conceptoContratacion){?>
                        <option value="<?php echo $conceptoContratacion->id?>"><?php echo $conceptoContratacion->ConceptoDeContratacion->nombre?></option>
                        <? }?>
                      </select>
                      </td>
                      <td>NÚMERO DE TELEVISIONES</td>
                      <td>
                      <select name="televisores" id="televisores">
                        <?php for($i=1;$i<=5;$i++){?>
                        <option value="<?php echo $i?>"><?php echo $i?></option>
                        <?php }?>
                      </select>
                      </td>
                      <td><input type="button" value="Agregar un servicio" id="btnAgregarServicio" class="btn btn-primary" /></td>
                    </tr>
                    <tr>
                      <td colspan="5">
                      <div class="contenderoContratacion">
                      		<div class="encabezado">
                            	<div>Cantidad</div>
                                <div>Concepto</div>
                                <div>Comisión</div>
                                <div>Tarifa</div>
                                <div>Monto</div>
                            </div>
                            
                            <div class="cuerpo" id="filaConceptoContratacion">
                            	<div id="encabezadoCantidad"></div>
                                <div id="encabezadoConcepto"></div>
                                <div id="encabezadoComision"></div>
                                <div id="encabezadoMonto"></div>
                                <div id="encabezadoTotal"></div>
                            </div>
                            
                            
                            
                      </div>
                      
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>

            


            

            

            

            
            


        </div>
    </div>
    <input type="hidden" name="id" id="id" value="<?php echo $this->registro->id;?>" />
    <input type="hidden" name="plaza_id" id="plaza_id" value="<?php echo Usuario::plaza();?>" />
</form>