<form name="frmAplicarpago" id="frmAplicarpago" action="/transacciones/cobranza/guardarpago"  method="post" >
    <div  class="row-fluid contenedorFormulario">
        
        <div  class="row-fluid">
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>NÚMERO DE CONTRATO</label></div>
                <div class="span3"><?=$this->cliente->contrato?></div>
                <div class="span2"><label>CLIENTE</label></div>
                <div class="span3"><?=$this->cliente->nombre?></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>CALLE</label></div>
                <div class="span3"><?=$this->cliente->calle?> </div>
                <div class="span2"><label>NUMERO EXTERIOR</label></div>
                <div class="span3"><?=$this->cliente->no_exterior?></div>
            </div>
            <div  class="row-fluid filaFormulario">
                 <div class="span2"><label>NUMERO INTERIOR</label></div>
                <div class="span3"><?=$this->cliente->no_interior?></div>
                <div class="span2"><label>COLONIA</label></div>
                <div class="span3"><?=Colonia::obtenerColonia($this->cliente->colonia_id)?></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>ESTATUS</label></div>
                <div class="span3" style="background-color:#FF9F9F"><?=$this->cliente->estatus?></div>
                <div class="span2"><label>ULTIMO MES CUBIERTO</label></div>
                <div class="span3" style="background-color:#FF9F9F"><?=$this->cliente->ultimomescubierto?></div>
            </div>
            <input type="hidden" name="cliente_id" id="cliente_id" value="<?=$this->cliente->id?>"  /><br />
            
            
            <div  class="row-fluid filaFormulario">
            	<?
				### Si hay al menos un mes con adeudo es porque el cliente al menos debe el mes actual
				 if($this->meses>0){?>
            	<table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Cantidad</th>
                      <th>Tipo</th>
                      <th>Concepto</th>
                      <th>Monto</th>
                      <th>Subtotal</th>
                      <th>Recargo</th>
                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody>
                  	<?
					 $total=0;
					 foreach($this->servicios as $servicio){?>
                    <tr>
                      <td><? echo $this->meses?></td>
                      <td>Servicio contratado</td>
                      <td><?=$servicio['nombre']?></td>
                      <td>$<?=sprintf("%0.2f",$servicio['tarifa'])?></td>
                      <td>$<?=sprintf("%0.2f",$servicio['tarifa']*$this->meses)?></td>
                      <td>$<?=sprintf("%0.2f",$servicio['recargo'])?></td>
                      <td>$<? echo sprintf("%0.2f",$servicio['recargo']+($servicio['tarifa']*$this->meses))?></td>
                    </tr>
                    <? $total+=($servicio['recargo']+($servicio['tarifa']*$this->meses));}?>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><b>Total a  pagar</b></td>
                      <td><b>$<? echo sprintf("%0.2f",$total)?></b></td>
                    </tr>
                  </tbody>
                </table>
                  <? }
				  ### En otro caso el cliente está al corriente; 
				  else{?>
                  <div id="divPagoadelantado">
                  	<table class="table table-bordered">
                      <thead>
                        <tr>
                          <th colspan="2">Pagar meses por adelantado</th>
                          <th colspan="3">
                          	<select name="selectPagarMesesAdelantado" id="selectPagarMesesAdelantado" onchange="calculaMesesPorAdelantado(<?=$this->cliente->id?>,this.value);">
                            	<option value="0">Ninguno</option>
                                <option value="3">3 meses por adelantado</option>
                                <option value="6">6 meses por adelantado</option>
                                <option value="12">12 meses por adelantado</option>
                            </select>
                          </th>
                        </tr>
                      </thead>
                      <tbody id="bodyTablaPagoAdelantado">

                      </tbody>
                    </table>
                    
                    
                  	
                  </div>
				  <? }?>
                  <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th colspan="2">Servicios adicionales</th>
                          <th colspan="3" align="right"><input type="button" class="btn btn-primary" value="Añadair servicios adicionales" id="btnAnadirServiciosAdicionales" /></th>
                        </tr>
                      </thead>
                      <tbody id="bodyTablaPagoAdelantadoAdicionales">
                      	<tr id="trEncabezadoAdicionales">
                          <td width="20%"><b>Cantidad</b></td>
                          <td width="20%"><b>Concepto</b></td>
                          <td width="20%"><b>Tarifa</b></td>
                          <td width="20%"><b>Monto</b></td>
                          <td width="20%"><b>Total</b></td>
                        </tr>
                      </tbody>
                    </table>
            	
            </div>
          

        </div>        
    </div>
    </form>