<div  class="row-fluid contenedorFiltro">
  <div class="span12 tituloFiltro">PARÁMETROS DE PRODUCTIVIDAD</div>  
  <form name="frmParametros" id="frmParametros" method="post" action="/catalogos/Parametrosdeproductividad/guardar"> 
    <div  class="row-fluid contenedorFormulario">
        <div  class="row-fluid">
            
            <div  class="row-fluid filaFormulario">
                <div class="span11">
                    <label><strong>CABLE</strong></label>
                </div>
            </div>

            <div  class="row-fluid filaFormulario">
                <div class="span1"></div>
                <div class="span2"><label>INSTALACIONES</label></div>
                <div class="span3">
                    <input type="text" name="cable[instalaciones]" id="cable[instalaciones]" class="fee2" value="<?php echo $this->registro->instalaciones?>"/>
             	</div>
                
                <div class="span2"><label>RECONEXIONES</label></div>
                <div class="span3">
                    <input type="text" name="cable[reconexiones]" id="cable[reconexiones]" class="fee2" value="<?php echo $this->registro->reconexiones?>"/>
             	</div>
                
            </div>

            <div class="row-fluid filaFormulario">
                <div class="span1"></div>
                <div class="span2"><label>CAMBIOS DE DOMICILIO</label></div>
                <div class="span3">
                    <input type="text" name="cable[cambio_domicilio]" id="cable[cambio_domicilio]" class="fee2" value="<?php echo $this->registro->cambio_domicilio?>"/>
             	</div>
                
                <div class="span2"><label>ATENCIÓN A FALLAS</label></div>
                <div class="span3">
                    <input type="text" name="cable[atencion_a_fallas]" id="cable[atencion_a_fallas]" class="fee2" value="<?php echo $this->registro->atencion_a_fallas?>"/>
             	</div>                
            </div>
                        
            <div class="row-fluid filaFormulario">
                <div class="span1"></div>
                <div class="span2"><label>EXTENSIONES ADICIONALES</label></div>
                <div class="span3">
                    <input type="text" name="cable[extensiones_adicionales]" id="cable[extensiones_adicionales]" class="fee2" value="<?php echo $this->registro->extensiones_adicionales?>"/>
             	</div>
                
                <div class="span2"><label>RECUPERACIONES</label></div>
                <div class="span3">
                    <input type="text" name="cable[recuperaciones]" id="cable[recuperaciones]" class="fee2" value="<?php echo $this->registro->recuperaciones?>"/>
             	</div>                
            </div> 
            
            <div class="row-fluid filaFormulario">
                <div class="span1"></div>
                <div class="span2"><label>AUDITORÍAS DE ACOMETIDAS</label></div>
                <div class="span3">
                    <input type="text" name="cable[auditorias_de_acometidas]" id="cable[auditorias_de_acometidas]" class="fee2" value="<?php echo $this->registro->auditorias_de_acometidas?>"/>
             	</div>
                
                <div class="span2"><label>REINSTALACIONES</label></div>
                <div class="span3">
                    <input type="text" name="cable[reinstalaciones]" id="cable[reinstalaciones]" class="fee2" value="<?php echo $this->registro->reinstalaciones?>"/>
             	</div>                
            </div>

            <div class="row-fluid filaFormulario">
                <div class="span1"></div>
                <div class="span2"><label>RETIROS</label></div>
                <div class="span3">
                    <input type="text" name="cable[retiros]" id="cable[retiros]" class="fee2" value="<?php echo $this->registro->retiros?>"/>
                </div> 
                <div class="span2"><label>CAMBIO DE UBICACION</label></div>
                <div class="span3">
                    <input type="text" name="cable[cambio_ubicacion]" id="cable[cambio_ubicacion]" class="fee2" value="<?php echo $this->registro->cambio_ubicacion?>"/>
                </div>             
            </div>

            <div class="row-fluid filaFormulario">
                <div class="span1"></div>
                <div class="span2"><label>INSTALACION 3TVS</label></div>
                <div class="span3">
                    <input type="text" name="cable[instalacion_3tvs]" id="cable[instalacion_3tvs]" class="fee2" value="<?php echo $this->registro->instalacion_3tvs?>"/>
                </div> 
                <div class="span2"><label>INSTALACION 4TVS</label></div>
                <div class="span3">
                    <input type="text" name="cable[instalacion_4tvs]" id="cable[instalacion_4tvs]" class="fee2" value="<?php echo $this->registro->instalacion_4tvs?>"/>
                </div>             
            </div>

            <div class="row-fluid filaFormulario">
                <div class="span1"></div>
                <div class="span2"><label>INSTALACION 5TVS</label></div>
                <div class="span3">
                    <input type="text" name="cable[instalacion_5tvs]" id="cable[instalacion_5tvs]" class="fee2" value="<?php echo $this->registro->instalacion_5tvs?>"/>
                </div> 
                <div class="span2"><label>INSTALACION 6TVS</label></div>
                <div class="span3">
                    <input type="text" name="cable[instalacion_6tvs]" id="cable[instalacion_6tvs]" class="fee2" value="<?php echo $this->registro->instalacion_6tvs?>"/>
                </div>             
            </div>

            <div class="row-fluid filaFormulario">
                <div class="span1"></div>
                <div class="span2"><label>DESCONEXIONES</label></div>
                <div class="span3">
                    <input type="text" name="cable[desconexion]" id="cable[desconexion]" class="fee2" value="<?php echo $this->registro->desconexion?>"/>
                </div> 
                <div class="span2"><label>NOTIFICACIONES</label></div>
                <div class="span3">
                    <input type="text" name="cable[notificaciones]" id="cable[notificaciones]" class="fee2" value="<?php echo $this->registro->notificaciones?>"/>
                </div>             
            </div>

            <div class="row-fluid filaFormulario">
                <div class="span1"></div>
                <div class="span2"><label>CAMBIO DE DOMICILIO 3TVS</label></div>
                <div class="span3">
                    <input type="text" name="cable[cambio_domicilio_3tvs]" id="cable[cambio_domicilio_3tvs]" class="fee2" value="<?php echo $this->registro->cambio_domicilio_3tvs?>"/>
                </div> 
                <div class="span2"><label>CAMBIO DE DOMICILIO 4TVS</label></div>
                <div class="span3">
                    <input type="text" name="cable[cambio_domicilio_4tvs]" id="cable[cambio_domicilio_4tvs]" class="fee2" value="<?php echo $this->registro->cambio_domicilio_4tvs?>"/>
                </div>             
            </div>

            <div class="row-fluid filaFormulario">
                <div class="span1"></div>
                <div class="span2"><label>CAMBIO DE DOMICILIO 5TVS</label></div>
                <div class="span3">
                    <input type="text" name="cable[cambio_domicilio_5tvs]" id="cable[cambio_domicilio_5tvs]" class="fee2" value="<?php echo $this->registro->cambio_domicilio_5tvs?>"/>
                </div> 
                <div class="span2"><label>CAMBIO DE DOMICILIO 6TVS</label></div>
                <div class="span3">
                    <input type="text" name="cable[cambio_domicilio_6tvs]" id="cable[cambio_domicilio_6tvs]" class="fee2" value="<?php echo $this->registro->cambio_domicilio_6tvs?>"/>
                </div>             
            </div>

             <div class="row-fluid filaFormulario">
                <div class="span1"></div>
                <div class="span2"><label>TV ADICIONAL</label></div>
                <div class="span3">
                    <input type="text" name="cable[tv_adicional]" id="cable[tv_adicional]" class="fee2" value="<?php echo $this->registro->tv_adicional?>"/>
                </div> 
                <div class="span2"><label>FALLAS DOMICILIO</label></div>
                <div class="span3">
                    <input type="text" name="cable[fallas_domicilio]" id="cable[fallas_domicilio]" class="fee2" value="<?php echo $this->registro->fallas_domicilio?>"/>
                </div>             
            </div>
               
            <div  class="row-fluid filaFormulario">
                <div class="span8"></div>
                <div class="span2"><button type="button" class="btn btn-success" onclick="editarRegistro()">Guardar</button></div>   
            </div>
        </div>
        
        <div  class="row-fluid">

            <div  class="row-fluid filaFormulario">
                <div class="span11">
                    <label><strong>INTERNET</strong></label>
                </div>
            </div>
            
            <div  class="row-fluid filaFormulario">
                <div class="span1"></div>
                <div class="span2"><label>INSTALACIONES</label></div>
                <div class="span3">
                    <input type="text" name="inter[instalaciones]" id="inter[instalaciones]" class="fee2" value="<?php echo $this->iregistro->instalaciones?>"/>
                </div>
                
                <div class="span2"><label>RECONEXIONES</label></div>
                <div class="span3">
                    <input type="text" name="inter[reconexiones]" id="inter[reconexiones]" class="fee2" value="<?php echo $this->iregistro->reconexiones?>"/>
                </div>
                
            </div>

            <div class="row-fluid filaFormulario">
                <div class="span1"></div>
                <div class="span2"><label>CAMBIOS DE DOMICILIO</label></div>
                <div class="span3">
                    <input type="text" name="inter[cambio_domicilio]" id="inter[cambio_domicilio]" class="fee2" value="<?php echo $this->iregistro->cambio_domicilio?>"/>
                </div>
                
                <div class="span2"><label>ATENCIÓN A FALLAS</label></div>
                <div class="span3">
                    <input type="text" name="inter[atencion_a_fallas]" id="inter[atencion_a_fallas]" class="fee2" value="<?php echo $this->iregistro->atencion_a_fallas?>"/>
                </div>                
            </div>
                        
            <div class="row-fluid filaFormulario">
                <div class="span1"></div>
                <div class="span2"><label>EXTENSIONES ADICIONALES</label></div>
                <div class="span3">
                    <input type="text" name="inter[extensiones_adicionales]" id="inter[extensiones_adicionales]" class="fee2" value="<?php echo $this->iregistro->extensiones_adicionales?>"/>
                </div>
                
                <div class="span2"><label>RECUPERACIONES</label></div>
                <div class="span3">
                    <input type="text" name="inter[recuperaciones]" id="inter[recuperaciones]" class="fee2" value="<?php echo $this->iregistro->recuperaciones?>"/>
                </div>                
            </div> 
            
            <div class="row-fluid filaFormulario">
                <div class="span1"></div>
                <div class="span2"><label>AUDITORÍAS DE ACOMETIDAS</label></div>
                <div class="span3">
                    <input type="text" name="inter[auditorias_de_acometidas]" id="inter[auditorias_de_acometidas]" class="fee2" value="<?php echo $this->iregistro->auditorias_de_acometidas?>"/>
                </div>
                
                <div class="span2"><label>REINSTALACIONES</label></div>
                <div class="span3">
                    <input type="text" name="inter[reinstalaciones]" id="inter[reinstalaciones]" class="fee2" value="<?php echo $this->iregistro->reinstalaciones?>"/>
                </div>                
            </div>

            <div class="row-fluid filaFormulario">
                <div class="span1"></div>
                <div class="span2"><label>RETIROS</label></div>
                <div class="span3">
                    <input type="text" name="inter[retiros]" id="inter[retiros]" class="fee2" value="<?php echo $this->iregistro->retiros?>"/>
                </div> 
                <div class="span2"><label>CAMBIO DE UBICACION</label></div>
                <div class="span3">
                    <input type="text" name="inter[cambio_ubicacion]" id="inter[cambio_ubicacion]" class="fee2" value="<?php echo $this->iregistro->cambio_ubicacion?>"/>
                </div>             
            </div>

            <div class="row-fluid filaFormulario">
                <div class="span1"></div>
                <div class="span2"><label>INSTALACION</label></div>
                <div class="span3">
                    <input type="text" name="inter[instalacion]" id="inter[instalacion]" class="fee2" value="<?php echo $this->iregistro->instalacion?>"/>
                </div> 
                <div class="span2"><label>DESCONEXIONES</label></div>
                <div class="span3">
                    <input type="text" name="inter[desconexion]" id="inter[desconexion]" class="fee2" value="<?php echo $this->iregistro->desconexion?>"/>
                </div> 
            </div>

            <div class="row-fluid filaFormulario">
                <div class="span1"></div>
                <div class="span2"><label>NOTIFICACIONES</label></div>
                <div class="span3">
                    <input type="text" name="inter[notificaciones]" id="inter[notificaciones]" class="fee2" value="<?php echo $this->iregistro->notificaciones?>"/>
                </div>   
                <div class="span2"><label>FALLAS DOMICILIO</label></div>
                <div class="span3">
                    <input type="text" name="inter[fallas_domicilio]" id="inter[fallas_domicilio]" class="fee2" value="<?php echo $this->iregistro->fallas_domicilio?>"/>
                </div>    
            </div>
               
            <div  class="row-fluid filaFormulario">
                <div class="span8"></div>
                <div class="span2"><button type="button" class="btn btn-success" onclick="editarRegistro()">Guardar</button></div>   
            </div>
        </div>         

    </div>
    <input type="hidden" name="cable[id]" id="cable[id]" value="<?php echo $this->registro->id?>" />
    <input type="hidden" name="inter[id]" id="inter[id]" value="<?php echo $this->iregistro->id?>" />
</form>  
</div>
