<form name="frmTipofalla" id="frmTipofalla" method="post" action="/catalogos/tipodefalla/guardar"> 
    <div  class="row-fluid contenedorFormulario">
        <div  class="row-fluid">
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>TIPO DE FALLA</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="Tipo de falla" class="required" value="<?php echo $this->registro->nombre;?>" /></div>
            </div>
        </div> 
    </div>
    <input type="hidden" name="id" id="id" value="<?php echo $this->registro->id?>" />
</form>