<form name="frm" id="frm" method="post" action="/catalogos/version/guardar">    
    <div  class="row-fluid contenedorFormulario">
        <div  class="row-fluid">
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>NOMBRE</label></div>
                <div class="span4"><input type="text" name="nombre" id="nombre" placeholder="Nombre" class="required" value="<?php echo $this->registro->nombre;?>" /></div>
                <div class="span2"><label>TIPO</label></div>
                <div class="span4">
                    <select name="tipo" id="tipo" class="required">
                        <option value="">Seleccione un tipo</option>
                        <option value="4" <?php echo ($this->registro->tipo==4)?'selected':'';?>>Técnico</option>
                        <option value="3" <?php echo ($this->registro->tipo==3)?'selected':'';?>>Vendedor</option>
                    </select>
                </div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>ARCHIVO</label></div>
                <div class="span4">
                    <input type="file" name="archivo" id="archivo" class="required"/>
                </div>
            </div>
        </div>      
    </div>
    <input type="hidden" name="id" id="id" value="<?php echo $this->registro->id?>" />
</form> 