<div  class="row-fluid contenedorFiltro">
    <div class="span12 tituloFiltro">VERSIONES</div>  
    <div  class="row-fluid filaFiltro">
        <div class="span1"><label>NOMBRE</label></div>
        <div class="span3"><input type="text" name="fnombre" id="fnombre" /></div>
        <div class="span1"><label>TIPO</label></div>
        <div class="span3">
            <select name="ftipo" id="ftipo">
                <option value="0">Todos los tipos</option>
                <option value="4">Técnico</option>
                <option value="3">Vendedor</option>
            </select>
        </div>
        <div class="span2"></div>
        <div class="span2"><a class="btn btn-primary" onclick="agregar(0);">Agregar&nbsp; &nbsp;&nbsp;<i class="icon-plus icon-white"></i></a></div>
    </div>    
</div>
<div  class="row-fluid contenedorGrid">
    <div id="flexgrid"></div>
</div>
