<form name="frmGastos" id="frmGastos" method="post" action="/transacciones/gastos/guardar">
    <div class="row-fluid contenedorFormulario">
        <div class="row-fluid">
            <div class="row-fluid filaFormulario">
                <div class="span1"><label>FECHA</label></div>
                
                <div class="span3">                    
                    <?php if(Usuario::tipo()==1 && !is_null(Usuario::plaza())) { ?>
                        <input type="text" name="fecha" id="fecha1" value="<?php echo date("Y-m-d H:i:s") ?>" <?php echo "readonly='readonly'"; ?>/>
                    <?php } ?>
                    
                     <?php if(Usuario::tipo()==0){ ?>
                        <input type="text" name="fecha" id="fecha" class="required" value="<?php echo $this->registro->fecha?>" />
                    <?php } ?>                   
                </div>
                           
                <div class="span1"><label>MONTO</label></div>
                    
                <div class="span3">
                    <input type="text" name="monto" id="monto" class="required" placeholder="0.00" value="<?php echo $this->registro->monto?>"/>
                </div> 
                 <?php if(Usuario::tipo()==0) { ?>
                <div class="span1"><label>PLAZA</label></div>
                <div class="span3">
                    <select name="plaza_id" id="plaza_id">
                        <option value="0" <?php echo (is_null($this->registro->plaza_id))?"selected":""?>>Elija una plaza</option>
                        <?php foreach($this->plazas as $plaza){?>
                        <option value="<?php echo $plaza->id?>" <?php echo ($this->registro->plaza_id==$plaza->id)?"selected":""?>><?php echo $plaza->nombre?></option>
                        <?php } ?>
                    </select>
                </div>
                <?php } else{ ?>
                        <input type="hidden" name="plaza_id" id="plaza_id" value="<?php echo Usuario::plaza(); ?>" />
                <?php } ?>     
            </div>
       	</div>
            
      	<div class="row-fluid filaFormulario">
            <div class="span12">
                <label>CONCEPTO</label>
                <textarea class="span9 required"  name="concepto" id="concepto"><?php echo $this->registro->concepto?></textarea>
            </div>
      	</div>
    </div>      
    <input type="hidden" name="id" id="id" value="<?php echo $this->registro->id;?>" />
    
</form>