<form name="frmCliente" id="frmCliente" method="post" action="/transacciones/ordenescambioservicioinstala/guardar">  
        <div  class="row-fluid contenedorFormulario">
        <div  class="row-fluid">
        	<h3>Datos generales</h3>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>NÚMERO DE CONTRATO</label></div>
                <div class="span4"><input type="text" value="<?php echo $this->registro->Cliente->contrato?>" readonly="readonly" /></div>
                <div class="span2"><label>CLIENTE</label></div>
                <div class="span4"><input type="text" value="<?php echo $this->registro->Cliente->nombre?>" readonly="readonly" /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>CALLE</label></div>
                <div class="span4"><input type="text" value="<?php echo $this->registro->Cliente->calle?>" readonly="readonly" /></div>
                <div class="span2"><label>NUMERO EXTERIOR</label></div>
                <div class="span4"><input type="text" value="<?php echo $this->registro->Cliente->no_exterior?>" readonly="readonly" /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                 <div class="span2"><label>NUMERO INTERIOR</label></div>
                <div class="span4"><input type="text" value="<?php echo $this->registro->Cliente->no_interior?>" readonly="readonly" /></div>
                <div class="span2"><label>COLONIA</label></div>
                <div class="span4"><input type="text" value="<?php echo Colonia::obtenerColonia($this->registro->Cliente->colonia_id)?>" readonly="readonly" /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>ESTATUS</label></div>
                <div class="span4"><input type="text" value="<?php echo $this->registro->Cliente->estatus?>" readonly="readonly" /></div>
            </div>
            
            <h3>Material retirado</h3>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>FECHA DE RETIRO</label></div>
                <div class="span4"><input type="text" name="fecha_retiro" id="fecha_retiro" placeholder="AAAA-MM-DD" readonly="readonly" value="<?php echo $this->datos_retiro[0] ?>"/></div>
                 <div class="span2"><label>TÉCNICO QUE RETIRO</label></div>
                <div class="span4">
                <select name="tecnico_retiro" id="tecnico_retiro" readonly="readonly">
                	<option value=""><?php echo Ordencambioservicio::obtenerTecnico($this->datos_retiro[1]) ?></option>
                </select>
                </div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>CABLE</label></div>
                <div class="span4"><input type="text" name="cable_retirado" id="cable_retirado" placeholder="Cable" readonly="readonly" value="<?php echo $this->datos_retiro[2] ?>"/></div>
                <div class="span2"><label>CONECTOR</label></div>
                <div class="span4"><input type="text" name="conector_retirado" id="conector_retirado" placeholder="Conector" readonly="readonly" value="<? echo $this->datos_retiro[3] ?>"/></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>DIVISOR 2</label></div>
                <div class="span4"><input type="text" name="divisor2_retirado" id="divisor2_retirado" placeholder="Divisor 2"  readonly="readonly" value="<? echo $this->datos_retiro[4] ?>"/></div>
                 <div class="span2"><label>DIVISOR 3</label></div>
                <div class="span4"><input type="text" name="divisor3_retirado" id="divisor3_retirado" placeholder="Divisor 3"  readonly="readonly" value="<? echo $this->datos_retiro[5] ?>"/></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>DIVISOR 4</label></div>
                <div class="span4"><input type="text" name="divisor4_retirado" id="divisor4_retirado" placeholder="Divisor 4"  readonly="readonly" value="<? echo $this->datos_retiro[6] ?>"/></div>
                <div class="span2"><label>GRAPAS</label></div>
                <div class="span4"><input type="text" name="grapas_retirado" id="grapas_retirado" placeholder="Grapas"  readonly="readonly" value="<? echo $this->datos_retiro[7] ?>"/></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>NÚMERO DE SERIE DEL MODEM</label></div>
                <div class="span4"><input type="text" name="no_modem_retirado" id="no_modem_retirado" placeholder="Numero de serie del modem" readonly="readonly" value="<? echo $this->datos_retiro[8] ?>"/></div>
                <div class="span2"><label>MAC ADDRESS</label></div>
                <div class="span4"><input type="text" name="mac_adds_retirado" id="mac_adds_retirado" placeholder="Mac Address del modem" readonly="readonly" value="<? echo $this->datos_retiro[9] ?>"/></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>MAC ADDRESS DEL ROUTER</label></div> 
                <div class="span4"><input type="text" name="mac_router_retirado"  readonly="readonly" value="<? echo $this->datos_retiro[10] ?>" id="mac_router_retirado" placeholder="Mac address del router retirado"/></div>
                <div class="span2"><label>MAC ADDRESS DEL SWITCH</label></div>
                <div class="span4"><input type="text" name="mac_switch_retirado" readonly="readonly" value="<? echo $this->datos_retiro[11] ?>" id="mac_switch_retirado" placeholder="Mas address del switch retirado"/></div>
            </div>
             
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>MAC ADDRESS DEL ROKU</label></div> 
                <div class="span4"><input type="text" name="mac_roku_retirado" readonly="readonly"  value="<? echo $this->datos_retiro[12] ?>" id="mac_roku_retirado" placeholder="Mac address del roku retirado"/></div>
                <div class="span2"><label>SALIDA DEL SWITCH</label></div>
                <div class="span4"><input type="text" name="salida_switch_retirado" readonly="readonly" value="<? echo $this->datos_retiro[13] ?>" placeholder="Salida del switch a la que se conecta el servicio"/></div>
            </div>
            <h3>Material instalado</h3>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>FECHA DE INSTALACIÓN</label></div>
                <div class="span4"><input type="text" name="fecha_instalacion" id="fecha_instalacion" placeholder="AAAA-MM-DD" class="required" readonly="readonly" /></div>
                 <div class="span2"><label>TÉCNICO QUE INSTALÓ</label></div>
                <div class="span4">
                <select name="tecnico_instalo" id="tecnico_instalo" class="required">
                	<option value="">Técnico que instaló</option>
                    <? foreach($this->tecnicos as $tecnico){?>
                    <option value="<?php echo $tecnico->id?>"><?php echo $tecnico->nombre?></option>
                    <? }?>
                </select>
                </div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>CABLE</label></div>
                <div class="span4"><input type="text" name="cable_instalado" id="cable_instalado" placeholder="Cable" class="required number" /></div>
                <div class="span2"><label>CONECTOR</label></div>
                <div class="span4"><input type="text" name="conector_instalado" id="conector_instalado" placeholder="Conector" class="required number" /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>DIVISOR 2</label></div>
                <div class="span4"><input type="text" name="divisor2_instalado" id="divisor2_instalado" placeholder="Divisor 2"  class="number" /></div>
                 <div class="span2"><label>DIVISOR 3</label></div>
                <div class="span4"><input type="text" name="divisor3_instalado" id="divisor3_instalado" placeholder="Divisor 3" class="number"  /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>DIVISOR 4</label></div>
                <div class="span4"><input type="text" name="divisor4_instalado" id="divisor4_instalado" placeholder="Divisor 4"  class="number" /></div>
                <div class="span2"><label>GRAPAS</label></div>
                <div class="span4"><input type="text" name="grapas_instalado" id="grapas_instalado" placeholder="Grapas" class="required number" /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>NÚMERO DE SERIE DEL MODEM</label></div>
                <div class="span4"><input type="text" name="no_modem_instalado" id="no_modem_instalado" placeholder="Numero de serie del modem" /></div>
                <div class="span2"><label>MAC ADDRESS</label></div>
                <div class="span4"><input type="text" name="mac_adds_instalado" id="mac_adds_instalado" placeholder="Mac Address del modem" /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>MAC ADDRESS DEL ROUTER</label></div> 
                <div class="span4"><input type="text" name="mac_router" value="" id="mac_router" placeholder="Mac address del router"/></div>
                <div class="span2"><label>MAC ADDRESS DEL SWITCH</label></div>
                <div class="span4"><input type="text" name="mac_switch" value="" id="mac_switch" placeholder="Mas address del switch"/></div>
            </div>
             
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>MAC ADDRESS DEL ROKU</label></div> 
                <div class="span4"><input type="text" name="mac_roku" value="" id="mac_roku" placeholder="Mac address del roku "/></div>
                <div class="span2"><label>SALIDA DEL SWITCH</label></div>
                <div class="span4"><input type="text" name="salida_switch" value="" placeholder="Salida del switch a la que se conecta el servicio"/></div>
            </div>
        </div>
    </div>
    <input type="hidden" name="id" id="id" value="<?php echo $this->registro->id?>" />
    <input type="hidden" name="cliente_id" id="cliente_id" value="<?php echo $this->registro->cliente_id?>" />
</form>