<div  class="row-fluid contenedorFiltro">
  <div class="span12 tituloFiltro">REPORTE DE CONFIRMACIÓN DE METAS</div>  
  
  <div  class="row-fluid filaFiltro">
    <div class="span1"><label>FECHA</label></div>
    <div class="span3"><input type="text" name="ffecha" id="ffecha" /></div>
    <div class="span1"><? if(Usuario::tipo()==0){?><label>PLAZA</label><? }?></div>
    <div class="span3">
		<? if(Usuario::tipo()==0){ $cadena='';?>
        <select name="fplaza" id="fplaza" multiple="multiple">
			<?php foreach($this->plazas as $plaza){?>
            <option value="<?php echo $plaza->id;?>"><?php echo $plaza->nombre;?></option>
            <?php if($cadena==''){$cadena=$plaza->id;}else{$cadena.='_'.$plaza->id;}?>
        <?php }?>
        </select>
        <input type="hidden" name="plazas" id="plazas" value="<?php echo $cadena;?>" />
        <input type="hidden" name="fplazas" id="fplazas"/>
        <? }?>
    </div>
    <div class="span2"><a class="btn btn-primary span10" onclick="filtrar();">Filtrar&nbsp; &nbsp;<i class="icon-filter icon-white"></i></a></div>
    <div class="span2"><a class="btn btn-primary span10" onclick="limpiar();">Limpiar&nbsp; &nbsp;</a></div>
  </div>
  
  <div  class="row-fluid filaFiltro">
    <div class="span1"><label>ESTATUS</label></div>
    <div class="span3">
    	<select name="festatus" id="festatus">
            <option value="">Todos los estatus</option>
            <option value="1">Confirmados</option>
            <option value="2">No confirmados</option>
        </select>
    </div>
    <div class="span1"></div>
    <div class="span3"></div>
    <div class="span2"></div>
    <div class="span2"></div>
  </div> 

</div>

<div  class="row-fluid contenedorGrid">
    <div id="flexgrid"></div>
</div>
