<div  class="row-fluid contenedorFiltro">
  <div class="span12 tituloFiltro">REPORTE DE FALLAS</div>  
  
  <div  class="row-fluid filaFiltro">
    <div class="span1"><label>CLIENTE</label></div>
    <div class="span3"><input type="text" name="fnombre" id="fnombre" /></div>
    <div class="span1"><? if(Usuario::tipo()==0){?><label>ESTADO</label><? }?></div>
    <div class="span3">
    <? if(Usuario::tipo()==0){?>
        <select name="festado" id="festado">
            <option value="0">Todos los estados</option>
            <?php foreach($this->estados as $estado){?>
            <option value="<?php echo $estado->id?>"><?php echo $estado->nombre?></option>
            <?php }?>
        </select>
        <? }?>
    </div>
    <div class="span2"><a class="btn btn-primary span10" onclick="filtrarClientes();">Filtrar&nbsp; &nbsp;<i class="icon-filter icon-white"></i></a></div>
    <div class="span2"><a class="btn btn-primary span10" onclick="limpiarClientes();">Limpiar&nbsp; &nbsp;</a></div>
  </div> 
  
  <div  class="row-fluid filaFiltro">
    <div class="span1"><? if(Usuario::tipo()==0){?><label>MUNICIPIO</label><? }?></div>
    <div class="span3">
    	<? if(Usuario::tipo()==0){?>
        <select name="fmunicipio" id="fmunicipio">
            <option value="0">Todos los municipios</option>
            <?php foreach($this->municipios as $municipio){?>
            <option value="<?php echo $municipio->id?>"><?php echo $municipio->nombre?></option>
            <?php }?>
        </select>
        <? }?>
    </div>
    <div class="span1"><? if(Usuario::tipo()==0){?><label>COMUNIDAD</label><? }?></div>
    <div class="span3">
       <? if(Usuario::tipo()==0){?> <select name="fcomunidad" id="fcomunidad">
            <option value="0">Todas las comunidades</option>
            <?php foreach($this->comunidades as $comunidad){?>
            <option value="<?php echo $comunidad->id?>"><?php echo $comunidad->nombre?></option>
            <?php }?>
        </select>
        <? }?>
    </div>
    <div class="span2"><a class="btn btn-primary span10" href="/transacciones/clientes/imprimir" id="btnImprimir" target="_blank">Imprimir&nbsp; &nbsp;<i class="icon-print icon-white"></i></a></div>
    <div class="span2"><a class="btn btn-primary span10" href="/transacciones/clientes/exportar" target="_blank" id="btnExportar">Exportar&nbsp; &nbsp;<i class="icon-list icon-white"></i></a></div>
  </div> 
  
  <div  class="row-fluid filaFiltro">
    <div class="span1"><? if(Usuario::tipo()==0){?><label>PLAZA</label><? }?></div>
    <div class="span3">
   	 <? if(Usuario::tipo()==0){?>
        <select name="fplaza" id="fplaza">
            <option value="0">Todas las plazas</option>
            <?php foreach($this->plazas as $plaza){?>
            <option value="<?php echo $plaza->id?>"><?php echo $plaza->nombre?></option>
            <?php }?>
        </select>
       <? }?> 
    </div>
    <div class="span1"></div>
    <div class="span3"></div>
    <div class="span2"><? if(My_Permisos::tienePermiso('AGREGAR_REPORTEFALLAS')){?><a class="btn btn-primary span10" onclick="agregarCliente(0);">Agregar&nbsp; &nbsp;<i class="icon-plus icon-white"></i></a><? }?></div>
  </div> 
       
</div>

<div  class="row-fluid contenedorGrid"><div id="flexgrid"></div></div>