<form name="frmAplicarpago" id="frmAplicarpago" action="/transacciones/cobranza/guardar"  method="post" >
    <div  class="row-fluid contenedorFormulario">
        
        <div class="row-fluid">
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>NÚMERO DE CONTRATO</label></div>
                <div class="span3"><?=$this->cliente->contrato?></div>
                <div class="span2"><label>CLIENTE</label></div>
                <div class="span3"><?=$this->cliente->nombre?></div>
            </div>
            
            <div class="row-fluid filaFormulario">
                <div class="span2"><label>CALLE</label></div>
                <div class="span3"><?=$this->cliente->calle?> </div>
                <div class="span2"><label>NUMERO EXTERIOR</label></div>
                <div class="span3"><?=$this->cliente->no_exterior?></div>
            </div>
            
            <div  class="row-fluid filaFormulario">
                 <div class="span2"><label>NUMERO INTERIOR</label></div>
                <div class="span3"><?=$this->cliente->no_interior?></div>
                <div class="span2"><label>COLONIA</label></div>
                <div class="span3"><?=Colonia::obtenerColonia($this->cliente->colonia_id)?></div>
            </div>
            <div class="row-fluid filaFormulario">
                <div class="span2"><label>ESTATUS</label></div>
                <div class="span3" style="background-color:#FF9F9F"><?=$this->cliente->estatus?></div>
                <div class="span2"><label>ULTIMO MES CUBIERTO</label></div>
                <div class="span3" style="background-color:#FF9F9F"><?=$this->cliente->ultimomescubierto?></div>
            </div>
            <input type="hidden" name="cliente_id" id="cliente_id" value="<?=$this->cliente->id?>"/><br />
            
          	<div class="row-fluid filaFormulario">
            	<div class="span2"><label>FECHA DE FALLA</label></div>
                <div class="span3"><input type="text" class="required" readonly="readonly"></div>
                <div class="span2"><label>FECHA DE REPORTE</label></div> 
            	<div class="span3">
            		<input type="text" readonly="readonly" value="<?php echo date("Y-m-d")?>">
           		</div>
            </div>
            
           	<div class="row-fluid filaFormulario">
            	<div class="span2"><label>TIPO DE FALLA</label></div>
                <div class="span3">
                	<select  class="required" required readonly="readonly">
                        <option value="0">Seleccione un tipo de falla</option>
                        <?php foreach($this->fallas as $falla){?>
                        <option value="<?php echo $falla->id?>"><?php echo $falla->nombre?></option>
                        <?php }?>
                    </select>
                    
                </div>
                <div class="span2"><label>STATUS DE FALLA</label></div>
                <div class="span3">
                	<select class="required" required readonly="readonly">
                        <option value="0">Seleccione un status de fallas</option>
                        <?php foreach($this->estatusfallas as $estatusfalla){?>
                        <option value="<?php echo $estatusfalla->id?>"><?php echo $estatusfalla->nombre?></option>
                        <?php }?>
                    </select>
                </div>    
            </div>
            
           	<div class="row-fluid filaFormulario">
            	<div class="span2"><label>TIPO DE FALLA</label></div>
                <div class="span3">
                	<select  class="required" required readonly="readonly">
                        <option value="0">Seleccione un tipo de falla</option>
                        <?php foreach($this->fallas as $falla){?>
                        <option value="<?php echo $falla->id?>"><?php echo $falla->nombre?></option>
                        <?php }?>
                    </select>
                    
                </div>
                <div class="span2"><label>STATUS DE FALLA</label></div>
                <div class="span3">
                	<select class="required" required readonly="readonly">
                        <option value="0">Seleccione un status de fallas</option>
                        <?php foreach($this->estatusfallas as $estatusfalla){?>
                        <option value="<?php echo $estatusfalla->id?>"><?php echo $estatusfalla->nombre?></option>
                        <?php }?>
                    </select>
                </div>    
            </div>
            
            
        </div>        
    </div>
    </form>