<form name="frmEditarFalla" id="frmEditarFalla" action="/transacciones/fallasreportadas/guardar"  method="post" >
    <div  class="row-fluid contenedorFormulario">
    
    	<input type="hidden" name="id" id="id" value="<?=$this->descripcionFallas->id?>"/>
            
        <div class="row-fluid">
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>NÚMERO DE CONTRATO</label></div>
                <div class="span3"><?=$this->cliente->contrato?></div>
                <div class="span2"><label>CLIENTE</label></div>
                <div class="span3"><?=$this->cliente->nombre?></div>
            </div>
            
            <div class="row-fluid filaFormulario">
                <div class="span2"><label>CALLE</label></div>
                <div class="span3"><?=$this->cliente->calle?> </div>
                <div class="span2"><label>NUMERO EXTERIOR</label></div>
                <div class="span3"><?=$this->cliente->no_exterior?></div>
            </div>
            
            <div  class="row-fluid filaFormulario">
                 <div class="span2"><label>NUMERO INTERIOR</label></div>
                <div class="span3"><?=$this->cliente->no_interior?></div>
                <div class="span2"><label>COLONIA</label></div>
                <div class="span3"><?=Colonia::obtenerColonia($this->cliente->colonia_id)?></div>
            </div>
            <div class="row-fluid filaFormulario">
                <div class="span2"><label>ESTATUS</label></div>
                <div class="span3" style="background-color:#FF9F9F"><?=$this->cliente->estatus?></div>
                <div class="span2"><label>ULTIMO MES CUBIERTO</label></div>
                <div class="span3" style="background-color:#FF9F9F"><?=$this->cliente->ultimomescubierto?></div>
            </div><br/>
            
          	<div class="row-fluid filaFormulario">
            	<div class="span2"><label>FECHA DE FALLA</label></div>
                <div class="span3"><input type="text" readonly="readonly"  value="<?=$this->descripcionFallas->fecha_falla?>"></div>
                <div class="span2"><label>FECHA DE REPORTE</label></div> 
            	<div class="span3"><input type="text" readonly="readonly" value="<?=$this->descripcionFallas->fecha_reporte?>">
           		</div>
            </div>
            
           	<div class="row-fluid filaFormulario">
            	<div class="span2"><label>TIPO DE FALLA</label></div>
                <div class="span3">
                	<select readonly="readonly">
                        <option value="0">Seleccione un tipo de falla</option>
                        <?php foreach($this->fallas as $falla){?>
                        <option value="<?php echo $falla->id?>" <? if($falla->id==$this->descripcionFallas->tipo_falla) echo "selected";?>><?php echo $falla->nombre?></option>
                        <?php }?>
                    </select>
                    
                </div>
                <div class="span2"><label>STATUS DE FALLA</label></div>
                <div class="span3">
                	<select class="required" required id="status_falla" name="status_falla">
                        <option value="0">Seleccione un status de fallas</option>
                        <?php foreach($this->estatusfallas as $estatusfalla){?>
                        <option value="<?php echo $estatusfalla->id?>" <? if($estatusfalla->id==$this->descripcionFallas->status_falla) echo "selected";?>><?php echo $estatusfalla->nombre?></option>
                        <?php }?>
                    </select>
                </div>    
            </div>
            
           	<div class="row-fluid filaFormulario">
            	<div class="span2"><label>TÉCNICO ASIGNADO</label></div>
                <div class="span3">
                	<select  class="required" required id="tecnico_id" name="tecnico_id" >
                        <option value="0">Seleccione técnico</option>
                        <?php foreach($this->tecnicos as $tecnico){?>
                        <option value="<?php echo $tecnico->id?>" <? if($tecnico->id==$this->descripcionFallas->tecnico_id) echo "selected";?>><?php echo $tecnico->nombre?></option>
                        <?php }?>
                    </select>
                </div>
                <div class="span2"><label>FECHA DE SOLUCIÓN</label></div>
                <div class="span3"><input type="text" id="fecha_solucion" name="fecha_solucion" value="<?=$this->descripcionFallas->fecha_solucion?>"></div> 
                   
            </div>
            
            <div class="row-fluid filaFormulario">
            	<div class="span10">
            		<label>COMENTARIOS</label>
            		<textarea class="span12" id="comentarios" name="comentarios"><?=$this->descripcionFallas->comentarios?></textarea>
            	</div>
            </div>
            
            <div class="row-fluid filaFormulario">
            	<table class="table table-bordered">
                	<thead><tr><th colspan="5" align="right">Historial</th></tr></thead>
                    
                   	<tbody id="bodyTablaPagoAdelantadoAdicionales">
                    	
                        <tr id="trEncabezadoAdicionales">
                        	<td width="20%"><b>Fecha</b></td>
                          	<td width="20%"><b>Status</b></td>
                          	<td width="20%"><b>Técnico</b></td>
                          	<td width="40%" colspan="2"><b>Comentarios</b></td>
                        </tr>
                        
                       <?php
					    foreach($this->historiales as $historial){?>
                       	<tr id="trEncabezadoAdicionales">
                        	<td width="20%"><?php echo $historial->fecha?></td>
                            <td width="20%"><?php echo $historial->EstatusDeFalla->nombre?></td>
                          	<td width="20%"><?php echo $historial->Tecnico->nombre?></td>
                          	<td width="40%" colspan="2"><?php echo $historial->comentarios?></td>
                        </tr>
                        <?php 	
						}?>
    
                 	</tbody>
              	</table>
            </div>
            
        </div>        
    </div>
    </form>