<div  class="row-fluid contenedorFiltro">
    <div class="span12 tituloFiltro">
        <div class="span10">COMISIONES POR PAGAR</div>
        <div class="span2">
            <div class="span3">
                <a class="btn btn-success" href="/transacciones/clientes/imprimir" onclick="filtrarFallas();" id="btnImprimir" target="_blank"><i class="icon-print icon-white"></i></a>
            </div>
            <div class="span3 offset1">
                <a class="btn btn-success" href="/transacciones/clientes/exportar" onclick="filtrarFallas();" target="_blank" id="btnExportar"><i class="icon-list icon-white"></i></a>
            </div>
        </div>
    </div>

    <? if(Usuario::tipo()==0){?>
    <div class="row-fluid filaFiltro">
        <div class="span1"><label>PLAZA</label></div>

        <div class="span3">
            <select name="fplaza" id="fplaza">
                <option value="0">Todas las plazas</option>
                <?php foreach($this->plazas as $plaza){?>
                <option value="<?php echo $plaza->id?>"><?php echo $plaza->nombre?></option>
                <?php }?>
            </select>
        </div>
        
        <div class="span1"><label>SUCURSAL</label></div> 
        
        <div class="span3">
            <select name="fsucursal" id="fsucursal">
                <option value="0">Todas las sucursales</option>
                <?php foreach($this->sucursales as $sucursal){?>
                <option value="<?php echo $sucursal->id?>"><?php echo $sucursal->nombre?></option>
                <?php }?>
            </select>
        </div> 
        
        
    </div>  
    <?php }?>


  
    <div  class="row-fluid filaFiltro">   
        <div class="span1"><label>PROMOTOR</label></div>
        <div class="span2"><label><input type="text" name="fnombre" id="fnombre" class="span12"/></label></div> 
        <div class="span1"><label>DESDE</label></div>
        <div class="span2"><input type="text" name="fdesde" id="fdesde" class="span12"/></div>
        <div class="span1"><label>HASTA</label></div>
        <div class="span2"><input type="text" name="fhasta" id="fhasta" class="span12"/></div>
        <div class="span2"><a class="btn btn-primary span10" onclick="filtrarFallas();">Buscar&nbsp; &nbsp;<i class="icon-search icon-white"></i></a></div>
    </div>     
    
</div>

<div class="row-fluid contenedorGrid"><div id="flexgrid"></div></div>