<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<?php echo $this->headTitle(); ?>
<?php echo $this->headScript();?>
<?php echo $this->headLink();?>

</head>
<body>

    <div class="row-fluid" id="contenedorMenu">
        <div class="row-fluid" id="menu">
            <div class="span3"><img src="/images/logo.png" /></div>
           
            <div class="span2 opcion">            <? 
                if(My_Permisos::tienePermiso('VER_PARAMETROS')){?><a href="/catalogos/parametros"><img src="/images/png/home.png"/>&nbsp; Parametros</a><? }
                else { ?> <a href="/transacciones/clientes"><img src="/images/png/home.png" />&nbsp;Inicio</a><? } ?>           
            </div>
           
            <div class="span2 opcion">
                <img src="/images/png/catalogo.png" />&nbsp;Catálogos
            
                <ul class="submenu">
                    <? if(Usuario::tipo() == 0){?>
                        <? if(My_Permisos::tienePermiso('VER_PARAMETROSDEPRODUCTIVIDAD')){?><li><a href="/catalogos/parametrosdeproductividad">Parametros de productividad</a></li><? } ?>                    
                        <? if(My_Permisos::tienePermiso('VER_INDEX')){?><li><a href="/catalogos/bitacora">Bitácora</a></li><li><a href="/catalogos/">Usuarios</a></li><? }?>
                        <? if(My_Permisos::tienePermiso('VER_SUCURSAL')){?><li><a href="/catalogos/sucursal">Sucursales</a></li><? }?>
                        <? if(My_Permisos::tienePermiso('VER_PLAZA')){?><li><a href="/catalogos/plaza">Plazas</a></li><? }?>
                        <!--<? if(My_Permisos::tienePermiso('VER_TECNICOS')){?><li><a href="/catalogos/tecnicos">Técnicos</a></li><? }?>-->
                        <? if(My_Permisos::tienePermiso('VER_TIPODEFALLA')){?><li><a href="/catalogos/tipodefalla">Tipos de fallas</a></li><? }?>
                        <? if(My_Permisos::tienePermiso('VER_ESTATUSDEFALLAS')){?><li><a href="/catalogos/estatusdefallas">Estatus de fallas</a></li><? }?>
                        <!--<? if(My_Permisos::tienePermiso('VER_PROMOTORES')){?><li><a href="/catalogos/promotores">Promotores</a></li><? }?>-->
                        <? if(My_Permisos::tienePermiso('VER_CIUDADES')){?><li><a href="/catalogos/ciudades">Municipios</a></li><? }?>
                        <? if(My_Permisos::tienePermiso('VER_COMUNIDADES')){?><li><a href="/catalogos/comunidades">Comunidades</a></li><? }?>
                        <? if(My_Permisos::tienePermiso('VER_PRODUCTOS')){?><li><a href="/catalogos/productos">Servicios</a></li><? }?>
                        <? if(My_Permisos::tienePermiso('VER_NOTIFICACION')){?><li><a href="/catalogos/notificacion">Notificaciones App de Clientes</a></li><? }?>
                        <? if(My_Permisos::tienePermiso('VER_CONCEPTODECONTRATACION')){?><li><a href="/catalogos/conceptodecontratacion">Conceptos de contratación</a></li><? }?>
                        <? if(My_Permisos::tienePermiso('VER_TARIFASESPECIALES')){?><li><a href="/catalogos/tarifasespeciales">Tarifas especiales</a></li><? }?>
                        <? if(My_Permisos::tienePermiso('VER_PAQUETES')){?><li><a href="/catalogos/paquetes">Paquetes</a></li><? }?>
                        <? if(My_Permisos::tienePermiso('VER_COMISIONES')){?><li><a href="/catalogos/comisiones">Comisiones</a></li><? }?>
                        <? if(My_Permisos::tienePermiso('VER_TARIFASRECUPERACION')){?><li><a href="/catalogos/tarifasrecuperacion">Tarifas de recuperación</a></li><? }?>
                        <? if(My_Permisos::tienePermiso('VER_TARIFASCAMBIOSERVICIO')){?><li><a href="/catalogos/tarifascambioservicio">Tarifas de cambio de servicio</a></li><? }?>
                        <? if(My_Permisos::tienePermiso('VER_TARIFASPROMOCIONRECUPERACION')){?><li><a href="/catalogos/tarifaspromocionrecuperacion">Tarifas de promoción de recuperación</a></li><? }?>
                        <? if(My_Permisos::tienePermiso('VER_METAS')){?><li><a href="/transacciones/metas">Definir Metas</a></li><? }?>
                        <? if(My_Permisos::tienePermiso('VER_PROMOCION')){?><li><a href="/catalogos/promocion">Promociones</a></li><? }?>
                        <? if(My_Permisos::tienePermiso('VER_ZONA')){?><li><a href="/catalogos/zona">Zonas</a></li><? }?>
                        <? if(My_Permisos::tienePermiso('VER_COLONIA')){?><li><a href="/catalogos/colonia">Colonias</a></li><? }?>
                    <? }?>

                </ul>
            </div>
            <div class="span2 opcion">
                <img src="/images/png/transacciones.png" />&nbsp;Transacciones
                <ul class="submenu">
                    <? if(My_Permisos::tienePermiso('VER_CLIENTES')){?><li><a href="/transacciones/clientes">Clientes</a></li><? }?>
                    <? if(My_Permisos::tienePermiso('VER_SERVICIOPLAZA')){?><li><a href="/transacciones/servicioplaza">Definición de tarifas</a></li><? }?>
                    <!--<? if(My_Permisos::tienePermiso('VER_AUTORIZACIONES')){?><li><a href="/transacciones/autorizaciones">Autorizaciones</a></li><? }?>-->
                    <!--<? // if(My_Permisos::tienePermiso('VER_COBRANZA')){?><li><a href="/transacciones/cobranza">Cobranza</a></li><? //}?>!-->
                    <? if(My_Permisos::tienePermiso('VER_REPORTARFALLAS')){?><li><a href="/transacciones/reportarfallas">Reportar fallas</a></li><? }?>
                    <? if(My_Permisos::tienePermiso('VER_FALLASREPORTADAS')){?><li><a href="/transacciones/fallasreportadas">Fallas reportadas</a></li><? }?>  
                    <? if(My_Permisos::tienePermiso('VER_GASTOS')){?><li><a href="/transacciones/gastos">Gastos</a></li><? }?>
                    <? if(My_Permisos::tienePermiso('VER_COMISIONESPORPAGAR')){?><li><a href="/transacciones/comisionesporpagar">Comisiones por pagar</a></li><? }?>
                    <li><hr/></li>
                    <? if(My_Permisos::tienePermiso('VER_ORDENESINSTALACION') ){?><li><a href="/transacciones/ordenesinstalacion">Órdenes de instalación</a></li><? }?>
                    <? if(My_Permisos::tienePermiso('VER_ORDENESCAMBIODOMICILIO')){?><li><a href="/transacciones/ordenescambiodomicilio">Órdenes de cambio de domicilio</a></li><? }?>
                    <? if(My_Permisos::tienePermiso('VER_ORDENESCAMBIOSERVICIORETIRA')){?><li><a href="/transacciones/ordenescambioservicioretira">Órdenes de cambio de servicio (Retirar)</a></li><? }?>
                    <? if(My_Permisos::tienePermiso('VER_ORDENESCAMBIOSERVICIOINSTALA')){?><li><a href="/transacciones/ordenescambioservicioinstala">Órdenes de cambio de servicio (Instalar)</a></li><? }?>
                    <? if(My_Permisos::tienePermiso('VER_ORDENESEXTENSIONESADICIONALES')){?><li><a href="/transacciones/ordenesextensionesadicionales">Órdenes de extensiones adicionales</a></li><? }?>
                    <li><hr/></li>                    
                    <? if(My_Permisos::tienePermiso('VER_BAJAVOLUNTARIA')){?><li><a href="/transacciones/bajavoluntaria">Órdenes de bajas voluntarias</a></li><? }?>
                    <? if(My_Permisos::tienePermiso('VER_ORDENESDESCONEXION')){?><li><a href="/transacciones/ordenesdesconexion">Órdenes de desconexión</a></li><? }?>
                    <? if(My_Permisos::tienePermiso('VER_ORDENESCORTE')){?><li><a href="/transacciones/ordenescorte">Órdenes de corte</a></li><? }?>
                    <? if(My_Permisos::tienePermiso('VER_ORDENESRETIRO')){?><li><a href="/transacciones/ordenesretiro">Órdenes de retiro</a></li><? }?>
                    <? if(My_Permisos::tienePermiso('VER_ORDENESBAJA')){?> <!--<li><a href="/transacciones/ordenesbaja">Órdenes de baja</a></li>--><?  }?>
                    <? if(My_Permisos::tienePermiso('VER_ORDENREINSTALACION')){?><li><a href="/transacciones/ordenreinstalacion">Órdenes reinstalación </a></li><? } ?>                    
                    <? if(My_Permisos::tienePermiso('VER_ORDENESRECONEXION')){?><li><a href="/transacciones/ordenesreconexion">Órdenes reconexión</a></li><? } ?>
                    <? if(My_Permisos::tienePermiso('VER_REPORTECUANTITATIVO') || My_Permisos::tienePermiso('VER_REPORTECUANTITATIVO2')){?>
                        <!-- <li><a href="/transacciones/reportecuantitativo">Reporte cuantitativo</a></li> -->
                        <li><a href="/transacciones/reportecuantitativo2">Reporte cuantitativo v2</a></li>
                    <? } ?>
                    <? if(My_Permisos::tienePermiso('VER_FALLASYACOMETIDAS')){?><li><a href="/transacciones/fallasyacometidas">Fallas y acometidas</a></li><? } ?>

                    <? if(My_Permisos::tienePermiso('VER_REASIGNACIONES')){?><li><a href="/transacciones/reasignaciones">Reasignaciones</a></li><? }?>
                       
                </ul>
            </div>
            
            <div class="span2 opcion"><img src="/images/png/reportes.png" />&nbsp;Reportes    
            <ul class="submenu">
            
            <? if(My_Permisos::tienePermiso('CORTEDECAJA_REPORTES')){?><li><a href="/transacciones/reportes/cortedecaja">Corte de caja</a></li><? }?>
            <? if(My_Permisos::tienePermiso('VER_REPORTESERVICIO')){?><li><a href="/transacciones/reporteservicio">Reporte de ventas</a></li><? }?>
            <? if(My_Permisos::tienePermiso('COBRANZA_REPORTES')){?><li><a href="/transacciones/reportes/cobranza">Reporte de cobranza</a></li><? }?>
            <? if(My_Permisos::tienePermiso('ENVIOSMS_REPORTES')){?><li><a href="/transacciones/reportes/enviosms">Reporte de envios SMS</a></li><? }?>
            <? if(My_Permisos::tienePermiso('LLAMADASDECOBRANZA_REPORTES') ){?><li><a href="/transacciones/reportes/llamadasdecobranza">Reporte de llamadas de cobranza</a></li><? }?>
            <? if(My_Permisos::tienePermiso('ORDENESDEDESCONEXION_REPORTES') && Usuario::tipo() == 0){?><li><a href="/transacciones/reportes/ordencambiodomicilio">Reporte de Órdenes de cambio de domicilio</a></li><? }?>
            <? if(My_Permisos::tienePermiso('ORDENESDEDESCONEXION_REPORTES') && Usuario::tipo() == 0){?><li><a href="/transacciones/reportes/ordenesdedesconexion">Reporte de Órdenes de desconexión</a></li><? }?>
            <? if(My_Permisos::tienePermiso('ORDENESDEINSTALACION_REPORTES') && Usuario::tipo() == 0){?><li><a href="/transacciones/reportes/ordenesdeinstalacion">Reporte de Órdenes de instalación</a></li><? }?>      
            <? if(My_Permisos::tienePermiso('ORDENESDERETIRO_REPORTES') && Usuario::tipo() == 0){?><li><a href="/transacciones/reportes/ordenesderetiro">Reporte de Órdenes de retiro</a></li><? }?>
            <? if(My_Permisos::tienePermiso('RECUPERACIONES_REPORTES') && Usuario::tipo() == 0){?><li><a href="/transacciones/reportes/recuperaciones">Reporte de Recuperaciones</a></li><? }?>  
            <? if(My_Permisos::tienePermiso('PRODUCTIVIDAD_REPORTES') && Usuario::tipo() == 0){?><li><a href="/transacciones/reportes/productividad">Reporte de productividad</a></li><? }?>
            <? if(My_Permisos::tienePermiso('EXISTENCIAS_REPORTES') && Usuario::tipo() == 0){?><li><a href="/transacciones/reportes/existencias">Reporte de existencias</a></li><? }?>
            <? if(My_Permisos::tienePermiso('UBICACION_REPORTES') && Usuario::tipo() == 0){?><li><a href="/transacciones/reportes/ubicacion">Reporte de ubicacion</a></li><? }?>
            <? if(My_Permisos::tienePermiso('PRODUCTIVIDADTECNICA_REPORTES') && Usuario::tipo() == 0){?><li><a href="/transacciones/reportes/productividadtecnica">Reporte de productividad técnica</a></li><? }?>  
            <? if(My_Permisos::tienePermiso('PRODUCTIVIDADTECNICA_REPORTES') && Usuario::tipo() == 0){?><li><a href="/transacciones/reporteconfirmacionmetas">Reporte de confirmación de metas</a></li><? }?>
            </ul>    
            </div>
            
            <div class="span1 opcion"><a href="/login/logout"><img src="/images/png/salir.png"/>&nbsp;Salir</a></div>
        </div>
    </div>
    
    <div class="row-fluid" id="contenedorPrincipal"><?php echo $this->layout()->content; ?></div>
    <div class="dialog-form" title="" class="displayNone"></div>
    <div class="dialog-form-aux" title="" class="displayNone"></div>
    <div class="dialog-form-alerta" title="" class="displayNone"></div>
    <div class="dialog-form-ordenamiento" title="" style="display:none">
        <div  class="row-fluid contenedorFormulario">
   
            <div  class="row-fluid">
                <h4>Defina las reglas de ordenamiento</h4>
                <div  class="row-fluid filaFormulario">
                    <div class="span2"><label>PRIMER NIVEL</label></div>
                    <div class="span2">
                        <select name="orden_primer_nivel" id="orden_primer_nivel" class="span12">
                            <option value="0">Elija una opción</option>
                            <option value="1">Colonia</option>
                            <option value="2">Calle</option>
                            <option value="3">Número</option>
                            <option value="4">Etiqueta</option>
                            <option value="5">Nodo</option>
                            <option value="6">Poste</option>
                        </select>
                    </div>
                    <div class="span2"><label>SEGUNDO NIVEL</label></div>
                    <div class="span2">
                        <select name="orden_segundo_nivel" id="orden_segundo_nivel" class="span12">
                            <option value="0">Elija una opción</option>
                            <option value="1">Colonia</option>
                            <option value="2">Calle</option>
                            <option value="3">Número</option>
                            <option value="4">Etiqueta</option>
                            <option value="5">Nodo</option>
                            <option value="6">Poste</option>
                        </select>
                    </div>
                    <div class="span2"><label>TERCER NIVEL</label></div>
                    <div class="span2">
                        <select name="orden_tercer_nivel" id="orden_tercer_nivel" class="span12">
                            <option value="0">Elija una opción</option>
                            <option value="1">Colonia</option>
                            <option value="2">Calle</option>
                            <option value="3">Número</option>
                            <option value="4">Etiqueta</option>
                            <option value="5">Nodo</option>
                            <option value="6">Poste</option>
                        </select>
                    </div>
                    
                    
                </div>
            </div>
            <div  class="row-fluid">
                <div  class="row-fluid filaFormulario">
                    <div class="span2"><label>AGRUPAR POR</label></div>
                    <div class="span3">
                        <select name="agrupamiento_primer_nivel" id="agrupamiento_primer_nivel">
                            <option value="0">Elija una opción</option>
                            <option value="1">Colonia</option>
                            <option value="2">Calle</option>
                            <option value="3">Etiqueta</option>
                            <option value="4">Nodo</option>
                            <option value="5">Poste</option>
                        </select>
                    </div>
                    
                    
                </div>
            </div> 
        </div>
    </div>

    <div id="btnFixed" style="display:none; background-color: #ccc; position: fixed; top: 50%; left: 0; height: 30px; margin-top: -15px;">
    <a href="/transacciones/metas/plazasretrasadas" target="_blank" class="btn btn-warning">Hay metas retrasadas</a>
    </div>

    <script>
    <? if($this->mostrarAlertaMeta){?>
        mostrarAlertaMeta();
    <? }if($this->seRequiereConfirmar){?>
        mostrarAlertaConfirmarMeta();
    <? }?>

    <? if($this->plazasVsMetasAdministrador){?>
        mostrarAlertaMetasRetrasadasAdministrador();
    <? }?>

    <? if($this->plazasVsMetasPlaza){?>
        mostrarAlertaMetasRetrasadasPlaza();
    <? }?>
    </script>
    
</body>
</html>