<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<?php echo $this->headTitle(); ?>
    <? $this->headScript()->appendFile($this->baseUrl('js/jquery.js')); ?>
    <? $this->headScript()->appendFile($this->baseUrl('js/jquery-ui.js')); ?>
    <? $this->headScript()->appendFile($this->baseUrl('js/login.js')); ?>
    <? $this->headLink()->appendStylesheet($this->baseUrl('/css/login.css')); ?>
    <? $this->headLink()->appendStylesheet($this->baseUrl('/css/ui/ui.css')); ?>
    
    <?= $this->headLink();?>
    <?= $this->headScript();?>


</head>
<body>
    <form id="frm" method="post" action="/login/">
        <div id="login">
            <div id="loginBienvenido"><br /><img src="/images/logo.png" width="60px" />BIENVENIDO</div>
            <div id="loginPorfavor">Por favor ingrese sus datos de acceso </div>
            <hr id="hrLogin" />
            <div class="error" id="errorLogin" style="<? if(!isset($_POST['usuario'])){?>display:none;<? }?> margin-left:23px;"><? if(isset($_POST['usuario'])) echo "Su  nombre de usuario o contraseña son incorrectos."; ?></div>
            <label>USUARIO</label>
            <input name="usuario" type="text" id="usuario" size="45" /><br />
            <label>CONTRASEÑA</label>
            <input name="password" type="password" id="password" size="45" /><br />
            <div class="botoneraCentral"><input type="button" value="Ingresar" name="ingresar"  id="ingresar"  class="boton_verde"/></div>
        </div>
    </form>    
</body>
</html>