<form name="frmAutorizacion" id="frmAutorizacion" method="post" action="/transacciones/autorizaciones/dictaminar" class="form-horizontal">    
    <div  class="row-fluid contenedorFormulario">
    

        <div  class="row-fluid">
            <div  class="row-fluid filaFormulario">
                <div class="span3">
                	<label>CONTRATO</label>
                    <input type="text" name="contrato" id="contrato" placeholder="Contrato" class="required number span10" disabled="disabled" value="<?php echo $this->cliente->contrato?>"  />
                </div>
                <div class="span3">
                	<label>FECHA  CONTRATACIÓN</label>
                	<input type="text" name="fecha_contratacion" id="fecha_contratacion" placeholder="DD/MM/AAAA" readonly="readonly" class="required span10" value="<?php echo $this->cliente->fecha_contratacion?>" />
                </div>
                <div class="span3">
                	<label>NOMBRE DEL CLIENTE</label>
                	<input type="text" name="nombre" id="nombre" placeholder="Nombre" class="required span10" value="<?php echo $this->cliente->nombre?>" disabled="disabled" />
                </div>
                <div class="span3">
                	<label>TELÉFONO</label>
                    <input type="text" name="telefono" id="telefono" placeholder="Teléfono" class="span10" value="<?php echo $this->cliente->telefono?>" disabled="disabled" />
                </div>
            </div>
            
            <div  class="row-fluid filaFormulario">
                <div class="span3">
                	<label>SOLICITADA POR</label>
                    <input type="text" name="solicitadapor" id="solicitadapor"   disabled="disabled" value="<?php echo $this->autorizacion->Solicito->nombre;?>"  />
                </div>
            </div>
            
           <br />
            
            <div  class="row-fluid filaFormulario">
            	<? if($this->tipo=="contratacion"){?>
            	<table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Cantidad</th>
                      <th>Concepto</th>
                      <th>Tarifa normal</th>
                      <th>Tarifa solicitada</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td><?=$this->cliente->TarifaConceptoContratacion->ConceptoDeContratacion->nombre?></td>
                      <td>$<?=sprintf("%0.2f",$this->cliente->TarifaConceptoContratacion->tarifa)?></td>
                      <td>$<?=sprintf("%0.2f",$this->cliente->TarifaConceptoContratacion->tarifa)?></td>
                    </tr>
                    <? foreach($this->cliente->ClienteServicio as $servicio){?>
                    <tr <? if($servicio->tarifa_especial_id>0){?> style="background-color:#FFC6C6;"<? }?>>
                      <td>1</td>
                      <td><?=$servicio->Servicio->nombre?>:<b><?=$this->preciosServicio[$servicio->servicio_id]['especial']->Tarifaespecial->nombre?></b></td>
                      <td>$<?=sprintf("%0.2f",$this->preciosServicio[$servicio->servicio_id]['normal']->precio_1a5)?></td>
                      <td>$<?=sprintf("%0.2f",$this->preciosServicio[$servicio->servicio_id]['especial']->precio_1a5)?></td>
                    </tr>
                    <? }?>
                  </tbody>
                </table>
                <? }?>
            </div>
            <br />
            <div  class="row-fluid filaFormulario">
                <div class="span3">
                	<label>AUTORIZAR/RECHAZAR</label>
					<select name="dictamen" id="dictamen">
                    	<option value="1">Autorizar</option>
                        <option value="2">Rechazar</option>
                    </select>
                </div>
                <div class="span5">
                	<label>MOTIVO</label>
                	<textarea class="span12" name="motivo" id="motivo"></textarea>
                </div>
            </div>
            
        </div>
    </div>
    <input type="hidden" name="id" id="id" value="<?php echo $this->autorizacion->id;?>" />
    <input type="hidden" name="cliente_id" id="cliente_id" value="<?php echo $this->cliente->id;?>" />
</form>