    
    <div  class="row-fluid contenedorFormulario">
    
        <div  class="row-fluid tituloFormulario">
          <div class="span12">&nbsp;&nbsp;DESCARGAR ORDEN DE BAJA PARA EL CONTRATO 140391-00001</div> 
        </div>
        
        <div  class="row-fluid">
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>NÚMERO DE CONTRATO</label></div>
                <div class="span3">140391-00001</div>
                <div class="span2"><label>CLIENTE</label></div>
                <div class="span3">JUAN PÉREZ</div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>CALLE</label></div>
                <div class="span3">AV. JUAN MANUEL </div>
                <div class="span2"><label>NUMERO EXTERIOR</label></div>
                <div class="span3">85</div>
            </div>
            <div  class="row-fluid filaFormulario">
                 <div class="span2"><label>NUMERO INTERIOR</label></div>
                <div class="span3">A</div>
                <div class="span2"><label>COLONIA</label></div>
                <div class="span3">SAN PEDRO</div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>ESTATUS</label></div>
                <div class="span3">ACTIVO</div>
                <div class="span2"><label>ULTIMO MES CUBIERTO</label></div>
                <div class="span3">SEPTIEMBRE DE 2012</div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>TÉCNICO</label></div>
                <div class="span3"><select><option>Técnico que ejecutó la baja</option></select></div>
                 <div class="span2"><label>FECHA DE BAJA</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="DD/MM/AAA" /></div>
            </div>

			<br />
            
            <div  class="row-fluid filaFormulario">
            	<div class="span2"></div>
                <div class="span2"></div>
                <div class="span2"><a class="btn btn-primary" href="#">Aceptar&nbsp; &nbsp;</a></div>
                <div class="span3"><a class="btn btn-primary" href="#">Cancelar&nbsp; &nbsp;</a></div>
            </div>
        </div><br />

		
        
        
    </div>