<form name="frmCliente" id="frmCliente" method="post" action="/transacciones/ordenesinstalacion/guardar">  
        <div  class="row-fluid contenedorFormulario">
        <div  class="row-fluid">
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>NÚMERO DE CONTRATO</label></div>
                <div class="span4"><input type="text" value="<?php echo $this->registro->Cliente->contrato?>" readonly="readonly" /></div>
                <div class="span2"><label>CLIENTE</label></div>
                <div class="span4"><input type="text" value="<?php echo $this->registro->Cliente->nombre?>" readonly="readonly" /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>CALLE</label></div>
                <div class="span4"><input type="text" value="<?php echo $this->registro->Cliente->calle?>" readonly="readonly" /></div>
                <div class="span2"><label>NUMERO EXTERIOR</label></div>
                <div class="span4"><input type="text" value="<?php echo $this->registro->Cliente->no_exterior?>" readonly="readonly" /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                 <div class="span2"><label>NUMERO INTERIOR</label></div>
                <div class="span4"><input type="text" value="<?php echo $this->registro->Cliente->no_interior?>" readonly="readonly" /></div>
                <div class="span2"><label>COLONIA</label></div>
                <div class="span4"><input type="text" value="<?php echo Colonia::obtenerColonia($this->registro->Cliente->colonia_id)?>" readonly="readonly" /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>ESTATUS</label></div>
                <div class="span4"><input type="text" value="<?php echo $this->registro->Cliente->estatus?>" readonly="readonly" /></div>
                <div class="span2"><label>ULTIMO MES CUBIERTO</label></div>
                <div class="span4"><input type="text"  readonly="readonly" value="<?php echo $this->registro->Cliente->getUltimomescubierto(); ?>" /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>FECHA DE INSTALACIÓN</label></div>
                <div class="span4"><input type="text" name="fecha_instalacion" id="fecha_instalacion" placeholder="DD/MM/AAA" class="required" readonly="readonly" value="<?php echo $this->registro->fecha_instalacion?>" /></div>
                 <div class="span2"><label>TÉCNICO</label></div>
                <div class="span4">
                <select name="tecnico_id" id="tecnico_id" class="required">
                	<option value="">Técnico que instaló</option>
                    <? foreach($this->tecnicos as $tecnico){?>
                    <option value="<?php echo $tecnico->id?>" <?php echo (($this->registro->tecnico_id==$tecnico->id)?'selected="selected"':'')?>><?php echo $tecnico->nombre?></option>
                    <? }?>
                </select>
                </div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>CABLE</label></div>
                <div class="span4"><input type="text" name="cable" id="cable" placeholder="Cable" class="required number" value="<?php echo $this->registro->cable?>" /></div>
                <div class="span2"><label>CONECTOR</label></div>
                <div class="span4"><input type="text" name="conector" id="conector" placeholder="Conector" class="required number" value="<?php echo $this->registro->conector?>" /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>DIVISOR 2</label></div>
                <div class="span4"><input type="text" name="divisor2" id="divisor2" placeholder="Divisor 2"  class="number" value="<?php echo $this->registro->divisor2?>" /></div>
                 <div class="span2"><label>DIVISOR 3</label></div>
                <div class="span4"><input type="text" name="divisor3" id="divisor3" placeholder="Divisor 3" class="number" value="<?php echo $this->registro->divisor3?>"  /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>DIVISOR 4</label></div>
                <div class="span4"><input type="text" name="divisor4" id="divisor4" placeholder="Divisor 4"  class="number" value="<?php echo $this->registro->divisor4?>"/></div>
                <div class="span2"><label>GRAPAS</label></div>
                <div class="span4"><input type="text" name="grapas" id="grapas" placeholder="Grapas" class="required number" value="<?php echo $this->registro->grapas?>"/></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>ETIQUETA</label></div> 
                <div class="span4"><input type="text" name="etiqueta" id="etiqueta" placeholder="Etiqueta" class="required number" value="<?php echo $this->registro->Cliente->etiqueta?>"/></div>
                <div class="span2"><label>NODO</label></div>
                <div class="span4"><input type="text" name="nodo" id="nodo" placeholder="Nodo" class="required number" value="<?php echo $this->registro->Cliente->nodo?>" /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>POSTE</label></div>
                <div class="span4"><input type="text" name="poste" id="poste" placeholder="Poste" class="required number" value="<?php echo $this->registro->Cliente->poste?>"/></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>MAC ADDRESS DEL ROUTER</label></div> 
                <div class="span4"><input type="text" name="mac_router"  id="mac_router" placeholder="Mac address del router" value="<?php echo $this->registro->mac_router?>"/></div>
                <div class="span2"><label>MAC ADDRESS DEL SWITCH</label></div>
                <div class="span4"><input type="text" name="mac_switch"  id="mac_switch" placeholder="MaC address del switch" value="<?php echo $this->registro->mac_switch?>"/></div>
            </div>
             
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>MAC ADDRESS DEL ROKU</label></div> 
                <div class="span4"><input type="text" name="mac_roku"  id="mac_roku" placeholder="Mac address del roku" value="<?php echo $this->registro->mac_roku ?>"/></div>
                <div class="span2"><label>SALIDA DEL SWITCH</label></div>
                <div class="span4"><input type="text" name="salida_switch" placeholder="Salida del switch a la que se conecta el servicio" value="<?php echo $this->registro->salida_switch?>"/></div>
            </div>

            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>EXCEDENTE DE CABLE</label></div> 
                <div class="span4"><input type="text" name="cable_excedente" id="cable_excedente" placeholder="Excedente de cable" class="number" value="<?php echo $this->registro->cable_excedente?>"/></div>
                <div class="span2"><label>PRECIO DEL CABLE</label></div>
                <div class="span4"><input type="text" name="costo_excedente" id="costo_excedente" placeholder="Precio del cable" class="number" value="<?php echo $this->registro->costo_excedente?>" /></div>
            </div>

        </div>
    </div>
    <input type="hidden" name="id" id="id" value="<?php echo $this->registro->id?>" />
    <input type="hidden" name="cliente_id" id="cliente_id" value="<?php echo $this->registro->cliente_id?>" />
</form>