<div  class="row-fluid contenedorFiltro">

  <div class="span12 tituloFiltro">
    <div class="span10">ÓRDENES DE INSTALACIÓN</div>
    <div class="span2">
        <div class="span4">
            <a class="btn btn-success" onclick="filtrarOrdenes();" id="btnImprimir" target="_blank"><i class="icon-print icon-white"></i></a>
        </div>
        <div class="span4 offset2">
            <a class="btn btn-success" onclick="filtrarOrdenes();" target="_blank" id="btnExportar"><i class="icon-list icon-white"></i></a>
        </div>
    </div>
  </div>
  
  <div  class="row-fluid filaFiltro">
    <div class="span1"><label>CLIENTE</label></div>
    <div class="span2"><input type="text" name="fnombre" id="fnombre" class="span12" /></div>
    <div class="span1"><label>DESDE</label></div>
    <div class="span2"><input type="text" name="fdesde" id="fdesde" class="span12"/></div>
    <div class="span1"><label>HASTA</label></div>
    <div class="span2"><input type="text" name="fhasta" id="fhasta" class="span12"/></div>
    <div class="span1"><label>PLAZA</label></div>
    <div class="span2">
      
      <select name="fplaza" id="fplaza" class="span12" <? if(Usuario::tipo()==1){?>disabled<? }?>>
          <option value="0">Todas las plazas</option>
          <?php foreach($this->plazas as $plaza){?>
          <option value="<?php echo $plaza->id?>"><?php echo $plaza->nombre?></option>
          <?php }?>
      </select>
      
    </div> 
    
  </div> 
  
  <div  class="row-fluid filaFiltro">     
    <div class="span1"><label>SUCURSAL</label></div>
    <div class="span2">
      <select name="fsucursal" id="fsucursal" class="span12" <? if(Usuario::tipo()==1){?>disabled<?php }?>>
          <option value="0">Todas las sucursales</option>
          <?php foreach($this->sucursales as $sucursal){?>
          <option value="<?php echo $sucursal->id?>"><?php echo $sucursal->nombre?></option>
          <?php }?>
      </select>
    </div> 
    <div class="span1">ESTATUS</div>
    <div class="span2">
      <select name="festatus" id="festatus" class="span12">
          <option value="0">Solo las pendientes</option>
          <option value="1">Solo las completadas</option>
          <option value="-1">Solo las canceladas</option>
      </select>
    </div> 
    <div class="span1">COLONIA</div>
    <div class="span2"><input type="text" name="fcolonia" id="fcolonia" class="span12" /></div> 
    <div class="span1">CALLE</div>
    <div class="span2"><input type="text" name="fcalle" id="fcalle" class="span12" /></div> 

  </div> 

  <div  class="row-fluid filaFiltro">
    <div class="span1"><label>SERVICIO</label></div>
    <div class="span2">
      <select name="fservicio" id="fservicio" class="span12">
          <option value="0">Todos los servicios</option>
          <?php if(Usuario::tipo()!=0){foreach($this->servicios as $servicio){?>
              <option value="<?php echo $servicio->Servicio->id?>"><?php echo $servicio->Servicio->nombre?></option>
              <?php }}
              else{
                foreach($this->servicios as $servicio){?>
              <option value="<?php echo $servicio->id?>"><?php echo $servicio->nombre?></option>
              <?php }
              }?>
      </select></div>
    
  </div> 
  
         
  <div  class="row-fluid filaFiltro">
    <div class="span6 offset6"><a class="btn btn-primary span3" onclick="filtrarOrdenes();">Filtrar</a><a class="btn btn-primary span3 offset1" onclick="limpiarOrdenes();">Limpiar</a><a class="btn btn-primary span4 offset1" onclick="configurarOrdenamiento('ordenesinstalacion');">Agrupar y ordenar</a></div>
  </div>
         
</div>
    
   

<div  class="row-fluid contenedorGrid"><div id="flexgrid"></div></div>