<form name="frmCliente" id="frmCliente" method="post" action="/transacciones/ordenesextensionesadicionales/guardar">  
        <div  class="row-fluid contenedorFormulario">
        <div  class="row-fluid">
        	<h3>Datos generales</h3>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>NÚMERO DE CONTRATO</label></div>
                <div class="span4"><input type="text" value="<?php echo $this->registro->Cliente->contrato?>" readonly="readonly" /></div>
                <div class="span2"><label>CLIENTE</label></div>
                <div class="span4"><input type="text" value="<?php echo $this->registro->Cliente->nombre?>" readonly="readonly" /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>CALLE</label></div>
                <div class="span4"><input type="text" value="<?php echo $this->registro->Cliente->calle?>" readonly="readonly" /></div>
                <div class="span2"><label>NUMERO EXTERIOR</label></div>
                <div class="span4"><input type="text" value="<?php echo $this->registro->Cliente->no_exterior?>" readonly="readonly" /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                 <div class="span2"><label>NUMERO INTERIOR</label></div>
                <div class="span4"><input type="text" value="<?php echo $this->registro->Cliente->no_interior?>" readonly="readonly" /></div>
                <div class="span2"><label>COLONIA</label></div>
                <div class="span4"><input type="text" value="<?php echo Colonia::obtenerColonia($this->registro->Cliente->colonia_id)?>" readonly="readonly" /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>ESTATUS</label></div>
                <div class="span4"><input type="text" value="<?php echo $this->registro->Cliente->estatus?>" readonly="readonly" /></div>
            </div>
            
            <h3>Detalles de la instalación</h3>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>FECHA DE INSTALACIÓN</label></div>
                <div class="span4"><input type="text" name="fecha_instalacion" id="fecha_instalacion" placeholder="AAAA-MM-DD" class="required" readonly="readonly" /></div>
                 <div class="span2"><label>TÉCNICO QUE INSTALÓ</label></div>
                <div class="span4">
                <select name="tecnico_id" id="tecnico_id" class="required">
                	<option value="">Técnico que instaló</option>
                    <? foreach($this->tecnicos as $tecnico){?>
                    <option value="<?php echo $tecnico->id?>"><?php echo $tecnico->nombre?></option>
                    <? }?>
                </select>
                </div>
            </div>

            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>MAC ADDRESS DEL ROUTER</label></div> 
                <div class="span4"><input type="text" name="mac_router" readonly="readonly" value="<?php echo $this->instalacion->mac_router ?>" id="mac_router" placeholder="Mac address del router"/></div>
                <div class="span2"><label>MAC ADDRESS DEL SWITCH</label></div>
                <div class="span4"><input type="text" name="mac_switch" readonly="readonly" value="<?php echo $this->instalacion->mac_switch ?>" id="mac_switch" placeholder="Mas address del switch"/></div>
            </div>
             
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>MAC ADDRESS DEL ROKU</label></div> 
                <div class="span4"><input type="text" name="mac_roku" readonly="readonly" value="<?php echo $this->instalacion->mac_roku ?>" id="mac_roku" placeholder="Mac address del roku"/></div>
                <div class="span2"><label>SALIDA DEL SWITCH</label></div>
                <div class="span4"><input type="text" name="salida_switch" readonly="readonly" value="<?php echo $this->instalacion->salida_switch ?>" placeholder="Salida del switch a la que se conecta el servicio"/></div>
            </div>

        </div>
    </div>
    <input type="hidden" name="id" id="id" value="<?php echo $this->registro->id?>" />
    <input type="hidden" name="cliente_id" id="cliente_id" value="<?php echo $this->registro->cliente_id?>" />
</form>