    <div  class="row-fluid contenedorFormulario">
            <div  class="row-fluid tituloFormulario">
              <div class="span12">&nbsp;&nbsp;DESCARGAR ORDEN DE RETIRO PARA EL CONTRATO 140391-00001</div> 
            </div>

            <div  class="row-fluid">
                <div  class="row-fluid filaFormulario">
                <div class="span2"><label>NÚMERO DE CONTRATO</label></div>
                <div class="span3"><input type="text" value="140391-00001" readonly="readonly" /></div>
                <div class="span2"><label>CLIENTE</label></div>
                <div class="span3"><input type="text" value="JUAN PÉREZ" readonly="readonly" /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>CALLE</label></div>
                <div class="span3"><input type="text" value="AV. JUAN MANUEL" readonly="readonly" /> </div>
                <div class="span2"><label>NUMERO EXTERIOR</label></div>
                <div class="span3"><input type="text" value="85" readonly="readonly" /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                 <div class="span2"><label>NUMERO INTERIOR</label></div>
                <div class="span3"><input type="text" value="A" readonly="readonly" /></div>
                <div class="span2"><label>COLONIA</label></div>
                <div class="span3"><input type="text" value="SAN PEDRO" readonly="readonly" /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>ESTATUS</label></div>
                <div class="span3"><input type="text" value="ACTIVO" readonly="readonly" /></div>
                <div class="span2"><label>ULTIMO MES CUBIERTO</label></div>
                <div class="span3"><input type="text" value="SEPTIEMBRE DE 2012" readonly="readonly" /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>TÉCNICO</label></div>
                <div class="span3"><select><option>Técnico que retiró</option></select></div>
                 <div class="span2"><label>FECHA DE RETIRO</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="DD/MM/AAA" /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>CABLE</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="Cable" /></div>
                <div class="span2"><label>CONECTOR</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="Conector" /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>DIVISOR 2</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="Divisor 2" /></div>
                 <div class="span2"><label>DIVISOR 3</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="Divisor 3" /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>DIVISOR 4</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="Divisor 4" /></div>
                <div class="span2"><label>GRAPAS</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="Grapas" /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>ETIQUETA</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="Etiqueta" /></div>
                <div class="span2"><label>NODO</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="Nodo" /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>POSTE</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" placeholder="Poste" /></div>
            </div>

            <br />
            
            <div  class="row-fluid filaFormulario">
            	<div class="span2"></div>
                <div class="span2"></div>
                <div class="span2"><a class="btn btn-primary" href="#">Aceptar&nbsp; &nbsp;</a></div>
                <div class="span3"><a class="btn btn-primary" href="#">Cancelar&nbsp; &nbsp;</a></div>
            </div>
        </div><br />

		
        
        
    </div>