<form name="frmDescargar" id="frmDescargar" method="post" action="/transacciones/ordenesretiro/guardar">
<div  class="row-fluid contenedorFormulario">

    <div  class="row-fluid">
        <div  class="row-fluid filaFormulario">
            <div class="span2"><label>NÚMERO DE CONTRATO</label></div>
            <div class="span3"><input type="text" value="<?=$this->registro->Cliente->contrato?>" readonly="readonly"/></div>
            <div class="span2"><label>CLIENTE</label></div>
            <div class="span3"><input type="text" value="<?=$this->registro->Cliente->nombre?>" readonly="readonly"/></div>
        </div>
        <div  class="row-fluid filaFormulario">
            <div class="span2"><label>CALLE</label></div>
            <div class="span3"><input type="text" value="<?=$this->registro->Cliente->calle?>" readonly="readonly"/> </div>
            <div class="span2"><label>NUMERO EXTERIOR</label></div>
            <div class="span3"><input type="text" value="<?=$this->registro->Cliente->no_exterior?>" readonly="readonly"/></div>
        </div>
        <div  class="row-fluid filaFormulario">
             <div class="span2"><label>NUMERO INTERIOR</label></div>
            <div class="span3"><input type="text" value="<?=$this->registro->Cliente->no_interior?>" readonly="readonly"/></div>
            <div class="span2"><label>COLONIA</label></div>
            <div class="span3"><input type="text" value="<?=Colonia::obtenerColonia($this->registro->Cliente->colonia_id)?>" readonly="readonly"/></div>
        </div>
        <div  class="row-fluid filaFormulario">
            <div class="span2"><label>ESTATUS</label></div>
            <div class="span3"><input type="text" value="<?=$this->registro->Cliente->estatus?>" readonly="readonly"/></div>
            <div class="span2"><label>ULTIMO MES CUBIERTO</label></div>
            <div class="span3"><input type="text" value="<?=$this->registro->Cliente->ultimomescubierto?>" readonly="readonly"/></div>
        </div>
        <div  class="row-fluid filaFormulario">
            <div class="span2"><label>TÉCNICO</label></div>
            <div class="span3">
            <select name="tecnico_id" id="tecnico_id">
            	<option value="0">Técnico que desconectó</option>
                <? foreach($this->tecnicos as $tecnico){?>
                	<option value="<?=$tecnico->id?>"><?=$tecnico->nombre?></option>
                <? }?>
            </select>
            
            </div>
             <div class="span2"><label>FECHA DE RETIRO</label></div>
            <div class="span3"><input type="text" name="fecha_retiro" id="fecha_retiro" class="required" placeholder="DD/MM/AAA"/></div>
        </div>
                    <div  class="row-fluid filaFormulario">
                <div class="span2"><label>CABLE</label></div>
                <div class="span3"><input type="text" name="cable" id="cable" placeholder="Cable" class="required number"/></div>
                <div class="span2"><label>CONECTOR</label></div>
                <div class="span3"><input type="text" name="conector" id="conector" placeholder="Conector" class="number"/></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>DIVISOR 2</label></div>
                <div class="span3"><input type="text" name="divisor2" id="divisor2" placeholder="Divisor 2" class="number"/></div>
                 <div class="span2"><label>DIVISOR 3</label></div>
                <div class="span3"><input type="text" name="divisor3" id="divisor3" placeholder="Divisor 3" class="number"/></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>DIVISOR 4</label></div>
                <div class="span3"><input type="text" name="divisor4" id="divisor4" placeholder="Divisor 4" class="number"/></div>
                <div class="span2"><label>GRAPAS</label></div>
                <div class="span3"><input type="text" name="grapas" id="grapas" placeholder="Grapas" class="number"/></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>ETIQUETA</label></div>
                <div class="span3"><input type="text" name="nombre" readonly="readonly" id="nombre" value="<?=$this->registro->Cliente->etiqueta?>"/></div>
                <div class="span2"><label>NODO</label></div>
                <div class="span3"><input type="text" name="nombre" readonly="readonly" id="nombre" value="<?=$this->registro->Cliente->nodo?>"/></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>POSTE</label></div>
                <div class="span3"><input type="text" name="nombre" id="nombre" readonly="readonly" value="<?=$this->registro->Cliente->poste?>"/></div>
            </div>

    </div><br/>   
</div>
<input type="hidden" name="id" id="id" value="<?=$this->registro->id?>" />
</form>