<div  class="row-fluid contenedorFiltro">
  <div class="span12 tituloFiltro">BAJA DE CLIENTES</div>  
  
  <div  class="row-fluid filaFiltro">
    <div class="span1"><label>CLIENTE</label></div>
    <div class="span3"><input type="text" name="nombre" id="nombre" /></div>
    <div class="span1"><label>CONTRATO</label></div>
    <div class="span3"><input type="text" name="nombre" id="nombre" /></div>
    <div class="span2"><a class="btn btn-primary span10" href="#">Filtrar&nbsp; &nbsp;<i class="icon-filter icon-white"></i></a></div>
    <div class="span2"><a class="btn btn-primary span10" href="#">Limpiar&nbsp; &nbsp;</a></div>
  </div> 
  
  <div  class="row-fluid filaFiltro">
    <div class="span1"><label>TELÉFONO</label></div>
    <div class="span3"><input type="text" name="nombre" id="nombre" /></div>
    <div class="span1"></div>
    <div class="span3"></div>
    <div class="span2"><a class="btn btn-primary span10" href="#">Imprimir&nbsp; &nbsp;<i class="icon-print icon-white"></i></a></div>
    <div class="span2"><a class="btn btn-primary span10" href="#">Eportar&nbsp; &nbsp;<i class="icon-list icon-white"></i></a></div>
  </div> 
  

       
</div>

<div  class="row-fluid contenedorGrid">

    <div  class="row-fluid tituloGrid">
      <div class="span10">&nbsp;&nbsp;<img src="/images/paging/primeraPagina.png" /><img src="/images/paging/paginaAnterior.png" />&nbsp;&nbsp;Página 1 de 1&nbsp;&nbsp;<img src="/images/paging/paginaSiguiente.png" /><img src="/images/paging/ultimaPagina.png" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mostrando 1 a 5 registros de 5 totales</div> 
      <div class="span2"></div>
	</div>
  
  <div  class="row-fluid encabezadoGrid">
    <div class="span2">CLIENTE</div>
    <div class="span2">TELEFONO</div>
    <div class="span2">CELULAR</div>
    <div class="span2">ESTATUS</div>
    <div class="span2">DAR DE BAJA</div>

  </div>
  
  <? for($i=0; $i<7; $i++){ ?>
  <div  class="row-fluid filaGrid">
  	<div class="span2">Juan Pérez</div>
    <div class="span2">01 33 3445454</div>
    <div class="span2">045 33 3445454</div>
    <div class="span2">RETIRADO</div>
     <div class="span2"><img src="/images/png/cancelar.png" width="30px" /></div>
  </div>     
  <? }?> 
</div>
