<form name="frmCliente" id="frmCliente" method="post" action="/transacciones/ordenescambioservicioretira/guardar">  
        <div  class="row-fluid contenedorFormulario">
        <div  class="row-fluid">
        	<h3>Datos generales</h3>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>NÚMERO DE CONTRATO</label></div>
                <div class="span4"><input type="text" value="<?php echo $this->registro->Cliente->contrato?>" readonly="readonly" /></div>
                <div class="span2"><label>CLIENTE</label></div>
                <div class="span4"><input type="text" value="<?php echo $this->registro->Cliente->nombre?>" readonly="readonly" /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>CALLE</label></div>
                <div class="span4"><input type="text" value="<?php echo $this->registro->Cliente->calle?>" readonly="readonly" /></div>
                <div class="span2"><label>NUMERO EXTERIOR</label></div>
                <div class="span4"><input type="text" value="<?php echo $this->registro->Cliente->no_exterior?>" readonly="readonly" /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                 <div class="span2"><label>NUMERO INTERIOR</label></div>
                <div class="span4"><input type="text" value="<?php echo $this->registro->Cliente->no_interior?>" readonly="readonly" /></div>
                <div class="span2"><label>COLONIA</label></div>
                <div class="span4"><input type="text" value="<?php echo Colonia::obtenerColonia($this->registro->Cliente->colonia_id)?>" readonly="readonly" /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>ESTATUS</label></div>
                <div class="span4"><input type="text" value="<?php echo $this->registro->Cliente->estatus?>" readonly="readonly" /></div>
            </div>
            
            <h3>Material retirado</h3>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>FECHA DE RETIRO</label></div>
                <div class="span4"><input type="text" name="fecha_retiro" id="fecha_retiro" placeholder="AAAA-MM-DD" class="required" readonly="readonly" /></div>
                 <div class="span2"><label>TÉCNICO QUE RETIRO</label></div>
                <div class="span4">
                <select name="tecnico_retiro" id="tecnico_retiro" class="required">
                	<option value="">Técnico que retiró</option>
                    <? foreach($this->tecnicos as $tecnico){?>
                    <option value="<?php echo $tecnico->id?>"><?php echo $tecnico->nombre?></option>
                    <? }?>
                </select>
                </div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>CABLE</label></div>
                <div class="span4"><input type="text" name="cable_retirado" id="cable_retirado" placeholder="Cable" class="required number" /></div>
                <div class="span2"><label>CONECTOR</label></div>
                <div class="span4"><input type="text" name="conector_retirado" id="conector_retirado" placeholder="Conector" class="required number" /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>DIVISOR 2</label></div>
                <div class="span4"><input type="text" name="divisor2_retirado" id="divisor2_retirado" placeholder="Divisor 2"  class="number" /></div>
                 <div class="span2"><label>DIVISOR 3</label></div>
                <div class="span4"><input type="text" name="divisor3_retirado" id="divisor3_retirado" placeholder="Divisor 3" class="number"  /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>DIVISOR 4</label></div>
                <div class="span4"><input type="text" name="divisor4_retirado" id="divisor4_retirado" placeholder="Divisor 4"  class="number" /></div>
                <div class="span2"><label>GRAPAS</label></div>
                <div class="span4"><input type="text" name="grapas_retirado" id="grapas_retirado" placeholder="Grapas" class="required number" /></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>NÚMERO DE SERIE DEL MODEM</label></div>
                <div class="span4"><input type="text" name="no_modem_retirado" id="no_modem_retirado" placeholder="Numero de serie del modem" /></div>
                <div class="span2"><label>MAC ADDRESS</label></div>
                <div class="span4"><input type="text" name="mac_adds_retirado" id="mac_adds_retirado" placeholder="Mac Address del modem" /></div>
            </div>

        </div>
    </div>
    <input type="hidden" name="id" id="id" value="<?php echo $this->registro->id?>" />
    <input type="hidden" name="cliente_id" id="cliente_id" value="<?php echo $this->registro->cliente_id?>" />
</form>