<div  class="row-fluid contenedorFiltro">
  <div class="span12 tituloFiltro">ÓRDENES DE CAMBIO DE SERVICIO RETIRAR</div>  
  
  <div  class="row-fluid filaFiltro">
    <div class="span1"><label>CLIENTE</label></div>
    <div class="span3"><input type="text" name="fnombre" id="fnombre" /></div>
    
    <div class="span1"><label>DESDE</label></div>
    <div class="span3"><input type="text" name="fdesde" id="fdesde"/></div>
    
    <div class="span2"><a class="btn btn-primary span10" onclick="filtrarOrdenes();">Filtrar&nbsp; &nbsp;<i class="icon-filter icon-white"></i></a></div>
    <div class="span2"><a class="btn btn-primary span10" onclick="limpiarOrdenes();">Limpiar&nbsp; &nbsp;</a></div>
  </div> 
  
  <div  class="row-fluid filaFiltro">
     <div class="span1"><label>HASTA</label></div>
     <div class="span3"><input type="text" name="fhasta" id="fhasta"/></div>

        <div class="span1"><? if(Usuario::tipo()==0){?><label>PLAZA</label><? }?></div>
        <div class="span3">
            <? if(Usuario::tipo()==0){?>
                <select name="fplaza" id="fplaza">
                    <option value="0">Todas las plazas</option>
                    <?php foreach($this->plazas as $plaza){?>
                        <option value="<?php echo $plaza->id?>"><?php echo $plaza->nombre?></option>
                    <?php }?>
                </select>
            <? }?>
        </div>    
            
        <div class="span2"><a class="btn btn-primary span10" onclick="filtrarOrdenes();" id="btnImprimir" target="_blank">Imprimir&nbsp; &nbsp;<i class="icon-print icon-white"></i></a></div>
        <div class="span2">
            <a class="btn btn-primary span10" onclick="exportar_ocsr();" target="_blank" id="btnExportar">
                Exportar&nbsp; &nbsp;<i class="icon-list icon-white"></i>
            </a>
        </div>
        
    </div> 
  
    <div class="row-fluid filaFiltro">    
        
        <div class="span1"><? if(Usuario::tipo()==0){?><label>SUCURSAL</label><? }?></div>
        <div class="span7">
        <? if(Usuario::tipo()==0){?>
            <select name="fsucursal" id="fsucursal">
                <option value="0">Todas las sucursales</option>
                <?php foreach($this->sucursales as $sucursal){?>
                <option value="<?php echo $sucursal->id?>"><?php echo $sucursal->nombre?></option>
                <?php }?>
            </select>
         <? }?> 
        </div> 
        
        <div class="span3"><a class="btn btn-primary span10" onclick="configurarOrdenamiento('ordenescambioservicio');">Agrupar y ordenar</a></div>
    </div> 
       
</div>

<div class="row-fluid contenedorGrid"><div id="flexgrid"></div> </div>