<div id="errorcontatacion" name="errorcontatacion" class="displayNone" style="color:#D8000C; background-color: #FFBABA;">
    <img src="/images/png/cancelar.png"/>Error favor de verificar un campo vacio.
</div>

<form name="frmTarifasMeses" id="frmTarifasMeses" method="post" action="/catalogos/Tarifaspromocionrecuperacion/guardartarifaspormes">     
    <div class="row-fluid contenedorFormulario">
        <div class="row-fluid">
            <input type="hidden" name="concepto_de_contratacion_id" id="concepto_de_contratacion_id" value="<?php echo $this->registro->id?>"/>
            <div class="row-fluid filaFormulario">
                             
                <div id="tabs" style="width:920px;">
                    
                    <table class="table-bordered" align="center" style="width:920px;">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>                                            
                                <th>1 a 5</th>
                                <th>6 a 10</th>
                                <th>11 o mas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mes 1:</td>
                                <td><input type="text" id="mes1_1_a_5" name="mes1_1_a_5" rel="mes1_1_a_5" value="<?php echo $this->tarifas['mes1_1_a_5']?>" class="formato fee span12"></td>
                                <td><input type="text" id="mes1_6_a_10" name="mes1_6_a_10" rel="mes1_6_a_10" value="<?php echo $this->tarifas['mes1_6_a_10']?>" class="formato fee span12"></td>
                                <td><input type="text" id="mes1_11" name="mes1_11" rel="mes1_11" value="<?php echo $this->tarifas['mes1_11']?>" class="formato fee span12"></td>
                            </tr>
                            <tr>
                                <td>Mes 2:</td>
                                <td><input type="text" id="mes2_1_a_5" name="mes2_1_a_5" rel="mes2_1_a_5" value="<?php echo $this->tarifas['mes2_1_a_5']?>" class="formato fee span12"></td>
                                <td><input type="text" id="mes2_6_a_10" name="mes2_6_a_10" rel="mes2_6_a_10" value="<?php echo $this->tarifas['mes2_6_a_10']?>" class="formato fee span12"></td>
                                <td><input type="text" id="mes2_11" name="mes2_11" rel="mes2_11" value="<?php echo $this->tarifas['mes2_11']?>" class="formato fee span12"></td>
                            </tr>
                            <tr>
                                <td>Mes 3:</td>
                                <td><input type="text" id="mes3_1_a_5" name="mes3_1_a_5" rel="mes3_1_a_5" value="<?php echo $this->tarifas['mes3_1_a_5']?>" class="formato fee span12"></td>
                                <td><input type="text" id="mes3_6_a_10" name="mes3_6_a_10" rel="mes3_6_a_10" value="<?php echo $this->tarifas['mes3_6_a_10']?>" class="formato fee span12"></td>
                                <td><input type="text" id="mes3_11" name="mes3_11" rel="mes3_11" value="<?php echo $this->tarifas['mes3_11']?>" class="formato fee span12"></td>
                            </tr>
                            <tr>
                                <td>Mes 4:</td>
                                <td><input type="text" id="mes4_1_a_5" name="mes4_1_a_5" rel="mes4_1_a_5" value="<?php echo $this->tarifas['mes4_1_a_5']?>" class="formato fee span12"></td>
                                <td><input type="text" id="mes4_6_a_10" name="mes4_6_a_10" rel="mes4_6_a_10" value="<?php echo $this->tarifas['mes4_6_a_10']?>" class="formato fee span12"></td>
                                <td><input type="text" id="mes4_11" name="mes4_11" rel="mes4_11" value="<?php echo $this->tarifas['mes4_11']?>" class="formato fee span12"></td>
                            </tr>
                            <tr>
                                <td>Mes 5:</td>
                                <td><input type="text" id="mes5_1_a_5" name="mes5_1_a_5" rel="mes5_1_a_5" value="<?php echo $this->tarifas['mes5_1_a_5']?>" class="formato fee span12"></td>
                                <td><input type="text" id="mes5_6_a_10" name="mes5_6_a_10" rel="mes5_6_a_10" value="<?php echo $this->tarifas['mes5_6_a_10']?>" class="formato fee span12"></td>
                                <td><input type="text" id="mes5_11" name="mes5_11" rel="mes5_11" value="<?php echo $this->tarifas['mes5_11']?>" class="formato fee span12"></td>
                            </tr>
                            <tr>
                                <td>Mes 6:</td>
                                <td><input type="text" id="mes6_1_a_5" name="mes6_1_a_5" rel="mes6_1_a_5" value="<?php echo $this->tarifas['mes6_1_a_5']?>" class="formato fee span12"></td>
                                <td><input type="text" id="mes6_6_a_10" name="mes6_6_a_10" rel="mes6_6_a_10" value="<?php echo $this->tarifas['mes6_6_a_10']?>" class="formato fee span12"></td>
                                <td><input type="text" id="mes6_11" name="mes6_11" rel="mes6_11" value="<?php echo $this->tarifas['mes6_11']?>" class="formato fee span12"></td>
                            </tr>
                        </tbody>
                    </table>

                    <input type="hidden" id="plaza_id" name="plaza_id" value="<?php echo $this->plaza_id;?>">
                    <input type="hidden" id="servicio_id" name="servicio_id" value="<?php echo $this->servicio_id;?>">
                    <input type="hidden" id="cliente_status" name="cliente_status" value="<?php echo $this->cliente_status;?>"> 
    
                </div>      
                
            </div>
        </div> 
    </div>
</form>