<?php
//print_r($this->parametros); 
    function valida($plaza,$servicio,$cliente)
    {
        $q=Doctrine_Query::create()->from('TarifaspromocionrecuperacionPlaza')->where('servicio_id='.$servicio)->andWhere('plaza_id='.$plaza)->andWhere('cliente_status='.$cliente)->execute();
        if(count($q)>0) return "agregarTarifasPorMes(".$plaza.",".$servicio.",".$cliente.");";
        else return "noexisteregistro();";
    }
?>

<?php 
foreach($this->parametros['servicios'] as $servicio){?> 
    <div class="contenedorComisionesTarifas divEstado_<?php echo $parametros['estado'] ?>">
        
        <div class="nombreServicioTarifas tituloFiltro"><?php echo $servicio->nombre; ?></div>

        <div class="contenedorPlazasTarifas">
            
            <div class="contenedorPlazaTarifas">
                <table class="table table-bordered">
                    <tbody>
                    
                        <?php foreach($this->parametros['plazas'] as $plaza){ ?>
                            <tr>
                                <td class="etiqueta"><strong><?php echo $plaza->nombre?></strong></td>
                            </tr>
                            <tr>
                                <td class="etiqueta"> 
                                    <div class="span2">
                                        Cortar <input type="text" name="tarifa[<?php echo $plaza->id?>][<?php echo $servicio->id; ?>][3][tarifa]" value="<? echo $this->parametros['tarifaplaza'][$plaza->id][$servicio->id][3]['tarifa']?>" class="fee" />
                                    </div>
                                    <div class="span4">
                                        </br>
                                        <img class"etiqueta" onclick="javascript:<?php echo valida($plaza->id,$servicio->id,3)?>" title="Tarifas" style="cursor:pointer; width: 25px; heigth:25px;" src="http://desarrollo.supertv.com.mx/images/png/cobrar.png" />
                                    </div>
                                </td>
                                <td class="etiqueta">
                                    <div class="span2">
                                        Retirar <input type="text" name="tarifa[<?php echo $plaza->id?>][<?php echo $servicio->id; ?>][4][tarifa]" value="<? echo $this->parametros['tarifaplaza'][$plaza->id][$servicio->id][4]['tarifa']?>" class="fee" />
                                    </div>
                                    <div class="span4">
                                        </br>
                                        <img class"etiqueta" onclick="javascript:<?php echo valida($plaza->id,$servicio->id,4)?>" title="Tarifas" style="cursor:pointer; width: 25px; heigth:25px;" src="http://desarrollo.supertv.com.mx/images/png/cobrar.png" />
                                    </div>
                                </td>
                                <td class="etiqueta">
                                    <div class="span2">
                                        Retirado <input type="text" name="tarifa[<?php echo $plaza->id?>][<?php echo $servicio->id; ?>][9][tarifa]" value="<? echo $this->parametros['tarifaplaza'][$plaza->id][$servicio->id][9]['tarifa']?>" class="fee" />
                                    </div>
                                    <div class="span4">
                                        </br>
                                        <img class"etiqueta" onclick="javascript:<?php echo valida($plaza->id,$servicio->id,9)?>" title="Tarifas" style="cursor:pointer; width: 25px; heigth:25px;" src="http://desarrollo.supertv.com.mx/images/png/cobrar.png" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="etiqueta"> 
                                    <div class="span2">
                                        Baja <input type="text" name="tarifa[<?php echo $plaza->id?>][<?php echo $servicio->id; ?>][5][tarifa]" value="<? echo $this->parametros['tarifaplaza'][$plaza->id][$servicio->id][5]['tarifa']?>" class="fee" />
                                    </div>
                                    <div class="span4">
                                        </br>
                                        <img class"etiqueta" onclick="javascript:<?php echo valida($plaza->id,$servicio->id,5)?>" title="Tarifas" style="cursor:pointer; width: 25px; heigth:25px;" src="http://desarrollo.supertv.com.mx/images/png/cobrar.png" />
                                    </div>
                                </td>
                                <td class="etiqueta"> 
                                    <div class="span2">
                                        Baja Voluntaria <input type="text" name="tarifa[<?php echo $plaza->id?>][<?php echo $servicio->id; ?>][12][tarifa]" value="<? echo $this->parametros['tarifaplaza'][$plaza->id][$servicio->id][12]['tarifa']?>" class="fee" />
                                    </div>
                                    <div class="span4">
                                        </br>
                                        <img class"etiqueta" onclick="javascript:<?php echo valida($plaza->id,$servicio->id,12)?>" title="Tarifas" style="cursor:pointer; width: 25px; heigth:25px;" src="http://desarrollo.supertv.com.mx/images/png/cobrar.png" />
                                    </div>
                                </td>
                            </tr>

                        <?}?>

                        <tr>
                            <td colspan="3" align="right"><input type="button" class="btn btn-success" value="Guardar" onclick="validarMatriz();" /></td>
                        </tr>
                    </tbody>
                </table>
                <br/>
                

            </div><!--PLAZA TARIFAS-->
            
        </div><!--PLAZAS TARIFAS-->
     </div><!--contenedorServicioTarifas-->
<?}?>