<form name="frmTarifas" id="frmTarifas" action="/catalogos/tarifaspromocionrecuperacion/index" method="post">
        <div class="botoneraTarifas">
            <div class="nombreServicioTarifas">DEFINICION DE TARIFAS DE PROMOCIÓN EN RECUPERACIONES</div>
            <!-- Codigo Agregado-->
        	<div  class="row-fluid filaFormulario">
                <div class="span12 text-center" style="text-align:center"><h5>Seleccione un estado</h5></div>
                <div class="span12 text-center" style="text-align:center">
                <select name="estado_id" id="estado_id">
                	<option value="">Seleccione un Estado</option>
                    <? foreach($this->EstadosPlazas as $plaza){?>
                    	<option value="<?php echo $plaza->estado_id?>"><?php echo $plaza->Estado->nombre?></option>
                    <? }?>
                </select>
                </div>
                <div class="span12 text-center" style="text-align:center"><h5>Seleccione una plaza</h5></div>
                <div class="span12 text-center" style="text-align:center">
                <select name="plaza_id" id="plaza_id">
                	<option value="">Seleccione una Plaza</option>
                </select>
                </div>
            </div>
            <!-- Fin Codigo Agregado-->
            <?php  /*foreach($this->EstadosPlazas as $estado){ ?>
                <input type="button" name="estado_<?php echo $estado->Estado->id?>" id="estado_<?php echo $estado->Estado->id?>" class="btn btn-primary" value="<?php echo $estado->Estado->nombre?>" />
            <? }*/ ?>
        </div>

        <div id="contenido_estado">

        </div>
    
</form>