<form name="frmPlaza" id="frmPlaza" method="post" action="/catalogos/plaza/guardar">
    <div  class="row-fluid contenedorFormulario">
        <div  class="row-fluid">
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>NOMBRE DEL BANCO</label></div>
                <div class="span4"><input type="text" name="nombre" id="nombre" placeholder="Nombre" class="required" value="<?php echo $this->registro->nombre?>" /></div>
                <div class="span2"><label>CUENTA</label></div>
                <div class="span4"><input type="text" name="domicilio" id="domicilio" placeholder="Cuenta" class="required" value="<?php echo $this->registro->domicilio?>"/></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>CLABE</label></div>
                <div class="span4">
                  <input type="text" name="domicilio" id="domicilio" placeholder="Clabe" class="required" value="<?php echo $this->registro->domicilio?>"/></div>
                  
                <div class="span2"><label>CUENTAHABIENTE</label></div>
                <div class="span4">
                  <input type="text" name="domicilio" id="domicilio" placeholder="Cuentahabiente" class="required" value="<?php echo $this->registro->domicilio?>"/></div>                  
                </div>
             
             
            </div>           
        </div>
    </div>
    <input type="hidden" name="id" id="id" value="<?php echo $this->registro->id?>" />
</form>