<form name="frm" id="frm" method="post" action="/catalogos/promocion/guardar">
    <div  class="row-fluid contenedorFormulario">
        <div  class="row-fluid">
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>TÍTULO</label></div>
                <div class="span4"><input type="text" name="nombre" id="nombre" placeholder="Título" class="required" value="<?php echo $this->registro->nombre?>"/></div>
                <div class="span2"><label>DESCRIPCIÓN</label></div>
                <div class="span4"><textarea name="descripcion" id="descripcion" cols="20" rows="2" placeholder="Descripcion" class="required"><?php echo $this->registro->descripcion;?></textarea></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>IMAGEN</label></div>
                <div class="span4"><input type="file" name="imagen" id="imagen" class="required"/></div>
                <div class="span2"></div>
                <div class="span4"><img alt="" src="<?php echo $this->baseUrl('')."images/promociones/".$this->registro->imagen; ?>" /></div>
            </div>
        </div>
    </div>
    <input type="hidden" name="id" id="id" value="<?php echo $this->registro->id?>" />
</form>