<div id="errorcontatacion" name="errorcontatacion" class="displayNone" style="color:#D8000C; background-color: #FFBABA;">
    <img src="/images/png/cancelar.png"/>Error favor de verificar un campo vacio.
</div>
<form name="frm" id="frm" method="post" action="/catalogos/promocion/guardarpromocion">     
    <div class="row-fluid contenedorFormulario">
        <div class="row-fluid">            
            <div class="row-fluid filaFormulario">                             
                <div id="tabs" style="width:920px;">
                    <ul>
                    	<?php foreach($this->EstadosPlazas as $estado){ ?>
                        <li><a href="#tabs<?php echo $estado->estado_id?>" ><?php echo $estado->Estado->nombre?></a></li><?php
                    	}?>        
                    </ul>
					<?php foreach($this->EstadosPlazas as $estado){ ?>
                    <div id="tabs<?php echo $estado->estado_id?>" style="height: 200px;">
                    <!----------------------------->                  
						<?php 
                        foreach($this->e[$estado->estado_id] as $plaza){ ?> 
                            <div class="plazaTarifa">
                                <div id="resizable" class="ui-widget-content">
                                    <h5 class="ui-widget-header"><?php echo $plaza->nombre?></h5><br />
                                    <table>
                                    	<tr>
                                        	<td colspan="2">
                                            	<input type="checkbox" class="definir_id_<?php echo $plaza->id?>" onclick="habilitar(<?php echo $plaza->id?>);" id="plaza_id[<?php echo $plaza->id?>]" name="plaza_id[<?php echo $plaza->id?>]" value="<?php echo $plaza->id?>" <?php echo ($this->vigencia['inicio'][$plaza->id]!='')?'checked':'';?>>¿Definir vigencia?</input>
                                            </td>
                                        </tr>
                                        <tr>
                                        	<td>
                                            	Inicio
                                            </td>
                                        	<td>
                                            	<input type="text" class="calendario inicio_id_<?php echo $plaza->id?>" name="inicio[<?php echo $plaza->id?>]" id="inicio[<?php echo $plaza->id?>]" value="<?php echo $this->vigencia['inicio'][$plaza->id]?>" style="width:110px;" <?php echo ($this->vigencia['inicio'][$plaza->id]!='')?'':'disabled="disabled"';?>/>
                                            </td>
										</tr>
                                        <tr>
                                        	<td>
                                            	Fin
                                            </td>
                                        	<td>
                                            	<input type="text" class="calendario fin_id_<?php echo $plaza->id?>" name="fin[<?php echo $plaza->id?>]" id="fin[<?php echo $plaza->id?>]" value="<?php echo $this->vigencia['fin'][$plaza->id]?>" style="width:110px;" <?php echo ($this->vigencia['inicio'][$plaza->id]!='')?'':'disabled="disabled"';?>/>
                                            </td>
										</tr>
                                    </table>
                                </div>
                            </div><?php  
                        }
                        ?>
                    <!----------------------------->
                    </div> <?php   
                    }?>
                </div>
            </div>
        </div> 
    </div>
    <input type="hidden" name="promocion_id" id="promocion_id" value="<?php echo $this->promocion_id;?>"/>
</form>