<form name="frmPlaza" id="frmPlaza" method="post" action="/catalogos/plaza/guardar">
    <div  class="row-fluid contenedorFormulario">
        <div  class="row-fluid">
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>NOMBRE</label></div>
                <div class="span4"><input type="text" name="nombre" id="nombre" placeholder="Nombre" class="required" value="<?php echo $this->registro->nombre?>" /></div>
                <div class="span2"><label>DOMICILIO</label></div>
                <div class="span4"><input type="text" name="domicilio" id="domicilio" placeholder="Domicilio" class="required" value="<?php echo $this->registro->domicilio?>"/></div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>ESTADO</label></div>
                <div class="span4">
                    <select name="estado_id" id="estado_id">
                        <option value="0">Seleccione un estado</option>
                        <?php foreach($this->estados as $estado){?>
                        <option value="<?php echo $estado->id?>" <?php echo ($this->registro->Comunidad->Municipio->Estado->id==$estado->id)?"selected":""?>><?php echo $estado->nombre?></option>
                        <?php }?>
                    </select>
                </div>
                <div class="span2"><label>MUNICIPIO</label></div>
                <div class="span4">
                    <select name="municipio_id" id="municipio_id">
                        <option value="0" >Seleccione un municipio</option>
                        <?php foreach($this->municipios as $municipio){?>
                        <option value="<?php echo $municipio->id?>" <?php echo ($this->registro->Comunidad->Municipio->id==$municipio->id)?"selected":""?>><?php echo $municipio->nombre?></option>
                        <?php }?>
                    </select>
                </div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>COMUNIDAD</label></div>
                <div class="span4">
                    <select name="comunidad_id" id="comunidad_id">
                        <option value="0">Seleccione una comunidad</option>
                        <?php foreach($this->comunidades as $comunidad){?>
                        <option value="<?php echo $comunidad->id?>" <?php echo ($this->registro->comunidad_id==$comunidad->id)?"selected":""?>><?php echo $comunidad->nombre?></option>
                        <?php }?>
                    </select>
                </div>

                <div class="span2"><label>E-MAIL</label></div>
                <div class="span4"><input type="text" name="email" id="email" placeholder="E-mail" class="email" value="<?php echo $this->registro->email?>" /></div>
            
            </div>
            
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>TELÉFONO 1</label></div>
                <div class="span4"><input type="text" name="telefono1" id="telefono1" placeholder="Teléfono 1" class="required" value="<?php echo $this->registro->telefono1?>" /></div>
                
                <div class="span2"><label>TELÉFONO 2</label></div>
                <div class="span4"><input type="text" name="telefono2" id="telefono2" placeholder="Teléfono 2" c value="<?php echo $this->registro->telefono2?>" /></div>              
            </div>  
            
            
          	<div  class="row-fluid filaFormulario">
               
                <div class="span2"><label>DISPONIBLE EN SUPERTV</label></div>
                <div class="span4"> 
               		<select name="supertv">
  						<option value="0" <?php echo $this->registro->supertv == 0 ? "selected":"";?> >No disponible</option>
  						<option value="1" <?php echo $this->registro->supertv == 1 ? "selected":"";?>>Disponible</option>
					</select>   
                </div>              
            </div>  
            
            
            
        </div>
    </div>
    <input type="hidden" name="id" id="id" value="<?php echo $this->registro->id?>" />
</form>