<div  class="row-fluid contenedorFiltro">
  <div class="span12 tituloFiltro">CATÁLOGO DE PLAZAS</div>  
 
  <div class="row-fluid filaFiltro">

    <div class="span1"><label>PLAZA</label></div> 
    <div class="span3">
        <select name="fplaza" id="fplaza" <? if(Usuario::tipo()==1){ echo "disabled";}?>>
            <option value="0">Todas las plazas</option>
            <?php foreach($this->plazas as $plaza){?>
            <option value="<?php echo $plaza->id?>"><?php echo $plaza->nombre?></option>
            <?php }?>
        </select>
    </div>
    
    <div class="span1"></div>
    <div class="span3"></div>
    <div class="span2"><? if(My_Permisos::tienePermiso('AGREGAR_PLAZA')){?><a class="btn btn-primary" onclick="agregarPlaza(0);">Agregar&nbsp; &nbsp;<i class="icon-plus icon-white"></i></a><? }?></div>
    </div> 
  
    <div  class="row-fluid filaFiltro">    
        <div class="span8"></div>
        <div class="span2"><a class="btn btn-primary" onclick="filtrarPlazas();">Filtrar&nbsp; &nbsp;<i class="icon-filter icon-white"></i></a></div> 
        <div class="span2"><a class="btn btn-primary" onclick="limpiarPlazas();">Limpiar&nbsp; &nbsp;</a></div> 
    </div>
  
    <div class="row-fluid filaFiltro">
        <div class="span8"></div>
        <div class="span2"><a class="btn btn-primary" href="/catalogos/plaza/imprimir" id="btnImprimir" target="blank">Imprimir&nbsp; &nbsp;<i class="icon-print icon-white"></i></a></div> 
        <div class="span2"><a class="btn btn-primary" href="/catalogos/plaza/exportar" id="btnExportar" target="blank">Exportar&nbsp; &nbsp;<i class="icon-th-list icon-white"></i></a></div> 
    </div>      
</div>

<div  class="row-fluid contenedorGrid"><div id="flexgrid"></div></div>