<div class="row-fluid contenedorFiltro">
    <div class="span12 tituloFiltro">REPORTE DE VENTAS</div>  
 
    <div class="row-fluid filaFiltro">
		<div class="span4">
        <div class="span2"><label>DESDE</label></div>
        <div class="span4"><input type="text" name="ffecha" class="span11" id="ffecha" value="<?php  echo date("Y-m-d")  ?>"/></div>
            
        <div class="span2"><label>HASTA</label></div>
        <div class="span4"><input type="text" name="fhasta" class="span11" id="fhasta" value="<?php  echo date("Y-m-d")  ?>"/></div>
       	</div>

		<div class="span1"><? if(Usuario::tipo()==0){?><label>PLAZA</label><? }?></div>
        <div class="span3">
            <? if(Usuario::tipo()==0){$cadena='';?>
            <select name="fplaza" id="fplaza" multiple="multiple">
                <?php foreach($this->plazas as $plaza){?>
                    <option value="<?php echo $plaza->id;?>"><?php echo $plaza->nombre;?></option>
                    <?php if($cadena==''){$cadena=$plaza->id;}else{$cadena.='_'.$plaza->id;}?>
                <?php }?>
            </select>
            <input type="hidden" name="plazas" id="plazas" value="<?php echo $cadena;?>" />
            <input type="hidden" name="fplazas" id="fplazas" class="span12" />
            <? }?> 
        </div>
    	    
        <div class="span2">
        	<a class="btn btn-primary span10" onclick="filtrar();">Filtrar&nbsp; &nbsp;<i class="icon-filter icon-white"></i></a>
      	</div>
        
        <div class="span2"><a class="btn btn-primary span10" onclick="limpiar();">Limpiar&nbsp; &nbsp;</a></div>
    </div> 
  
    <div class="row-fluid filaFiltro">     

       	<div class="span1"><? if(Usuario::tipo()==0){?><label>SUCURSAL</label><? }?></div>
        <div class="span3">
   	 	<? if(Usuario::tipo()==0){?>
            <select name="fsucursal" id="fsucursal">
                <option value="0">Todas las sucursales</option>
                <?php foreach($this->sucursales as $sucursal){?>
                <option value="<?php echo $sucursal->id?>"><?php echo $sucursal->nombre?></option>
                <?php }?>
            </select>
            <? }?> 
        </div>
        
      	<div class="span1"><label>VENDEDOR</label></div>  
        <div class="span3">
            <select name="fvendedor" id="fvendedor" >

            </select>
        </div>  
        
        <div class="span2"><a class="btn btn-primary span10" onclick="servicios();" id="btnImprimir" target="_blank">Imprimir&nbsp; &nbsp;<i class="icon-print icon-white"></i></a></div>
        <div class="span2"><a class="btn btn-primary span10" onclick="servicios();" target="_blank" id="btnExportar">Exportar&nbsp; &nbsp;<i class="icon-list icon-white"></i></a></div>
    </div> 
</div>

<div class="row-fluid contenedorGrid"><div id="flexgrid"></div></div>