<form name="frmDescargar" id="frmDescargar" method="post" action="/transacciones/ordenesdesconexion/guardar">
<div  class="row-fluid contenedorFormulario">

    <div  class="row-fluid">
        <div  class="row-fluid filaFormulario">
            <div class="span2"><label>NÚMERO DE CONTRATO</label></div>
            <div class="span3"><input type="text" value="<?=$this->registro->Cliente->contrato?>" readonly="readonly" /></div>
            <div class="span2"><label>CLIENTE</label></div>
            <div class="span3"><input type="text" value="<?=$this->registro->Cliente->nombre?>" readonly="readonly" /></div>
        </div>
        <div  class="row-fluid filaFormulario">
            <div class="span2"><label>CALLE</label></div>
            <div class="span3"><input type="text" value="<?=$this->registro->Cliente->calle?>" readonly="readonly" /> </div>
            <div class="span2"><label>NUMERO EXTERIOR</label></div>
            <div class="span3"><input type="text" value="<?=$this->registro->Cliente->no_exterior?>" readonly="readonly" /></div>
        </div>
        <div  class="row-fluid filaFormulario">
             <div class="span2"><label>NUMERO INTERIOR</label></div>
            <div class="span3"><input type="text" value="<?=$this->registro->Cliente->no_interior?>" readonly="readonly" /></div>
            <div class="span2"><label>COLONIA</label></div>
            <div class="span3"><input type="text" value="<?=Colonia::obtenerColonia($this->registro->Cliente->colonia_id)?>" readonly="readonly" /></div>
        </div>
        <div  class="row-fluid filaFormulario">
            <div class="span2"><label>ESTATUS</label></div>
            <div class="span3"><input type="text" value="<?=$this->registro->Cliente->estatus?>" readonly="readonly" /></div>
            <div class="span2"><label>ULTIMO MES CUBIERTO</label></div>
            <div class="span3"><input type="text" value="<?=$this->registro->Cliente->ultimomescubierto?>" readonly="readonly" /></div>
        </div>
        <div  class="row-fluid filaFormulario">
            <div class="span2"><label>TÉCNICO</label></div>
            <div class="span3">
            <select name="tecnico_id" id="tecnico_id" class="required">
            	<option value="">Técnico que desconectó</option>
                <? foreach($this->tecnicos as $tecnico){?>
                	<option value="<?=$tecnico->id?>"><?=$tecnico->nombre?></option>
                <? }?>
            </select>
            
            </div>
             <div class="span2"><label>FECHA DE DESCONEXIÓN</label></div>
            <div class="span3"><input type="text" name="fecha_desconexion" id="fecha_desconexion" placeholder="DD/MM/AAA" class="required"/></div>
        </div>


    </div><br />   
</div>
<input type="hidden" name="id" id="id" value="<?=$this->registro->id?>" />
</form>