<form name="frmPromotor" id="frmPromotor" method="post" action="/catalogos/tarifasespeciales/guardar">     
    <div  class="row-fluid contenedorFormulario">
        <div  class="row-fluid">
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>NOMBRE</label></div>
                <div class="span4">
                <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="required" value="<?php echo $this->registro->nombre?>"/>
                </div>
                
                <div class="span2"><label>AUTORIZACIÓN</label></div>
                
                <div class="span4">
                	<input type="checkbox" name="autorizacion" id="autorizacion" value="1" <?php echo ($this->registro->autorizacion)?"checked":""?>>
                </div>
            </div>
        </div>    
    </div>
    <input type="hidden" name="id" id="id" value="<?php echo $this->registro->id?>" />
</form>    