<div  class="row-fluid contenedorFiltro">
  <div class="span12 tituloFiltro">CATÁLOGO DE TARIFAS ESPECIALES</div>  
  
  <div  class="row-fluid filaFiltro">
    <div class="span1">&nbsp;</div>
    <div class="span3"></div>
    <div class="span1"></div>
    <div class="span3"></div>
    <div class="span2"></div>
    <div class="span2"><? if(My_Permisos::tienePermiso('AGREGAR_TARIFASESPECIALES')){?><a class="btn btn-primary" onclick="agregarTarifa(0);">Agregar&nbsp; &nbsp;&nbsp;<i class="icon-plus icon-white"></i></a><? }?></div>
  </div>
  
  <div  class="row-fluid filaFiltro">
    <div class="span1"><label>NOMBRE</label></div>
    <div class="span3"><input type="text" name="fnombre" id="fnombre" /></div>
    <div class="span2"><label>AUTORIZACIÓN</label></div>
    <div class="span2">
    <select name="fautorizacion" id="fautorizacion"  class="span7">
  		<option value="1">SI</option>
  		<option value="0">NO</option>
	</select> 
    </div>
    
    <div class="span2"><a class="btn btn-primary"  onclick="filtrarTarifa();">Filtrar&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;<i class="icon-search icon-white"></i></a></div> 
    <div class="span2"><a class="btn btn-primary" onclick="limpiarTarifa();">Limpiar&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></div>   
  </div>  
  
  <div  class="row-fluid filaFiltro">
    <div class="span1"></div>
    <div class="span3"></div>
    <div class="span1"></div>
    <div class="span3"></div>
    <div class="span2"><a class="btn btn-primary" href="/catalogos/tarifasespeciales/imprimir" id="btnImprimir" target="blank">Imprimir&nbsp; &nbsp;&nbsp;<i class="icon-print icon-white"></i></a></div> 
    <div class="span2"><a class="btn btn-primary" href="/catalogos/tarifasespeciales/exportar" id="btnExportar" target="blank">Exportar&nbsp; &nbsp;&nbsp;<i class="icon-th-list icon-white"></i></a></div> 
  </div> 
  
</div>

<div class="row-fluid contenedorGrid"><div id="flexgrid"></div></div>