<?php $idPlazaActual=0?>
<div  class="row-fluid contenedorFiltro">

  <div class="span12 tituloFiltro">
    <div class="span10">REPORTE CUANTITATIVO DE OPERACIONES</div>
    <div class="span2">
        <div class="span12"><a class="btn btn-success" onclick="filtrarReporte();" target="_blank" id="btnExportar">Exportar&nbsp;<i class="icon-list icon-white"></i></a></div> 
    </div>
  </div>   
  
  <form name="frmMetas" id="frmMetas" action="/transacciones/reportecuantitativo2/index" method="post">
     
    <div  class="row-fluid filaFiltro">
        <div class="span1"><label>DESDE</label></div>
        <div class="span2"><input class="span12" type="text" name="fdesde" id="fdesde" value="<?=$_POST['fdesde']?>"/></div>
        <div class="span1"><label>HASTA</label></div>
        <div class="span2"><input class="span12" type="text" name="fhasta" id="fhasta" value="<?=$_POST['fhasta']?>"/></div>
        <div class="span1"><? if(Usuario::tipo()==0 || Usuario::tipo()==2){?><label>PLAZA</label> <? }?> </div>
        <div class="span2">
            <? if(Usuario::tipo()==0 || Usuario::tipo()==2){?>
            <select name="fplaza" id="fplaza" class="span12">
                <option value="0">Todas las plazas</option>
                <?php foreach($this->plazas as $plaza){?>
                        <?php if($this->permisos != null && count($this->permisos) > 0 && Usuario::tipo() != 0)
                        {
                            foreach ($this->permisos as $permiso)
                            {
                                if($permiso->plaza_id == $plaza->id)
                                {?>
                                    <option value="<?php echo $plaza->id?>" <? if($_POST['fplaza']==$plaza->id) {echo "selected"; $plazaActual=$plaza->nombre; $idPlazaActual=$plaza->id;} ?>><?php echo $plaza->nombre?></option>
                                <?php }
                            }
                        }
                        else
                        {?>
                            <option value="<?php echo $plaza->id?>" <? if($_POST['fplaza']==$plaza->id) {echo "selected"; $plazaActual=$plaza->nombre; $idPlazaActual=$plaza->id;} ?>><?php echo $plaza->nombre?></option>
                        <?php }
                        ?>
                <?php }?>
            </select>
            <? }?> 
        </div>
        <div class="span1"><a class="btn btn-primary"  onclick="filtrarReporte2();">Filtrar</a></div> 
        <div class="span1"><a class="btn btn-primary" onclick="enviarFiltro();">Limpiar</a></div> 
    </div> 
  
    <div class="row-fluid filaFiltro">
        <div class="span1"><? if(Usuario::tipo()==0 || Usuario::tipo()==2){?><label>SUCURSAL</label> <? }?> </div>
        <div class="span2">
            <? if(Usuario::tipo()==0 || Usuario::tipo()==2){?>
            <select name="fsucursal" id="fsucursal" class="span12">
                <option value="0">Todas las sucursales</option>
                <?php foreach($this->sucursales as $sucursal){?>
                <option value="<?php echo $sucursal->id?>" ><?php echo $sucursal->nombre?></option>
                <?php }?>
            </select>
            <? }?> 
        </div>  
    </div>
    </form>

    <div class="row-fluid filaFiltro">
        <div class="span1"></div>
        <div class="span1"></div>  
    </div>
   
  <!------------------------------------------------------------------>
    <?php                         
            $num_tabla = 0;
            foreach($this->clientes_pagados as $hasta=>$v)
            { 
                //$dias = date("d",mktime(0,0,0,(date("m")-$mes)+1,0,date("Y")));
                $dias = date("d", mktime( 0, 0, 0,    date("m", strtotime($hasta))+1  , 0 ,  date("Y", strtotime($hasta))  ));
            ?>
            <div class="row-fluid filaFiltro">
                <div class="span1"></div>
                <div class="span1"></div>  
            </div>

            <div id="tabla<?php echo $num_tabla; ?>" name="tabla<?php echo $num_tabla; ?>" class="span12">
                <table class="table table-bordered" style="font-size:11px" width="100%">    
                    <thead><tr>
                    <th colspan="30" align="center" style="text-align:center">
                    REPORTE CUANTITATIVO DE OPERACIONES <?=$plazaActual?><br />
                    <?php echo $this->mes[date("n", strtotime($hasta))]." de ".date('Y', strtotime($hasta)); 

                    $mesanio=date('Y', strtotime($hasta))."-".sprintf("%02d",date("n", strtotime($hasta)));
                    ?> 
                    </th>
                    <tbody>
                        <tr>
                            <td class="etiqueta"><strong></strong></td><?php                                                 
                            $i=1;                           
                               
                            while($dias >= $i )
                            {                            
                                if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8){     
                                    ?><td class="etiqueta" align="center" width="50"><strong><?php echo $i?></strong></td><?php                            
                                }                            
                                $i++;
                            }  ?>
                            <td>TOTAL</td>
                        </tr>
                        
                        <tr>
                            <td class="etiqueta"><strong></strong></td>     
                            <?php                         
                            $i=1;         
                            
                            while($dias >= $i ){
                                if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8){ ?>
                                    <td class="etiqueta" align="center"><strong><?php echo $this->dia[date("N",mktime(0,0,0, date("m", strtotime($hasta))  ,$i,  date("Y", strtotime($hasta))   ))]; ?></strong></td><?php    
                                }
                                $i++;
                            }  ?>
                            <td>&nbsp;</td>
                        </tr> 
                                        
                        <tr>
                            <td class="etiqueta"><strong>CLIENTES PAGADOS - CABLE</strong></td><?php                        
                            $i=1;           
                            $totalPagados=0;
                            $resta=1;
                            while($dias >= $i )
                            { 
                                
                                if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8)
                                {
                                    //print_r($this->clientes_pagados[$i-1][1]); exit;
                                    if(isset($this->clientes_pagados[$hasta][$mesanio."-".sprintf("%02d",$i)]))
                                        $cantidad=$this->clientes_pagados[$hasta][$mesanio."-".sprintf("%02d",$i)];
                                    else
                                        $cantidad=0;
                            ?>     
                                    <td align="center" style="cursor:pointer;" onclick="verDetalle('clientesPagados','<?php echo $mesanio."-".$i?>','<?php echo $idPlazaActual?>',1);"> <?php echo $cantidad;?></td><?php   
                                    $totalPagados+=$cantidad;                     
                                }
                                
                                $i++;
                            }  
                            
                            ?> 
                            <td align="center" style="cursor:pointer;" onclick="verDetalle('clientesPagados','','<?php echo $idPlazaActual?>',1);"><?php echo $totalPagados?></td>       
                        </tr>

                        <tr>
                            <td class="etiqueta"><strong>CLIENTES PAGADOS - INTERNET</strong></td><?php                        
                            $i=1;           
                            $totalPagados=0;
                            $resta=1;
                            while($dias >= $i )
                            { 
                                
                                if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8)
                                {
                                    //print_r($this->clientes_pagados[$i-1][1]); exit;
                                    if(isset($this->clientes_pagados_internet[$hasta][$mesanio."-".sprintf("%02d",$i)]))
                                        $cantidad=$this->clientes_pagados_internet[$hasta][$mesanio."-".sprintf("%02d",$i)];
                                    else
                                        $cantidad=0;
                            ?>     
                                    <td align="center" style="cursor:pointer;" onclick="verDetalle('clientesPagados','<?php echo $mesanio."-".$i?>','<?php echo $idPlazaActual?>',2);"> <?php echo $cantidad;?></td><?php   
                                    $totalPagados+=$cantidad;                     
                                }
                                
                                $i++;
                            }  
                            
                            ?> 

                            <td align="center" style="cursor:pointer;" onclick="verDetalle('clientesPagados','','<?php echo $idPlazaActual?>',2);"><?php echo $totalPagados;?></td>
                        </tr>

                        <tr>
                            <td class="etiqueta"><strong><b>CLIENTES PAGADOS - TOTAL</b></strong></td><?php                        
                            $i=1;           
                            $totalPagados=0;
                            $resta=1;
                            while($dias >= $i )
                            { 
                                
                                if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8)
                                {
                                    //print_r($this->clientes_pagados[$i-1][1]); exit;
                                    if(isset($this->clientes_pagados_general[$hasta][$mesanio."-".sprintf("%02d",$i)]))
                                        $cantidad=$this->clientes_pagados_general[$hasta][$mesanio."-".sprintf("%02d",$i)];
                                    else
                                        $cantidad=0;
                            ?>     
                                    <td align="center" style="cursor:pointer;" onclick="verDetalle('clientesPagados','<?php echo $mesanio."-".$i?>','<?php echo $idPlazaActual?>',3);"><b><?php echo $cantidad;?></b></td><?php   
                                    $totalPagados+=$cantidad;                     
                                }
                                
                                $i++;
                            }  
                            
                            ?> 
                            <!--<td><b><?php //echo $totalPagados?></b></td>-->  

                            <td align="center" style="cursor:pointer;" onclick="verDetalle('clientesPagados','','<?php echo $idPlazaActual?>',3);"><b><?php echo $totalPagados;?></b></td>


                        </tr>

                        <tr>
                            <td class="etiqueta"><strong>MENSUALIDADES COBRADAS - CABLE</strong></td><?php                        
                            $i=1;           
                            $totalPagados=0;
                            $resta=1;
                            while($dias >= $i )
                            { 
                                
                                if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8)
                                {
                                    //print_r($this->clientes_pagados[$i-1][1]); exit;
                                    if(isset($this->mensualidades_cobradas[$hasta][$mesanio."-".sprintf("%02d",$i)]))
                                        $cantidad=$this->mensualidades_cobradas[$hasta][$mesanio."-".sprintf("%02d",$i)];
                                    else
                                        $cantidad=0;
                            ?>     
                                    <td align="center" style="cursor:pointer;" onclick="verDetalle('mensualidadesCobradas','<?php echo $mesanio."-".$i?>','<?php echo $idPlazaActual?>',1);"> <?php echo $cantidad;?></td><?php   
                                    $totalPagados+=$cantidad;                     
                                }
                                
                                $i++;
                            }  
                            
                            ?> 
                            <td align="center" style="cursor:pointer;" onclick="verDetalle('mensualidadesCobradas','','<?php echo $idPlazaActual?>',1);"> <?php echo $totalPagados;?></td>

                        </tr>

                        <tr>
                            <td class="etiqueta"><strong>MENSUALIDADES COBRADAS - INTERNET</strong></td><?php                        
                            $i=1;           
                            $totalPagados=0;
                            $resta=1;
                            while($dias >= $i )
                            { 
                                
                                if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8)
                                {
                                    //print_r($this->clientes_pagados[$i-1][1]); exit;
                                    if(isset($this->mensualidades_cobradas_internet[$hasta][$mesanio."-".sprintf("%02d",$i)]))
                                        $cantidad=$this->mensualidades_cobradas_internet[$hasta][$mesanio."-".sprintf("%02d",$i)];
                                    else
                                        $cantidad=0;
                            ?>     
                                    <td align="center" style="cursor:pointer;" onclick="verDetalle('mensualidadesCobradas','<?php echo $mesanio."-".$i?>','<?php echo $idPlazaActual?>',2);"> <?php echo $cantidad;?></td><?php   
                                    $totalPagados+=$cantidad;                     
                                }
                                
                                $i++;
                            }  
                            
                            ?>     

                            <td align="center" style="cursor:pointer;" onclick="verDetalle('mensualidadesCobradas','','<?php echo $idPlazaActual?>',2);"> <?php echo $totalPagados;?></td>

                        </tr>

                        <tr>
                            <td class="etiqueta"><strong><b>MENSUALIDADES COBRADAS - TOTAL</b></strong></td><?php                        
                            $i=1;           
                            $totalPagados=0;
                            $resta=1;
                            while($dias >= $i )
                            { 
                                
                                if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8)
                                {
                                    //print_r($this->clientes_pagados[$i-1][1]); exit;
                                    if(isset($this->mensualidades_cobradas_general[$hasta][$mesanio."-".sprintf("%02d",$i)]))
                                        $cantidad=$this->mensualidades_cobradas_general[$hasta][$mesanio."-".sprintf("%02d",$i)];
                                    else
                                        $cantidad=0;
                            ?>     
                                    <td align="center" style="cursor:pointer;" onclick="verDetalle('mensualidadesCobradas','<?php echo $mesanio."-".$i?>','<?php echo $idPlazaActual?>',3);"><b><?php echo $cantidad;?></b></td><?php   
                                    $totalPagados+=$cantidad;                     
                                }
                                
                                $i++;
                            }  
                            
                            ?> 

                            <td align="center" style="cursor:pointer;" onclick="verDetalle('mensualidadesCobradas','','<?php echo $idPlazaActual?>',3);"><b><?php echo $totalPagados;?></b></td>
   
                        </tr>

                        <tr>
                            <td class="etiqueta"><strong>RECUPERACIONES - CABLE</strong></td><?php                        
                            $i=1;           
                            $totalPagados=0;
                            $resta=1;
                            while($dias >= $i )
                            { 
                                
                                if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8)
                                {
                                    //print_r($this->clientes_pagados[$i-1][1]); exit;
                                    if(isset($this->recuperaciones[$hasta][$mesanio."-".sprintf("%02d",$i)]))
                                        $cantidad=$this->recuperaciones[$hasta][$mesanio."-".sprintf("%02d",$i)];
                                    else
                                        $cantidad=0;
                            ?>     
                                    <td align="center" style="cursor:pointer;" onclick="verDetalle('recuperaciones','<?php echo $mesanio."-".$i?>','<?php echo $idPlazaActual?>',1);"> <?php echo $cantidad;?></td><?php   
                                    $totalPagados+=$cantidad;                     
                                }
                                
                                $i++;
                            }  
                            
                            ?> 

                            <td align="center" style="cursor:pointer;" onclick="verDetalle('recuperaciones','','<?php echo $idPlazaActual?>',1);"> <?php echo $totalPagados;?></td>

                                  
                        </tr>

                        <tr>
                            <td class="etiqueta"><strong>RECUPERACIONES - INTERNET</strong></td><?php                        
                            $i=1;           
                            $totalPagados=0;
                            $resta=1;
                            while($dias >= $i )
                            { 
                                
                                if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8)
                                {
                                    //print_r($this->clientes_pagados[$i-1][1]); exit;
                                    if(isset($this->recuperaciones_internet[$hasta][$mesanio."-".sprintf("%02d",$i)]))
                                        $cantidad=$this->recuperaciones_internet[$hasta][$mesanio."-".sprintf("%02d",$i)];
                                    else
                                        $cantidad=0;
                            ?>     
                                    <td align="center" style="cursor:pointer;" onclick="verDetalle('recuperaciones','<?php echo $mesanio."-".$i?>','<?php echo $idPlazaActual?>',2);"> <?php echo $cantidad;?></td><?php   
                                    $totalPagados+=$cantidad;                     
                                }
                                
                                $i++;
                            }  
                            
                            ?> 

                            <td align="center" style="cursor:pointer;" onclick="verDetalle('recuperaciones','','<?php echo $idPlazaActual?>',2);"> <?php echo $totalPagados;?></td>      
                        </tr>

                        <tr>
                            <td class="etiqueta"><strong><b>RECUPERACIONES - TOTAL</b></strong></td><?php                        
                            $i=1;           
                            $totalPagados=0;
                            $resta=1;
                            while($dias >= $i )
                            { 
                                
                                if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8)
                                {
                                    //print_r($this->clientes_pagados[$i-1][1]); exit;
                                    if(isset($this->recuperaciones_general[$hasta][$mesanio."-".sprintf("%02d",$i)]))
                                        $cantidad=$this->recuperaciones_general[$hasta][$mesanio."-".sprintf("%02d",$i)];
                                    else
                                        $cantidad=0;
                            ?>     
                                    <td align="center" style="cursor:pointer;" onclick="verDetalle('recuperaciones','<?php echo $mesanio."-".$i?>','<?php echo $idPlazaActual?>',3);"><b><?php echo $cantidad;?></b></td><?php   
                                    $totalPagados+=$cantidad;                     
                                }
                                
                                $i++;
                            }  
                            
                            ?> 
                            <td align="center" style="cursor:pointer;" onclick="verDetalle('recuperaciones','','<?php echo $idPlazaActual?>',3);"><b><?php echo $totalPagados;?></b></td>   
                        </tr>

                        <tr>
                            <td class="etiqueta"><strong>VENTAS NUEVAS - CABLE</strong></td><?php                        
                            $i=1;           
                            $totalPagados=0;
                            $resta=1;
                            while($dias >= $i )
                            { 
                                
                                if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8)
                                {
                                    //print_r($this->clientes_pagados[$i-1][1]); exit;
                                    if(isset($this->ventas_nuevas[$hasta][$mesanio."-".sprintf("%02d",$i)]))
                                        $cantidad=$this->ventas_nuevas[$hasta][$mesanio."-".sprintf("%02d",$i)];
                                    else
                                        $cantidad=0;
                            ?>     
                                    <td align="center" style="cursor:pointer;" onclick="verDetalle('ventas','<?php echo $mesanio."-".$i?>','<?php echo $idPlazaActual?>',1);"> <?php echo $cantidad;?></td><?php   
                                    $totalPagados+=$cantidad;                     
                                }
                                
                                $i++;
                            }  
                            
                            ?> 

                            <td align="center" style="cursor:pointer;" onclick="verDetalle('ventas','','<?php echo $idPlazaActual?>',1);"> <?php echo $totalPagados;?></td>   
                        </tr>

                        <tr>
                            <td class="etiqueta"><strong>VENTAS NUEVAS - INTERNET</strong></td><?php                        
                            $i=1;           
                            $totalPagados=0;
                            $resta=1;
                            while($dias >= $i )
                            { 
                                
                                if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8)
                                {
                                    //print_r($this->clientes_pagados[$i-1][1]); exit;
                                    if(isset($this->ventas_nuevas_internet[$hasta][$mesanio."-".sprintf("%02d",$i)]))
                                        $cantidad=$this->ventas_nuevas_internet[$hasta][$mesanio."-".sprintf("%02d",$i)];
                                    else
                                        $cantidad=0;
                            ?>     
                                    <td align="center" style="cursor:pointer;" onclick="verDetalle('ventas','<?php echo $mesanio."-".$i?>','<?php echo $idPlazaActual?>',2);"> <?php echo $cantidad;?></td><?php   
                                    $totalPagados+=$cantidad;                     
                                }
                                
                                $i++;
                            }  
                            
                            ?> 

                            <td align="center" style="cursor:pointer;" onclick="verDetalle('ventas','','<?php echo $idPlazaActual?>',2);"> <?php echo $totalPagados;?></td>   
                        </tr>

                        <tr>
                            <td class="etiqueta"><strong><b>VENTAS NUEVAS - TOTAL</b></strong></td><?php                        
                            $i=1;           
                            $totalPagados=0;
                            $resta=1;
                            while($dias >= $i )
                            { 
                                
                                if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8)
                                {
                                    //print_r($this->clientes_pagados[$i-1][1]); exit;
                                    if(isset($this->ventas_nuevas_general[$hasta][$mesanio."-".sprintf("%02d",$i)]))
                                        $cantidad=$this->ventas_nuevas_general[$hasta][$mesanio."-".sprintf("%02d",$i)];
                                    else
                                        $cantidad=0;
                            ?>     
                                    <td align="center" style="cursor:pointer;" onclick="verDetalle('ventas','<?php echo $mesanio."-".$i?>','<?php echo $idPlazaActual?>',3);"><b><?php echo $cantidad;?></b></td><?php   
                                    $totalPagados+=$cantidad;                     
                                }
                                
                                $i++;
                            }  
                            
                            ?> 

                            <td align="center" style="cursor:pointer;" onclick="verDetalle('ventas','','<?php echo $idPlazaActual?>',3);"><b><?php echo $totalPagados;?></b></td>     
                        </tr>

                        <tr>
                            <td class="etiqueta"><strong>INSTALACIONES - CABLE</strong></td><?php                        
                            $i=1;           
                            $totalPagados=0;
                            $resta=1;
                            while($dias >= $i )
                            { 
                                
                                if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8)
                                {
                                    //print_r($this->clientes_pagados[$i-1][1]); exit;
                                    if(isset($this->instalaciones[$hasta][$mesanio."-".sprintf("%02d",$i)]))
                                        $cantidad=$this->instalaciones[$hasta][$mesanio."-".sprintf("%02d",$i)];
                                    else
                                        $cantidad=0;
                            ?>     
                                    <td align="center" style="cursor:pointer;" onclick="verDetalle('instalaciones','<?php echo $mesanio."-".$i?>','<?php echo $idPlazaActual?>',1);"> <?php echo $cantidad;?></td><?php   
                                    $totalPagados+=$cantidad;                     
                                }
                                
                                $i++;
                            }  
                            
                            ?>   

                            <td align="center" style="cursor:pointer;" onclick="verDetalle('instalaciones','','<?php echo $idPlazaActual?>',1);"> <?php echo $totalPagados;?></td>

                        </tr>

                        <tr>
                            <td class="etiqueta"><strong>INSTALACIONES - INTERNET</strong></td><?php                        
                            $i=1;           
                            $totalPagados=0;
                            $resta=1;
                            while($dias >= $i )
                            { 
                                
                                if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8)
                                {
                                    //print_r($this->clientes_pagados[$i-1][1]); exit;
                                    if(isset($this->instalaciones_internet[$hasta][$mesanio."-".sprintf("%02d",$i)]))
                                        $cantidad=$this->instalaciones_internet[$hasta][$mesanio."-".sprintf("%02d",$i)];
                                    else
                                        $cantidad=0;
                            ?>     
                                    <td align="center" style="cursor:pointer;" onclick="verDetalle('instalaciones','<?php echo $mesanio."-".$i?>','<?php echo $idPlazaActual?>',2);"> <?php echo $cantidad;?></td><?php   
                                    $totalPagados+=$cantidad;                     
                                }
                                
                                $i++;
                            }  
                            
                            ?> 
                            <td align="center" style="cursor:pointer;" onclick="verDetalle('instalaciones','','<?php echo $idPlazaActual?>',2);"> <?php echo $totalPagados;?></td>

                        </tr>

                        <tr>
                            <td class="etiqueta"><strong><b>INSTALACIONES - TOTAL</b></strong></td><?php                        
                            $i=1;           
                            $totalPagados=0;
                            $resta=1;
                            while($dias >= $i )
                            { 
                                
                                if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8)
                                {
                                    //print_r($this->clientes_pagados[$i-1][1]); exit;
                                    if(isset($this->instalaciones_general[$hasta][$mesanio."-".sprintf("%02d",$i)]))
                                        $cantidad=$this->instalaciones_general[$hasta][$mesanio."-".sprintf("%02d",$i)];
                                    else
                                        $cantidad=0;
                            ?>     
                                    <td align="center" style="cursor:pointer;" onclick="verDetalle('instalaciones','<?php echo $mesanio."-".$i?>','<?php echo $idPlazaActual?>',3);"><b><?php echo $cantidad;?></b></td><?php   
                                    $totalPagados+=$cantidad;                     
                                }
                                
                                $i++;
                            }  
                            
                            ?> 

                            <td align="center" style="cursor:pointer;" onclick="verDetalle('instalaciones','','<?php echo $idPlazaActual?>',3);"><b><?php echo $totalPagados;?></b></td>
      
                        </tr>

                        <tr>
                            <td class="etiqueta"><strong>DESCONEXIONES - CABLE</strong></td><?php                        
                            $i=1;           
                            $totalPagados=0;
                            $resta=1;
                            while($dias >= $i )
                            { 
                                
                                if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8)
                                {
                                    if(isset($this->desconexiones[$hasta][$mesanio."-".sprintf("%02d",$i)]))
                                        $cantidad=$this->desconexiones[$hasta][$mesanio."-".sprintf("%02d",$i)];
                                    else
                                        $cantidad=0;
                            ?>     
                                    <td align="center" style="cursor:pointer;" onclick="verDetalle('desconexiones','<?php echo $mesanio."-".$i?>','<?php echo $idPlazaActual?>',1);"> <?php echo $cantidad;?></td><?php   
                                    $totalPagados+=$cantidad;                     
                                }
                                
                                $i++;
                            }  
                            
                            ?>  

                            <td align="center" style="cursor:pointer;" onclick="verDetalle('desconexiones','','<?php echo $idPlazaActual?>',1);"> <?php echo $totalPagados;?></td>

                        </tr>

                        <tr>
                            <td class="etiqueta"><strong>DESCONEXIONES - INTERNET</strong></td><?php                        
                            $i=1;           
                            $totalPagados=0;
                            $resta=1;
                            while($dias >= $i )
                            { 
                                
                                if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8)
                                {
                                    if(isset($this->desconexiones_internet[$hasta][$mesanio."-".sprintf("%02d",$i)]))
                                        $cantidad=$this->desconexiones_internet[$hasta][$mesanio."-".sprintf("%02d",$i)];
                                    else
                                        $cantidad=0;
                            ?>     
                                    <td align="center" style="cursor:pointer;" onclick="verDetalle('desconexiones','<?php echo $mesanio."-".$i?>','<?php echo $idPlazaActual?>',2);"> <?php echo $cantidad;?></td><?php   
                                    $totalPagados+=$cantidad;                     
                                }
                                
                                $i++;
                            }  
                            
                            ?> 

                            <td align="center" style="cursor:pointer;" onclick="verDetalle('desconexiones','','<?php echo $idPlazaActual?>',2);"> <?php echo $totalPagados;?></td>                             
                        </tr>

                        <tr>
                            <td class="etiqueta"><strong><b>DESCONEXIONES - TOTAL</b></strong></td><?php                        
                            $i=1;           
                            $totalPagados=0;
                            $resta=1;
                            while($dias >= $i )
                            { 
                                
                                if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8)
                                {
                                    if(isset($this->desconexiones_general[$hasta][$mesanio."-".sprintf("%02d",$i)]))
                                        $cantidad=$this->desconexiones_general[$hasta][$mesanio."-".sprintf("%02d",$i)];
                                    else
                                        $cantidad=0;
                            ?>     
                                    <td align="center" style="cursor:pointer;" onclick="verDetalle('desconexiones','<?php echo $mesanio."-".$i?>','<?php echo $idPlazaActual?>',3);"><b><?php echo $cantidad;?></b></td><?php   
                                    $totalPagados+=$cantidad;                     
                                }
                                
                                $i++;
                            }  
                            
                            ?> 

                            <td align="center" style="cursor:pointer;" onclick="verDetalle('desconexiones','','<?php echo $idPlazaActual?>',3);"><b><?php echo $totalPagados;?></b></td>     
                        </tr>

                        <tr>
                            <td class="etiqueta"><strong>RECONEXIONES - CABLE</strong></td><?php                        
                            $i=1;           
                            $totalPagados=0;
                            $resta=1;
                            while($dias >= $i )
                            { 
                                
                                if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8)
                                {
                                    //echo "<pre>"; echo "entro"; print_r($this->reconexiones);
                                    if(isset($this->reconexiones[$hasta][$mesanio."-".sprintf("%02d",$i)]))
                                        $cantidad=$this->reconexiones[$hasta][$mesanio."-".sprintf("%02d",$i)];
                                    else
                                        $cantidad=0;
                            ?>     
                                    <td align="center" style="cursor:pointer;" onclick="verDetalle('reconexiones','<?php echo $mesanio."-".$i?>','<?php echo $idPlazaActual?>',1);"> <?php echo $cantidad;?></td><?php   
                                    $totalPagados+=$cantidad;                     
                                }
                                
                                $i++;
                            }  
                            
                            ?> 

                            <td align="center" style="cursor:pointer;" onclick="verDetalle('reconexiones','','<?php echo $idPlazaActual?>',1);"> <?php echo $totalPagados;?></td>
                        </tr>

                        <tr>
                            <td class="etiqueta"><strong>RECONEXIONES - INTERNET</strong></td><?php                        
                            $i=1;           
                            $totalPagados=0;
                            $resta=1;
                            while($dias >= $i )
                            { 
                                
                                if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8)
                                {
                                    //echo "<pre>"; echo "entro"; print_r($this->reconexiones);
                                    if(isset($this->reconexiones_internet[$hasta][$mesanio."-".sprintf("%02d",$i)]))
                                        $cantidad=$this->reconexiones_internet[$hasta][$mesanio."-".sprintf("%02d",$i)];
                                    else
                                        $cantidad=0;
                            ?>     
                                    <td align="center" style="cursor:pointer;" onclick="verDetalle('reconexiones','<?php echo $mesanio."-".$i?>','<?php echo $idPlazaActual?>',2);"> <?php echo $cantidad;?></td><?php   
                                    $totalPagados+=$cantidad;                     
                                }
                                
                                $i++;
                            }  
                            
                            ?> 

                            <td align="center" style="cursor:pointer;" onclick="verDetalle('reconexiones','','<?php echo $idPlazaActual?>',2);"> <?php echo $totalPagados;?></td> 
                        </tr>

                        <tr>
                            <td class="etiqueta"><strong><b>RECONEXIONES - TOTAL</b></strong></td><?php                        
                            $i=1;           
                            $totalPagados=0;
                            $resta=1;
                            while($dias >= $i )
                            { 
                                
                                if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8)
                                {
                                    //echo "<pre>"; echo "entro"; print_r($this->reconexiones);
                                    if(isset($this->reconexiones_general[$hasta][$mesanio."-".sprintf("%02d",$i)]))
                                        $cantidad=$this->reconexiones_general[$hasta][$mesanio."-".sprintf("%02d",$i)];
                                    else
                                        $cantidad=0;
                            ?>     
                                    <td align="center" style="cursor:pointer;" onclick="verDetalle('reconexiones','<?php echo $mesanio."-".$i?>','<?php echo $idPlazaActual?>',3);"><b><?php echo $cantidad;?></b></td><?php   
                                    $totalPagados+=$cantidad;                     
                                }
                                
                                $i++;
                            }  
                            
                            ?> 
                            <td align="center" style="cursor:pointer;" onclick="verDetalle('reconexiones','','<?php echo $idPlazaActual?>',3);"><b><?php echo $totalPagados;?></b></td>      
                        </tr>

                        <tr>
                            <td class="etiqueta"><strong>CAMBIO DE DOMICILIO - CABLE</strong></td><?php                        
                            $i=1;           
                            $totalPagados=0;
                            $resta=1;
                            while($dias >= $i )
                            { 
                                
                                if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8)
                                {
                                    //print_r($this->clientes_pagados[$i-1][1]); exit;
                                    if(isset($this->cambio_domicilio[$hasta][$mesanio."-".sprintf("%02d",$i)]))
                                        $cantidad=$this->cambio_domicilio[$hasta][$mesanio."-".sprintf("%02d",$i)];
                                    else
                                        $cantidad=0;
                            ?>     
                                    <td align="center" style="cursor:pointer;" onclick="verDetalle('cambioDomicilio','<?php echo $mesanio."-".$i?>','<?php echo $idPlazaActual?>',1);"> <?php echo $cantidad;?></td><?php   
                                    $totalPagados+=$cantidad;                     
                                }
                                
                                $i++;
                            }  
                            
                            ?> 
                            <td align="center" style="cursor:pointer;" onclick="verDetalle('cambioDomicilio','','<?php echo $idPlazaActual?>',1);"> <?php echo $totalPagados;?></td>
                        </tr>

                        <tr>
                            <td class="etiqueta"><strong>CAMBIO DE DOMICILIO - INTERNET</strong></td><?php                        
                            $i=1;           
                            $totalPagados=0;
                            $resta=1;
                            while($dias >= $i )
                            { 
                                
                                if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8)
                                {
                                    //print_r($this->clientes_pagados[$i-1][1]); exit;
                                    if(isset($this->cambio_domicilio_internet[$hasta][$mesanio."-".sprintf("%02d",$i)]))
                                        $cantidad=$this->cambio_domicilio_internet[$hasta][$mesanio."-".sprintf("%02d",$i)];
                                    else
                                        $cantidad=0;
                            ?>     
                                    <td align="center" style="cursor:pointer;" onclick="verDetalle('cambioDomicilio','<?php echo $mesanio."-".$i?>','<?php echo $idPlazaActual?>',2);"> <?php echo $cantidad;?></td><?php   
                                    $totalPagados+=$cantidad;                     
                                }
                                
                                $i++;
                            }  
                            
                            ?> 

                            <td align="center" style="cursor:pointer;" onclick="verDetalle('cambioDomicilio','','<?php echo $idPlazaActual?>',2);"> <?php echo $totalPagados;?></td>
                        </tr>

                        <tr>
                            <td class="etiqueta"><strong><b>CAMBIO DE DOMICILIO - TOTAL</b></strong></td><?php                        
                            $i=1;           
                            $totalPagados=0;
                            $resta=1;
                            while($dias >= $i )
                            { 
                                
                                if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8)
                                {
                                    //print_r($this->clientes_pagados[$i-1][1]); exit;
                                    if(isset($this->cambio_domicilio_general[$hasta][$mesanio."-".sprintf("%02d",$i)]))
                                        $cantidad=$this->cambio_domicilio_general[$hasta][$mesanio."-".sprintf("%02d",$i)];
                                    else
                                        $cantidad=0;
                            ?>     
                                    <td align="center" style="cursor:pointer;" onclick="verDetalle('cambioDomicilio','<?php echo $mesanio."-".$i?>','<?php echo $idPlazaActual?>',3);"><b><?php echo $cantidad;?></b></td><?php   
                                    $totalPagados+=$cantidad;                     
                                }
                                
                                $i++;
                            }  
                            
                            ?> 
                            <td align="center" style="cursor:pointer;" onclick="verDetalle('cambioDomicilio','','<?php echo $idPlazaActual?>',3);"><b><?php echo $totalPagados;?></b></td>  
                        </tr>


                        <tr>
                            <td class="etiqueta"><strong>EXTENSIONES - CABLE</strong></td><?php                        
                            $i=1;           
                            $totalPagados=0;
                            $resta=1;
                            while($dias >= $i )
                            { 
                                
                                if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8)
                                {
                                    //print_r($this->clientes_pagados[$i-1][1]); exit;
                                    if(isset($this->extensiones[$hasta][$mesanio."-".sprintf("%02d",$i)]))
                                        $cantidad=$this->extensiones[$hasta][$mesanio."-".sprintf("%02d",$i)];
                                    else
                                        $cantidad=0;
                            ?>     
                                    <td align="center" style="cursor:pointer;" onclick="verDetalle('extensionesAdicionales','<?php echo $mesanio."-".$i?>','<?php echo $idPlazaActual?>',1);"> <?php echo $cantidad;?></td><?php   
                                    $totalPagados+=$cantidad;                     
                                }
                                
                                $i++;
                            }  
                            
                            ?> 

                            <td align="center" style="cursor:pointer;" onclick="verDetalle('extensionesAdicionales','','<?php echo $idPlazaActual?>',1);"> <?php echo $totalPagados;?></td>      
                        </tr>

                        <tr>
                            <td class="etiqueta"><strong>RETIROS - CABLE</strong></td><?php                        
                            $i=1;           
                            $totalPagados=0;
                            $resta=1;
                            while($dias >= $i )
                            { 
                                
                                if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8)
                                {
                                    //print_r($this->clientes_pagados[$i-1][1]); exit;
                                    if(isset($this->retiros[$hasta][$mesanio."-".sprintf("%02d",$i)]))
                                        $cantidad=$this->retiros[$hasta][$mesanio."-".sprintf("%02d",$i)];
                                    else
                                        $cantidad=0;
                            ?>     
                                    <td align="center" style="cursor:pointer;" onclick="verDetalle('retiros','<?php echo $mesanio."-".$i?>','<?php echo $idPlazaActual?>',1);"> <?php echo $cantidad;?></td><?php   
                                    $totalPagados+=$cantidad;                     
                                }
                                
                                $i++;
                            }  
                            
                            ?> 

                            <td align="center" style="cursor:pointer;" onclick="verDetalle('retiros','','<?php echo $idPlazaActual?>',1);"> <?php echo $totalPagados;?></td>
                        </tr>

                        <tr>
                            <td class="etiqueta"><strong>RETIROS - INTERNET</strong></td><?php                        
                            $i=1;           
                            $totalPagados=0;
                            $resta=1;
                            while($dias >= $i )
                            { 
                                
                                if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8)
                                {
                                    //print_r($this->clientes_pagados[$i-1][1]); exit;
                                    if(isset($this->retiros_internet[$hasta][$mesanio."-".sprintf("%02d",$i)]))
                                        $cantidad=$this->retiros_internet[$hasta][$mesanio."-".sprintf("%02d",$i)];
                                    else
                                        $cantidad=0;
                            ?>     
                                    <td align="center" style="cursor:pointer;" onclick="verDetalle('retiros','<?php echo $mesanio."-".$i?>','<?php echo $idPlazaActual?>',2);"> <?php echo $cantidad;?></td><?php   
                                    $totalPagados+=$cantidad;                     
                                }
                                
                                $i++;
                            }  
                            
                            ?> 

                            <td align="center" style="cursor:pointer;" onclick="verDetalle('retiros','','<?php echo $idPlazaActual?>',2);"> <?php echo $totalPagados;?></td>
                        </tr>

                        <tr>
                            <td class="etiqueta"><strong><b>RETIROS - TOTAL</b></strong></td><?php                        
                            $i=1;           
                            $totalPagados=0;
                            $resta=1;
                            while($dias >= $i )
                            { 
                                
                                if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8)
                                {
                                    //print_r($this->clientes_pagados[$i-1][1]); exit;
                                    if(isset($this->retiros_general[$hasta][$mesanio."-".sprintf("%02d",$i)]))
                                        $cantidad=$this->retiros_general[$hasta][$mesanio."-".sprintf("%02d",$i)];
                                    else
                                        $cantidad=0;
                            ?>     
                                    <td align="center" style="cursor:pointer;" onclick="verDetalle('retiros','<?php echo $mesanio."-".$i?>','<?php echo $idPlazaActual?>',3);"><b><?php echo $cantidad;?></b></td><?php   
                                    $totalPagados+=$cantidad;                     
                                }
                                
                                $i++;
                            }  
                            
                            ?> 

                             <td align="center" style="cursor:pointer;" onclick="verDetalle('retiros','','<?php echo $idPlazaActual?>',3);"><b><?php echo $totalPagados;?></b></td>      
                        </tr>


                        <tr>
                            <td class="etiqueta"><strong>PRODUCT TECNICA - CABLE</strong></td>
                            <?php                        
                            $i=1;
                            $totalProductividad=0;
                            
                            while($dias >= $i )
                            { 
                                if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8)
                                { 

                                    if(isset($this->instalaciones[$hasta][$mesanio."-".sprintf("%02d",$i)]))
                                        $cantidadInstalaciones=$this->instalaciones[$hasta][$mesanio."-".sprintf("%02d",$i)];
                                    else
                                        $cantidadInstalaciones=0;

                                    $resultado=$cantidadInstalaciones*$this->puntos[1];

                                    if(isset($this->desconexiones[$hasta][$mesanio."-".sprintf("%02d",$i)]))
                                        $cantidadDesconexiones=$this->desconexiones[$hasta][$mesanio."-".sprintf("%02d",$i)];
                                    else
                                        $cantidadDesconexiones=0;

                                    $resultado+=$cantidadDesconexiones;

                                    if(isset($this->reconexiones[$hasta][$mesanio."-".sprintf("%02d",$i)]))
                                        $cantidadReconexiones=$this->reconexiones[$hasta][$mesanio."-".sprintf("%02d",$i)];
                                    else
                                        $cantidadReconexiones=0;

                                    $resultado+=$cantidadReconexiones*$this->puntos[2];

                                    if(isset($this->cambio_domicilio[$hasta][$mesanio."-".sprintf("%02d",$i)]))
                                        $cantidadDomicilio=$this->cambio_domicilio[$hasta][$mesanio."-".sprintf("%02d",$i)];
                                    else
                                        $cantidadDomicilio=0;

                                    $resultado+=$cantidadDomicilio*$this->puntos[3];

                                    if(isset($this->extensiones[$hasta][$mesanio."-".sprintf("%02d",$i)]))
                                        $cantidadExtensiones=$this->extensiones[$hasta][$mesanio."-".sprintf("%02d",$i)];
                                    else
                                        $cantidadExtensiones=0;
                                    $resultado+=$cantidadExtensiones*$this->puntos[5];

                            ?>     
                                <td align="center">
                                    <?php                                     
                                          echo $resultado;

                                          ?></td><?php                        
                                          $totalProductividad+=$resultado;
                                }
                                $i++;
                            }  ?>  
                            <td><?php echo $totalProductividad?></td>
                        </tr>

                                                <tr>
                            <td class="etiqueta"><strong>PRODUCT TECNICA - INTERNET</strong></td>
                            <?php                        
                            $i=1;
                            $totalProductividad=0;
                            
                            while($dias >= $i )
                            { 
                                if(date("N",mktime(0,0,0,  date("m", strtotime($hasta)) ,$i,  date("Y", strtotime($hasta))  )) != 8)
                                { 

                                    if(isset($this->instalaciones_internet[$hasta][$mesanio."-".sprintf("%02d",$i)]))
                                        $cantidadInstalaciones=$this->instalaciones_internet[$hasta][$mesanio."-".sprintf("%02d",$i)];
                                    else
                                        $cantidadInstalaciones=0;

                                    $resultado=$cantidadInstalaciones*$this->puntos_internet[1];

                                    if(isset($this->desconexiones_internet[$hasta][$mesanio."-".sprintf("%02d",$i)]))
                                        $cantidadDesconexiones=$this->desconexiones_internet[$hasta][$mesanio."-".sprintf("%02d",$i)];
                                    else
                                        $cantidadDesconexiones=0;

                                    $resultado+=$cantidadDesconexiones;

                                    if(isset($this->reconexiones_internet[$hasta][$mesanio."-".sprintf("%02d",$i)]))
                                        $cantidadReconexiones=$this->reconexiones_internet[$hasta][$mesanio."-".sprintf("%02d",$i)];
                                    else
                                        $cantidadReconexiones=0;

                                    $resultado+=$cantidadReconexiones*$this->puntos_internet[2];

                                    if(isset($this->cambio_domicilio_internet[$hasta][$mesanio."-".sprintf("%02d",$i)]))
                                        $cantidadDomicilio=$this->cambio_domicilio_internet[$hasta][$mesanio."-".sprintf("%02d",$i)];
                                    else
                                        $cantidadDomicilio=0;

                                    $resultado+=$cantidadDomicilio*$this->puntos_internet[3];

                            ?>     
                                <td align="center">
                                    <?php                                     
                                          echo $resultado;

                                          ?></td><?php                        
                                          $totalProductividad+=$resultado;
                                }
                                $i++;
                            }  ?>  
                            <td><?php echo $totalProductividad?></td>
                        </tr>

                       
                    </tbody>
                </table>
            </div>

            <div class="row-fluid filaFiltro">
                <div class="span1"></div>
                <div class="span1"></div>  
            </div>
            
        <?php 
            //$hasta=date("Y/m/d", strtotime($hasta." -1 month"));                    
            //$mes++;

            }//while meses
        ?>

        <?php if($this->meses==1){?>
        <div class="row-fluid filaFiltro">
            <div class="span1"></div>
            <div class="span1"></div>  
        </div>
        <div class="row-fluid filaFiltro">
            <div class="span1"></div>
            <div class="span1"></div>  
        </div>
        
        <table class="table table-bordered" style="width:300px">
                <thead><tr><th colspan="2" align="center"><?php echo $this->mes[date("n", strtotime($hasta))]; ?></th></tr></thead>
                <tbody>
                    <tr>
                        <td class="etiqueta"><strong>ACTIVOS</strong></td>
                        <td class="etiqueta"><strong><?php echo $this->activos->total; ?></strong></td>                        
                    </tr>
                    <tr>
                        <td class="etiqueta"><strong>DESCONECTAR</strong></td>
                        <td class="etiqueta"><strong><?php echo $this->desconectar->total; ?></strong></td>                        
                    </tr>
                    
                    <tr>
                        <td class="etiqueta"><strong>DESCONECTADOS</strong></td>
                        <td class="etiqueta"><strong><?php echo $this->desconectados->total; ?></strong></td>                        
                    </tr>
                    <tr>
                        <td class="etiqueta"><strong>CORTAR</strong></td>
                        <td class="etiqueta"><strong><?php echo $this->cortar->total; ?></strong></td>                        
                    </tr>                    
                    <tr>
                        <td class="etiqueta"><strong>BAJAS</strong></td>
                        <td class="etiqueta"><strong><?php echo $this->bajas->total; ?></strong></td>                        
                    </tr>  
                    <tr>
                        <td class="etiqueta"><strong>BAJAS VOLUNTARIAS</strong></td>
                        <td class="etiqueta"><strong><?php echo $this->baja_voluntaria->total; ?></strong></td>                        
                    </tr>        
                    <tr>
                        <td class="etiqueta"><strong>RETIRAR</strong></td>
                        <td class="etiqueta"><strong><?php echo $this->retirar->total; ?></strong></td>                        
                    </tr> 
                    <tr>
                        <td class="etiqueta"><strong>RETIRADO</strong></td>
                        <td class="etiqueta"><strong><?php echo $this->retirado->total; ?></strong></td>                        
                    </tr> 
                    <tr>
                        <td class="etiqueta"><strong>POR INSTALAR</strong></td>
                        <td class="etiqueta"><strong><?php echo $this->instalar->total; ?></strong></td>                        
                    </tr>                     
                    <tr>
                        <td class="etiqueta"><strong>POR REINSTALAR</strong></td>
                        <td class="etiqueta"><strong><?php echo $this->reinstalar->total; ?></strong></td>                        
                    </tr>
                    <tr>
                        <td class="etiqueta"><strong>POR RECONECTAR</strong></td>
                        <td class="etiqueta"><strong><?php echo $this->reconectar->total; ?></strong></td>                        
                    </tr>                                                             
                </tbody>
            </table>
            <?php }?>