<form name="frmComunidad" id="frmComunidad" method="post" action="/catalogos/comunidades/guardar">    
    <div  class="row-fluid contenedorFormulario">
   
        
        <div  class="row-fluid">
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>COMUNIDAD</label></div>
                <div class="span4"><input type="text" name="nombre" id="nombre" placeholder="Comunidad" class="required" value="<?php echo $this->registro->nombre;?>" /></div>
                <div class="span2"><label>ESTADO</label></div>
                <div class="span4">
                    <select name="estado_id" id="estado_id">
                        <option value="0">Seleccione un estado</option>
                        <?php foreach($this->estados as $estado){?>
                        <option value="<?php echo $estado->id?>" <?php echo ($this->registro->Municipio->estado_id==$estado->id)?"selected":""?>><?php echo $estado->nombre?></option>
                        <?php }?>
                    </select>
                </div>
            </div>
            <div  class="row-fluid filaFormulario">
                <div class="span2"><label>MUNICIPIO</label></div>
                <div class="span4">
                    <select name="municipio_id" id="municipio_id">
                        <option value="0" >Seleccione un municipio</option>
                        <?php foreach($this->municipios as $municipio){?>
                        <option value="<?php echo $municipio->id?>" <?php echo ($this->registro->Municipio->id==$municipio->id)?"selected":""?>><?php echo $municipio->nombre?></option>
                        <?php }?>
                    </select>
                </div>
            </div> 
        </div>      
    </div>
    <input type="hidden" name="id" id="id" value="<?php echo $this->registro->id?>" />
</form> 